﻿<table cellspacing="0" cellpadding="0" border="0" width="40%">


    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                Box Paper Requirement</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>


    @*            <tr>
                <td>
                    <label>Box Name</label></td>
                <td valign="top">
                    <select style="width: 50%" class="modelControl validate[required]" data-bind="options: BoxM,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_BoxID"
                        id="Fk_BoxID">
                    </select>
                </td>
            </tr>*@

    <tr>
        <td>
            <input class="input-large modelControl" data-bind="value: data.Fk_BoxID" type="hidden" placeholder="Box Name " id="FkBoxID" maxlength="50" /></td>
    </tr>

      <tr>

        <td>
            <label>Box Name</label></td>
        <td>
            <input class="input-medium" data-bind="value: data.Name" type="text" placeholder="Name " id="Name" maxlength="50" readonly/></td>
    </tr>
    <tr>

        <td>
            <label>Box Qty</label></td>
        <td>
            <input class="input-medium [custom[onlyNumberSp]]" data-bind="value: data.Qty" type="text" placeholder="Qty " id="Qty" maxlength="50" /></td>
    </tr>
    <tr align="center">
        <td>
            <button class="btn btn-primary" id="cmdSearch">Load</button>

            <button class="btn btn-primary" id="cmdReport">Report</button>
        </td>
       
    </tr>
    <table cellspacing="0" cellpadding="0" border="0" style="width: 60%">
        <tr>
            <td colspan="2">&nbsp;
            </td>
        </tr>

        <table border="0" cellpadding="0" cellspacing="0" width="60%">

            <tr>
                <td>
                    <div id="divPaperStock"></div>
                </td>
            </tr>
            </table>
            <tr>
                <table cellspacing="0" cellpadding="0" border="0" style="width: 60%">
                    <tr>
                        <td colspan="2">&nbsp;
                        </td>
                    </tr>


                </table>

            </tr>
        <table border="0" cellpadding="0" cellspacing="0" width="60%">
            <tr>
                <td>
                    <div id="divSummary"></div>
                </td>
            </tr>
        </table>
           <tr>
                <table cellspacing="0" cellpadding="0" border="0" style="width: 60%">
                    <tr>
                        <td colspan="2">&nbsp;
                        </td>
                    </tr>


                </table>

            </tr>
         <table border="0" cellpadding="0" cellspacing="0" width="60%">
            <tr>
                <td>
                    <div id="divDeliveryschedule"></div>
                </td>
            </tr>
        </table>
    </table>

</table>
