﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
       <script src="../../Content/bootmetro/js/bootmetro-pivot.js" type="text/javascript"></script>
     <script src="../../Scripts/Application/BOMOperations.js" type="text/javascript"></script>
    @*   <script type="text/javascript" src="~/Scripts/Application/BoxM/BoxPaper.js"></script> 
    <script src="../../Scripts/Application/BoxSpecification/Box.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/BoxSpecification/BoxPart.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/BoxSpecification/BoxOperations.js" type="text/javascript"></script> 

   <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>
     @*<script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyfrmConfigurator.js"></script>

     <script src="~/Scripts/Frameworks/WebGare/Configuration/wgOne2ManyConfigurator.js"
        type="text/javascript"></script>*@
}

@section MainSection{
    
<div id="divMainSection" wgPageType="CRUD" wgTag="BOM">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
    <div id="divSearchArea" align="center"></div>
 </div>
    }
