<div class="roundedDiv mainPartContainer" style="width: 1000px">
    <table width="100%" cellpadding="5">
        <tr>
            <td class="wgGradient">
                <label class="partHeader"></label>
            </td>
        </tr>
        <tr>
            <td>
                <div class="selPly">
                    <a class="tile app bg-color-purple smalltile" value="3"><i class="icon-stack"></i>
                        <label>3 Ply</label>
                    </a>
                    <a class="tile app bg-color-purple smalltile" value="5"><i class="icon-stack"></i>
                        <label>5 Ply</label>
                    </a>
                    <a class="tile app bg-color-purple smalltile" value="7"><i class="icon-stack"></i>
                        <label>7 Ply</label>
                    </a>
                    <a class="tile app bg-color-purple smalltile" value="9"><i class="icon-stack"></i>
                        <label>9 Ply</label>
                    </a>
                    <a class="tile app bg-color-purple smalltile" value="11"><i class="icon-stack"></i>
                        <label>11 Ply</label>
                    </a>
                </div>
                <div class="selElements" style="display: none">
                    <table style="height: 100px" border="0" cellpadding="5">
                        <tr class="commonFields">
                            <td align="center">
                                <label>
                                    L</label>
                                <input class="input-mini validate[funcCall[validateNumeric],required] " onchange="SetDefNoBoards()"
                                    data-bind="value: length" type="text" placeholder="Length" id="OLength"
                                    tabindex="13" />
                            </td>
                            <td align="center">
                                <label>
                                    W</label>
                                <input class="input-mini validate[funcCall[validateNumeric],required] " onchange="SetDefNoBoards()"
                                    data-bind="value: width" type="text" placeholder="Width" id="OWidth" tabindex="14" />
                            </td>
                            <td align="center">
                                <label>
                                    H</label>
                                <input class="input-mini validate[funcCall[validateNumeric],required] " onchange="SetDefNoBoards()"
                                    data-bind="value: height" type="text" placeholder="Height" id="OHeight"
                                    tabindex="15" />
                            </td>
                            <td>
                                <table>
                                    <tr class="row"></tr>
                                </table>
                            </td>
                            <td>
                                @*<label>*@
                                <label style="visibility: hidden;">
                                    No Boards</label>
                                @*<input class="input-mini validate[funcCall[validateNumeric],required]" *@
                                <input class="input-mini" readonly
                                    data-bind="value: noBoards" type="text" placeholder="No Boards" id="NBoards"
                                    style="width: 70px; visibility: hidden;" />
                            </td>
                            <td>
                                <label style="visibility: hidden;">
                                    Board Area</label>
                                <input class="input-mini validate[funcCall[validateNumeric],required]" style="visibility: hidden;"
                                    data-bind="value: boardArea" type="text" placeholder="Board Area" id="OBoardArea"
                                    style="width: 70px" readonly />
                            </td>
                            <td>
                                <label style="visibility: hidden;">
                                    Deckle</label>
                                <input class="input-mini validate[funcCall[validateNumeric],required]" style="visibility: hidden;"
                                    data-bind="value: deckle" type="text" placeholder="Deckle" id="ODeckle"
                                    style="width: 70px" readonly />
                            </td>
                            <td>
                                <label style="visibility: hidden;">
                                    Cutting Size</label>
                                <input class="input-mini validate[funcCall[validateNumeric],required]" style="visibility: hidden;"
                                    data-bind="value: cuttingSize" type="text" placeholder="CuttingSize" id="OCuttingSize"
                                    style="width: 40px" readonly />
                            </td>

                          @*  <td>
                                <label>
                                    TakeUp Factor</label>
                                <input class="input-mini validate[required]"
                                    data-bind="value: TakeUpFactor" type="text" placeholder="TakeUpFactor" id="TakeUpFactor"
                                    style="width: 40px" tabindex="18" />
                            </td>*@

                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
