﻿<!DOCTYPE html>
@{
    var jTableStyle = "metro/blue/jtable.css";
    if (!string.IsNullOrEmpty(Request["jTableStyle"]))
    {
        jTableStyle = Request["jTableStyle"];
    }
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Header</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Scripts/Plugins/Ribbon/Ribbon/themes/windows7/ribbon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/Plugins/Ribbon/style.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Scripts/Plugins/jqueryUILayout/layout-default-latest.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/bootmetro/css/bootmetro.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootmetro/css/bootmetro-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootmetro/css/datepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootmetro/css/bootmetro-icons.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootmetro/css/bootmetro-ui-light.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/Plugins/Alertify/themes/alertify.core.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/Plugins/Alertify/themes/alertify.default.css")" rel="stylesheet" type="text/css" />

    @*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@

    <link href="@Url.Content("~/Scripts/Plugins/jtable/themes/metro/blue/jtable.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/Plugins/validationEngine/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui-1.10.3.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/Frameworks/WebGare/Css/WgMetro.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/demo_style.css")" rel="stylesheet" type="text/css" />
    <link href="../../Content/AdminLTE-2.3.0/dist/css/AdminLTE.css" rel="stylesheet"
        type="text/css" />
    <link href="~/Content/AdminLTE-2.3.0/font-awesine.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE-2.3.0/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE-2.3.0/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE-2.3.0/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE-2.3.0/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE-2.3.0/plugins/datatables/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE-2.3.0/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE-2.3.0/plugins/datatables/jquery.dataTables_themeroller.css" rel="stylesheet" />
    @*<link href="@Url.Content("~/Scripts/Frameworks/WebGare/Dependency/SmartWizard/styles/smart_wizard.css")" rel="stylesheet" type="text/css" />*@

    @*<link href="@Url.Content("~/Content/smart_wizard_vertical.css")" rel="stylesheet" type="text/css" />*@

    @RenderSection("CssImport", false)

    <script src="@Url.Content("~//Scripts/jquery-1.10.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~//Scripts/jquery-ui-1.10.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/jqueryUILayout/jquery.layout-latest.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Content/bootmetro/js/bootstrap-datepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/validationEngine/jquery.validationEngine-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/validationEngine/jquery.validationEngine.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/jtable/jquery.jtable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/Alertify/alertify.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Plugins/Ribbon/scripts/jquery.ribbon.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/Ribbon/scripts/page.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/bootmetro/js/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.3.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Frameworks/WebGare/WgCommunicationLayer.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Frameworks/WebGare/WgUtilities.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Frameworks/WebGare/WgPage.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Frameworks/WebGare/WgView.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Frameworks/WebGare/WgViewModel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Frameworks/WebGare/Configuration/WgCRUDConfiguration.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/Frameworks/WebGare/Dependency/SmartWizard/jquery.smartWizard.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/Frameworks/WebGare/Controls/WgWorkFlowDisplay.js")" type="text/javascript"></script>
    @*<script src="~/Scripts/Frameworks/WebGare/Controls/WgWorkFlowButtons.js" type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>*@
    <!--<script src="@Url.Content("~/Scripts/Frameworks/WebGare/WgTESTConfiguration.js")" type="text/javascript"></script>-->
    <script src="~/Content/AdminLTE-2.3.0/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/AdminLTE-2.3.0/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/AdminLTE-2.3.0/dist/js/app.js"></script>
    <script src="~/Content/AdminLTE-2.3.0/dist/js/app.min.js"></script>
    @*<script src="~/Content/AdminLTE-2.3.0/plugins/datatables/dataTables.bootstrap.js"></script>*@
    @*<script src="~/Content/AdminLTE-2.3.0/plugins/datatables/dataTables.bootstrap.min.js"></script>*@
    <script src="~/Content/AdminLTE-2.3.0/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/AdminLTE-2.3.0/vendor.js"></script>
    <script src="~/Content/AdminLTE-2.3.0/Loader.js"></script>
    <script src="~/Content/AdminLTE-2.3.0/animation.js"></script>
    <script src="~/Content/AdminLTE-2.3.0/Enabler_01_71.js"></script>
    <script src="~/Content/AdminLTE-2.3.0/main.js"></script>

    @*<script src="~/Content/AdminLTE-2.3.0/plugins/datatables/jquery.dataTables.min.js"></script>*@
    @*<script src="~/Content/AdminLTE-2.3.0/bootstrap/js/npm.js"></script>*@
    @RenderSection("JavascriptImport", false)

    <script type="text/javascript">
        $(document).ready(function () {

            $('body').layout({

                //	reference only - these options are NOT required because 'true' is the default
                closable: true	// pane can open & close
                , resizable: true	// when open, pane can be resized 
                , slidable: true	// when closed, pane can 'slide' open over other panes - closes on mouse-out
                , livePaneResizing: true
                , north__closable: false
                , north__resizable: false
                , north__spacing_open: 0                                //	some resizing/toggling settings
                , north__slidable: false	// OVERRIDE the pane-default of 'slidable=true'
                , north__togglerLength_closed: '100%'	// toggle-button is full-width of resizer-bar
                , north__size: 46

                //	some resizing/toggling settings
                , center__minWidth: 100
                , center__childOptions: {
                    center__width: 100
                    , north__size: 30
                    , north__resizable: false
                    , north__closable: false
                    , north__spacing_open: 0
                    //, center__width: 100%
                }
                //	enable state management
                //, stateManagement__enabled: true // automatic cookie load & save enabled by default

                , showDebugMessages: true // log and/or display messages from debugging & testing code
            });

            $('#cmdHome').click(function (e) {
                e.preventDefault();
                document.location = "./Home";
            });

        });


    </script>
</head>
<body>
    <form id="frmHost">

        <div class="ui-layout-north" style="padding-top: 0; padding-left: 0; padding-bottom: 0; padding-right: 0">

            <div class="WgHeader" style="padding-top: 3px">
                <b>@ViewBag.Header</b>
                <div class="pull-right">
                    @if (ViewBag.FirstName != "")
                    {
                        <label id="lblUser" style="font-size: 14px; font-family: Verdana">@ViewBag.FirstName - @ViewBag.LastName <i style="font-size: 20px;" class="icon-user"></i></label>
                    }
@*<button class="win-command win-command-small" rel="tootlip" title="Logout" id="cmdChangePassword">
                                <span class="win-commandicon win-commandring icon-progress-3"></span>
                                 <div style="font-size:8px">
                                    Change Password
                                 </div>
                            </button>*@
                </div>
                <div style="float: left">
                    <button class="win-command win-command-small" rel="tootlip" title="Home" id="cmdHome">
                        <span class="win-commandicon win-commandring icon-home"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="ui-layout-center metro" style="padding-top: 0; padding-left: 0; padding-bottom: 0; padding-right: 0">
            <!--<div class="ui-layout-north" id="divAppBar">
                <div class="commandbar">
                    <div class="btn-group">
                        
                         <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                           Action
                           <span class="caret"></span>
                         </a>
                         <ul class="dropdown-menu">
                           
                         </ul>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                            <i class='icon-home' style="font-size:15px"></i>
                           Action
                           <span class="caret"></span>
                         </a>
                         <ul class="dropdown-menu">
                           
                         </ul>
                    </div>
                   
                </div>
            </div>-->

            <div class="ui-layout-center" style="padding-top: 0; padding-left: 0; padding-bottom: 0; padding-right: 0">
                @RenderSection("MainSection", required: true)
            </div>
        </div>



    </form>
    @RenderBody()
    <div id="dataDialog" class="modal hide fade" tabindex="1" role="dialog" aria-hidden="true" style="padding: 5px;">
        <form id="frmDataDialog">
            <div class="modal-header" width="100%" height="100%">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnCss"></button>
                <h3 id="dataDialogHeading"></h3>
            </div>
            <div id="dataDialogArea"></div>
    </div>
    </form>
    </div>
    <div id="messageDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <table cellpadding="5" cellspacing="0" border="0" width="100%">
            <tr>
                <td align="center" colspan="3">
                    <div id="divProcessing">
                        <img src="../../Images/loading.gif" height="200;" width="200" />
                    </div>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <div id="divError" style="display: none;">
                        <img src="../../Images/Wrong.jpg" height="50;" width="50" />
                    </div>
                </td>
                <td align="right">
                    <div id="divSuccess" style="display: none;">
                        <img src="../../Images/Tick.jpg" height="50;" width="50" />
                    </div>
                </td>
                <td>
                    <div id="divMessage"></div>
                </td>
            </tr>
            <tr>
                <td align="right" colspan="3">
                    <button type="submit" class="btn" id="cmdCloseMessageDialog">Close</button></td>
            </tr>
        </table>
    </div>
    <div id="workFlowCommentDialog" class="modal hide fade" tabindex="1" role="dialog" aria-hidden="true" style="padding: 5px;">
        <form id="frmWfCommentDialog">
            <div class="modal-header" width="100%" height="100%">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 id="WfCommentDialogHeading">Enter Comment</h3>
            </div>
            <table cellpadding="2" cellspacing="0" border="0" width="100%" height="100%">
                <tr>
                    <td align="center">
                        <div id="WfCommentDialogArea">
                            <textarea id="txtWfComment" style="width: 500px; height: 170px"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <button id="cmdWfCommentSave" type="submit" class="btn">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>
