﻿@{
    ViewBag.Title = "Index";
    Layout = null;

    List<CogitoStreamLineModel.ideActivity> oActivities = ViewBag.Activities as List<CogitoStreamLineModel.ideActivity>;
    CogitoStreamLineModel.DomainModel.ActivitiesRepository _oRep = ViewBag.Repository as CogitoStreamLineModel.DomainModel.ActivitiesRepository;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Bootstrap 3.3.4 -->
    <link href="../../Content/AdminLTE-2.2.0/bootstrap/css/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="../../Content/AdminLTE-2.2.0/dist/css/AdminLTE.css" rel="stylesheet"
        type="text/css" />

    <link href="../../Content/AdminLTE-2.2.0/dist/css/skins/skin-blue.css" rel="stylesheet"
        type="text/css" />
    @*chart*@
    <link rel="stylesheet" type="text/css" href="../../css/jquery.jqChart.css" />
    <link rel="stylesheet" type="text/css" href="../../css/jquery.jqRangeSlider.css" />
    <link rel="stylesheet" type="text/css" href="../../themes/smoothness/jquery-ui-1.10.4.css" />

    <link href="../../Scripts/Plugins/Alertify/themes/alertify.core.css" rel="stylesheet" type="text/css" />
    <link href="../../Scripts/Plugins/Alertify/themes/alertify.default.css" rel="stylesheet" type="text/css" />

    <link href="../../Content/bootmetro/css/bootmetro-icons.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/bootmetro/css/bootmetro-ui-light.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css" />
    <link href="../../Scripts/Frameworks/WebGare/Css/WgMetro.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/gauage.css" rel="stylesheet" type="text/css" />
  
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" media="screen" href="css/ui-bootstrap/jquery-ui.custom.css">
<link rel="stylesheet" media="screen" href="css/jquery.handsontable.full.css">
<link rel="stylesheet" media="screen" href="css/demo-style.css">

</head>

<body class="skin-blue sidebar-mini" style="width: 100%;">
    @*<div class="ui-layout-center" style="padding-top: 0; padding-left: 0; padding-bottom: 0; padding-right: 0">
                @RenderSection("MainSection", required: true)
            </div>*@
    @RenderBody()
    <div id="dataDialog1" class="modal hide fade" tabindex="1" role="dialog" aria-hidden="true" style="padding: 5px;">
        <form id="frmDataDialog1">
            <div class="modal-header" width="100%" height="100%">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnPopClose"></button>
                <h3 id="dataDialogHeading1"></h3>
            </div>
            <div id="dataDialogArea1"></div>
        </form>
    </div>

    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>MS</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>V2Innovatives </b></span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>


                <!-- Navbar Right Menu -->

                <div class="navbar-custom-menu">

                    <ul class="nav navbar-nav">
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">

                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="../../Content/AdminLTE-2.2.0/dist/img/avatar5.png" style="height: 20px; width: 20px" class="img-circle" alt="User Image" />
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">@ViewBag.FirstName - @ViewBag.LastName </span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="../../Content/AdminLTE-2.2.0/dist/img/avatar5.png" class="img-circle" alt="User Image" />
                                    <p>
                                        Admin - Admin
                                    </p>
                                    <a href="#" id="cmdProfile" class="btn btn-default btn-flat">Profile</a>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" id="cmdChangePassword" class="btn btn-default btn-flat">Change Password</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" id="cmdSignOut" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
                <div id="divMinStockValueStatus">
                    <div class="navbar-custom-menu">

                        <ul class="nav navbar-nav">
                            <li class="dropdown notifications-menu" title="Low Stock">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-cart-plus"></i>
                                    <span class="label label-warning" id="totstck"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header" id="totalMinStockValues"></li>
                                    <li id="divMinStockValue"></li>
                                    <li class="footer"><a id="divMinStockValueViewAll" href="#">View all</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="divDeliveryStatus">
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown notifications-menu" title="Delivery">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa  fa-clock-o"></i>
                                    <span class="label label-danger" id="totDelivery"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header" id="totalDeliverys"></li>
                                    <li id="divDelivery"></li>
                                    <li class="footer">
                                        <a id="divDeliveryViewAll" href="#">View all</a>
                                    </li>


                                </ul>

                            </li>
                        </ul>
                    </div>
                </div>
                <div id="divIndentApprovalStatus">
                    <div class="navbar-custom-menu">

                        <ul class="nav navbar-nav">
                            <li class="dropdown notifications-menu" title="Indent Approval">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa  fa-unlock"></i>
                                    <span class="label label-warning" id="totIndentApproval"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header" id="totalIndentApproval"></li>
                                    <li id="divIndentApproval"></li>
                                    <li class="footer" id="vwIndentApproval">
                                        <a href="#">View all</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="divEnquiryApprovalStatus">
                    <div class="navbar-custom-menu">

                        <ul class="nav navbar-nav">
                            <li class="dropdown notifications-menu" title="Enquiry Approval">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa   fa-unlock-alt"></i>
                                    <span class="label label-warning" id="totEnquiryApproval"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header" id="totalEnquiryApproval"></li>
                                    <li id="divEnquiryApproval"></li>
                                    <li class="footer"><a id="vwEnquiryApproval" href="#">View all</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="divInwardStockStatus">
                    <div class="navbar-custom-menu">

                        <ul class="nav navbar-nav">
                            <li class="dropdown notifications-menu" title="Inward Stock">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa   fa-list-ul"></i>
                                    <span class="label label-success" id="totInwardStock"></span>
                                </a>
                                <ul id="Inwd" class="dropdown-menu">
                                  
                                    <li class="header" id="totalInwardStock"></li>
                                    <li  id="divInwardStock"></li>
                                    <li class="footer"><a id="vwInwardStock" href="#">View all</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>

            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="../../Content/AdminLTE-2.2.0/dist/img/avatar5.png" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>Admin</p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
                    </div>
                </div>

                <!-- search form (Optional) -->
               @* <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search..." id="txtMainSearch" />
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>*@
                <!-- /.search form -->

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    @foreach (CogitoStreamLineModel.ideActivity oActivity in oActivities)
                    {
                        <li class="treeview">
                            <a href="#"><i class="fa @oActivity.ImageName"></i><span>@oActivity.ActivityName</span> <i class="fa fa-angle-left pull-right"></i></a>
                            @foreach (CogitoStreamLineModel.ideActivity oActivitySubModule in _oRep.GetSubActivities(oActivity.Pk_Activities, Session["UserName"].ToString()))
                            {
                                <ul class="treeview-menu">
                                    <li><a href=@oActivitySubModule.Link>@oActivitySubModule.ActivityName</a></li>
                                </ul>        
                                     
                            }
                        </li>
                    }
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <input id="sessionInput" type="hidden" value=@ViewBag.UserRole />
            <!-- Main content -->
            <section class="content">

                <div class="box box-success">
                    <div class="box-header with-border">
                        @*<h3 class="box-title">Activities - </h3>
                        <small>What do you want to do today !</small>*@
                        <div id="pivot" class="pivot slide" style="height: 100%">
                            <div class="pivot-headers">
                                <a href="#pivot" data-pivot-index="0" class="active" id="Basic">Sales</a>
                                <a href="#pivot" data-pivot-index="1" id="Details">- Production</a>
                            </div>
                            <div class="pivot-items">
                                <div id="pivot-item-1" class="pivot-item active">
                                    <table style="width: 100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="width: 1000px">
                                                <div class="column" style="width: 600px">
                                                    <div class="box box-primary" style="width: 520px;">
                                                        <div class="box-header with-border" style="width: 520px;">
                                                            <h3 class="box-title"></h3>
                                                          @*  <div class="box-tools pull-right">
                                                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                                            </div>*@
                                                            <br />
                                                            <br />
                                                            <div id="jqChart" style="width: 500px; height: 300px;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column">
                                                    <div class="box box-primary" style="width: 520px;">
                                                        <div class="box-header with-border" style="width: 520px;">
                                                            <h3 class="box-title"></h3>
                                                           @* <div class="box-tools pull-right">
                                                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                                            </div>*@
                                                            <br />
                                                            <br />
                                                            <div id="VjqChart" style="width: 500px; height: 300px;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="column" style="width: 600px;">
                                                    <div class="box box-primary" style="width: 520px;">
                                                        <div class="box-header with-border" style="width: 520px;">
                                                            <h3 class="box-title">Order On Time Delivery %</h3>
                                                          @*  <div class="box-tools pull-right">
                                                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                                            </div>*@
                                                        </div>

                                                        <div id="power-gauge" align="center"></div>
                                                    </div>
                                                </div>
                                                <div class="column">
                                                    <div class="box box-primary" style="width: 520px;">
                                                        <div class="box-header with-border" style="width: 520px;">
                                                            <h3 class="box-title">Vendor On Time Delivery %</h3>
                                                           @* <div class="box-tools pull-right">
                                                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                                            </div>*@
                                                        </div>

                                                        <div id="power-gauge1" align="center"></div>
                                                    </div>

                                                </div>

                                            </td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <div class="box-body">
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">

            <!-- Default to the left -->
            <label style="color: black; font-family: Verdana; font-size: x-small">
                &nbsp;&nbsp;Copyright &copy; 2019 <a style="color: blue" href="http://www.maedhaasolutions.com/">
                    <u>maedhaasolutions</u></a> All rights reserved.</label>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                  <input type="checkbox" class="pull-right" checked />
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

    </div>
    <div>
        <table id="messagesTable"></table>
    </div>

    <div id="moduleDialog" class="modal hide fade" class="width:600px">
        <div class="modal-header">
            <button class="close" aria-hidden="true" data-dismiss="modal" type="button" id="btnClose"></button>
            <h3 id="modulesList"></h3>
        </div>
        <div class="modal-body" id="dlgModules">
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.1.4 -->
    <script src="../../Content/AdminLTE-2.2.0/plugins/jQuery/jQuery-2.1.4.min.js" type="text/javascript"></script>



    <script src="../../Scripts/jquery-1.10.0.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui-1.10.0.js" type="text/javascript"></script>
    <script src="../../Scripts/Plugins/jqueryUILayout/jquery.layout-latest.js" type="text/javascript"></script>
    <script src="../../Content/bootmetro/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../Scripts/Plugins/Alertify/alertify.min.js"></script>

    <script src="../../Scripts/Plugins/Ribbon/scripts/jquery.ribbon.js" type="text/javascript"></script>

    <script src="../../Scripts/knockout-2.3.0.js" type="text/javascript"></script>
    <script src="../../Scripts/Frameworks/WebGare/WgCommunicationLayer.js" type="text/javascript"></script>
    <script src="../../Scripts/Frameworks/WebGare/WgUtilities.js" type="text/javascript"></script>
    <script src="../../Scripts/Frameworks/WebGare/WgPage.js" type="text/javascript"></script>

    <script src="../../Scripts/Frameworks/WebGare/Dependency/Flotr2/flotr2.min.js" type="text/javascript"></script>

    <script src="../../Scripts/Application/ChangePassword.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/HomeOperations.js" type="text/javascript"></script>

    <!-- Bootstrap 3.3.2 JS -->
    <script src="../../Content/AdminLTE-2.2.0/bootstrap/js/bootstrap.js" type="text/javascript"></script>

    <!-- AdminLTE App -->
    <script src="../../Content/AdminLTE-2.2.0/dist/js/app.js" type="text/javascript"></script>


    <script src="../../js/gauge/analytics.js" type="text/javascript"></script>
    <script src="../../js/gauge/d3.min.js" type="text/javascript"></script>
    <script src="../../js/gauge/d3.v2.min.js" type="text/javascript"></script>

    @*Chart*@

    <script src="../../js/jquery.mousewheel.js" type="text/javascript"></script>
    <script src="../../js/jquery.jqChart.min.js" type="text/javascript"></script>
    <script src="../../js/jquery.jqRangeSlider.min.js" type="text/javascript"></script>

    <script src="../../Scripts/jquery.signalR.js" type="text/javascript"></script>




    <link href="@Url.Content("~/Content/demo_style.css")" rel="stylesheet" type="text/css" />



</body>
</html>

