﻿<div style="display: block" id="divCreateMaterial">
    <table cellspacing="0" cellpadding="5" border="0" width="90%">
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="formHeader">
            <td colspan="3">
                <label class="formHeaderTag">
                    &nbsp;&nbsp;Add Material</label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>
                    Material Name:</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required,funcCall[checkDuplicate]]" data-bind="wgReferenceField: data.Fk_Material"
                    type="text" placeholder="Item Name" id="txtFk_Material" style="width: 100%"
                    readonly />
            </td>
            <td valign="top" align="left">
                <button type="submit" class="btn cmdCreate" id="cmdSearchMaterialsdetails">
                    Search</button>
            </td>
        </tr>
         <tr>
            <td valign="top">
                <label>
                    Quantity</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required,custom[number]]" onchange="CalcAmt()" data-bind="value: data.Quantity"
                    type="text" placeholder="Quantity" id="Quantity" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
            <tr>
            <td valign="top">
                <label>
                    Rate</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required,custom[number]]" onchange="CalcAmt()" data-bind="value: data.Rate"
                    type="text" placeholder="Rate" id="Rate" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
          <tr>
            <td valign="top">
                <label>
                    Amount</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" readonly data-bind="value: data.Amount"
                    type="text" placeholder="Amount" id="Amount" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button type="submit" class="btn cmdCreate" id="cmdSaveMaterial">
                    Save</button>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
      @*  <tr>
            <td valign="top">
                <label>
                     ReturnableQty:</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" data-bind="value: data.Quantity"
                    type="text" placeholder="Qty" id="Quantity" style="width: 30%" readonly />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>*@
       
    </table>
</div>
<div style="display: none; width: 550px; height: 600px;" id="divSearchMaterial">
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td>
               
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <input type="text" id="txtMaterial" data-bind="value: data.MaterialName" placeholder="Material Name"
                    class="input-large search-query" style="width: 70%" />
                <button type="submit" class="btn" id="cmdMaterialSearch">
                    Search</button>
                <button type="submit" class="btn" id="cmdMaterialDone">
                    Done</button>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="MaterialSearchContainer">
                </div>
            </td>
        </tr>
    </table>
</div>
