﻿<table cellspacing="0" cellpadding="0" border="0" style="width: 50%">
    <br />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;Add PO Return</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
</table>
<tr></tr>
<table border="0" cellspacing="0" cellpadding="0" style="width: 50%">
    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <label>
                Return Date: &nbsp&nbsp&nbsp&nbsp</label>
        </td>
        <td align="left">
            <input type="text" readonly id="dtDate" data-bind="value: data.PoRetDate" data-date-format="dd/mm/yyyy" class="validate[required] span2 input-medium" data-provide="datepicker" />
        </td>




        @*<td colspan="2" align="left" style="width: 20%">
            <label>Net Value</label></td>
        <td>

            <input class="input-medium modelControl" readonly data-bind="value:data.GrandTotal" type="text" placeholder="NetValue" id="GrandTotal" /></td>*@




        <tr>
            <td>
                <label>PO No</label></td>
            <td>
                <table>
                    <tr>
                        <td valign="top">
                         

                            <input class="input-large modelControl validate[required]" readonly data-bind="value: data.Fk_PoNo" type="text" placeholder="Fk_PoNo" id="Fk_PoNo" />
                        </td>
                        <td valign="top">
                            <button class="btn btn-primary" id="cmdMIndentSearch">Search</button>
                        </td>

                    </tr>
                </table>
            </td>
            


    </tr>
 </table>
<table cellspacing="0" cellpadding="0" border="0" style="width: 40%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddMaterial" type="submit">
                        Add Material</button>
                </div>
                <div style="padding-bottom: 8px" id="tlbMaterials">
                </div>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
