﻿<div class="roundedDiv mainPartContainer" style="width: 600px">
    <table width="100%" cellpadding="5">
        
        <tr>
            <td>
                <table style="height: 100px;width:50%" border="0" cellpadding="5" cellspacing="5">
                    <tr>
                        <td align="center" valign="top" style="width:100px">
                            <label>
                                VAT(%)</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: VAT_Percentage" type="text" placeholder="Percentage" id="VAT_Percentage" tabindex="85" /><br />
                   
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: VAT_Value" type="text" placeholder="Value" id="VAT_Value" tabindex="85" /><br />
                        </td>
                        <td align="center" valign="top" style="width:100px">
                            <label>
                                Exercise(%)</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: Exercise_Percentage" type="text" placeholder="Percentage" id="Exercise_Percentage" tabindex="86" /><br />
                            
                 
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: Exercise_Value" type="text" placeholder="Value" id="Exercise_Value" tabindex="86" /><br />
                            
                        </td>
                         <td align="center" valign="top" style="width:100px">
                            <label>
                                SalesTax(%)</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: SalesTax_Percentage" type="text" placeholder="Percentage" id="SalesTax_Percentage" tabindex="86" /><br />
                            
                      
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: Sales_Value" type="text" placeholder="Value" id="Sales_Value" tabindex="86" /><br />
                            
                        </td>
                         
                    </tr>
                    
                     
                   
                </table>
            </td>
        </tr>
    </table>
</div>
