﻿
<input type="hidden" id="hidPkEnquiry" data-bind="value: data.Pk_Enquiry" />
<input style="width: 75%; visibility: hidden;" class="input-large modelControl " data-bind="value: data.Joints" type="text" id="Joints" />
<table cellspacing="0" cellpadding="3" border="0" width="50%">
    <tr class="formHeader">
        <td colspan="3">
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Enquiry</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td colspan="4" align="right">
            <div id="wfButtons"></div>
        </td>
    </tr>
    <tr>
        <td>&nbsp;
        </td>
    </tr>
    <tr align="center">
        <td valign="top">
            <div class="tabbable">
                <ul class="nav nav-tabs"  id="MyTab">
                    <li class="active"><a href="#tbCustomerDetails" data-toggle="tab">Customer Details</a></li>
                    <li><a href="#tbSpecification" data-toggle="tab">Specifications</a></li>
                    @*<li><a href="#tbDeliverySchedule" data-toggle="tab">Delivery Dates</a></li>*@
                    <li><a href="#tbDocument" data-toggle="tab">Add Document</a></li>
                    @*<li><a href="#tbEstimation" data-toggle="tab">Estimation</a></li>*@
                </ul>
                <div class="tab-content" style="height: 350px">
                    <div class="tab-pane active" id="tbCustomerDetails">
                        <table>
                            <tr>
                                <td>
                                    <label>
                                        Date</label>
                                </td>
                                <td>

                                    <input type="text" readonly id="dtDate" data-bind="value: data.Date" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
                                </td>


                                 
                             @*   <td>
                                    <label>
                                        Description</label>
                                </td>
                                <td>
                                    <textarea class="input-large modelControl" type="text" data-bind="value: data.Description"
                                        placeholder="Description" id="Description" />
                                </td>
                        *@


                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Comm.Type</label>
                                </td>
                                <td>
                                    <select class="modelControl validate[required]" data-bind="options: Communication,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value:data.CommunicationType"
                                        id="CommunicationType">
                                    </select>
                                </td>


                                
                           @*     <td>
                                    <label>
                                        Special Requirements</label>
                                </td>
                                <td>
                                    <textarea class="input-large modelControl" type="text" data-bind="value: data.SpecialRequirements"
                                        placeholder="Special Requirements" id="SpecialRequirements"
                                        maxlength="200" />
                                </td>*@

                           


                          
                           @* <tr>
                                <td>
                                    <label>
                                        Customer</label>
                                </td>
                                <td>
                                    <select class="modelControl validate[required]" data-bind="options: Customers,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Customer"
                                        id="Customer">
                                    </select>
                                </td>
                            </tr>*@
                             
                                <td>
                                    <label>Customer</label></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td valign="top">
                                                <input class="input-large modelControl validate[required]" readonly data-bind="wgReferenceField: data.Customer" type="text" placeholder="Customer Name" id="Customer" />
                                            </td>
                                            <td valign="top">
                                                <button class="btn btn-primary" id="cmdCustomerSearch">Search</button>
                                                </td>
                                            @*<td valign="top" style="width:100%">
                                                <button class="btn btn-primary" id="cmdNewCustomer">New</button>
                                            </td>*@

                                        </tr>
                                    </table>
                            </tr>
                            <tr>
                                <td>
                                     <label>
                                      Ref.No.</label>
                                </td>
                                   <td>
                                   <input class="input-large modelControl" type="text" placeholder="ReferenceEnquiry" id="ReferenceEnquiry" data-bind="value: data.RefNo" maxlength="20" style="width: 100px"/>
                                   </td>


                                   
                                <td>
                                    <label>
                                        Remarks</label>
                                </td>
                                <td>
                                    <textarea class="input-large modelControl" type="text" data-bind="value: data.EqComments"
                                        placeholder="Remarks" id="EqComments" maxlength="200" />
                                  </td>
                            </tr>
                             <tr>
                               
                                 <td>
            <label>Sample Recd</label></td>
        <td>
            <label>
                <input type="checkbox" id="chkSample" data-bind="checked: data.SampleRecd" />
               
            </label>
            </td>
                             </tr>
                            <tr>
                                <td>&nbsp;
                                    <td>&nbsp;
                                         <td>
                                      
                                <td>
                                    <a style="float: right">&nbsp;</a>
                                    <button class="btn btn-primary" type="button" id="cmdNext" style="float: right">Next ></button>
                                </td>
                            </tr>
                            


                            <tr hidden="hidden">
                                <td valign="top">
                                    <label>Pk</label>
                                </td>
                                <td>
                                    <input class="input-medium modelControl" data-bind="value: data.Fk_EnquiryChild" type="text" placeholder="pk" id="pk" />
                                </td>


                                 <td>
                                    <input class="input-medium modelControl" data-bind="value: data.Fk_BoxID" type="text" placeholder="Boxid" id="BoxID" />
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="tab-pane" id="tbSpecification" style="height: 50px; width: 700px">
                        <table style="width: 100%">
                            <tr>
                                <td>
                                    <div id="divListContainerBox">
                                        <div style="padding-bottom: 5px">
                                            <button id="cmdAddMaterial" type="submit">
                                                Add Box</button>
                                        </div>
                                        <div style="padding-bottom: 8px" id="tlbMaterials">
                                        </div>
                                         
                                    </div>
                                </td>
                                </tr>
                            <tr>
                                 <td>
                                    <a style="float: right">&nbsp;</a>
                                    <button class="btn btn-primary" type="button" id="cmdNext1" style="float: right">Next ></button>
                                </td>
                            </tr>
                        </table>
    
                    </div>
                 
                    <div class="tab-pane" id="tbDocument" style="height: 150px">
                        <div id="dropzone">
                            <div id="file" class="dropzone dz-clickable">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tbEstimation">
                          

                  
                    </div>
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            </div>

        </td>
    </tr>

    <tr>
        <td align="center">
            <button type="submit" class="btn" data-bind="click: save" id="cmdSave">Save</button></td>
    </tr>
    @*    <tr>
        <td align="center">
                <div style="padding-bottom: 8px" id="tblBox">
                </div>
        </td>
    </tr>*@

    <tr>
        <td align="center">
            <div id="wfTransDisplay"></div>
        </td>
    </tr>
</table>


