﻿<table cellspacing="0" cellpadding="3" border="0" width="50%">
    <input style="width: 75%; visibility: hidden;" class="input-large modelControl " data-bind="value: data.Joints" type="text" id="Joints" />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;Add Enquiry</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>
    <tr align="center">
        <td valign="top">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="MyTab">
                    <li class="active"><a href="#tbCustomerDetails" data-toggle="tab">Customer Details</a></li>
                    <li><a href="#tbSpecification" data-toggle="tab">Specifications</a></li>
                    @*                    <li><a href="#tbDeliverySchedule" data-toggle="tab">Delivery Schedule</a></li>*@
                    <li><a href="#tbDocument" data-toggle="tab">Add Document</a></li>
                </ul>
                <div class="tab-content" style="height: 350px">
                    <div class="tab-pane active" id="tbCustomerDetails">
                        <table>
                            <tr>
                                <td>
                                    <label>
                                        Date</label>
                                </td>
                                <td>

                                    <input type="text" readonly id="dtDate" data-bind="value: data.Date" data-date-format="dd/mm/yyyy" class="validate[required] span2 input-medium" data-provide="datepicker" />
                                </td>



                             @*   <td>
                                    <label>
                                        Description</label>
                                </td>
                                <td>
                                    <textarea class="input-large modelControl" type="text" data-bind="value: data.Description"
                                        placeholder="Description" id="Description" tabindex="4" />
                                </td>*@



                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Comm.Type</label>
                                </td>
                                <td>
                                    <select class="modelControl validate[required]" data-bind="options: Communication,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value:data.CommunicationType"
                                        id="CommunicationType" tabindex="1">
                                    </select>
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                  <td>
                                    &nbsp;
                                </td>
                                  <td>
                                    <label>Customer</label></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td valign="top">
                                                <input class="modelControl validate[required]" readonly data-bind="wgReferenceField: data.Customer" type="text" placeholder="Customer Name" id="Customer" tabindex="2" />
                                            </td>
                                            <td valign="top">
                                                <button class="btn btn-primary" id="cmdCustomerSearch">Search</button>
                                            </td>
                                            @*<td valign="top" style="width:100%">
                                                <button class="btn btn-primary" id="cmdNewCustomer">New</button>
                                            </td>*@

                                        </tr>
                                    </table>

                              @*  <td>
                                    <label>
                                        Special Requirements</label>
                                </td>
                                <td>
                                    <textarea class="input-large modelControl" type="text" data-bind="value: data.SpecialRequirements"
                                        placeholder="Special Requirements" id="SpecialRequirements"
                                        maxlength="200" tabindex="5" />
                                </td>*@


                            </tr>
                           
                            @* <tr>
                                <td>
                                    <label>
                                        Customer</label>
                                </td>
                                <td>
                                    <select class="modelControl validate[required]" data-bind="options: Customers,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Customer"
                                        id="Customer">
                                    </select>
                                </td>
                            </tr>*@
                            <tr>
                              
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Ref.No.</label>
                                </td>
                                <td>
                                    <input class="input-large modelControl" type="text" placeholder="ReferenceEnquiry" id="ReferenceEnquiry" data-bind="value: data.RefNo" maxlength="20" style="width: 100px" tabindex="3" />
                                </td>

                                    <td>
                                    &nbsp;
                                </td>
                                  <td>
                                    &nbsp;
                                </td>

                              
                            </tr>
                            <tr>
                                  <td>
                                    <label>
                                        Remarks</label>
                                </td>
                                <td>
                                    <textarea class="input-large modelControl" type="text" data-bind="value: data.EqComments"
                                        placeholder="Remarks" id="EqComments" maxlength="200" tabindex="6" />
                                </td>

                              
                              
                            

                            </tr>
                             <tr>
                               
                                 <td>
            <label>Sample Recd</label></td>
        <td>
            <label>
                <input type="checkbox" id="chkSample" data-bind="checked: data.Sample" />
              
            </label>
            </td>
                             </tr>
                            <tr>
                                <td>&nbsp;
                                    <td>&nbsp;
                                         <td>
                                       <td>&nbsp;
                                         <td>
                                <td>
                                    <a style="float: right">&nbsp;</a>
                                    <button class="btn btn-primary" type="button" id="cmdNext" style="float: right">Next ></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane" id="tbSpecification" style="height: 30px; width: 700px">
                        <table style="width: 100%">
                            <tr>
                                <td>
                                    <div id="divListContainerBox">
                                        <div style="padding-bottom: 5px">
                                            <button id="cmdAddMaterial" type="submit">
                                                Add Box</button>



                                        </div>
                                        <div style="padding-bottom: 8px" id="tlbMaterials">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    @*   <div id="divDelivery" hidden="hidden">
                            <table cellspacing="0" cellpadding="5" border="0" width="60%">
                                <tr>
                                    <td>           
                                        <div style="padding-bottom: 5px">                                                                     
                                            <button id="cmdNewDelivery" type="submit">
                                                Add Delivery Schedule</button>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </div>*@
                    @*  <table style="width: 100%" hidden="hidden">
                            <tr>
                                <td colspan="3" style="text-align: center">
                                    <div id="divListContainer">
                                        <div style="padding-bottom: 5px">
                                            <button id="cmdAddToDelivery" type="submit">
                                                Save To List</button>
                                        </div>
                                        <div style="padding-bottom: 8px" id="divDeliveryschedule">
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>*@
                    @*    <div id="PrintingDetailsInfo" hidden>
                                         <textarea cols="3" rows="3" data-bind="value: data.PrintingDetails" placeholder="PrintingDetails" id="PrintingDetails"></textarea>
                                    </div>*@

                    @*    <div class="tab-pane" id="tbDeliverySchedule" style="height: 30px">

                    </div>*@
                    <div class="tab-pane" id="tbDocument" style="height: 10px">
                        <div id="dropzone">
                            <div id="file" class="dropzone dz-clickable">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </td>
    </tr>
    <tr>
        <td align="center">
            @*<button type="submit" class="btn" data-bind="click: save" id="cmdCreate"> Save</button>*@
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>

    </tr>
</table>
