﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavascriptImport {
    <script type="text/javascript" src="~/Scripts/Application/Enquiry/enquiryOperations.js"></script>
    <script type="text/javascript" src="~/Scripts/Application/Enquiry/DeliveryScheduleItem.js"></script>
    <script type="text/javascript" src="~/Scripts/Application/Enquiry/Materials.js"></script>
    <script src="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/dropzone.js" type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/wgFileUpload.js" type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgWorkFlowDisplay.js" type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgWorkFlowButtons.js" type="text/javascript"></script>
    @*<script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyfrmConfigurator.js"></script>*@
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>
      <script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyConfigurator.js"></script>
}
@section CssImport {
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/basic.css" rel="stylesheet"
        type="text/css" />
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/dropzone.css" rel="stylesheet"
        type="text/css" />
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/general.css" rel="stylesheet"
        type="text/css" />
}
@section MainSection{
    <div id="divMainSection" wgpagetype="CRUD" wgtag="Enquiry">
        <div id="divDataArea" align="center" style="padding-top: 5px"></div>
        <div id="divSearchArea" align="center"></div>
    </div>
}

<div id="searchDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 1000px; height: 500px">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <table cellspacing="0" border="0" style="width: 100%;">
        <tr>
            <td>
                <label class="formHeaderTag">Repeat Order - Enquiry Number</label></td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td valign="top">
                            <input type="text" id="txtSpecificationCustomer" placeholder="Customer Name" class="input-large search-query" /></td>
                        <td valign="top">
                            <input type="text" id="txtSpecificationEnquiryId" placeholder="Enquiry Id" class="input-large search-query" /></td>

                        <td valign="top">
                            <input type="text" id="txtSpecificationOrderId" placeholder="Order Number" class="input-large search-query" /></td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <input type="text" id="txtSpecificationFromEnquiryDate" placeholder="From Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                        </td>
                        <td valign="top">
                            <input type="text" id="txtSpecificationToEnquiryDate" placeholder="To Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                        </td>
                        <td valign="top">
                            <button type="submit" class="btn" id="cmdSpecificationsSearch">
                                Search</button>
                            <button type="submit" class="btn" id="cmdSpecificationDone">
                                Done</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="EnquiryOrderSearchContainer">
                </div>
            </td>
        </tr>
    </table>
</div>


<div id="searchCustomerDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 500px; height: 800px">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3 id="srcHeader">Customer</h3>
    @*<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="srchHeader">Customer</h3>
        </div>*@
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
                <div id="dlgSearchFields">
                </div>
                @*<input type="text" id="txtEnquiry" data-bind="value: data.Customer" placeholder="Customer Name" class="input-large search-query"/>
            <input type="text" id="txtCommunicationType" data-bind="value: data.CommunicationType" placeholder="CommunicationType" class="input-large search-query"/>*@
                <br />
                <button type="submit" class="btn" id="cmdSearch">Search</button>
                <button type="submit" class="btn" id="cmdDone">Done</button>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="SearchContainer">
                </div>
            </td>
        </tr>
    </table>
</div>

      @*<div id="searchBoxDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:700px; height:500px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="srchHeader">Box</h3>
        </div>
        <table cellpadding="8" cellspacing="0" border="0" width="95%">


            <tr>
                <td valign="top" >
                    <input type="text" id="txtdlgBoxName" placeholder="BoxName" class="input-medium" />
                </td>
                <td valign="top">

                </td>
               

            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn" id="cmdBoxSearch">Search</button>
                    <button type="submit" class="btn" id="cmdBoxDone">Done</button>
                </td>

            </tr>
            <tr>
                <td colspan="4">
                    <div id="BoxSearchContainer">
                    </div>
                </td>
            </tr>


        </table>
       
    </div>*@
@*<div id="workFlowCommentDialog" class="modal hide fade" tabindex="1" role="dialog" aria-hidden="true" style="padding: 5px;">
        <form id="frmWfCommentDialog">
            <div class="modal-header" width="100%" height="100%">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 id="WfCommentDialogHeading">Enter Comment</h3>
            </div>
            <table cellpadding="2" cellspacing="0" border="0" width="100%" height="100%">
                <tr>
                    <td align="center">
                        <div id="WfCommentDialogArea">
                            <textarea id="txtWfComment" style="width: 500px; height: 170px"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <button id="cmdWfCommentSave" type="submit" class="btn">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>*@






