﻿



<table width="80%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>
                        <input type="text" id="TxtID" placeholder="ID" class="input-large search-query"/>
                        <input type="text" id="TxtLength" placeholder="Length" class="input-large search-query"/>
                             <input type="text" id="TxtWidth" placeholder="Width" class="input-large search-query"/>
                                   <input type="text" id="TxtHeight" placeholder="Height" class="input-large search-query"/>

                        <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                        <button type="submit" class="btn" id="cmdNew" >Add OD</button>
                        </td>
                    </tr>
                    <tr><td></td></tr>
        <tr><td></td></tr>
                    <tr>
                        <td colspan="2"><div id="MainSearchContainer"></div></td>
                    </tr>
                </table>               
            </div>
            
        </td>
    </tr>
</table>