﻿
<table cellspacing="0" cellpadding="5" border="0" width="100%">
    <tr class="formHeader">
        <td><label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Shipping Info</label></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <label>
                Contact Person Name</label>
        </td>
        <td>
            <input style="width: 85%" class="input-large modelControl validate[required,custom[onlyLetterSp],funcCall[ContactDuplicateChecking]]" data-bind="value: data.ContactPersonName"
                type="text" placeholder="Name" id="ShippingCustomerName" maxlength="100"/>
        </td>

    </tr>

    <tr>
        <td>
            <label>
                Land Line No.</label>
        </td>
        <td>
            <input style="width: 85%" class="input-large modelControl validate[required,custom[number]]" data-bind="value: data.ContactPersonNumber"
                type="text" placeholder="ShippingLandLine" id="ShippingLandLine" maxlength="50"/>
        </td>

    </tr>

    <tr>
        <td>
            <label>
                EmailId</label>
        </td>
        <td>
            <input style="width: 85%" class="input-large modelControl validate[required,custom[email]]" data-bind="value: data.ContactPersonEmailId"
                type="text" placeholder="ShippingEmailId" id="ShippingEmailId" />
        </td>

    </tr>



  @*  <tr>
        <td>
            <label>
                Designation</label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl validate[custom[onlyLetterSp]]" data-bind="value: data.ContactPersonDesignation"
                type="text" placeholder="Contact Person Designation" id="ContactPersonDesignation" maxlength="100"/>

        </td>
        <td></td>
        <td></td>
    </tr>*@

    <tr>
        <td>
            <label style="text-decoration: underline"><b>Address</b></label></td>

    </tr>

    <tr>
        <td>
            <label>No. & Street</label></td>
        <td>
            <input style="width: 85%" class="input-large modelControl validate[required]" data-bind="value: data.ShippingAddress" type="text" placeholder="Address_No_Street" id="Address_No_Street" maxlength="100"/></td>
    </tr>

    <tr>
        <td>
            <label>State</label></td>
        <td>
            <select style="width: 85%" class="modelControl validate[required]" data-bind="options: State,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.ShippingState"
                id="ShippingState">
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label>City</label></td>
        <td>
            <select style="width: 85%" class="modelControl validate[required]" data-bind="options: city,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.ShippingCity"
                id="ShippingCity">
            </select>
        </td>
    </tr>

    <tr>
        <td>
            <label>PinCode</label></td>
        <td>
            <input style="width: 85%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.ShippingPincode" type="text" placeholder="ShippingPincode" id="ShippingPincode" maxlength="50"/></td>
    </tr>

    <tr>
        <td>&nbsp;
        </td>
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>