﻿
@*//Name          : Screen Design for Contact Person -- New Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : shantha/Ravi
//Date 	        : 07/08/2015
//Crh Number    : SL0001
//Modifications : *@


<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                New Contact Person </label>
        </td>
        <td>&nbsp;
        </td>
        <td>&nbsp;
        </td>
    </tr>
    <tr>
        <td>&nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <label>
                Contact Address Name</label>
        </td>
        <td>
            <input style="width: 85%" class="input-large modelControl validate[required,funcCall[ContactDuplicateChecking]]" data-bind="value: data.ContactPersonName"
                type="text" placeholder="Contact Person Name" id="ContactPersonName" maxlength="100"/>
        </td>

    </tr>

    <tr>
        <td>
            <label>
                Contact Person Number</label>
        </td>
        <td>
            <input style="width: 85%" class="input-large modelControl validate[required,custom[number]]" data-bind="value: data.ContactPersonNumber"
                type="text" placeholder="ContactPersonNumber" id="ContactPersonNumber" maxlength="50"/>
        </td>

    </tr>

    <tr>
        <td>
            <label>
                Contact Person EmailId</label>
        </td>
        <td>
            <input style="width: 85%" class="input-large modelControl validate[required,custom[email]]" data-bind="value: data.ContactPersonEmailId"
                type="text" placeholder="ContactPersonEmailId" id="ContactPersonEmailId" />
        </td>

    </tr>



    <tr>
        <td>
            <label>
                Designation</label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl validate[custom[onlyLetterSp]]" data-bind="value: data.ContactPersonDesignation"
                type="text" placeholder="Contact Person Designation" id="ContactPersonDesignation" maxlength="100"/>

        </td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>
            <label style="text-decoration: underline"><b>Address</b></label></td>

    </tr>

    <tr>
        <td>
            <label>No. & Street</label></td>
        <td>
            <input style="width: 85%" class="input-large modelControl validate[required]" data-bind="value: data.Address_No_Street" type="text" placeholder="Address_No_Street" id="Address_No_Street" maxlength="100"/></td>
    </tr>

    <tr>
        <td>
            <label>State</label></td>
        <td>
            <select style="width: 85%" class="modelControl validate[required]" data-bind="options: State,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Address_State"
                id="Address_State">
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label>City</label></td>
        <td>
            <select style="width: 85%" class="modelControl validate[required]" data-bind="options: city,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Address_City"
                id="Address_City">
            </select>
        </td>
    </tr>

    <tr>
        <td>
            <label>PinCode</label></td>
        <td>
            <input style="width: 85%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.Address_PinCode" type="text" placeholder="Address_PinCode" id="Address_PinCode" maxlength="50"/></td>
    </tr>

    <tr>
        <td>&nbsp;
        </td>
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
