﻿<table cellspacing="0" cellpadding="0" border="0" width="40%">
    <br />
    <tr  class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Head</label></td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
  <tr>
        <td>
            <label>Part Name</label></td>
        <td>
            <input class="input-large validate[required,custom[onlyLetterSp]" data-bind="value: data.PartName" type="text" placeholder="Part Name " id="PartName" maxlength="100" /></td>
    </tr>
  
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td>&nbsp;</td>
        <td >
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
