﻿@*//Name          : Screen Design for Country -- New Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Nagesh V Rao
//Date 	        : 07/08/2015
//Crh Number    : SL0010
//Modifications : *@

<table cellspacing="0" cellpadding="0" border="0" width="40%">

    <br />
    <tr style="width: 10%" class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Return</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>



    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label>Rejection Date</label>
        </td>
        <td>

            <input type="text" readonly id="RejectionDate" class="input-medium modelControl  " data-bind="value: data.RejectionDate" data-date-format="dd/mm/yyyy" class=" span2 input-medium" data-provide="datepicker" />
        </td>


        <tr>
            <td valign="top">
                <label>Customer Order</label>
            </td>
            <td>
                <table>
                    <tr>
                        <td valign="top">
                            <input class="input-small modelControl" readonly data-bind="wgReferenceField: data.Fk_OrderNo" type="text" placeholder="Customer Order" id="txtCustomerOrder" />
                        </td>

                    </tr>
                </table>
        </tr>
    <tr>
        <td>
            <label>Customer</label></td>
        <td>
            <input class="input-medium modelControl  " readonly data-bind="wgReferenceField: data.Fk_Customer" type="text" placeholder="Customer" id="txtCustomer" />
    </tr>

    <tr>
        <td>
            <label>
                Quantity
            </label>
            <td>
                <input class="input-medium validate [custom[onlyNumberSp]]" data-bind="value: data.Rejected_Quantity" type="text" placeholder=" Cheque No" id="Quantity" /></td>
    </tr>

    <tr>
        <td>
            <label>
                Reason
            </label>
            <td>
                <textarea class="input-medium" data-bind="value: data.Reason" type="text" placeholder=" Reason " id="Reason" /></td>
    </tr>

    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr>
        <td>&nbsp;</td>

        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">SAVE</button></td>
    </tr>
</table>


