﻿@*//Name          : Screen Design for Bill -- Search Mode(HTML)
//Description   : Search is done on the fields-Vendor name , Indentno and branch name
//Author        : shantha
//Date            :   9/09/2015
//CRH Number      :  SL0049
//Modifications : *@


<table width="70%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="80%" align="center">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td valign="top">
                                        <input type="text" id="txtRejId" placeholder="Return Id" class="input-medium search-query" /></td>
                                    <td valign="top">
                                        <input type="text" id="RejectionDate" placeholder="ReturnDate" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                                    </td>
                                    <td valign="top">
                                        <input type="text" id="OrderNumber" placeholder="Order Number" class="input-medium search-query" /></td>
                                    <td valign="top">
                                        <input type="text" id="Customer" placeholder="Customer Name" class="input-medium search-query" /></td>
                                    <td valign="top">
                                        <button type="submit" class="btn" id="LoadRecordsButton">
                                            Search</button></td>
                                    <td valign="top">
                                        <button type="submit" style="width: 100%" class="btn" id="cmdNew">
                                            Add Return</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div id="MainSearchContainer">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
