﻿<table cellspacing="0" cellpadding="0" border="0" style="width:40%">
    <br />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;Edit Issue Return</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" style="width:40%">
    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>
    <tr align="center">
        <td style="width: 50%" align="left">
            <label>
                Return Date: &nbsp&nbsp&nbsp&nbsp</label>
        </td>
        <td colspan="2" align="left" style="width: 50%">
            <input type="text" readonly id="dtIssueReturnDate" data-bind="value: data.IssueReturnDate" data-date-format="dd/mm/yyyy" class="validate[required] span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>

    <tr>
        <td>
            <label>
                Issue No</label>
        </td>
        <td>

            <table>
                <tr>
                    <td valign="top">
                        <input class="input-large modelControl" type="text" data-bind="value: data.Fk_IssueId"
                            placeholder="Issue No" id="Fk_IssueId" readonly />
                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdIssueSearch">Search</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr align="center">
        <td style="width: 50%" align="left">
            <label>
                Issue Date: &nbsp&nbsp&nbsp&nbsp</label>
        </td>
        <td colspan="2" align="left" style="width: 50%">
            <input type="text" readonly id="dtIssueDate" data-bind="value: data.IssueDate"  class="validate[required] span2 input-medium" />
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" style="width:40%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddMaterial" type="submit">
                        Add Material</button>
                </div>
                <div style="padding-bottom: 8px" id="tlbMaterials">
                </div>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
