﻿@*//Name          : index--Issue Return Screen
//Description   : Shows the Names Of the Layout,Javascript used.
                : wg tag refers to the Controller name    
//Author        : CH.V.N Ravi Kumar
//Date            :   10/09/2015
//CRH Number      :   
//Modifications : *@


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
    <script src="~/Scripts/Application/IssueReturn/IssueReturnOperations.js"
        type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/Application/IssueReturn/ReturnMaterials.js"></script>
    <script src="~/Scripts/Frameworks/WebGare/Configuration/wgOne2ManyConfigurator.js"
        type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>
}
@section MainSection{
    <div id="divMainSection" wgpagetype="CRUD" wgtag="IssueReturn">
        <div id="divDataArea" align="center" style="padding-top: 5px">
        </div>
        <div id="divSearchArea" align="center">
        </div>
    </div>
}
<div id="searchDialog" class="modal hide fade" tabindex="100" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 700px; height: 500px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader">Issue Search</h3>
    </div>
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
                <table>
                    <tr>
                       @* <td valign="top">
                            <input type='text' id='txtdlgIssueCustomerName' placeholder='Customer Name' class='input-large search-query' />
                        </td>*@
                        <td valign="top">
                            <input type='text' id='txtdlgIssueFromDate' placeholder='Friom Date' data-date-format='dd/mm/yyyy' class='span2 input-medium' data-provide='datepicker' />
                        </td>
                        <td valign="top">
                            <input type='text' id='txtdlgIssueToDate' placeholder='To Date' data-date-format='dd/mm/yyyy' class='span2 input-medium' data-provide='datepicker' />
                        </td>
                        <td valign="top">
                            <button type="submit" class="btn" id="cmdSearch">Search</button></td>
                        <td valign="top">
                            <button type="submit" class="btn" id="cmdDone">Done</button></td>
                    </tr>
                </table>


            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="MainSearhContainer">
                </div>
            </td>
        </tr>
    </table>
</div>

