﻿<div style="width: 600px">
    <table width="100%" cellpadding="5">
        
        <tr>
            <td>
                <table style="height: 100px;width:50%" border="0" cellpadding="5" cellspacing="5">
                    <tr>
                                <td>
                                    <label>Pk BoxEstimation ID</label></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td valign="top">
                                                <input class="input-large modelControl "  data-bind="value: data.Pk_BoxEstimation" onchange="ShowBoxEstRecord()" type="text" placeholder="Pk_BoxEstimation" id="Pk_BoxEstimation" />
                                            </td>
                                            <td valign="top">
                                                <button type="submit" class="btn cmdCreate" id="cmdDetailedEstimation">
                                                    Launch Estimation</button>
                                             </td>
                                        </tr>
                                    </table>

                    </tr>                 
                </table>
            </td>
        </tr>
    </table>
</div>