﻿<div class="roundedDiv mainPartContainer" style="width: 95%;">
    <table width="100%" cellpadding="5">
        <tr>
            <td>
                <div class="selPly">
                    <a class="tile app bg-color-purple smalltile" value="3"><i class="icon-stack"></i>
                        <label>
                            3 Ply</label>
                    </a><a class="tile app bg-color-purple smalltile" value="5"><i class="icon-stack"></i>
                        <label>
                            5 Ply</label>
                    </a><a class="tile app bg-color-purple smalltile" value="7"><i class="icon-stack"></i>
                        <label>
                            7 Ply</label>
                    </a><a class="tile app bg-color-purple smalltile" value="9"><i class="icon-stack"></i>
                        <label>
                            9 Ply</label>
                    </a><a class="tile app bg-color-purple smalltile" value="11"><i class="icon-stack"></i>
                        <label>
                            11 Ply</label>
                    </a>
                </div>
                <div class="selElements" style="display: none">
                    <table style="width: 80%" border="0" cellpadding="5">
                        <tr class="commonFields">
                            <td>
                                <label>
                                    Length</label>
                            </td>
                            <td>
                                <input class="input-mini validate[funcCall[validateNumeric],required] " data-bind="value: length"
                                    type="text" placeholder="Length" id="OLength" tabindex="13" />
                            </td>
                            <td rowspan="3">
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <label>
                                                Board Area</label>
                                        </td>
                                        <td>
                                            <input class="input-mini validate[funcCall[validateNumeric],required]" data-bind="value: boardArea"
                                                type="text" placeholder="Board Area" id="OBoardArea" style="width: 70px" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>
                                                Deckle</label>
                                        </td>
                                        <td>
                                            <input class="input-mini validate[funcCall[validateNumeric],required]" data-bind="value: deckle"
                                                type="text" placeholder="Deckle" id="ODeckle" style="width: 70px" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>
                                                Cutting Size</label>
                                        </td>
                                        <td>
                                            <input class="input-mini validate[funcCall[validateNumeric],required]" data-bind="value: cuttingSize"
                                                type="text" placeholder="CuttingSize" id="OCuttingSize" style="width: 70px" readonly />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    Width</label>
                            </td>
                            <td>
                                <input class="input-mini validate[funcCall[validateNumeric],required] " data-bind="value: width"
                                    type="text" placeholder="Width" id="OWidth" tabindex="14" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    Quantity</label>
                            </td>
                            <td>
                                <input class="input-mini validate[funcCall[validateNumeric],required] " data-bind="value: Quantity"
                                    type="text" placeholder="Quantity" id="OQuantity" tabindex="15" />
                            </td>
                        </tr>
                    
                        <tr>
                            <td colspan="3">
                                <table class="dataContainer" border="1" width="100%" height="50%">
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
