﻿<div class="roundedDiv mainPartContainer" style="width: 600px">
    <table width="100%" cellpadding="5">
        
        <tr>
            <td>
                <table style="height: 100px;width:50%" border="0" cellpadding="5" cellspacing="5">
                    <tr>
                        <td align="center" valign="top" style="width:100px">
                            <label>
                                Conv.Rate(%)</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: ConversionRatePercentage" type="text" placeholder="Percentage" id="ConversionRatePercentage" tabindex="1" /><br />
                   
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: ConversionValue" type="text" placeholder="Value" id="ConversionValue" tabindex="2" /><br />
                        </td>
                        <td align="center" valign="top" style="width:100px">
                            <label>
                                Westage(%)</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: WestagePercentage" type="text" placeholder="Percentage" id="WestagePercentage" tabindex="3" /><br />
                            
                 
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: WestageValue" type="text" placeholder="Value" id="WestageValue" tabindex="4" /><br />
                            
                        </td>
                         <td align="center" valign="top" style="width:100px">
                            <label>
                                Rejection(%)</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: RejectionPercentage" type="text" placeholder="Percentage" id="RejectionPercentage" tabindex="5" /><br />
                            
                      
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: RejectionValue" type="text" placeholder="Value" id="RejectionValue" tabindex="6" /><br />
                            
                        </td>
                          <td align="center" valign="top" style="width:100px">
                            <label>
                               Margin(%)</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: MarginPercentage" type="text" placeholder="Percentage" id="MarginPercentage" tabindex="7" /><br />
                       
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: MarginValue" type="text" placeholder="Value" id="MarginValue" tabindex="8" /><br />
                        </td>
                    </tr>
                     <tr>
                        <td align="center" valign="top" style="width:100px">
                            <label>
                               Transport_Costs</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: TransportCosts" type="text" placeholder="T Costs" id="TransportCosts" tabindex="9" /><br />
                        </td>
                        <td align="center" valign="top" style="width:100px">
                            <label>
                                Handling_Costs</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: HandlingCosts" type="text" placeholder="H Costs" id="HandlingCosts" tabindex="10" /><br />
                        </td>
                       
                        <td align="center" valign="top" style="width:100px">
                            <label>
                                Printing_Costs</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: PrintingCosts" type="text" placeholder="Costs" id="PrintingCosts" tabindex="11" /><br />
                            
                        </td>
                        <td align="center" valign="top" style="width:150%">
                            <label>
                                Pasting_Costs</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: PastingCosts" type="text" placeholder="Costs" id="PastingCosts " tabindex="12" /><br />
                            
                        </td>
                    </tr>
                      <tr>
                        <td align="center" valign="top" style="width:100px">
                            <label>
                               Pin_Costs</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: PinCosts" type="text" placeholder="Costs" id="PinCosts" tabindex="13" /><br />
                        </td>
                        <td align="center" valign="top" style="width:100px">
                            <label>
                               Electricity_Costs</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: ElectricityCosts" type="text" placeholder="Costs" id="ElectricityCosts" tabindex="14" /><br />
                        </td>
                        <td align="center" valign="top" style="width:100px">
                            <label>
                              Tooling_Costs</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: ToolingCosts" type="text" placeholder="Costs" id="ToolingCosts" tabindex="15" /><br />
                            
                        </td>
                        <td align="center" valign="top" style="width:150%">
                            <label>
                                Varnish_Costs</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: VarnishCosts" type="text" placeholder="Costs" id="VarnishCosts " tabindex="16" /><br />
                            
                        </td>
                    </tr>
                   
                </table>
            </td>
        </tr>
    </table>
</div>
