﻿<table width="75%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="90%">
                    <tr>
                        <td colspan="1">
                            <table>
                                <tr>
                                    <td align="center" valign="top">
                                        <input type="text" id="txtEstimate" placeholder="Estimation ID" class="input-medium search-query" /></td>
                                    <td align="center" valign="top">
                                        <input type="text" id="txtEnquiry" placeholder="Enquiry No" class="input-medium search-query" /></td>
                                    <td align="center" valign="top">
                                        <input type="text" id="txtCustomer" placeholder="Customer" class="input-medium search-query" /></td>
                                    <td align="center" valign="top">
                                        <input type="text" id="txtEstDate" placeholder="Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" /></td>
                                    <td align="center" valign="top">
                                        <button type="submit" class="btn" id="LoadRecordsButton">Search</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="MainSearchContainer"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
