﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
  <script type="text/javascript" src="~/Scripts/Application/EstimationOperations.js"></script> 

     @*  <script src="../../Content/bootmetro/js/bootmetro-pivot.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/Box/Box.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/Box/BoxPart.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/Box/BoxOperations.js" type="text/javascript"></script>*@

 
}

@section MainSection{
    
<div id="divMainSection" wgPageType="CRUD" wgTag="Estimation">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
    <div id="divSearchArea" align="center"></div>
 </div>
    }


@*@section CssImport{
    <link href="../../Scripts/Frameworks/WebGare/Dependency/SmartWizard/styles/smart_wizard_vertical.css"
        rel="stylesheet" type="text/css" />
}
@section JavascriptImport {
    <script src="../../Scripts/Frameworks/WebGare/Dependency/SmartWizard/js/jquery.smartWizard.js"
        type="text/javascript"></script>
    <script src="../../Scripts/Frameworks/WebGare/Controls/WgWizard.js" type="text/javascript"></script>
    <script src="../../Content/bootmetro/js/bootmetro-pivot.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/Estimation/Estimation.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/Estimation/EstimationPartWizard.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/Estimation/EstimationOperations.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/Estimation/EstimationCaluculation.js" type="text/javascript"></script>
}
@section MainSection{
    <table width="100%" cellpadding="5" border="0">
        <tr>
            <td width="1%">&nbsp;
            </td>
            <td>
                <h3>Estimation</h3>
                <br />
                <table cellpadding="5" cellspacing="0" border="0" width="90%">
                    <tr>
                        <td style="width: 1%">
                            <label>Customer Name :</label></td>
                        <td style="width: 10%">
                            <label id="lblCustomer"></label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 1%">
                            <label>Enquiry Number :</label></td>
                        <td style="width: 10%">
                            <label id="lblFkEnquiry"></label>
                        </td>

                    </tr>
                    <tr>
                        <td class="wgGradient" colspan="2">
                            <label>
                                Select Valid Parts</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table width="100%" border="0" id="shellSelection">
                                <tr>
                                    <td>
                                        <label class="checkbox inline">
                                            <input class="ckhPart" type="checkbox" id="chkOuterShell" value="outerShell" data-bind="checked: outerShellYes" />
                                            <span class="metro-checkbox" style="width: 100px">Outer Shell</span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox inline">
                                            <input class="ckhPart" type="checkbox" id="chkLengthPartation" value="lenghtPartation"
                                                data-bind="checked: lenghtPartationYes" />
                                            <span class="metro-checkbox" style="width: 200px">Length Partation</span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox inline">
                                            <input class="ckhPart" type="checkbox" id="chkWidthPartation" value="widthPartation"
                                                data-bind="checked: widthPartationYes" />
                                            <span class="metro-checkbox" style="width: 200px">Width Partation</span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox inline">
                                            <input class="ckhPart" type="checkbox" id="chkPlate" value="plate" data-bind="checked: plateYes" />
                                            <span class="metro-checkbox" style="width: 100px">Plate</span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox inline">
                                            <input class="ckhPart" type="checkbox" id="chkCap" value="cap" data-bind="checked: capYes" />
                                            <span class="metro-checkbox" style="width: 100px">Cap</span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="input-mini" type="text" placeholder="No.Of" id="txtOuterShell" data-bind="value: outerShell" />
                                    </td>
                                    <td>
                                        <input class="input-mini" type="text" placeholder="No.Of" id="txtLPartation" data-bind="value: lenghtPartation" />
                                    </td>
                                    <td>
                                        <input class="input-mini" type="text" placeholder="No.Of" id="txtWidthPartation"
                                            data-bind="value: widthPartation" />
                                    </td>
                                    <td>
                                        <input class="input-mini" type="text" placeholder="No.Of" id="txtPlate" data-bind="value: plate" />
                                    </td>
                                    <td>
                                        <input class="input-mini" type="text" placeholder="No.Of" id="txtCap" data-bind="value: cap" />
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" type="button" id="cmdPublish">Publish ></button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div id="estWizard">
                </div>
                <div id="pivot-item-2" class="pivot-item">
               <h3>Estimation</h3>
               <table id="prtList" cellpadding="5" border="1" class="tlbEstmation"></table>
            </div>
            </td>
            <td width="20%" valign="top">
                <table width="100%" cellpadding="5" style="margin-top: 10px">
                    <tr>
                        <td colspan="2">Summary Here</td>
                    </tr>
                     <tr>
                        <td><label>Total Weight :</label></td>
                         <td><label id ="totalWeight"></label></td>
                    </tr>
                     <tr>
                        <td><label>Total Cost : </label></td>
                         <td><label id ="totalPrice"></label></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}
<body>
    <div id="estDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            </button>
            <h3 id="lyrHeader">Layer Details</h3>
        </div>
        <table cellpadding="8" cellspacing="0" border="0" width="100%">
            <tr>
                <td align="center">
                    <label>
                        GSM</label>
                    <input class="input-mini UFields validate[funcCall[validateNumeric],required] " data-bind="value: gsm"
                        type="text" placeholder="GSM" id="OGSM" tabindex="16" />
                </td>
                <td align="center">
                    <label>
                        BF</label>
                    <input class="input-mini UFields validate[funcCall[validateNumeric],required] " data-bind="value: bf"
                        type="text" placeholder="BF" id="OBF" tabindex="18" />
                </td>
                <td align="center">
                    <label>
                        Color</label>
                    <input class="input-mini UFields validate[funcCall[validateNumeric],required] " data-bind="value: color"
                        type="text" placeholder="Color" id="OColor" tabindex="21" />
                </td>
                <td align="center">
                    <label>
                        Rate</label>
                    <input class="input-mini UFields validate[funcCall[validateNumeric],required] " data-bind="value: rate"
                        type="text" placeholder="Rate" id="ORate" tabindex="21" />
                </td>
            </tr>
            <tr>
                <td class="wgGradient" colspan="4">Copy Options
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <button class="btn btn-primary" id="cmdCopyAll">
                        Copy To All</button>
                    <button class="btn btn-primary" id="cmdCopyFluted">
                        Copy To Fluted</button>
                    <button class="btn btn-primary" id="cmdNonFluted">
                        Copy To NonFluted</button>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <table width="100%">
                        <tr id="dlgCopyOptions">
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <button class="btn btn-primary" id="cmdSaveLayers">
                        Save</button>
                </td>
            </tr>
        </table>
    </div>
</body>*@
