﻿@*Name        : Screen Design for Employee -- New Mode(HTML)
Description   : Contains the Label,TextBox,ComboBox,Image Upload  Definitions Required for the Screen               
Author        : CH.V.N.Ravi Kumar
Date 	      : 27/10/2015
Crh Number    : 
Modifications : *@


<table cellspacing="0" cellpadding="0" border="0" style="width:60%">
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;@ViewBag.Context Employee</label>
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
 <tr align="center">
        <td valign="top">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tbEmployeeDetails" data-toggle="tab">Employee Details</a></li>
                    <li><a href="#tbImages" data-toggle="tab">Images</a></li>
                </ul>
                <div class="tab-content" style="height: 450px">
                    <div class="tab-pane active" id="tbEmployeeDetails">
                        <table>
                            <tr>
                                <td>
                                    <label>
                                        Department</label>
                                </td>
                                <td>
                                    <select class="modelControl validate[required]" data-bind="options: EmployeeDepartment,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_DepartmentId"
                                        id="Fk_DepartmentId">
                                    </select>
                                </td>
                                <td>
                                    <label>
                                        Designation</label>
                                </td>
                                <td>
                                    <select class="modelControl validate[required]" data-bind="options: EmployeeDesignation,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_EmployeeDesignation"
                                        id="Fk_EmployeeDesignation">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        First Name</label>
                                </td>
                                <td>
                                    <input class="input-large modelControl validate[required]" data-bind="value: data.FirstName"
                                        type="text" placeholder="First Name" id="FirstName" maxlength="50" />
                                </td>
                                <td>
                                    <label>
                                        Last Name</label>
                                </td>
                                <td>
                                    <input class="input-large modelControl validate[required]" data-bind="value: data.LastName"
                                        type="text" placeholder="Last Name" id="LastName" maxlength="50" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Father Name</label>
                                </td>
                                <td>
                                    <input class="input-large modelControl validate[required]" data-bind="value: data.FatherName"
                                        type="text" placeholder="Father Name" id="FatherName" maxlength="50" />
                                    <td>
                                        <label>
                                            Mother Name</label>
                                    </td>
                                    <td>
                                        <input class="input-large modelControl validate[required]" data-bind="value: data.MotherName"
                                            type="text" placeholder="Mother Name" id="MotherName" maxlength="50" />
                                    </td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        DOB</label>
                                </td>
                                <td>

                                    <input type="text" readonly id="dtDOB" data-bind="value: data.DOB" data-date-format="dd/mm/yyyy" class="validate[required] span2 input-medium" data-provide="datepicker" />
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Address</label>
                                </td>
                                <td colspan="3">
                                    <input class="input-large modelControl validate[required]" data-bind="value: data.Address"
                                        type="text" placeholder="Address" id="Address" style="width: 670px" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>City</label></td>
                                <td>
                                    <select style="width: 75%" class="modelControl validate[required]" data-bind="options: city,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_City"
                                        id="Fk_City">
                                    </select>
                                </td>
                                <td>
                                    <label>State</label></td>
                                <td>
                                    <select style="width: 75%" class="modelControl validate[required]" data-bind="options: State,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_State"
                                        id="Fk_State">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>PinCode</label></td>
                                <td>
                                    <input style="width: 75%" class="input-large modelControl validate[required,custom[number]]" data-bind="value: data.Pincode" type="text" placeholder="Pincode" id="Pincode" maxlength="50" /></td>
                                <td>
                                    <label>Email</label></td>
                                <td>
                                    <input style="width: 75%" class="input-large modelControl validate[required,custom[email]]" data-bind="value: data.Email" type="text" placeholder="Email" id="Email" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Mobile</label>
                                </td>
                                <td>
                                    <input class="input-large modelControl validate[required]" data-bind="value: data.Mobile"
                                        type="text" placeholder="Mobile" id="Mobile" />
                                </td>
                                <td>
                                    <label>
                                        Phone</label>
                                </td>
                                <td>
                                    <input class="input-large modelControl " data-bind="value: data.Phone"
                                        type="text" placeholder="Phone" id="Phone" />
                                </td>
                            </tr>
                            <tr>
                              <td>
                                    <label>
                                        Is Active
                                    </label>
                                </td>
                                <td colspan="3">
                                    <input class="modelControl checkbox" type="checkbox" data-bind="checked: data.IsActive" id="IsActive" />
                                </td>
                                </tr>
                       
                                     <tr>
                                <td>
                                    <label>
                                       Account No.</label>
                                </td>
                                <td>
                                    <input class="input-large modelControl " data-bind="value: data.AcNo"
                                        type="text" placeholder="AcNo" id="AcNo" />
                                </td>
                            </tr>
                            
                            @* <tr>
                                <td colspan="4">
                                    <input type="file" name="Browse" id="ImagePath">
                                </td>
                            </tr>*@

                          
                        </table>
                    </div>
                    <div class="tab-pane" id="tbImages" style="height: 500px">
                        <div id="dropzone">
                            <div id="file" class="dropzone dz-clickable">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
     <tr>
        <td style="text-align:center">
            <button type="submit" class="btn" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
