﻿@{
    ViewBag.Title = "FileUpload.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FileUpload.cshtml</h2>
@section MainSection{
@*<div id="divMainSection" wgPageType="CRUD" wgTag="Enquiry">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
    <div id="divSearchArea" align="center"></div>
 </div>*@
}