﻿@*//Name        : Index--Employee Screen
//Description   : Shows the Names Of the Layout,Javascript used.
                : wg tag refers to the Controller name    
//Author        : CH.V.N.Ravi Kumar
//Date 	        : 26/10/2015
//Crh Number    : 
//Modifications : *@
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
  <script type="text/javascript" src="~/Scripts/Application/Employee.js"></script> 
    <script src="~/Scripts/Frameworks/WebGare/Controls/wgFileUpload.js" type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/dropzone.js" type="text/javascript"></script>
}
@section CssImport {
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/basic.css" rel="stylesheet"
        type="text/css" />
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/dropzone.css" rel="stylesheet"
        type="text/css" />
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/general.css" rel="stylesheet"
        type="text/css" />
}
@section MainSection{
<div id="divMainSection" wgPageType="CRUD" wgTag="Employee">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
    <div id="divSearchArea" align="center"></div>
 </div>
}