﻿
@*//Name          : Screen Design for Color -- New Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : shantha
//Date 	        : 07/08/2015
//Crh Number    : SL0002
//Modifications : *@



<table cellspacing="0" cellpadding="0" border="0" width="30%">

     <br />
   
    <tr class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;Add Color</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label >Name</label></td>
        <td>
            <input  class="input-large validate[required,funcCall[CheckColorDuplicate]" data-bind="value: data.ColorName" type="text" placeholder="Color Name" id="ColorName" maxlength="30"/></td>
</tr>
    <tr>
        <td>&nbsp;</td>
        <td >
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
