﻿@*//Name          : Screen Design for Material Indent -- Edit Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Shantha
//Date 	        : 19/08/2015
//Crh Number    : SL0038-SL0040
//Modifications : *@

<!--Hidden fields used only for data storage -->
<!-- Pk_Order -->

<input type="hidden" id="hidPkOrder" data-bind="value: data.Pk_Order" />

<!--Done Hidden Fields -->

<table cellspacing="0" cellpadding="0" border="0" width="50%">
    <tr class="formHeader">
       @* <a href="~/Views/MaterialIndent/_Edit.cshtml">~/Views/MaterialIndent/_Edit.cshtml</a>*@
        <td ><label class="formHeaderTag">&nbsp;&nbsp;Edit Material Indent</label></td>
        <td align="right"><button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td colspan="2" align="right"><div id="wfButtons"></div></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
   
    <tr>
        <td colspan="2">
            <div class="tabbable">
                <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs"  id="MyTab">
                    <li class="active"><a href="#tab1" data-toggle="tab">Indent Details</a></li>
                    <li><a href="#tab2" data-toggle="tab">Material</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <table>
                            <tr>
                                <td>
                                    <label>Material Indent Date</label></td>
                                <td>
                                    <input type="text" readonly id="dtPIndentDate" data-bind="value: data.MaterialIndentDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[orderDateValidate]] span2 input-medium" data-provide="datepicker" />
                                </td>




                            </tr>
                               @*  <tr>
                                <td>
                                    <label>User Name</label></td>
                                
                                 
                                         <td>    <input class="input-medium modelControl " data-bind="value: data.Fk_UserID" type="text" placeholder="UserID" id="txtID"  /></td>

                                 
                            </tr>*@
                          @*  <tr>
                                <td>
                                    <label>Branch</label></td>
                                <td>
                                    <select style="width: 35%" class="modelControl validate[required]" data-bind="options: Branch,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_Tanent"
                                         id="Fk_Tanent">
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label>Vendor</label></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td valign="top">
                                                <input class="input-large modelControl validate[required]" readonly data-bind="wgReferenceField: data.Fk_VendorId" type="text" placeholder="Vendor" id="txtFk_VendorId" />
                                            </td>
                                            <td valign="top">
                                                <button class="btn btn-primary"  id="cmdVendorSearch">Search</button>
                                            </td>
                                        </tr>
                                    </table>
                            </tr>*@

                            <tr>
                                <td>
                                    <label>Comments</label></td>
                                <td>
                                    <textarea rows="3" cols="3" data-bind="value: data.Comments" placeholder="Comments" id="txtComments" maxlength="500"/></td>
                            </tr>

                        </table>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div style="display: block;" id="divCreateMaterialIndent">
                            <table width="100%">
                              
                                <tr>
                                    <td>&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style:width="30%" valign="top">
                                        <label>Required Date</label>
                                    </td>
                                    <td>
                                        <input readonly type="text" id="dtRequiredDate" data-bind="value: data.RequiredDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[requiredDateValidate]] span2 datepicker input-medium" data-provide="datepicker" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style:width="30%" valign="top">
                                        <label>Customer Order</label>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <input class="input-medium modelControl " readonly data-bind="wgReferenceField: data.Fk_CustomerOrder" type="text" placeholder="Customer Order" id="txtCustomerOrder" />
                                                </td>
                                                <td valign="top">
                                                    <button class="btn btn-primary" id="cmdCustomerOrderSearch">Search</button>
                                                </td>
                                            </tr>
                                        </table>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <label>Material</label>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <input class="input-medium modelControl  " readonly data-bind="wgReferenceField: data.Fk_Material" type="text" placeholder="Material" id="txtMaterial" />
                                                </td>
                                                <td valign="top">
                                                    <button class="btn btn-primary" id="cmdMaterialSearch">Search</button>
                                                </td>
                                            </tr>
                                        </table>
                                </tr>
                                
                               <tr>
                                    <td valign="top">
                                        <label>Quantity</label>
                                    </td>

                                    <td align="top">
                                        <table>
                                            <tr>
                                                <td>
                                                    <input class="input-medium modelControl" data-bind="value: data.Quantity" type="text" placeholder="Quantity" id="Quantity" />


                                                </td>
                                                <td>

                                                    <input class="input-small" readonly data-bind="value: data.Unit" type="text" placeholder="Unit" id="Unit" />
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <table >
                            <tr>
                                <td style="text-align:center" colspan="2">
                                    <div id="divListContainer">
                                        <div style="padding-bottom: 5px">
                                            <button id="cmdMaterialIndent" type="submit">
                                                Save To List</button>
                                        </div>
                                        <div style="padding-bottom: 8px" id="divMaterialDetail">
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        
        <td colspan="2" style="text-align:center"><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate" >Save</button></td>
    </tr>
     
    <tr>
        <td colspan="2">
            <div id="wfTransDisplay">
            </div>
        </td>
    </tr>
</table>