﻿
<table cellspacing="0" cellpadding="0" border="0" width="80%">
    <tr class="formHeader">
        <td colspan='2'>
            <label class="formHeaderTag">&nbsp;&nbsp;Add Material Indent</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>
            <div class="tabbable">
                <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs" id="MyTab">
                    <li class="active"><a href="#tab1" data-toggle="tab">Indent Details</a></li>
                    <li><a href="#tab2" data-toggle="tab">Material</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <table>
                            @*<tr>
                                <td>  <label>Indent ID</label>  </td>
                                <td>
                                       <input class="input-medium modelControl"  type="text" placeholder="Indent ID" id="Pk_MaterialOrderMasterId"  /></td>
                                 
                                </tr>*@
                            <tr>
                                <td>
                                    <label>Material Indent Date</label></td>
                                <td>
                                    <input type="text" readonly id="dtPIndentDate" data-bind="value: data.MaterialIndentDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[orderDateValidate]] span2 input-medium" data-provide="datepicker" />
                                </td>
                            </tr>

                            @* <tr>
                                <td>
                                    <label>Branch</label></td>
                                <td>
                                    <select style="width: 55%" class="modelControl validate[required]" data-bind="options: Branch,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_Tanent"
                                        id="Fk_Tanent">
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label>Vendor</label></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td valign="top">
                                                <input class="input-large modelControl " readonly data-bind="wgReferenceField: data.Fk_VendorId" type="text" placeholder="Vendor" id="txtFk_VendorId" />
                                            </td>
                                            <td valign="top">
                                                <button class="btn btn-primary" id="cmdVendorSearch">Search</button>
                                            </td>
                                        </tr>
                                    </table>type="hidden" 
                            </tr>*@
                            @*    <tr>
                                <td>
                                    <label>User Name</label></td>
                                <td>
                                 <input class="input-large modelControl" placeholder="UserName" type="text" id="txtUName" readonly /></td>

                                         <td>    <input class="input-medium modelControl " data-bind="value: data.Fk_UserID" type="text" placeholder="UserID" id="txID"  /></td>

                                    <input id="sessionInput" class="input-large modelControl validate[required]" readonly data-bind="value:data.@ViewBag.UserRole" type="text" placeholder="User"  />

                            </tr>*@
                            <tr>
                                <td>
                                    <label>Comments</label></td>
                                <td>
                                    <textarea rows="3" cols="8" data-bind="value: data.Comments" placeholder="Comments" id="txtComments" maxlength="500" /></td>
                            </tr>

                        </table>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div id="divCreateMaterialIndent">

                            <table border="0" width="100%">
                             
                                <tr>
                                    <td>&nbsp;
                                                 

                                    </td>
                                    <td>
                                        <label>Customer Order</label></td>
                                    <td>&nbsp;
                                                 

                                    </td>
                                   <td>
                                        <label>Del. Date</label></td>
                                    <td>&nbsp;
                                                 

                                    </td>

                                      <td>
                                        <label>Required Date</label></td>
                                    <td>&nbsp;
                                                 

                                    </td>
                                    <td>
                                        <label>Material</label></td>
                                    <td>&nbsp;
                                                 

                                    </td>
                                   @* <td>
                                        <label>Vendor</label></td>
                                    <td>&nbsp;
                                                 

                                    </td>
                                    <td><label>Mill</label></td>
                                    <td>&nbsp;
                                                 

                                    </td>*@
                                    <td colspan="10"></td>

                                </tr>
                                <tr>
                                

                                    <td style:width="30%" valign="top"></td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <input class="input-medium modelControl " readonly data-bind="wgReferenceField: data.Fk_CustomerOrder" type="text" placeholder="Customer Order" id="txtCustomerOrder" />
                                                </td>
                                                <td valign="top">
                                                    <button class="btn btn-primary" id="cmdCustomerOrderSearch">Search</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                       <td style:width="30%" valign="top"></td>

                                    <td>
                                        <input readonly type="text" id="dtDelDate"/>
                                    </td>
                                        <td style:width="30%" valign="top"></td>

                                    <td>
                                        <input readonly type="text" id="dtRequiredDate" data-bind="value: data.RequiredDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[requiredDateValidate]] span2 datepicker input-medium" data-provide="datepicker" />
                                    </td>


                                    <td valign="top"></td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <input class="input-medium modelControl" readonly data-bind="wgReferenceField: data.Fk_Material" type="text" placeholder="Material" id="txtMaterial" />



                                                </td>
                                                <td valign="top">
                                                    <button class="btn btn-primary" id="cmdMaterialSearch">Search</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>

                                    <td style:width="30%" valign="top"></td>

                                   @* <td>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <input class="input-medium modelControl" readonly data-bind="wgReferenceField: data.Fk_Vendor" type="text" placeholder="Vendor" id="txtVendor" />
                                                </td>
                                                <td valign="top">
                                                    <button class="btn btn-primary" id="cmdVendorMSearch">Search</button>
                                                </td>

                                            </tr>
                                        </table>
                                    </td>
                                    <td style:width="30%" valign="top"></td>
                                    <td>
                                        <table>
                                            <tr>
                                            
                                                <td>
                                                       <input class="input-small" data-bind="value: data.Fk_Mill" readonly="" type="text" placeholder="Mill" id="txtMill" />
                                                    </td>
                                                 <td>
                                                       <input class="input-small" data-bind="value: data.Fk_Mill" readonly="" type="hidden" placeholder="Mill" id="Fk_Mill" />
                                                    </td>
                                            </tr>
                                        </table>
                                    </td>*@
                                </tr>
                                <tr>
                                      <td>&nbsp;
                                                 

                                    </td>
                                   <td><label>Shade</label></td>
                                    
                                     <td>&nbsp;
                                                 

                                    </td>
                                    <td>
                                        <label>Req.Qty</label></td>
                                    <td>&nbsp;
                                                 

                                    </td>
                                    <td>
                                        <label>Stk. Qty.</label></td>
                                   
                                   <td>&nbsp;
                                               <td> <label  style="visibility: hidden;" id="Qty"></label></td>   

                                    </td>
                                     <td>&nbsp;
                                                 

                                    </td>
                                    <td>
                                        <label>PO Pending Qty.</label></td>
                                    <td>&nbsp;
                                                 

                                    </td>
                                    <td>
                                        <label>Indent Qty.</label></td>
                                    <td>&nbsp;
                                                 

                                    </td>
                                   @* <td>
                                        <label>Mill</label></td>*@
                                    <td>&nbsp;
                                                 

                                    </td>
                                    <td colspan="10"></td>

                                </tr>





                                <tr>
                                    <td valign="top"></td>
                                    <td>
                                        <input class="input-small" data-bind="value: data.Shade" readonly="" type="text" placeholder="Shade" id="Shade" />

                                    </td>
                                    <td valign="top"></td>
                                    <td>
                                        <input class="input-small" data-bind="value: data.RQty" readonly="" type="text" placeholder="RQty" id="RQty" />

                                    </td>
                                    <td valign="top"></td>
                                    <td>
                                        <input class="input-small" data-bind="value: data.RSQty" readonly="" type="text" placeholder="SQty" id="SQty" /> </td>

                                        
                                 <td valign="top"></td>  
 <td><input class="input-small" data-bind="value: data.ShrtQty" readonly="" type="hidden" placeholder="Shrotage Qty" id="ShrtQty" />  </td>

                                  
            <td>&nbsp;
                                                 

                                    </td>
                                    <td>
                                        <input class="input-small" data-bind="value: data.POQty" readonly="" type="text" placeholder="PO Qty" id="POQty" />

                                    </td>
                                    <td valign="top"></td>

                                    <td align="top">
                                        <table>
                                            <tr>
                                                <td>
                                                    <input class="input-medium modelControl" data-bind="value: data.Quantity" type="text" placeholder="Quantity" id="Quantity" />

                                                </td>
                                                <td>

                                                    <input class="input-small" readonly data-bind="value: data.Unit" type="text" placeholder="Unit" id="Unit" /></td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>

                            </table>
                            
                            
                            
                            
                             </div>

                        <table width="80%">
                            <tr>
                                <td align="center">
                                    <div id="divListContainer">
                                        <div style="padding-bottom: 5px">
                                            <button id="cmdMaterialIndent" type="submit">
                                                Save To List</button>
                                        </div>
                                        <div style="padding-bottom: 8px" id="divMaterialDetail">
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
              
                    
                    
                      </div>
            </div>
        </td>
    </tr>

    @*    <tr>
        <td>&nbsp;</td>
    </tr>*@
    <tr>
        @* / <td>&nbsp;</td>*@
        <td colspan="2" style="text-align: center">
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>




    <tr>

         <td style:width="100%" align="left">
                                        <table border="0" cellpadding="10" cellspacing="10" width="70%">
                                            <tr>
                                                @*<td align="right">
                        <button type="submit" class="btn" id="cmdAddSchedule">Add Schedule</button></td>*@
                                            </tr>
                                            <tr>
                                                <td rowspan="5">
                                                    <div id="divDeliveryschedule"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
       
             <td style:width="100%">
                                        <table border="0" cellpadding="10" cellspacing="10" width="100%">
                                            <tr>
                                                @*<td align="right">
                        <button type="submit" class="btn" id="cmdAddSchedule">Add Schedule</button></td>*@
                                            </tr>
                                            <tr>
                                                <td rowspan="5">
                                                    <div id="divPODet"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>

    </tr>
</table>
