﻿@*//Name          : Screen Design for Material Indent -- Search Mode(HTML)
//Description   : Search is done on the fields-Vendor name , Indentno and branch name
//Author        : shantha
//Date            :   19/08/2015
//CRH Number      :   SL0038-SL0040
//Modifications : *@


<table width="80%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="80%" align="center">
                    <tr>
                        <td>
                            <table>
                            <td align="center" valign="top">
                                <input type="text" id="IndentNumber" placeholder="Indent Number" class="input-medium search-query" /></td>
                        
                       
                        <td align="center" valign="top">
                            <input type="text" id="TxtFromDate" placeholder="From Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                        </td>
                        <td align="center" valign="top">
                            <input type="text" id="TxtToDate" placeholder="To Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                        </td>
                        <td align="center" valign="top">
                            <button type="submit" class="btn" id="LoadRecordsButton">
                                Search</button></td>
                        <td align="center" valign="top">
                            <button type="submit" style="width: 100%" class="btn" id="cmdNew">
                                Add Material Indent</button></td>
                    </tr>
                </table>
        </td>
    </tr>
    <tr>
        <td style="width: 40%" colspan="8">
            <label class="checkbox" style="width: 250px">
                <input type="checkbox" id="chkonlyPending" onchange="showOnlyPending()"><span class="metro-checkbox">Show
                                    Only Pending</span>
            </label>
        </td>
    </tr>
    <tr>
        <td colspan="8">
            <div id="MainSearchContainer">
            </div>
        </td>
    </tr>
</table>
</div>
        </td>
    </tr>
</table>
