﻿
@*//Name          : Screen Design for Paper -- New Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : shantha
//Date 	        : 07/08/2015
//Crh Number    : SL0005
//Modifications : *@


<table cellspacing="0" cellpadding="0" border="0" width="30%">
     <tr>
       @* <td><label>Paper Name</label></td>*@
        <td><input class="input-large modelControl" style="visibility:hidden" type="text" data-bind="value: data.Name" placeholder="Paper Name" id="PaperName" maxlength="150"/></td>
    </tr>
    <tr class="formHeader">
        <td><label class="formHeaderTag">&nbsp;&nbsp;Add Paper</label></td>
        <td align="right"><button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
   
      <tr>
        <td><label>Part No.</label></td>
        <td><input class="input-large modelControl" data-bind="value: data.PartNo" type="text" placeholder="PartNo" id="PartNo" maxlength="50"/> </td>
    </tr>

     <tr>
        <td><label>Mill</label></td>
        <td> <select class="modelControl validate[required]",onchange="C()" data-bind="options: Mill,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_Mill"
                id="MILL">
            </select></td>
    </tr>
    <tr>
        <td><label>Paper Type</label></td>
        <td> <select class="modelControl validate[required]" data-bind="options: PaperType,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_PaperType"
                id="PaperType">
            </select></td>
    </tr>
    <tr>
        <td><label>Color</label></td>
        <td>
           <select class="modelControl" data-bind="options: Color,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_Color"
                id="CommunicationType">
            </select></td>
    </tr>
     <tr>
        <td><label>Deckle</label></td>
        <td><input class="input-large modelControl validate[custom[number]]" data-bind="value: data.Deckle" type="text" placeholder="Deckle" id="Deckle"/></td>
    </tr>
     <tr>
        <td><label>GSM</label></td>
        <td><input class="input-large modelControl validate[required,custom[number]]" data-bind="value: data.GSM" type="text" placeholder="GSM" id="GSM"/></td>
    </tr>
     <tr>
        <td><label>BF</label></td>
        <td><input class="input-large modelControl validate[required,custom[number]]" data-bind="value: data.BF" type="text" placeholder="BF" id="BF"/></td>
    </tr>
         <tr>
        <td><label>Cut Length</label></td>
        <td><input class="input-large modelControl" data-bind="value: data.Length" type="text" placeholder="Cut Length" id="Length"/></td>
    </tr>

    <tr>
        <td><label>Description</label></td>
            <td><textarea rows="3" class="input-large modelControl" type="text" data-bind="value: data.Description" placeholder="Description" id="Description" maxlength="250"/></textarea></td>
    </tr>
    @*<tr>
        <td><label>Unit</label></td>
        <td> <select class="modelControl validate[required]" data-bind="options: Unit,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_UnitId"
                id="Fk_UnitId">
            </select></td>
    </tr>*@



      <tr>
        <td><label>Moisture</label></td>
        <td><input class="input-large modelControl validate[custom[number]]" data-bind="value: data.Moisture" type="text" placeholder="Moisture" id="Moisture"/></td>
    </tr>
       <tr>
        <td><label>Min.Qty</label></td>
        <td><input class="input-large modelControl validate[custom[number]]" data-bind="value: data.Min_Value" type="text" placeholder="Min.Qty" id="Min_Val"/></td>
    </tr>
      <tr>
        <td><label>Max.Qty</label></td>
        <td><input class="input-large modelControl validate[custom[number]]" data-bind="value: data.Max_Value" type="text" placeholder="Max.Qty" id="Max_Val"/></td>
    </tr>

     <tr>
        <td>&nbsp;</td>
        <td><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate" >Save</button></td>
    </tr>
</table>