﻿<table style="width:100%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" style="width: 100%">
                    <tr>
                        <td>
                            <input type="text" id="TxtPaperType" placeholder="Paper Type" class="input-medium search-query" />
                            <input type="text" id="TxtPaperName" placeholder="Paper Name" class="input-medium search-query" />
                            <input type="text" id="TxtPaperColour" placeholder="Paper Color" class="input-medium search-query" />                           
                          
                            <input type="text" id="TxtPaperDeckle" placeholder="Deckle" class="input-medium search-query" />
                              <input type="text" id="TxtPaperGSM" placeholder="GSM" class="input-medium search-query" />
                              <input type="text" id="TxtPaperBF" placeholder="BF" class="input-medium search-query" />
                            <input type="text" id="TxtPaperMill" placeholder="Mill" class="input-medium search-query" />


                            <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                            <button type="submit" class="btn" id="cmdNew">Add Paper</button></td>
                    </tr>
            <tr>
                <td></td>
            </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td >
            <div id="MainSearchContainer"></div>
        </td>
    </tr>
</table>
</div>
            
        </td>
    </tr>
</table>