﻿@*//Name          : Screen Design for unit -- Search Mode(HTML)
//Description   : Search is done on the fields-unit name , unit type and unit id
//Author        : shantha
//Date 	        : 07/08/2015
//Crh Number    : SL0003
//Modifications : *@


<table width="80%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="70%" align="center">
                    <tr>
                        <td>
                        <input type="text" id="TxtPkUnit" placeholder="Unit ID" class="input-large search-query"/>
                        <input type="text" id="TxtUnitName" placeholder="Unit Name" class="input-large search-query"/>
                        <input type="text" id="TxtUnitType" placeholder="Unit Type" class="input-large search-query"/>
                        <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                        <button type="submit" class="btn" id="cmdNew" >Add Unit</button>
                        </td>
                    </tr>
                    <tr><td></td></tr>
        <tr><td></td></tr>
                    <tr>
                        <td colspan="2"><div id="MainSearchContainer"></div></td>
                    </tr>
                </table>               
            </div>
            
        </td>
    </tr>
</table>