﻿<table cellspacing="0" cellpadding="0" border="0" width="80%">
    <br />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;Add Job Card</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
  

    <tr align="center">
        <td valign="top">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="MyTab">
                    <li class="active"><a href="#tab1" data-toggle="tab">JC Details</a></li>

                    <li><a href="#tbDocument" data-toggle="tab"></a></li>
                </ul>
                <div class="tab-content" style="height:900px">
                    <div class="tab-pane active" id="tab1">
                        <table border="0" width="90%">


                            <tr>
                                <td colspan="30">
                                    <table border="0">
                                        @*   <colgroup>
                                            <col style="width: 40%" />
                                            <col style="width: 40%" />
                                            <col style="width: 40%" />
                                            <col style="width: auto" />
                                        </colgroup>*@
                                        <tr>
                                            <td colspan="30">&nbsp;</td>
                                            <input class="input-mini modelControl" type="hidden" readonly="" placeholder="BoxType" id="BoxType" />
                                            <input class="input-mini modelControl" type="hidden" readonly="" placeholder="BoxID" id="BoxID" />
                                            <input class="input-mini modelControl" readonly="" data-bind="value: data.Fk_Schedule" type="hidden" placeholder="SchID" id="Fk_Schedule" />

                                            <input class="input-medium modelControl" data-bind="value: data.Printing" type="hidden" placeholder="Printing" id="PrintVal" />

                                            <input class="input-medium modelControl" data-bind="value: data.DPRSc" type="hidden" placeholder="DPRSc" id="DPRScVal" />


                                            <input class="input-large modelControl" readonly data-bind="value: data.Fk_Enquiry" type="hidden" placeholder="Fk_Enquiry" id="Fk_Enquiry" />



                                        </tr>
                                        <tr>
                                            <td>
                                                <input class="input-medium modelControl" readonly data-bind="value: data.PName" type="hidden" placeholder="PName" id="PName" style="font-weight: bold" /></td>
                                        </tr>
                                        <tr>

                                            <td colspan="30"></td>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label>Card Date</label></td>
                                <td>
                                    <input type="text" readonly id="dtJCDate" data-bind="value: data.JDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[orderDateValidate]] span2 input-mini" data-provide="datepicker" />
                                </td>
                                <td>
                                    <label>Order No</label></td>
                                <td>
                                    <input class="input-medium modelControl" readonly data-bind="value: data.Fk_Order" type="text" placeholder="Order No" id="Fk_Order" />
                                </td>
                                <td valign="top">
                                    <button class="btn btn-primary" id="cmdOrderMSearch">Search</button>
                                </td>
                                <td>
                                    <input class="input-medium modelControl" readonly data-bind="value: data.PartID" type="hidden" placeholder="PartID" id="PartID" />
                                </td>

                                  <td>
                                    <label>Converter</label></td>
                                <td>
                                       <input class="input-large modelControl" readonly="" data-bind="wgReferenceField: data.Fk_Vendor" type="text" placeholder="Converter" id="Fk_Vendor" />
                                </td>
                                <td valign="top">
                                    <button class="btn btn-primary" id="cmdVendorSearch">Search</button>
                                </td>
                                <td>
                                    <input class="input-medium modelControl" readonly data-bind="value: data.PartID" type="hidden" placeholder="PartID" id="PartID" />
                                </td>
                            </tr>

                            <tr>

                                <td>
                                    <label>Customer</label></td>
                                <td>
                                    <input class="input-medium modelControl" type="text" readonly placeholder="Customer" id="txtfk_Customer" />
                                </td>

                                <td>
                                    <label>Cust.PO No.</label></td>
                                <td>
                                    <input class="input-medium modelControl" readonly data-bind="value: data.Cust_PO" type="text" placeholder="PO" id="PO" /></td>

                                <td>
                                    <label>Sch. Qty</label></td>
                                <td>
                                    <input class="input-mini modelControl validate[custom[number]]" readonly data-bind="value: data.Quantity" type="text" placeholder="Quantity" id="POQuantity" /></td>

                                <td>
                                    <label>Change Ups</label></td>
                                <td>
                                    <label>
                                        <input type="checkbox" id="chkChkQuality1" data-bind="checked: data.ChkQuality1" />
                                        0.5
                                    </label>
                                </td>
                                <td>
                                    <label>Inter-Change L&W</label></td>
                                <td>
                                    <label>
                                        <input type="checkbox" id="chkChkQuality2" data-bind="checked: data.ChkQuality2" />
                                    </label>
                                </td>
                                <td>
                                    <input class="input-mini modelControl validate[custom[number]]" readonly="" data-bind="value: data.PieceReq" type="hidden" placeholder="" id="PieceReq" /></td>
        </td>
    </tr>
    <td>

        <label>Box Name</label></td>

    <td>
        <input class="input-medium modelControl" readonly="" data-bind="wgReferenceField: data.Fk_BoxID" type="text" placeholder="Box Name" id="Fk_BoxID" /></td>

    <td>
        <label>Length</label>
        <input class="input-mini modelControl" type="text" readonly="" placeholder="Length" id="Length" /></td>

    <td>
        <table>

            <td>

                <label>Width</label><input class="input-mini modelControl" type="text" readonly placeholder="Width" id="Width" />
            </td>

            <td>
                <label>Height</label><input class="input-mini modelControl" type="text" readonly placeholder="Height" id="Height" />
            </td>


        </table>
    </td>
    <td>
        <table>
            <td>
                <label>Brd.Area</label>
                <input class="input-mini modelControl" type="text" readonly placeholder="BoardSize" id="BoardSize" /></td>


        </table>
    </td>
    <td>
        <table>
            <td>
                <label>Deckle</label>
                <input class="input-mini modelControl" type="text" readonly placeholder="Deckle" id="Deckle" />
            </td>

            <td>
                <label>Cutg.Size</label><input class="input-mini modelControl" data-bind="value: data.CutLength" type="text" readonly placeholder="Cutg.Size" id="CuttingSize" />
            </td>
        </table>


    </td>


    <td>
        <table>
            <td>
                <label>Ply</label><input class="input-mini modelControl" type="text" readonly placeholder="Ply" id="Ply" />
            </td>
        </table>
    </td>
    <td>
        <table>
            <td>
                <label>Mac.Dec.</label><input class="input-mini modelControl" data-bind="value: data.Machine" type="text" onchange="MDEckCalc(this)" placeholder="Mac.Dec" id="MDeckel" />
            </td>
            <td>
                <label>Ups</label>
                <input class="input-mini modelControl" data-bind="value: data.UpsVal" type="text" placeholder="Ups" id="Ups" /></td>
        </table>
    </td>






    <tr>

        <td>
            <label>Printing</label></td>
        <td>

            <select style="width: 95%" class="modelControl validate[required]" data-bind=" value: data.Printing" id="Printing" onchange="PrintChange(this);">
                <option value="0">Select</option>
                <option value="1">OFFSET</option>
                <option value="2">FLEXO</option>
                <option value="3">PLAIN</option>
            </select>
        </td>

        <td>
            <label>Printing Color</label></td>

        <td>
            <input class="input-medium modelControl" data-bind="value: data.PColor" type="text" placeholder="P.Color" id="PColor" maxlength="45" /></td>
        <td>
            <label>Printing Details</label></td>

        <td>
            <input class="input-medium modelControl" data-bind="value: data.PDetails" type="text" placeholder="P.Details" id="PDetails" maxlength="150" /></td>
        <td>
            <label>MFG Joint Placement</label></td>

        <td>
            <input class="input-medium modelControl" data-bind="value: data.MFG" type="text" placeholder="MFG" id="MFG" maxlength="50" /></td>
   
    <tr>
        <td>
            <label>Die Punch/RSC</label></td>

        <td>
            <select style="width: 95%" class="modelControl validate[required]" data-bind=" value: data.DPRSc" id="DPRSc" onchange="DPChange(this);">
                <option value="0">Select</option>
                <option value="1">Die Punch</option>
                <option value="2">RSC</option>

            </select>
        </td>

        <td>
            <label>Calico</label></td>
        <td>
            <label>
                <input type="checkbox" id="chkCalico" data-bind="checked: data.Calico" />
                Calico
            </label>
          @*  <label>
                <input type="checkbox" id="chkStitch" data-bind="checked: data.Stitching" />
                Gumming
            </label>*@

        </td>
        <td>
            <label>Prod.Qty</label></td>

        <td>
            <input class="input-medium modelControl validate[required]" data-bind="value: data.TotalQty" type="text" placeholder="Prod. Qty" id="TQty" maxlength="5" />
             <td>
            <label>Moisture(%)</label></td>

        <td>
            <input class="input-medium modelControl" data-bind="value: data.Corrugation" type="text" placeholder="Moisture" id="Corrugation" maxlength="5" />

        </td>

    </tr>
    <tr>
        <td>
            <label>Spl.Instructions</label></td>
       <td>
                                    <textarea class="input-large modelControl" type="text" data-bind="value: data.Others"
                                        placeholder="Spl.Instructions" id="Others" maxlength="489" /></td>
    </tr>

</table>




<tr>
    <td>
        <table border="0" cellpadding="0" cellspacing="0" width="70%">

            <tr>
                <td>
                    <div id="divPaperStock"></div>
                </td>
               
            </tr>
        </table>

    </td>


 @*   <td colspan="5">
        <div id="divListContainer"> 
            <div style="padding-bottom: 8px" id="tlbMaterials">
            </div>
                  <div id="tabMain">
            <table id="listMain" border="1" cellspacing="0px" cellpadding="2px" text-align="left">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th style='display:none;'>Fk_Material</th>
                        <th style='display:none;'>Fk_PaperStock</th>
                        <th>Reel No</th>
                        <th>Qty</th>
                    </tr>

                </thead>
                <tbody>
                </tbody>

            </table>

          </div>           
        </div>
    </td>
        <td colspan="2" valign="top">
        <div id="Sumry">
            <table id="listSumry" border="1" cellspacing="0px" cellpadding="2px" text-align="center">
                <thead>
                    <h3>    Summary</h3>
                    <tr>
                        <th>Name</th>
                        <th>Qty</th>
                    </tr>

                </thead>
                <tbody>
                    <tr></tr>
                </tbody>

            </table>

          </div>           
            </td>*@

</tr>


                    <div class="tab-pane" id="tbDocument" style="height: 10px">
                        <table>
                            <div id="dropzone">
                                <div id="file" class="dropzone dz-clickable">
                                </div>
                                <tr>
                                    <td></td>
                                    </tr>
                                <tr>
                                    <td></td>
                                    </tr>
                                
                                <tr>
                                    <td></td>
                                    </tr>
                                
                                <tr>

                                    <td align="center">

                                        <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>

                                </tr>

                            </div>
                        </table>

                    </div>


                @*</div>
*@
            </div>

        </td>
    </tr>

</table>




