﻿<table width="80%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="80%">
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td valign="top">
                          <input type="text" id="txtRepName" placeholder="Rep.Name" class="input-large search-query" />
                            </td>
                        </tr>
                    <tr>
                        <td valign="top">
                            <input type="text" id="TxtFromDate" placeholder="From Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                        </td>
                        <td valign="top">
                            <input type="text" id="TxtToDate" placeholder="To Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                        </td>
                         <td valign="top">
                          <input  id="txtString" type="text" readonly="" placeholder="" class="input-large search-query" />
                            </td>
                        <td valign="top">
                            <button class="btn btn-primary" id="cmdSearch">Display Report</button>
                             
                          </td>
                         @*  <tr>
                 <td colspan="2">
                            <div id="BranchContainer"></div>
                        </td>
                    </tr>*@
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="MainSearchContainer"></div>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
    </tr>
</table>
