﻿

@*//Name          : Screen Design for Payment to Vendor -- New Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : shantha
//Date 	        : 26/10/2015
//Crh Number    : SL0003
//Modifications : *@

<table cellspacing="0" cellpadding="0" border="0" width="40%">

    <br />
    <tr  class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;Add Payment</label></td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>


    <tr>
        <td>&nbsp;</td>
    </tr>


   
      <tr>
        <td><label>Vendor</label></td>
        <td><select style ="width:50%" class="modelControl validate[required]" data-bind="options: Vendor,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_Vendor" id="Fk_Vendor"></select>
       </td>
    </tr>


    <tr>
        <td>
            <label>Amount</label></td>
        <td>
            
          <input class="input-large validate[custom[onlyNumberSp]]" data-bind="value: data.Amount" type="text" placeholder="Amount" id="Amount" /></td>
        </tr>

     <tr>
        <td>
            <label>
                Cheque No
            </label>
            <td>
                <input class="input-large validate custom[number]," data-bind="value: data.ChequeNo" type="text" placeholder=" Cheque No" id="ChequeNo" /></td>
    </tr>


    <tr>
        <td>
            <label>Cheque Date</label>
        </td>
        <td>

            <input  style ="width:60%" type="text" readonly id="ChequeDate" data-bind="value: data.ChequeDate" data-date-format="dd/mm/yyyy" class=" span2 input-medium" data-provide="datepicker" />
        </td>
        </tr>

   <tr>
        <td>
            <label> Description</label></td>
        <td>
            <textarea class="input-large" data-bind="value: data.Description" type="Paper Description" placeholder=" Description" id="Description" maxlength="500" /></td>
    </tr>

    <tr>
        <td>
            <label>Bank Name</label></td>
        <td><select style ="width:50%" class="modelControl validate[required]" data-bind="options: Bank,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_Bank" id="Fk_Bank"></select>
       </td>
    </tr>


    
    <tr>
        <td>&nbsp;</td>
        <td colspan="3">
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
