﻿@*//Name          : index--Payment to vendor Screen
//Description   : Shows the Names Of the Layout,Javascript used.
                : wg tag refers to the Controller name    
//Author        : shantha
//Date 	        :26/10/2015
//Crh Number    : SL0002
//Modifications : *@


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
   
    <script src="~/Scripts/Application/PaymtOperations.js" type="text/javascript"></script>
    @*<script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyfrmConfigurator.js"></script>*@

    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>

    }
@section MainSection{
    <div id="divMainSection" wgpagetype="CRUD" wgtag="Paymt">
        <div id="divDataArea" align="center" style="padding-top: 5px"></div>
        <div id="divSearchArea" align="center"></div>
    </div>
}



   