﻿<div class="roundedDiv mainPartContainer" style="width: 1200px">
    <table width="100%" cellpadding="5">
        <tr>
            <td class="wgGradient">
                <label class="partHeader"></label>
            </td>
        </tr>
        <tr>
            <td>
                <table style="height: 100px" border="0" cellpadding="5" cellspacing="5" width="100%">
                    <tr>
                        <td align="center" valign="top">
                            <label>
                                Conv.Rate Rs.</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: convRate" type="text" onchange="CalcConvRate()" placeholder="Rs Per Kg" id="Conv" tabindex="85" /><br />
                              <label>
                                Conv.Value</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: convValue" type="text" placeholder="ConvRate" id="ConvRate" />
                        </td>
                          <td align="center" valign="top">
                            <label>
                                Rejection(%)</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: rejectionPercentage" type="text" onchange="CalcRejValue()" placeholder="Rej" id="Rej" tabindex="86" /><br />
                                <label>
                                Rej.Value</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: rejectionValue"
                                type="text" placeholder="Rejection" id="Rejection" />
                        </td>
                        <td align="center" valign="top">
                            <label>
                                GMargin(%)</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: gMarginPercentage" type="text" onchange="CalcGMarginValue()" placeholder="Marg" id="Marg" tabindex="87" /><br />
                              <label>
                                GM Value</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: gMarginValue" type="text" placeholder="Taxes" id="MargV" />
                        </td>
                          
                       @* <td align="center" valign="top">
                            <label>
                                Taxes(%)</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: taxesPercntage" type="text" placeholder="Tax" id="Tax" tabindex="87" /><br />
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: taxesValue" type="text" placeholder="Taxes" id="Taxes" />
                        </td>*@

                         <td align="center" valign="top">
                            <label>
                                CGST(%)</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: taxesPercntage" type="text" onchange="CalcEDValue()" placeholder="CGST" id="Tax" tabindex="88" /><br />
                               <label>
                                CGST Value</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                 data-bind="value: taxesValue" type="text" placeholder="CGST" id="Taxes" />
                        </td>
                       <td align="center" valign="top">
                            <label>
                                SGST(%)</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                  data-bind="value: VATPercentage" type="text" onchange="CalcVATValue()" placeholder="SGST" id="VAT" tabindex="89" /><br />
                              <label>
                                SGST Value</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: VATValue"  type="text" placeholder="SGST" id="VATV" />
                        </td>
                     <td align="center" valign="top">
                            <label>
                                IGST(%)</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                               data-bind="value: CSTPercentage"  type="text" onchange="CalcCSTValue()" placeholder="IGST" id="CST" tabindex="90" /><br />
                              <label>
                                IGST Value</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: CSTValue"   type="text" placeholder="IGST" id="CSTV" />
                        </td>
                      
                     <td align="center" valign="top">
                            <label>
                                Trans.%</label>
                                <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: TransportPercentage"
                                type="text"  onchange="CalcTransValue()" placeholder="Tran %" id="Transport" tabindex="91" /><br />
                            <label>
                                Trans.Value</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: transportValue"
                                type="text"  placeholder="Trans Amt" id="TransportValue" tabindex="92" />
                        </td>
                        <td align="center" valign="bottom">
                            <label>
                                Others</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: weightHValue"
                                type="text"  placeholder="WeightH" id="WeightH" tabindex="93" />
                        </td>
                       @* <td align="center" valign="bottom">
                            <label>
                                Handling Charges</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: handlingChanrgesValue" type="text"  placeholder="Handling" id="HCharges"
                                tabindex="94" />
                        </td>
                        <td align="center" valign="bottom">
                            <label>
                                Packing Charges</label>
                            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                                data-bind="value: packingChargesValue" type="text"  placeholder="Packing" id="PCharges"
                                tabindex="95" />
                        </td>*@
                    
                    
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
