﻿@{
    ViewBag.Title = "Index";
}
@section JavascriptImport {
    <script src="../../Content/bootmetro/js/bootmetro-pivot.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/Estimation/Estimation.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/Estimation/EstimationPart.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/Estimation/EstimationOperations.js" type="text/javascript"></script>

}

@section MainSection{
<table width="100%" cellpadding="5">
<tr>
    <td width="1%">&nbsp;</td>
<td>
<div id="pivot" class="pivot slide">
         <div class="pivot-headers">
            <a href="#pivot" data-pivot-index="0" class="active" id="Basic"></a>
            <a href="#pivot" data-pivot-index="1" id="Details"></a>
         </div>
         <div class="pivot-items">
            <div id="pivot-item-1" class="pivot-item active">
               <br />
               <h3></h3>
               <br />
               <table cellpadding="3" cellspacing="0" border="0" width="80%">
                   <tr>
                        <td><label></label></td>
                        <td><label></label></td>
                   </tr>
                   <tr>
                       <td><div class="circle"><b>&nbsp;</b></div></td>
                   </tr>
                   @*<tr>
                        <td><label></label></td>
                        <td>
                            <label class="radio">
                            <input type="radio" name="optionsRadios" id="typRSC" value="RSC"/>
                            <span class="metro-radio">RSC</span>
                            </label>
                            <label class="radio">
                            <input type="radio" name="optionsRadios" id="typCustom" value="Custom" checked/>
                            <span class="metro-radio">Custom</span>
                            </label>
                        </td>
                   </tr>*@
                   
                   <tr>
                        <td class="wgGradient" colspan="2"><label>Select Valid Parts</label></td>
                   </tr>
                   <tr>
                   <td colspan="2">
                        <table width="100%" border="0" id="shellSelection">
                        <tr>
                        <td>
                            <label class="checkbox inline">
                              <input class="ckhPart" type="checkbox" id="chkOuterShell" value="outerShell" data-bind="checked: outerShellYes"/>
                              <span class="metro-checkbox" style="width:100px">Outer Shell</span>
                            </label>
                        </td>
                        <td>
                            <label class="checkbox inline">
                              <input class="ckhPart" type="checkbox" id="chkLengthPartation" value="lenghtPartation" data-bind="checked: lenghtPartationYes"/>
                              <span class="metro-checkbox" style="width:200px">Length Partition</span>
                            </label>
                        </td>
                        <td>
                            <label class="checkbox inline">
                              <input class="ckhPart" type="checkbox" id="chkWidthPartation" value="widthPartation" data-bind="checked: widthPartationYes"/>
                              <span class="metro-checkbox" style="width:200px">Width Partition</span>
                            </label>
                        </td>
                         <td>
                            <label class="checkbox inline">
                              <input class="ckhPart" type="checkbox" id="chkPlate" value="plate" data-bind="checked: plateYes"/>
                              <span class="metro-checkbox" style="width:100px">Plate</span>
                            </label>
                        </td>
                        <td>
                            <label class="checkbox inline">
                              <input class="ckhPart" type="checkbox" id="chkCap" value="cap" data-bind="checked: capYes"/>
                              <span class="metro-checkbox" style="width:100px">Cap</span>
                            </label>
                        </td>
                                    <td>
                            <label class="checkbox inline">
                              <input class="ckhPart" type="checkbox" id="chkTop" value="topval" data-bind="checked: topYes" tabindex="11"/>
                              <span class="metro-checkbox" style="width:100px">Top</span>
                            </label>
                        </td>


   <td>
                            <label class="checkbox inline">
                              <input class="ckhPart" type="checkbox" id="chkBott" value="bottval" data-bind="checked: bottomYes" tabindex="13"/>
                              <span class="metro-checkbox" style="width:100px">Bottom</span>
                            </label>
                        </td>
                            
                                                <td>
                                                    <label class="checkbox inline">
                                                        <input class="ckhPart" type="checkbox" id="chkSleeve" value="sleeve" data-bind="checked: sleeveYes" tabindex="15" />
                                                        <span class="metro-checkbox" style="width: 100px">Sleeve</span>
                                                    </label>
                                                </td>
                        </tr>
                        <tr>
                        <td>
                           <input class="input-mini" type="text" placeholder="No.Of" id="txtOuterShell" data-bind="value: outerShell"/>
                        </td>
                        <td>
                            <input class="input-mini" type="text" placeholder="No.Of" id="txtLPartation" data-bind="value: lenghtPartation"/>
                        </td>
                        <td>
                            <input class="input-mini" type="text" placeholder="No.Of" id="txtWidthPartation" data-bind="value: widthPartation"/>
                        </td>
                        <td>
                            <input class="input-mini" type="text" placeholder="No.Of" id="txtPlate" data-bind="value: plate"/>
                        </td>
                        <td>
                            <input class="input-mini" type="text" placeholder="No.Of" id="txtCap" data-bind="value: cap"/>
                        </td>
                            <td>
                            <input class="input-mini" type="text" placeholder="No.Of" id="txtTop" data-bind="value: topval"/></td>
                             <td>
                            <input class="input-mini" type="text" placeholder="No.Of" id="txtBott" data-bind="value: bottval"/></td>

                              <td>
                                                    <input class="input-mini" type="text" placeholder="No.Of" id="txtSleeve" data-bind="value: sleeve" />
@*                                                    <label>Ply</label>
                                                    <input class="input-mini  validate[required]" type="text" placeholder="No.Of Ply" id="txtSleevePly" tabindex="16" />*@
                                                </td>
                        </tr>
                        </table>
                   </td>
                   </tr>
                   <tr>
                   <td colspan="2">
                       <button class="btn btn-primary" type="button" id="cmdPublish" style="float:right">Publish ></button>  
                       <a style="float:right">&nbsp;</a>
                       <button class="btn btn-primary" type="button" id="cmdNext" style="float:right">Next ></button> 
                   </td>
                   </tr>
               </table>

            </div>
            <div id="pivot-item-2" class="pivot-item">
               <h3>Estimation</h3>
               <table id="prtList" cellpadding="5" border="1" class="tlbEstmation"></table>
            </div>
         </div>
</div>
</td>
</tr>
</table>
}
<body>
<div id="estDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="lyrHeader">Layer Details</h3>
        </div>
        <table cellpadding="8" cellspacing="0" border="0" width="100%">
            <tr>
            <td align="center">
                <label>
                    GSM</label>
                <input class="input-mini UFields validate[funcCall[validateNumeric],required] "
                    data-bind="value: gsm" type="text"  placeholder="GSM" id="OGSM" tabindex="16" />
            </td>
            <td align="center">
                <label>
                    BF</label>
                <input class="input-mini UFields validate[funcCall[validateNumeric],required] "
                    data-bind="value: bf" type="text" placeholder="BF" id="OBF" tabindex="18" />
            </td>
            <td align="center">
                <label>
                    Color</label>
                <input class="input-mini UFields validate[funcCall[validateNumeric],required] "
                    data-bind="value: color" type="text" placeholder="Color" id="OColor" tabindex="21" />
            </td>
            <td align="center">
                <label>
                    Rate</label>
                <input class="input-mini UFields validate[funcCall[validateNumeric],required] "
                    data-bind="value: rate" type="text" placeholder="Rate" id="ORate" tabindex="21" />
                 <input class="input-mini UFields validate[funcCall[validateNumeric],required] "
                    data-bind="value: Rate" type="text" placeholder="Rate" id="ORate1" tabindex="21" />
                  
            </td>
          @*      <td align="center">
                <label>
                    Weight</label>
                <input class="input-mini UFields validate[funcCall[validateNumeric],required] "
                    data-bind="value: weight" type="text" placeholder="Weight" id="OWeight" tabindex="21" />
            </td>*@
            </tr>
            <tr>
                <td class="wgGradient" colspan="4">Copy Options</td>
            </tr>
            <tr>
                <td colspan="4">
                    <button class="btn btn-primary" id="cmdCopyAll" >Copy To All</button>
                    <button class="btn btn-primary" id="cmdCopyFluted" >Copy To Fluted</button>
                    <button class="btn btn-primary" id="cmdNonFluted" >Copy To NonFluted</button>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <table width="100%"><tr id="dlgCopyOptions"></tr></table>
                </td>
            </tr> 
           <tr>
                <td colspan="4" align="center">
                    <button class="btn btn-primary" id="cmdSaveLayers">Save</button>
                </td>
            </tr>
        </table>
     </div>

</body>