﻿
@*//Name          : Screen Design for Account Type -- Edit Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Shantha
//Date 	        : 26/10/2015
//Crh Number    : SL0002
//Modifications : *@


<table cellspacing="0" cellpadding="0" border="0" width="30%">
    <br />
   
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Account Type</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
     
 <tr>
        <td>
            <label>Bank Name</label></td>
        <td>
            <input class="input-large validate[required,custom[onlyLetterSp]" data-bind="value: data.BankName" type="text" placeholder="Bank Name " id="BankName" maxlength="50" /></td>
    </tr>
    <tr>
        <td>
            <label>Branch Name</label></td>
        <td>
            <input class="input-large validate[required,custom[onlyLetterSp]" data-bind="value: data.BranchName" type="text" placeholder="Branch Name " id="BranchName" maxlength="50" /></td>
    </tr>
    <tr>
        <td>
            <label>Account Name</label></td>
        <td>
            <input class="input-large validate[required,custom[onlyLetterSp]" data-bind="value: data.AccountName" type="text" placeholder="Account Name " id="AccountName" maxlength="50" /></td>
    </tr>
    <tr>
        <td>
            <label>Account Number</label></td>
        <td>
            <input class="input-large validate[required,custom[number]" readonly data-bind="value: data.AccountNumber" type="text" placeholder="Account Number " id="AccountNumber" maxlength="50" /></td>
    </tr>
    @*<tr>
        <td>
            <label>Account Type</label></td>
        <td>
            <select style="width: 85%" class="modelControl validate[required]" data-bind="options: AccType,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_AccountTypeID"
                id="Fk_AccountTypeID">
            </select>
        </td>

</tr>*@


    <tr>
        <td>
   
              <td ><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate" >Save</button></td>
    </tr>
</table>
