﻿
<table cellspacing="0" cellpadding="0" border="0" width="30%">

     <br />
   
    <tr class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;Add Die</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label>Name</label></td>
        <td>
            <input  class="input-large validate[required,funcCall[CheckDieDuplicate]" data-bind="value: data.Name" type="text" placeholder="Die Name" id="DieName" maxlength="30"/></td>
</tr>
    <tr>
        <td>&nbsp;</td>
        <td >
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
