﻿<table cellspacing="0" cellpadding="0" border="0" width="50%">
    <br />
    <tr style="width: 10%" class="formHeader">
        <td colspan="2">
            <label class="formHeaderTag">&nbsp;&nbsp;Edit Maintenance</label></td>
        <td colspan="2" align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
      <tr>
        <td><label>Machine</label></td>
        <td><select style ="width:50%" class="modelControl validate[required]" data-bind="options: Machine,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_Machine" id="Fk_Machine"></select>
       </td>
    </tr>
   @* <tr>
        <td>
            <label>State Name</label></td>
        <td>
          
              <input class="input-large validate[required,custom[onlyLetterSp],funcCall[CheckStateDuplicate]]" data-bind="value: data.StateName" type="text" placeholder="State Name" id="StateName" maxlength="50" /></td>
    </tr>*@

   <tr>
        <td>
            <label>From Date</label>
        </td>
        <td>

            <input type="text"  id="FromDate" style ="width:50%" data-bind="value: data.FromDate" data-date-format="dd/mm/yyyy" class="validate span2 input-medium" data-provide="datepicker" />
        </td>
        </tr>

    <tr>
        <td>
            <label>To Date</label>
        </td>
        <td>

            <input type="text"  id="ToDate" style ="width:50%" data-bind="value: data.ToDate" data-date-format="dd/mm/yyyy" class="validate span2 input-medium" data-provide="datepicker" />
        </td>
        </tr>

     <tr>
        <td>
            <label>Done By</label></td>
        <td>
          
              <input style ="width:50%" class="input-small" data-bind="value: data.DoneBy" type="text" placeholder="Done By" id="DoneBy" maxlength="50" /></td>
    </tr>

    <tr>
        <td>
            <label>Comments</label></td>
        <td>
          
              <input style ="width:50%" class="input-small" data-bind="value: data.Comments" type="text" placeholder="Comments" id="Comments" maxlength="50" /></td>
    </tr>




    <tr>
        <td>&nbsp;</td>
        <td colspan="3">
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
