﻿
@*//Name          : Screen Design for PaperType -- Edit Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Nagesh V Rao
//Date 	        : 07/08/2015
//Crh Number    : SL0009
//Modifications : *@



<table cellspacing="0" cellpadding="0" border="0" width="40%">
    <br />
    <tr  class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Paper Type</label></td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label> Name</label></td>
        <td>
            <input class="input-large validate[required]" readonly data-bind="value: data.PaperTypeName" type="text" placeholder="Name" id="PaperTypeName" maxlength="500" /></td>
        </tr>
    <tr>
        <td>
            <label> Description</label></td>
        <td>
            <textarea class="input-large" data-bind="value: data.PaperDescription" type="Paper Description" placeholder=" Description" id="PaperDescription" maxlength="500" /></td>
    </tr>
    
    <tr>
        <td>&nbsp;</td>
        <td >
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
