﻿@*//Name          : Screen Design for PaperTypeName -- Search Mode(HTML)
//Description   : Search is done on the fields- id(PaperID,PaperName)            
//Author        : Nagesh V Rao
//Date 	        : 07/08/2015
//Crh Number    : SL0009
//Modifications : *@


<table width="50%" cellpadding="5" cellspacing="0" border="0">


<br />
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="80%"  align="center">
                    <tr>
                        <td>
                             <input type="text" id="txtPaperID" placeholder="Paper ID" class="input-medium search-query"/>
                        <input type="text" id="txtPaperName" placeholder="Paper Type Name" class="input-medium search-query"/>
                            
                        <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                        <button type="submit" class="btn" id="cmdNew" >Add Paper Type</button>
                            @*<button type="submit" class="btn" id="cmdpdf" >New pdf</button>*@
                        </td>
                    </tr>
                    <tr><td></td></tr>
        <tr><td></td></tr>
                    <tr>
                        <td colspan="2"><div id="MainSearchContainer"></div></td>
                    </tr>
                </table>               
            </div>
            
        </td>
    </tr>
</table>