﻿<table width="80%" cellpadding="5" cellspacing="0" border="0">
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="80%">
                    <tr>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                        <td colspan="2">


                        <input type="text" id="txtPKMaterial" placeholder="PKMAt" class="input-mini search-query" />


                            <input type="text" id="txtMaterialName" placeholder="Paper Name" class="input-mini search-query" />
                            <input type="text" id="txtGSM" placeholder="GSM" class="input-mini search-query" />
                            <input type="text" id="txtBF" placeholder="BF" class="input-mini search-query" />
                            <input type="text" id="txtDeckel" placeholder="Deckel" class="input-mini search-query" />
                            <input type="text" id="txtColor" placeholder="Color" class="input-mini search-query" />           
                             <input type="text" id="txtMill" placeholder="Mill" class="input-mini search-query" />     
                            <input type="text" id="txtRollNo" placeholder="ReelNo" class="input-medium search-query" />     
                         <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                      @*   <button type="submit" class="btn" id="cmdPrint">Shade Wise</button>
                         <button type="submit" class="btn" id="cmdPrintMill">Mill Wise</button>
                         <button type="submit" class="btn" id="cmdPrintGSM">GSM Wise</button>
                        <button type="submit" class="btn" id="cmdPrintBF">BF Wise</button>
                         <button type="submit" class="btn" id="cmdPrintDeck">Deckle Wise</button>
                           *@

                        


                         <button type="submit" class="btn" id="cmdPrintAll">Stock List</button>


                         

        @* <button type="submit" class="btn" id="cmdPrintGYT">GYT.Stock List</button>
         <button type="submit" class="btn" id="cmdPrintNAT">NAT.Stock List</button></td>        *@   
         </tr>
                    
                    <tr>
                        <td>
                            
                             <input type="text" id="txtPkPStock" placeholder="PK_PStock" class="input-mini search-query" />
                             <input type="text" id="txtstock" placeholder="stock" class="input-mini search-query" />
                              <input type="text" id="txtcust" placeholder="customer" class="input-mini search-query" />
                              <input type="hidden" id="txtcustID" placeholder="customer" class="input-mini search-query" />

       <button type="submit" class="btn" id="cmdInsert">Insert</button>
                             <button type="submit" class="btn" id="cmddelete">Delete</button>
                            <button type="submit" class="btn" id="cmdUpdate">Update</button>
                            
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div id="MainSearchContainer"></div>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
    </tr>
</table>
