﻿   @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section JavascriptImport {
  
    
    <script src="~/Scripts/Application/JWStockListOperations.js" type="text/javascript"></script>
}

@section MainSection{
<div id="divMainSection" wgPageType="CRUD" wgTag="JWStockList">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
  <div id="divSearchArea" align="center"></div>
    </div>
    }
<h2>Index</h2>
