﻿@*//Name          : Screen Design for a customer detail modal dialog in Material Indent -- New Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : CH . V. N Ravi Kumar
//Date 	        : 10/09/2015
//Crh Number    : SL00060
//Modifications : *@




<div style="display: block;" id="searchCustomerDialog" tabindex="100" style="width: 900px; height: 500px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchOrderHeader"></h3>
    </div>
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
                <table>
                    <tr>
                        <td valign="top">
                            <input type='text' id='txtdlgOrderCustomerName' placeholder='Customer Name' class='input-large search-query' />
                        </td>
                        <td valign="top">
                            <input type='text' id='txtdlgOrderNo' placeholder='Order Number' class='input-large search-query' />
                        </td>
                        <td valign="top">
                            <input type='text' id='txtdlgOrderFromDate' placeholder='Order Date' data-date-format='dd/mm/yyyy' class='span2 input-medium' data-provide='datepicker' />
                        </td>
                        <td valign="top">
                            <input type='text' id='txtdlgOrderToDate' placeholder='Order Date' data-date-format='dd/mm/yyyy' class='span2 input-medium' data-provide='datepicker' />
                        </td>
                        <td valign="top">
                            <button type="submit" class="btn" id="cmdOrderSearch">Search</button>
                        </td>
                        <td valign="top">
                            <button type="submit" class="btn" id="cmdOrderDone">Done</button>
                        </td>
                    </tr>
                </table>
                <br />

            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="OrderSearchContainer">
                </div>
            </td>
        </tr>
    </table>
</div>
