﻿@*Name        : Screen Design for Finished Goods -- New Mode(HTML)
Description   : Contains the Label,TextBox,ComboBox,Material Specification,File Upload and Delivery Schedule Definitions Required for the Screen               
Author        : CH.V.N.Ravi Kumar
Date 	      : 09/09/2015
Crh Number    : SL00060
Modifications : *@

<table cellspacing="0" cellpadding="3" border="0" width="70%">
    <input style="width: 75%; visibility: hidden;" class="input-large modelControl " data-bind="value: data.Joints" type="text" id="Joints" />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;Edit Finshed Goods</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>
    <tr align="center">
        <td valign="top">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tbCustomerDetails" data-toggle="tab">Customer Details</a></li>
                    <li><a href="#tbShippingDetails" data-toggle="tab">Shipping Details</a></li>
                </ul>
                <div class="tab-content" style="height: 350px">
                    <div class="tab-pane active" id="tbCustomerDetails">
                        <table style="width: 100%">
                            <tr>
                                <td>
                                    <label>
                                        Date</label>
                                </td>
                                <td>

                                    <input type="text" readonly id="dtFinishedDate" data-bind="value: data.FinishedDate" data-date-format="dd/mm/yyyy" class="validate[required] span2 input-medium" data-provide="datepicker" />
                                </td>
                                <td rowspan="4">
                                    @*<button type="submit" class="btn" id="cmdAddSchedule" hidden>Add Schedule</button>*@
                                    <div id="divDeliveryschedule"></div>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <label>
                                        Order No</label>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td valign="top">
                                                <input class="input-large modelControl" type="text" data-bind="value: data.Fk_Order"
                                                    placeholder="Order No" id="Fk_Order" readonly />
                                            </td>
                                            <td valign="top">
                                                <button class="btn btn-primary" id="cmdCustomerOrderSearch">Search</button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Customer</label>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td valign="top">
                                                <input class="input-large modelControl " readonly data-bind="wgReferenceField: data.Fk_Customer" type="text" placeholder="Customer" id="txtFk_Customer" />
                                            </td>
                                            <td valign="top">
                                                @* <button class="btn btn-primary" id="cmdCustomerSearch">Search</button>*@
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label>
                                        Product</label>
                                </td>
                                <td>

                                    <input class="input-large modelControl" type="text" data-bind="value: data.Product"
                                        placeholder="Product" id="Product" readonly />

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Quantity</label>
                                </td>
                                <td>
                                    <input class="input-large modelControl validate[required,custom[number]]" type="text" data-bind="value: data.Quantity"
                                        placeholder="Quantity" id="Quantity"
                                        maxlength="20" />
                                </td>

                            </tr>

                        </table>
                    </div>
                    <div class="tab-pane" id="tbShippingDetails" style="height: 350px">
                        <table cellspacing="0" cellpadding="0" border="0" style="width: 100%">
                            <br />


                            <tr>
                                <td>
                                    <label>First Name</label></td>
                                <td>
                                    <input style="width: 75%" class="input-large modelControl validate[required,custom[onlyLetterSp]]" data-bind="value: data.FirstName" type="text" placeholder="First Name" id="FirstName" maxlength="100" /></td>

                                <td>
                                    <label>Last Name</label></td>
                                <td>
                                    <input style="width: 75%" class="input-large modelControl validate[required,custom[onlyLetterSp]]" data-bind="value: data.LastName" type="text" placeholder="Last Name" id="LastName" maxlength="100" /></td>
                            </tr>


                            <tr>
                                <td>
                                    <label>Address</label></td>
                                <td>
                                    <textarea style="width: 75%" class="input-large modelControl validate[required]" data-bind="value: data.Address" type="text" placeholder="No. & Street" id="Address" maxlength="500" /></td>
                                <td>
                                    <label>City</label></td>
                                <td>
                                    <input style="width: 75%" class="input-large modelControl validate[required,custom[onlyLetterSp]]" data-bind="value: data.City" type="text" placeholder="City" id="City" maxlength="100" />
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <label>State</label></td>
                                <td>
                                    <input style="width: 75%" class="input-large modelControl validate[required,custom[onlyLetterSp]]" data-bind="value: data.State" type="text" placeholder="State" id="State" maxlength="100" />
                                </td>
                                <td>
                                    <label>PinCode</label></td>
                                <td>
                                    <input style="width: 75%" class="input-large modelControl validate[required,custom[number]]" data-bind="value: data.Pincode" type="text" placeholder="Pincode" id="Pincode" maxlength="50" /></td>

                            </tr>
                            <tr>
                                <td>
                                    <label>Country</label></td>
                                <td>
                                    <input style="width: 75%" class="input-large modelControl validate[required,custom[onlyLetterSp]]" data-bind="value: data.Country" type="text" placeholder="Country" id="Country" maxlength="100" />
                                </td>

                                <td>
                                    <label>Mobile</label></td>
                                <td>
                                    <input style="width: 75%" class="input-large modelControl validate[required,custom[number]]" data-bind="value: data.Mobile" type="text" placeholder="Mobile" id="Mobile" maxlength="50" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Tele Phone</label></td>
                                <td>
                                    <input style="width: 75%" class="input-large modelControl validate[required,custom[number]]" data-bind="value: data.Telephone" type="text" placeholder="Telephone" id="Telephone" maxlength="50" /></td>

                                <td>
                                    <label>Email</label></td>
                                <td>
                                    <input style="width: 75%" class="input-large modelControl validate[required,custom[email]]" data-bind="value: data.Email" type="text" placeholder="Email" id="Email" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Fax</label></td>
                                <td>
                                    <input style="width: 75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.Fax" type="text" placeholder="Fax" id="Fax" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <button type="submit" class="btn" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
