﻿@*Name        : Screen Design Finished Goods -- Search Mode(HTML)
Description   : Search is done on the fields- id,Customer Name,Date and Order Number
Author        : CH.V.N.Ravi Kumar
Date 	      : 08/09/2015
Crh Number    : SL00060
Modifications : *@

<table width="70%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td colspan="1">
                            <table>
                                <tr>
                                    <td align="center" valign="top">
                                        <input type="text" id="txtSearchFinishedGoodsId" placeholder="Id" class="input-large search-query" /></td>
                                    <td align="center" valign="top">
                                        <input type="text" id="txtSearchFinishedDate" placeholder="Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" />
                                    </td>
                                    <td align="center" valign="top">
                                        <input type="text" id="txtSearchCustomer" placeholder="Customer Name" class="input-large search-query" /></td>
                                    <td align="center" valign="top">
                                        <input type="text" id="txtSearchOrder" placeholder="Order No" class="input-large search-query" /></td>
                                    <td align="center" valign="top">
                                        <button type="submit" class="btn" id="LoadRecordsButton">Search</button></td>
                                    <td align="center" valign="top">
                                        <button type="submit" class="btn" id="cmdNew">Add Finished Goods</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                  @*  <tr>
                        <td>
                            <div id="radiobtns">
                                <table width="30%">
                                    <tr>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="open" name="Status" value="New" onchange="showOnlyOpen()" class="input-large search-query" /><span class="metro-radio">New</span>
                                            </label>

                                        </td>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="InProgress" name="Status" value="InProgress" onchange="showOnlyInProgress()" class="input-large search-query" /><span class="metro-radio">InProgress</span>
                                            </label>

                                        </td>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="Completed" name="Status" value="Completed" onchange="showOnlyCompleted()" class="input-large search-query" /><span class="metro-radio">Completed</span>
                                            </label>

                                        </td>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="Cancelled" name="Status" value="Cancelled" onchange="showOnlyCancelled()" class="input-large search-query" /><span class="metro-radio">Cancelled</span>
                                            </label>

                                        </td>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="closed" name="Status" value="Close" onchange="showOnlyClosed()" /><span class="metro-radio">Closed</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="all" name="Status" value=" " onchange="showAll()" checked /><span class="metro-radio">All</span>
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>*@
                    <tr>
                        <td>
                            <div id="MainSearchContainer"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
