﻿@*//Name        : Index--Finished Goods Screen
//Description   : Shows the Names Of the Layout,Javascript used.
                : wg tag refers to the Controller name    
//Author        : CH.V.N.Ravi Kumar
//Date 	        : 08/09/2015
//Crh Number    : SL00060
//Modifications :
 *@
@{
    ViewBag.Title = "Finished Goods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavascriptImport {
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/Application/FinishedGoods/FinishedGoodsOperations.js"></script>
    <script type="text/javascript" src="~/Scripts/Application/FinishedGoods/DeliveryScheduleItem.js"></script>
    <script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyConfigurator.js"></script>
}
@section MainSection{
    <div id="divMainSection" wgpagetype="CRUD" wgtag="FinishedGoods">
        <div id="divDataArea" align="center" style="padding-top: 5px"></div>
        <div id="divSearchArea" align="center"></div>
    </div>
}

<div id="searchDialog" class="modal hide fade" tabindex="100" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:700px; height:500px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader">Enquiry</h3>
    </div>
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
            <div id="dlgSearchFields">
            </div>
            <br />
            <button type="submit" class="btn" id="cmdSearch">Search</button>
            <button type="submit" class="btn" id="cmdDone">Done</button>
            </td>
        </tr>
        <tr>
        </tr>                    
        <tr>
            <td>
                <div id="MainSearhContainer">
                </div>
            </td>
        </tr>
    </table>
</div>
