﻿<table cellspacing="0" cellpadding="0" border="0" width="50%">

     <br />
   
    <tr class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;Add Parameter</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>

    <tr>
      
                                <td>
                                    <table>
                                              <tr>
                                <td>
                                    <label>
                                        Date</label>
                                </td>
                                                  <td>&nbsp;</td>
                                <td>

                                    <input type="text" readonly id="dtRDate" data-bind="value: data.RDate" data-date-format="dd/mm/yyyy" class="validate[required] span2 input-medium" data-provide="datepicker" />
                                </td>
</tr>
                                        <tr>
                                            <td>
                                    <label>Invno</label></td>
                                              <td>&nbsp;</td>
                                            <td valign="top">
                                                <input class="modelControl validate[required]" readonly data-bind="wgReferenceField: data.Fk_Invno" type="text" placeholder="Invno" id="Fk_Invno" tabindex="2" />
                                            </td>
                                            <td valign="top">
                                                <button class="btn btn-primary" id="cmdInvnoSearch">Search</button>
                                            </td>
                                            @*<td valign="top" style="width:100%">
                                                <button class="btn btn-primary" id="cmdNewCustomer">New</button>
                                            </td>*@

                                        </tr>
                                    </table>

</tr>

    <tr>
      

                                <td colspan="30">
                                    <table border="0">
                                        <tr>
@*<td><label>ParaID</label></td>*@
               <td>&nbsp;</td>                 
                                   
  <td>   <label>Parameter</label></td>

  <td>
                                                <label>UOM</label>
                                           </td>
                                            <td>
                                    <label>Specification</label></td>

  <td>
                                                <label>Result</label>
                                           </td>
                                            <td>
                                                <label>Remarks</label>
                                           </td>
                                            </tr>
                                        <tr>
                                             <td><input class="input-large modelControl" data-bind="value: data.ParaID" type="hidden" placeholder="ParaID" id="ParaID"/></td>
<td> <select class="modelControl", data-bind="options: Parameter,
    optionsCaption: 'Select',
    optionsText: 'Name',
    optionsValue: 'Id',
    value: data.Fk_ParaID"
                id="Parameter">
            </select></td>
                                               
                                              
                                                                                           <td><input class="input-large modelControl" data-bind="value: data.UOM" type="text" placeholder="UOM" id="UOM"/></td>

                                                  <td><input class="input-large modelControl" data-bind="value: data.Specification" type="text" placeholder="Specification" id="Specification"/></td>
      <td><input class="input-large modelControl" data-bind="value: data.Result" type="text" placeholder="Result" id="Result"/></td>
     <td><input class="input-large modelControl" data-bind="value: data.Remarks" type="text" placeholder="Result" id="Remarks"/></td>

                                        </tr>
                                            
                                         
       
       

         </table>
                                            </td>
        <td>
                            <input class="button" type="button" value=" Add " onclick="AddData()"></td>


                                        </tr>
                                   
     <tr>
        <td colspan="20">
            <table border="1" cellpadding="30px">
                <h3>COA Details</h3>
                <div id="data">
                </div>

                <div id="tab">
                    <table id="list" border="1" cellspacing="0px" cellpadding="2px" text-align="left">
                        <thead>
                            <tr>
                                <td>ID</td>
                                 <td>Para_Name</td>
                                <td>UOM</td>
                                <td>Specification</td>
                                <td>Result</td>      
                                 <td>Remarks</td>  
                               


                            </tr>

                        </thead>
                        <tbody>
                        </tbody>

                    </table>

                </div>

            </table>
        </td>

    </tr>



@*    <tr>

        <td>
            <table border="1">

    
        <td><label>Parameter</label></td>
        <td> <select class="modelControl", data-bind="options: Parameter,
    optionsCaption: 'Select',
    optionsText: 'Name',
    optionsValue: 'Id',
    value: data.Fk_ParaID"
                id="Parameter">
            </select></td>
    
                </table>
            </td>
    </tr>*@
    <tr>
        <td>&nbsp;</td>
        <td >
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
