﻿@*//Name          : Screen Design for HoneyComb -- New Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : shantha
//Date 	        : 07/08/2015
//Crh Number    : SL0005
//Modifications : *@


<table cellspacing="0" cellpadding="0" border="0" width="50%">
    <tr class="formHeader">
        <td colspan='2'>
            <label class="formHeaderTag">&nbsp;&nbsp;Material Inward</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;
        </td>
    </tr>
    </table>

  <table cellspacing="0" cellpadding="0" border="0" style="width:40%">
    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>
  

    <tr align="center">
        <td style="width: 50%" align="left">
            <label>Inward Date</label></td>
        <td colspan="2" align="left" style="width: 50%">
            <input type="text" readonly id="dtPInwardDate" data-bind="value: data.Inward_Date" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>

     
    <tr>
        <td>
            <label>
                PO No.</label>
        </td>
        <td>
            <input style="width: 55%" class="input-large modelControl" data-bind="value: data.PONo"
                type="text" placeholder="PO" id="TxtPO" readonly />
        </td>

    </tr>
      <tr>
         <td>
            <label>
                Pur.Inv.No.</label>
        </td>
        <td>
            <input style="width: 55%" class="input-large modelControl"  data-bind="value: data.Pur_InvNo" type="text" placeholder="PurInvNo" id="Pur_InvNo"  />
        </td>
          </tr>
      <tr>
          <td style="width: 50%" align="left">
            <label>Pur_InvDate</label></td>
        <td colspan="2" align="left" style="width: 50%">
            <input type="text" readonly id="dtPur_InvDate" data-bind="value: data.Pur_InvDate" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" style="width:40%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddMaterial" type="submit">
                        Add Material</button>
                </div>
                <div style="padding-bottom: 8px" id="tlbMaterials">
                </div>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
