﻿
<table cellspacing="0" cellpadding="0" border="0" style="width:40%">
    <br />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;Add Inward</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" style="width:40%">
    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>
  

    <tr align="center">
        <td style="width: 50%" align="left">
            <label>Inward Date</label></td>
        <td colspan="2" align="left" style="width: 50%">
            <input type="text" readonly id="dtPInwardDate" data-bind="value: data.Inward_Date" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>

  @*    <tr>
        <td>
            <label>
                QualityCheck No.</label>
        </td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                        <input class="input-large modelControl validate[required]" readonly data-bind="value: data.Fk_QC" type="text" placeholder="QualityCheck" id="txtQualityCheck" />
                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdQualitySearch">Search</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>*@
    <tr>
        <td>
            <label>
                Vendor</label>
        </td>
        <td>

            <table>
                <tr>
                    <td valign="top">
                        <input class="input-large modelControl" readonly="" data-bind="wgReferenceField: data.Fk_Vendor" type="text" placeholder="Vendor" id="Fk_Vendor" />

                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdVendorMSearch">Search</button>
                    </td>
                </tr>
                </table>
 
</tr>
      <tr>
        <td>
            <label>Customer</label></td>
        <td>
        <table>
            <tr>
        <td valign="top">
            <input class="input-large modelControl validate[required]" readonly data-bind="wgReferenceField: data.Fk_Customer" type="text" placeholder="Customer" id="txtfk_Customer" />  </td>
            @*<input class="input-large modelControl" data-bind="value: data.fk_Customer" type="text" placeholder="" id="CustID" /></td>*@
                <td valign="top"> 
             <button class="btn btn-primary" id="cmdCustomerSearch">Search</button>
                    </td>
                </tr>
            </table>
            </td>
    </tr>

     <tr>
         <td>
            <label>
                Pur.Inv.No.</label>
        </td>
        <td>
            <input style="width: 55%" class="input-large modelControl"  data-bind="value: data.Pur_InvNo" type="text" placeholder="PurInvNo" id="Pur_InvNo"  />
        </td>
         </tr>
    <tr>
          <td style="width: 50%" align="left">
            <label>Pur_InvDate</label></td>
        <td colspan="2" align="left" style="width: 50%">
            <input type="text" readonly id="dtPur_InvDate" data-bind="value: data.Pur_InvDate" data-date-format="dd/mm/yyyy" class="validate[required] span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" style="width:40%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddMaterial" type="submit">
                        Add Material</button>
                </div>
                <div style="padding-bottom: 8px" id="tlbMaterials">
                </div>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
