﻿@{
    ViewBag.Title = "Index";
    //Layout = null;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    //List<CogitoStreamLineModel.ideActivity> oActivities = ViewBag.Activities as List<CogitoStreamLineModel.ideActivity>;
    //CogitoStreamLineModel.DomainModel.ActivitiesRepository _oRep = ViewBag.Repository as CogitoStreamLineModel.DomainModel.ActivitiesRepository;
}



@*<div id="divMonthlySalesStatus" title="Sales Status">
    
</div>*@
