﻿<div class="roundedDiv mainPartContainer" style="width: 1000px">
    <table width="100%" cellpadding="5">
    <tr>
        <td class="wgGradient"><label class="partHeader"></label></td>
    </tr>
    @*<tr>
        <td>
            <table style="height:100px" border="0" cellpadding="5" cellspacing="5" width="100%">
            <tr>
            <td align="center" valign="top">
                    <label>
                        Conv.Rate</label>
                    <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                        data-bind="value: convRate" type="text" placeholder="Conv" id="Conv" tabindex="85" /><br />
                    <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                        data-bind="value: convValue" type="text" placeholder="ConvRate" id="ConvRate" />
                </td>
                <td align="center" valign="top">
                    <label>
                        GMargin(%)</label>
                    <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                        data-bind="value: gMarginPercentage" type="text" placeholder="Marg" id="Marg" tabindex="86" /><br />
                     <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                        data-bind="value: gMarginValue" type="text" placeholder="Taxes" id="Taxes" />
                </td>
                <td align="center" valign="top">
                    <label>
                        Taxes(%)</label>
                    <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                        data-bind="value: taxesPercntage" type="text" placeholder="Tax" id="Tax" tabindex="87" /><br />
                    <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                        data-bind="value: taxesValue" type="text" placeholder="Taxes" id="Taxes" />
                </td>
                <td align="center" valign="bottom">
                    <label>
                        Transport</label>
                    <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: transportValue"
                        type="text" placeholder="Transport" id="Transport" tabindex="88" />
                </td>
                <td align="center" valign="bottom">
                    <label>
                        Weight H</label>
                    <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: weightHValue"
                        type="text" placeholder="WeightH" id="WeightH" tabindex="89" />
                </td>
                <td align="center" valign="bottom">
                    <label>
                        Handling Charges</label>
                    <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                        data-bind="value: handlingChanrgesValue" type="text" placeholder="Handling" id="HCharges"
                        tabindex="90" />
                </td>
                <td align="center" valign="bottom">
                    <label>
                        Packing Charges</label>
                    <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                        data-bind="value: packingChargesValue" type="text" placeholder="Packing" id="PCharges"
                        tabindex="91" />
                </td>
                <td align="center" valign="top">
                    <label>
                        Rejection%</label>
                    <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                        data-bind="value: rejectionPercentage" type="text" placeholder="Rej" id="Rej" tabindex="92" /><br />
                    <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: rejectionValue"
                        type="text" placeholder="Rejection" id="Rejection" />
                </td>
            </tr>*@
            </table>
        </td>
    </tr>
    </table>
