﻿<input type="hidden" id="hidPkBox" data-bind="value: data.Pk_BoxID" />

<table cellspacing="0" cellpadding="0" border="0" width="40%">
    <br />
    <tr  class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context BoxMaster</label></td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
       <table>

            <tr>
        <td>
            <label>Customer Name</label></td>
        <td>
            <input class="input-medium validate[required]" data-bind="value: data.Customer" type="text" placeholder="Customer Name " id="CustomerName" maxlength="50" readonly  /></td>
   </tr>
           <tr>
        <td><label>Box Type</label></td>
        <td><select style ="width:50%" class="modelControl validate[required]" data-bind="options: BoxType,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_BoxType" id="Fk_BoxType"></select>
       </td>
    </tr>
    <tr>
        <td>
            <label>Box Name</label></td>
        <td>
            <input class="input-large modelControl validate[required]" data-bind="value: data.Name" type="text" placeholder="Box Name " id="Name" maxlength="500" readonly/></td>
    </tr>

         <tr>
        <td>
            <label>Description</label></td>
        <td>
            <textarea class="input-medium" data-bind="value: data.Description" type=" Description" placeholder=" Description" id="Description" maxlength="500" /></td>
    </tr>
    
    <tr>
    
        <td>
            <label>Part No.</label></td>
        <td>
            <input class="input-medium" data-bind="value: data.PartNo" type="text" placeholder="PartNo " id="PartNo" maxlength="50" readonly/></td>
     </tr>
     @*<tr>
        <td>
            <label>Ply</label></td>
        <td>
            <input class="input-medium validate[required,custom[number]]" data-bind="value: data.Ply" type="text" placeholder="Ply " id="Ply"/></td>
         
   </tr> 
                      *@ 

@*    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button> </td>
              <td ><button type="submit" class="btn cmdCreate" id="cmdBoxSpecs">
                           Box Specifications</button></td>
       
    </tr> *@

       </table>
    <table cellspacing="0" cellpadding="0" border="0" style="width:40%">
@*    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddMaterial" type="submit">
                        Add Paper</button>
                </div>
                <div style="padding-bottom: 8px" id="tlbMaterials">
                </div>
            </div>
        </td>
    </tr>*@
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button> </td>
        </tr>
</table>







   @* <tr>
        <td>&nbsp;</td>
        <td >
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
        <td ><button type="submit" class="btn cmdCreate" id="cmdBoxSpecs">
                           Box Specifications</button></td>

    </tr>*@
</table>
