﻿<table cellspacing="0" cellpadding="0" border="0" style="width: 40%">
    <br />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;Add Box</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" style="width: 40%">
    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>


</table>

<table>

     <tr>
        <td>
            <label>Customer</label></td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                        <input class="input-large modelControl  validate[required]" readonly data-bind="wgReferenceField: data.Customer" type="text" placeholder="Customer Name" id="Customer" />
                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdCustomerSearch">Search</button>
                    </td>


                </tr>
            </table>
    </tr>

    <tr>
        <td>
            <label>Box Type</label></td>
        <td>
            <select style="width: 50%" class="modelControl validate[required]" data-bind="options: BoxType,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_BoxType"
                id="Fk_BoxType">
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label>Flute Type</label></td>
        <td>
            <select style="width: 50%" class="modelControl validate[required]" data-bind="options: FluteType,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_FluteType"
                id="Fk_FluteType">
            </select>
        </td>
    </tr>
    
                            <tr>

                                <td>
                                    <label>Designed As Per</label></td>
                                <td>

                                    <select style="width: 50%" class="modelControl" data-bind=" value: data.AsPer" id="AsPer" onchange="DesignChange(this);">
                                        <option value="0">Select</option>
                                        <option value="1">Specs</option>
                                        <option value="2">Sample</option>
                                        <option value="3">Others</option>
                                    </select>
                                </td>
                                 <td><input class="input-medium" data-bind="value: data.AsPer" type="text" placeholder="AsPer " id="AsPerNo" maxlength="50" /></td>
                                </tr>
    <tr>
        <td>
            <label>Box Name</label></td>
        <td>
            <input class="input-large modelControl validate[required,funcCall[CheckBNameDuplicate]]" data-bind="value: data.Name" type="text" placeholder="Box Name " id="Name" maxlength="500" /></td>
    </tr>

    <tr>
        <td>
            <label>Description</label></td>
        <td>
            <textarea class="input-medium" data-bind="value: data.Description" type=" Description" placeholder=" Description" id="Description" maxlength="500" /></td>
    </tr>
   
    <tr>

        <td>
            <label>Part No.</label></td>
        <td>
            <input class="input-medium" data-bind="value: data.PartNo" type="text" placeholder="PartNo " id="PartNo" maxlength="50" /></td>
    </tr>
   @* <tr>
        <td>
            <label>Ply</label></td>
        <td>
            <input class="input-medium validate[required,custom[number]]" data-bind="value: data.Ply" type="text" placeholder="Ply " id="Ply" /></td>

    </tr>*@
</table>
<table cellspacing="0" cellpadding="0" border="0" style="width: 40%">
 @*   <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddMaterial" type="submit">
                        Add Paper</button>
                </div>
                <div style="padding-bottom: 8px" id="tlbMaterials">
                </div>
            </div>
        </td>
    </tr>*@
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
