﻿<table cellspacing="0" cellpadding="0" border="0" style="width: 50%">
    <br />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;Add Products</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
</table>
<tr></tr>
<table border="0" cellspacing="0" cellpadding="0" style="width: 50%">
    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <label>
                Del.Date: &nbsp&nbsp&nbsp&nbsp</label>
        </td>
        <td align="left">
            <input type="text" readonly id="dtDate" data-bind="value: data.Ret_Date" data-date-format="dd/mm/yyyy" class="validate[required] span2 input-medium" data-provide="datepicker" />
        </td>


        <tr>
            <td>
                <label>
                    Job Work No</label>
            </td>
            <td>

                <table>
                    <tr>
                        <td valign="top">
                            <input class="input-large modelControl" readonly="" data-bind="wgReferenceField: data.Fk_PJID" type="text" placeholder="Job Work No" id="Fk_PJID" />

                        </td>
                        <td valign="top">
                            <button class="btn btn-primary" id="cmdVendorMSearch">Search</button>
                        </td>
                    </tr>
                </table>
            </td>
              <tr>

        <td>
            <label>
                Prd.Name</label>
        </td>
        <td>
            <input class="input-large modelControl"  data-bind="value: data.ProductName" type="text" placeholder="Prd.Name" id="ProductName" />
        </td>

        </tr>
         @*    <tr>

        <td>
            <label>
                DC No.</label>
        </td>
        <td>
            <input class="input-large modelControl"  data-bind="value: data.DCNo" type="text" placeholder="DC No." id="DCNo" />
        </td>

        </tr>*@

            <tr>

                <td>
                    <label>
                        Description</label>
                </td>
                <td>
                    <textarea class="input-large modelControl" type="text" data-bind="value: data.Description"
                        placeholder="Description" id="Description" tabindex="2" />
                </td>


            </tr>
    <tr>

        <td>
            <label>
              Produced Items in Nos. </label>
        </td>
        <td>
            <input class="input-large modelControl"  data-bind="value: data.AppNos" type="text" placeholder="Expd.Nos." id="AppNos" />
        </td>

    @*    
          <td>
            <label>
               Wt. of Mat.Recd.</label>
        </td>
        <td>
            <input class="input-large modelControl"  data-bind="value: data.RecdWeight" type="text" placeholder="Recd Weight" id="RecdWeight" />
        </td>*@

    </tr>

    <tr>

        <td>
            <label>
                Wt. of Items Produced</label>
        </td>
        <td>
            <input class="input-large modelControl validate[required]"  data-bind="value: data.RetPrdWeight" onblur="CheckWt()" type="text" placeholder="Wt.of Items Produced" id="RetPrdWeight" />
        </td>

    @*    <td>
            <label>
                Wt.Diff.</label>
        </td>
        <td>
            <input class="input-large modelControl" readonly=""  data-bind="value: data.WtDiff" type="text" placeholder="Wt.Diff." id="WtDiff" />
        </td>*@


    </tr>

    <tr>
       <td>
                                    <label>Job Status</label></td>
                                <td>
                                    <select style="width: 35%" class="modelControl" data-bind=" value: data.FkStatus" id="FkStatus" onchange="StatusChange(this)">
                                        <option value="0">Select</option>
                                        <option value="1">Pending</option>
                                        <option value="2">Completed</option>
                                    </select>
                                </td>
        <td>
             <input class="input-mini modelControl" readonly=""  data-bind="value: data.FkStatus" type="hidden" placeholder="FkStatus" id="FkStatus1" />
        </td>
    </tr>
    <tr>
       <td>
                                    <label>Product Type Delvd.</label></td>
                                <td>
                                    <select style="width: 35%" class="modelControl" data-bind=" value: data.PrdType" id="TypeofPrd" onchange="PrdTypeChange(this)">
                                        <option value="0">Select</option>
                                        <option value="1">Semi-Finished</option>
                                        <option value="2">Finished</option>
                                    </select>
                                </td>
        <td>
              <input class="input-mini modelControl" readonly=""  data-bind="value: data.TypeofPrd" type="hidden" placeholder="TypeofPrd" id="TypeofPrd1" />
            </td>
    </tr>

     <tr>
                                
                                <td style="width: 25%">
                                    <label>Product</label></td>
                                <td>
                                    <select style="width: 35%" class="modelControl" data-bind="options: MatCategory,
    optionsCaption: 'Select',
    optionsText: 'Name',
    optionsValue: 'Id',
    value: data.PrdName"
                                        id="PrdName",aria-autocomplete="both" >
                                    </select>
                                </td>
                            </tr>
</table>

<tr align="center">
    <td>
        <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
            Save</button>
    </td>
</tr>

