﻿<div style="display: block;" id="divCreateShippingDetails">
    <table cellspacing="5" cellpadding="5" border="0" style="width:1000px">
    <tr class="formHeader">
            <td colspan="3">
                <label class="formHeaderTag">
                    &nbsp;&nbsp;Add ShippingDetails</label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
   <tr>
        <td>
            <label>Name</label></td>
        <td>
            <input style="width: 75%" class="input-large modelControl validate[required]" data-bind="value: data.ShippingCustomerName" type="text" placeholder="Name" id="ShippingCustomerName" maxlength="100"/></td>
    </tr>
         <tr>
        <td>
            <label>Address</label></td>
        <td>
            <textarea style="width: 75%" class="input-large modelControl validate[required]" data-bind="value: data.ShippingAddress" type="text" placeholder="No. & Street" id="ShippingAddress" maxlength="500"/></td>
    </tr>

      <tr>
        <td>
            <label>Country</label></td>
        <td>
          <input style="width: 75%" class="input-large modelControl validate[required,custom[onlyLetterSp]]" data-bind="value: data.ShippingCountry" type="text" placeholder="Country" id="ShippingCountry" maxlength="100"/></td>
        </td>
    </tr>
   
    <tr>
        <td>
            <label>State</label></td>
        <td>
           <input style="width: 75%" class="input-large modelControl validate[required,custom[onlyLetterSp]]" data-bind="value: data.ShippingState" type="text" placeholder="State" id="ShippingState" maxlength="100"/></td>
        </td>
    </tr>
  
     <tr>
        <td>
            <label>City</label></td>
        <td>
          <input style="width: 75%" class="input-large modelControl validate[required,custom[onlyLetterSp]]" data-bind="value: data.ShippingCity" type="text" placeholder="City" id="ShippingCity" maxlength="100"/></td>
        </td>
    </tr>
    <tr>
        <td>
            <label>PinCode</label></td>
        <td>
            <input style="width: 75%" class="input-large modelControl validate[required,custom[number]]" data-bind="value: data.ShippingPincode" type="text" placeholder="PinCode" id="ShippingPincode" maxlength="50" /></td>
    </tr>
    <tr>
        <td>
            <label>Contact Number</label></td>
        <td>
            <input style="width: 75%" class="input-large modelControl validate[required,custom[number]]" data-bind="value: data.ShippingMobile" type="text" placeholder="Contact Number" id="ShippingMobile" maxlength="50"/></td>
    </tr>
    <tr>
        <td>
            <label>Land Line</label></td>
        <td>
            <input style="width: 75%" class="input-large modelControl validate[required,custom[number]]" data-bind="value: data.ShippingLandLine" type="text" placeholder="Land Line" id="ShippingLandLine" maxlength="50"/></td>
    </tr>
    <tr>
        <td>
            <label>Email</label></td>
        <td>
            <input style="width: 75%" class="input-large modelControl validate[required,custom[email]]" data-bind="value: data.ShippingEmailId" type="text" placeholder="Email" id="ShippingEmailId" /></td>
    </tr>
                
        
         <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button type="submit" class="btn cmdCreate" id="cmdSaveShippingDetails">
                    Save</button>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </table>
</div>

