﻿
@*Name        : Screen Design for Customer -- Search Mode(HTML)
Description   : Search is done on the fields- id,Customer Name,Contact Number,Land Line and Customer Type
Author        : CH.V.N.Ravi Kumar
Date 	      : 11/08/2015
Crh Number    : SL0006
Modifications : *@

<table width="100%" cellpadding="5" cellspacing="0" border="0">
    <br />
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>
                            <input type="text" id="txtSearchPkCustomer" placeholder="Customer Id" class="input-large search-query" />
                            <input type="text" id="txtSearchCustomerName" placeholder="Customer Name" class="input-large search-query" />
                            @*<input type="text" id="CustomerType1" placeholder="Customer Type" class="input-large search-query"/>                        *@
                            <input type="text" id="txtSearchCustomerContact" placeholder="Contact Number" class="input-large search-query" />
                            <input type="text" id="txtSearchLandLine" placeholder="Land Line" class="input-large search-query" />
                            <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                            <button type="submit" class="btn" id="cmdNew">Add Customer</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                              <div id="radiobtns">
                            <table>
                                <tr>
                                    <td>
                                        <label class="radio">
                                            <input type="radio"  id="Gold" name="CustomerType" value="Gold" onchange="showOnlyGold()" class="input-large search-query" /><span class="metro-radio">Gold</span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="radio">
                                            <input type="radio"  id="Silver" name="CustomerType" value="Silver" onchange="showOnlySilver()" /><span class="metro-radio">Silver</span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="radio">
                                            <input type="radio"  id="Normal" name="CustomerType" value="Normal" onchange="showOnlyNormal()" /><span class="metro-radio">Normal</span>
                                        </label>
                                    </td>
                                    <td>
                                            <label class="radio">
                                                <input type="radio" id="all" name="CustomerType" value=" " onchange="showAll()" checked /><span class="metro-radio">All</span>
                                            </label>
                                        </td>
                                </tr>
                            </table>
                                  </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="MainSearchContainer"></div>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
    </tr>
</table>
