﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
    <script src="~/Scripts/Application/Customer/customerOperation.js" type="text/javascript"></script>
    <script src="~/Scripts/Application/Customer/ShippingDetails.js" type="text/javascript"></script>
    <script src="../../Scripts/Frameworks/WebGare/Controls/WgContact.js" type="text/javascript"></script>
       <script src="../../Scripts/Frameworks/WebGare/Controls/WgShipAdd.js" type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyConfigurator.js" type="text/javascript"></script>
}

@section MainSection{
<div id="divMainSection" wgPageType="CRUD" wgTag="Customer">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
    <div id="divSearchArea" align="center"></div>
 </div>
}