﻿
@*//Name          : Screen Design for material category -- Search Mode(HTML)
//Description   : Search is done on the fields-category name , category id    
//Author        : shantha
//Date 	        : 07/08/2015
//Crh Number    : SL0005
//Modifications : *@


<table width="80%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="60%" align="center">
                    <tr>
                        <td>
                        <input type="text" id="TxtPkMcat" placeholder="Material Category ID" class="input-large search-query"/>
                        <input type="text" id="TxtName" placeholder="Name" class="input-large search-query"/>
                        <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                        <button type="submit" class="btn" id="cmdNew" >Add Material Category</button>
                        </td>
                    </tr>
                    <tr><td></td></tr>
        <tr><td></td></tr>
                    <tr>
                        <td colspan="2"><div id="MainSearchContainer"></div></td>
                    </tr>
                </table>               
            </div>
            
        </td>
    </tr>
</table>