﻿<table width="50%" cellspacing="0" border="1">
</table>
<table>
    <tr>
        <td>
            <table border="1" width="90%" align="Left">
                <tr>
                    <td>
                        <input type="text" id="txtBoxid" placeholder="Box" class="input-medium search-query" /></td>
                    <td>
                        <input type="text" id="txtBoxWt" placeholder="Box Wt" class="input-medium search-query" /></td>
                </tr>
                <tr>
                    <td>
                        <label>
                            Paper Details</label>
                    </td>
                       <td>&nbsp;
        </td>
                    <td>
                        <label>
                           Additional Cost</label>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <label>
                            PaperID</label>
                    </td>
                    <td>
                        <input class="input-medium modelControl" data-bind="value: data.Pk"
                            type="text" readonly="" placeholder="Paper ID" id="Pk" />
                    </td>
                    <td>
                        <label>
                            Conv.Rate Rs.</label></td>
                    <td>
                        <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                            data-bind="value: convRate" type="text" onchange="CalcConvRate()" placeholder="Rs Per Kg" id="Conv" tabindex="85" /></td>
        </td>
        <td>
            <label>
                Conv.Value</label></td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: convValue" type="text" placeholder="ConvRate" id="ConvRate" /></td>
           <td>&nbsp;
        </td>
       @* <td>
                      <div id="MainSearchContainer"></div>
                    </td>*@

    </tr>

    <tr>
        <td>
            <label>
                Paper Name</label>
        </td>
        <td>
            <input class="input-medium modelControl" data-bind="value: data.name"
                type="text" readonly="" placeholder="Paper Name" id="name" />
        </td>

        <td>
            <label>
                Rejection(%)</label></td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: rejectionPercentage" type="text" onchange="CalcRejValue()" placeholder="Rej" id="Rej" tabindex="86" /></td>
        <td>
            <label>
                Rej.Value</label></td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: rejectionValue"
                type="text" placeholder="Rejection" id="Rejection" />
        </td>
    </tr>


    <tr>
        <td>
            <label>
                Quantity of Box for Estn.</label>
        </td>
        <td>
            <input class="input-medium modelControl" data-bind="value: data.qty"
                type="text" placeholder="Qty" id="Qty" />
        </td>
        <td>
            <label>
                GMargin(%)</label>
        </td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: gMarginPercentage" type="text" onchange="CalcGMarginValue()" placeholder="Marg" id="Marg" tabindex="87" />
        </td>
        <td>
            <label>
                GM Value</label>
        </td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: gMarginValue" type="text" placeholder="Taxes" id="MargV" />
        </td>
    </tr>
    <tr>
        <td>
            <label>
                Paper Req</label>
        </td>
        <td>
            <input class="input-medium modelControl" data-bind="value: data.PReq"
                type="text" readonly="" placeholder="Paper Req" id="PReq" />
        </td>


        <td>
            <label>
                CGST(%)</label></td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: taxesPercntage" type="text" onchange="CalcEDValue()" placeholder="CGST" id="Tax" tabindex="88" /></td>
        <td>
            <label>
                CGST Value</label></td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: taxesValue" type="text" placeholder="CGST" id="Taxes" />
        </td>

    </tr>
    <tr>
        <td>
            <label>
                Rate</label>
        </td>
        <td>
            <input class="input-medium modelControl" data-bind="value: data.Rate"
                type="text" onchange="Calc1()" placeholder="Rate of Paper" id="Rate" />
        </td>
        <td>
            <label>
                SGST(%)</label></td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: VATPercentage" type="text" onchange="CalcVATValue()" placeholder="SGST" id="VAT" tabindex="89" />
        </td>
        <td>
            <label>
                SGST Value</label>
        </td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: VATValue" type="text" placeholder="SGST" id="VATV" />
        </td>
    </tr>
    <tr>
        <td>
            <label>
                Cost</label>
        </td>
        <td>
            <input class="input-medium modelControl" data-bind="value: data.Cost"
                type="text" readonly="" placeholder="Cost" id="Cost" />
        </td>
        <td>
            <label>
                IGST(%)</label>
        </td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: CSTPercentage" type="text" onchange="CalcCSTValue()" placeholder="IGST" id="CST" tabindex="90" />
        </td>
        <td>
            <label>
                IGST Value</label>
        </td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: CSTValue" type="text" placeholder="IGST" id="CSTV" />
        </td>

    </tr>
    <tr>
        <td>&nbsp;
        </td>

        <td>
            <td>
                <label>
                    Trans.%</label></td>
            <td>
                <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: TransportPercentage"
                    type="text" onchange="CalcTransValue()" placeholder="Tran %" id="Transport" tabindex="91" /></td>
            <td>
                <label>
                    Trans.Value</label></td>
            <td>
                <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: transportValue"
                    type="text" placeholder="Trans Amt" id="TransportValue" tabindex="92" /></td>
        </td>

    </tr>
    <tr>
          <td>&nbsp;
        </td>
          <td>&nbsp;
        </td>
         <td>
                            <label>
                                Others</label></td>
                           <td> <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: weightHValue"
                                type="text" onchange="CalcNet()" placeholder="Others" id="WeightH" tabindex="93" /></td>
                          
    </tr>
    <tr>
         <td>&nbsp;
        </td>
          <td>&nbsp;
        </td>
         <td>
                            <label>
                                Estimated Value for :</label></td>
    </tr>
    <tr>
          <td>&nbsp;
        </td>
          <td>&nbsp;
        </td>
         <td>
                            <label>
                                Total Add Cost</label></td>
                           <td> <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: Total"
                                type="text"  placeholder="Total" id="Total" tabindex="93" /></td>
    </tr>
    <tr>
        <td>&nbsp;
        </td>
        <td>
            <input class="button" type="button" value=" Add " onclick="AddData()"></td>

    </tr>


</table>


<table border="1" width="50%" align="Left">
    <tr>
        <td>
            <table border="1">

                <div id="data">
                </div>

                <h3>Paper Costing</h3>

                <div id="tab">
                    <table id="list" border="1" cellspacing="0px" cellpadding="20px" text-align="left">
                        <thead>
                            <tr>
                                <td>Paper ID</td>

                                <td>Paper Name</td>

                                <td>Rate</td>

                                <td>Cost</td>


                            </tr>

                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <tr>
                       <td> <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: Total"
                                type="text"  placeholder="Total" id="SumVal" tabindex="93" /></td>
                        </tr>
                </div>
            </table>
        </td>
    </tr>
    <tr>
      <td>
            <input class="button" type="button" value=" Save " onclick="SaveData()"></td>

    </tr>
    @* <tr>
        <td>
            &nbsp;
        </td>
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>*@
</table>

