﻿<table cellspacing="0" cellpadding="5" border="0" width="60%">
    <tr class="formHeader">
        <td><label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context User</label></td>
        <td align="right"><button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><label>User Name</label></td>
        <td><input class="input-large modelControl validate[required]" data-bind="value: data.UserName" type="text" placeholder="User Name" id="UserName"/></td>
    </tr>
    <tr>
        <td><label>First Name</label></td>
        <td><input class="input-large modelControl validate[required]" data-bind="value: data.FirstName" type="text" placeholder="First Name" id="FirstName"/></td>
    </tr>
    <tr>
        <td><label>Last Name</label></td>
        <td><input class="input-large modelControl validate[required]" data-bind="value: data.LastName" type="text" placeholder="Last Name" id="LastName"/></td>
    </tr>
    <tr>
        <td><label>Company</label></td>
        <td><select class="modelControl validate[required]" data-bind="options: Tenants,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_Tanent" id="Fk_Tanent"></select>
       </td>
    </tr>
    <tr>
        <td><label>Created Date</label></td>
        <td>
            <input type="text" readonly data-bind="value: data.CreatedDate" id="CreatedDate" class="span2">
        </td>
    </tr>
    <tr>
        <td><label>Is Active</label></td>
        <td>
            <label class="checkbox">
                <input class="checkbox modelControl chkBox" data-bind="checked: data.IsActive" type="checkbox" id="IsActive" name="Active"/><span class="metro-checkbox"></span>
            </label>
        </td>
    </tr>
    <tr>
       <td colspan="2" align="center"><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate" >Save</button></td>
    </tr>
</table>