﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
  <script type="text/javascript" src="~/Scripts/Application/userOperations.js"></script> 
  @*<script type="text/javascript" src="~/Scripts/Application/User/shortCut.js"></script>
  <script type="text/javascript" src="~/Scripts/Application/User/wgOne2ManyConfigurator.js"></script>  *@
}

@section MainSection{
<div id="divMainSection" wgPageType="CRUD" wgTag="User">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
    <div id="divSearchArea" align="center"></div>
 </div>
}
