﻿<div style="display: block" id="divCreateMaterial">
    <table cellspacing="0" cellpadding="5" border="0" width="100%">
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="formHeader">
            <td colspan="3">
                <label class="formHeaderTag">
                    &nbsp;&nbsp;Add Material</label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>
                    Material Name:</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required,funcCall[checkDuplicate]]" data-bind="wgReferenceField: data.Fk_Material"
                    type="text" placeholder="Item Name" id="txtFk_Material" style="width: 100%"
                    readonly />
            </td>
            <td valign="top" align="left">
                <button type="submit" class="btn cmdCreate" id="cmdSearchPaperdetails">
                    Search</button>
            </td>
            
        </tr>
          <tr>
            <td valign="top">
                <label>
                   Reel No</label>
            </td>
            <td valign="top">
                <input class="modelControl" data-bind="value: data.RollNo"
                    type="text" placeholder="RollNo" id="RollNo" style="width: 20%" readonly />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
         <tr>
            <td valign="top">
                <label>
                    Quantity</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" data-bind="value: data.RM_Consumed"
                    type="text" placeholder="Quantity" id="Quantity" style="width: 20%" maxlength="10"/>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
            <tr>
            @*<td valign="top">
                <label type="hidden">
                    Pk_PaperStock</label>
            </td>*@
            <td valign="top">
                <input class="modelControl" data-bind="value: data.Pk_PaperStock"
                    type="hidden" placeholder="Pk_PaperStock" id="Pk_PaperStock" style="width: 20%" maxlength="10" readonly />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
                   <td valign="top">
                <input class="modelControl" data-bind="value: data.Pk_PaperStock"
                    type="hidden" placeholder="Pk_Material" id="Pk_Material" style="width: 20%" maxlength="10" readonly />
            </td>
        </tr>
        
   
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button type="submit" class="btn cmdCreate" id="cmdSaveMaterial">
                    Save</button>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
      
    
       
    </table>
</div>



<div style="display: none; width: 1000px; height: 600px;" id="divSearchMaterial">
    <table cellpadding="4" cellspacing="0" border="0" width="80%">
        <tr>
            <td>
               
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <input type="text" id="txtMaterial" data-bind="value: data.MaterialName" placeholder="Material Name"
                    class="input-large search-query" style="width: 30%" />
                <button type="submit" class="btn" id="cmdMaterialSearch">
                    Search</button>
                <button type="submit" class="btn" id="cmdMaterialDone">
                    Done</button>

            </td>
        </tr>


    
                       </div>
                               
  <tr>
            <td>
                <div id="MaterialSearchContainer">
                </div>
            </td>
        </tr>







