﻿<table cellspacing="0" cellpadding="0" border="0" width="60%">


    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;Add Job Card</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td rowspan="8" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="90%">
                <tr>
                    <td align="right"></td>
                </tr>
                <tr>
                    <td>
                        <div id="divShippingDetails"></div>
                    </td>
                </tr>
            </table>
            @*     <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                   
                </tr>
                <tr>
                    <td>
                        <div id="divPaperStock"></div>
                    </td>
                </tr>
            </table>*@
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="tabbable">
                <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs" id="MyTab">
                    <li class="active"><a href="#tab1" data-toggle="tab">Details Page 1</a></li>
                    @*      <li><a href="#tab2" data-toggle="tab">Details Page 2</a></li>*@

                </ul>
                <div class="tab-content">

                    <div class="tab-pane active" id="tab1">

                        <table border="0" style="width: 80%">
                            <colgroup>
                                <col style="width: 40%" />
                                <col style="width: 40%" />
                            </colgroup>

                            <tr>
                                <td colspan="30">
                                    <table border="0">
                                        @*   <colgroup>
                                            <col style="width: 40%" />
                                            <col style="width: 40%" />
                                            <col style="width: 40%" />
                                            <col style="width: auto" />
                                        </colgroup>*@
                                        <tr>
                                            <td colspan="30">&nbsp;</td>
                                            <input class="input-mini modelControl" type="hidden" readonly="" placeholder="BoxType" id="BoxType" />
                                            <input class="input-mini modelControl" type="hidden" readonly="" placeholder="BoxID" id="BoxID" />
                                            <input class="input-mini modelControl" readonly="" data-bind="value: data.Fk_Schedule" type="hidden" placeholder="SchID" id="Fk_Schedule" />

                                            <input class="input-medium modelControl" data-bind="value: data.Printing" type="hidden" placeholder="Printing" id="PrintVal" />

                                            <input class="input-medium modelControl" data-bind="value: data.DPRSc" type="hidden" placeholder="DPRSc" id="DPRScVal" />


                                            <input class="input-large modelControl" readonly data-bind="value: data.Pk_Customer" type="hidden" placeholder="Fk_Enquiry" id="Pk_Customer" />
                                            
                                            
                                            
                                        </tr>
                                        <tr>
                                            <td> <input class="input-medium modelControl" readonly data-bind="value: data.PName" type="hidden" placeholder="PName" id="PName" style="font-weight: bold" /></td>
                                        </tr>
                                        <tr>

                                            <td colspan="30">
                                                
                                                  

                                    </td>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label>Card Date</label></td>
                                            <td>
                                                <input type="text" readonly id="dtJCDate" data-bind="value: data.JDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[orderDateValidate]] span2 input-mini" data-provide="datepicker" />
                                            </td>
                                           
                                            <td> 
                                                <label>Customer</label></td>
                                                <td><input class="modelControl validate[required]" readonly data-bind="wgReferenceField: data.Customer" type="text" placeholder="Customer Name" id="Customer" tabindex="2" />
                                           </td>
                                           
                                            <td valign="top">
                                                <button class="btn btn-primary" id="cmdOrderMSearch">Search</button>
                                            </td>
                                             
                                             <td>
                                                <label>Box</label></td>
                                                <td><input class="modelControl validate[required]" readonly data-bind="wgReferenceField: data.Fk_BoxID" type="text" placeholder="Box Name" id="Fk_BoxID" tabindex="2" />
                                            </td>
                                            <td valign="top">
                                                <button class="btn btn-primary" id="cmdBoxMSearch">Search</button>
                                            </td>
                                        </tr>

                       
                                   @* <td>

                                        <label>Box Name</label></td>

                                <td>
                                    <input class="input-medium modelControl  validate[required]" readonly data-bind="wgReferenceField: data.Fk_BoxID" type="text" placeholder="Box Name" id="Fk_BoxID" /></td>*@

                                <td>
                                    <label>Length</label>
                                    <input class="input-mini modelControl" type="text" readonly placeholder="Length" id="Length" /></td>

                                <td>
                                    <table>
                                     
                                        <td>

                                            <label>Width</label><input class="input-mini modelControl" type="text" readonly placeholder="Width" id="Width" />
                                        </td>

                                           <td>
                                            <label>Height</label><input class="input-mini modelControl" type="text" readonly placeholder="Height" id="Height" />
                                        </td>


                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <td>
                                            <label>Brd.Area</label>
                                            <input class="input-mini modelControl" type="text" readonly placeholder="BoardSize" id="BoardSize" /></td>


                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <td>
                                            <label>Deckle</label>
                                            <input class="input-mini modelControl" type="text" readonly placeholder="Deckle" id="Deckle" />
                                        </td>

                                        <td>
                                            <label>Cutg.Size</label><input class="input-mini modelControl" type="text" readonly placeholder="Cutg.Size" id="CuttingSize" />
                                        </td>
                                    </table>


                                </td>


                                <td>
                                    <table>
                                        <td>
                                            <label>Ply</label><input class="input-mini modelControl" type="text" readonly placeholder="Ply" id="Ply" />
                                        </td>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <td>
                                            <label>Mac.Dec.</label><input class="input-mini modelControl" data-bind="value: data.Machine" type="text" readonly placeholder="Mac.Dec" id="MDeckel" />
                                        </td>
                                        <td>
                                            <label>Ups</label>
                                            <input class="input-mini modelControl" data-bind="value: data.ChkQuality" type="text" placeholder="Ups" id="Ups" /></td>
                                      
                                         
                                    </table>

                                </td>
                            <td>
                                <table>
                                    <td>
                                             <label>Box-RefNo</label>
                                            <input class="input-medium modelControl"  data-bind="value: data.Invno"  type="text" readonly placeholder="RefNo" id="Invno" />
                                        </td>
                                </table>
                            </td>



                                @*    <tr>
                                            <td>
                                                <label>Machine</label></td>
                                            <td>
                                                <select style="width: 75%" class="modelControl  validate[required]" data-bind="options: Machine,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Machine"
                                                    id="Machine">
                                                </select>
                                            </td>
                                            <td>
                                                <label>Machine Deckle</label></td>
                                            <td valign="top">
                                                <input class="input-small" readonly data-bind="value: data.Capacity_Length" type="text" placeholder="Deckle" id="Capacity_Length" />
                                            </td>
                                        </tr>*@





                            <tr>

                                <td>
                                    <label>Printing</label></td>
                                <td>

                                    <select style="width: 95%" class="modelControl" data-bind=" value: data.Printing" id="Printing" onchange="PrintChange(this);">
                                        <option value="0">Select</option>
                                        <option value="1">OFFSET</option>
                                        <option value="2">FLEXO</option>
                                        <option value="3">PLAIN</option>
                                    </select>
                                </td>

                                <td>
                                    <label>Printing Color</label></td>

                                <td>
                                    <input class="input-medium modelControl" data-bind="value: data.PColor" type="text" placeholder="P.Color" id="PColor" maxlength="5" /></td>
                                <td>
                                    <label>Printing Details</label></td>

                                <td>
                                    <input class="input-medium modelControl" data-bind="value: data.PDetails" type="text" placeholder="P.Details" id="PDetails" maxlength="150" /></td>
                                <td>
                                    <label>MFG Joint Placement</label></td>

                                <td>
                                    <input class="input-medium modelControl" data-bind="value: data.MFG" type="text" placeholder="MFG" id="MFG" maxlength="50" /></td>
                                @* <td>
                                                <select style="width: 75%" class="modelControl  validate[required]" data-bind="options: Machine,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Machine"
                                                    id="Machine">
                                                </select>
                                            </td>
                                                                                         <label>
                                                    <input type="checkbox" id="chkPrinting" data-bind="checked: data.Printing" />
                                                    Printing
                                                </label>
                                        </tr>*@
                            <tr>
                                <td>
                                    <label>Die Punch/RSC</label></td>

                                <td>
                                    <select style="width: 95%" class="modelControl" data-bind=" value: data.DPRSc" id="DPRSc" onchange="DPChange(this);">
                                        <option value="0">Select</option>
                                        <option value="1">Die Punch</option>
                                        <option value="2">RSC</option>

                                    </select>
                                </td>

                                <td>
                                    <label>Calico/Stitch</label></td>
                                <td>
                                    <label>
                                        <input type="checkbox" id="chkCalico" data-bind="checked: data.Calico" />
                                        Calico
                                    </label>
                                     <label>
                                        <input type="checkbox" id="chkStitch" data-bind="checked: data.Stitching" />
                                        Stitch
                                    </label>

                                </td>
                                <td>
                                    <label>Prod.Qty</label></td>

                                <td>
                                    <input class="input-medium modelControl" data-bind="value: data.TotalQty" type="text" placeholder="Prod. Qty" id="TQty" maxlength="5" />

                                <td>
                                    <label>Others</label></td>
                                <td>

                                    <input class="input-medium modelControl" data-bind="value: data.Others" type="text" placeholder="Others" id="Others" /></td>

                            </tr>

                        </table>
            @*<tr>
                <td colspan="2">&nbsp;
                </td>
            </tr>*@

<tr>
    <td>
        <table border="0">
     <h3>Processes in  this JobCard</h3>
            <tr>
                   <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <label>
                        <input type="checkbox" id="chkTop" data-bind="checked: data.TopP" />
                        T.Paper
                    </label>
                </td>
                   <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>

                       <label>
                        <input type="checkbox" id="chkCorr" data-bind="checked: data.Corr" />
                        Corrugation
                    </label>

                  
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkPasting" data-bind="checked: data.Pasting" />
                        Pasting
                    </label>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkRotary" data-bind="checked: data.Rotary" />
                        Rotary
                    </label>

                </td>
                
                     <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkPrinting1" data-bind="checked: data.PrintingP" />
                        Printing
                    </label>

                </td>
                  <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkSlotting" data-bind="checked: data.Slotting" />
                        Slotting
                    </label>
                </td>
                  <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkPunching" data-bind="checked: data.Punching" />
                        Punching
                    </label>
                </td>
               @*   <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkEccentric" data-bind="checked: data.Eccentric" />
                        Eccentric
                    </label>

                </td>*@
                  <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkPinning" data-bind="checked: data.Pinning" />
                        Pinning
                    </label>
                </td>

                  <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkGumming" data-bind="checked: data.Gumming" />
                        Gumming
                    </label>

                </td>
                   <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkFinishing" data-bind="checked: data.Finishing" />
                        Finishing
                    </label>
                </td>

                   <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkBundling" data-bind="checked: data.Bundling" />
                        Bundling
                    </label>
                </td>
                        
        </table>
    </td>
   @* <td>
                    <button id="cmdAddPaper" type="submit">
                                Paper</button>
                    </td>
                   <td>
                            <button id="cmdAddMaterial" type="submit">
                                Boards/Other Papers</button>
                       </td>*@
            </tr>  
  <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">

                <tr>
                    <td>
                        <div id="divPaperStock"></div>
                    </td>
                </tr>
            </table>

        </td>

        
        <td colspan="5">
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddMaterial" type="submit">
                        Add Material</button>
                 

                    
                </div>


                <div style="padding-bottom: 8px" id="tlbMaterials">
                </div>
            </div>
        </td>


    </tr>


</table>


<table border="0" style="width: 100%">
    <tr>
        <td>
            <div style="display: block;" id="divCreateMaterialIndent">
                <table border="0" style="width: 100%">
                   
                    <tr>
                        <td>&nbsp;
                        </td>
                    </tr>

                    <tr>


                        <td width="5">
                            <label>T.Paper Qty.</label></td>

                        <td width="5">
                            <input class="input-small validate[custom[number]]" data-bind="value: data.TopPaperQty" type="text" placeholder="TPaperQty" id="TPaperQty" maxlength="5" />
                        </td>

                         <td width="1">&nbsp</td> 
                        <td width="5">
                            <label>Corrugation</label></td>

                        <td width="5">
                            <input class="input-small" data-bind="value: data.Corrugation" type="text" placeholder="Corrugation" id="Corrugation" />
                        </td>

                    </tr>
                    <tr>
                        <td width="5">
                            <label>2 Ply Qty</label></td>
                        <td width="5">
                            <input class="input-small validate[custom[number]]" data-bind="value: data.TwoPlyQty" type="text" placeholder="PlyQty" id="PlyQty" maxlength="5" />
                        </td>
                           <td width="1">&nbsp</td> 
                        <td width="5">
                            <label>2 Ply Wt.</label></td>
                        <td width="5">
                            <input class="input-small validate[custom[number]]" data-bind="value: data.TwoPlyWt" type="text" placeholder="PlyWt" id="PlyWt" maxlength="5" />
                        </td>

                    </tr>


                    <tr>
                      
                        <td width="5">
                            <label>Pasting Qty</label></td>

                        <td width="5">
                            <label>Rotary</label></td>

                        <td width="5">
                            <label>Punching</label></td>
                          <td width="5">
                            <label>Printing Qty & Slotting</label></td>

                           <td width="5">
                            <label>Eccentric Slotting</label></td>
                         <td  width="5">
                            <label>Pinning</label></td>
                   
                       
                      <td  width="5">
                            <label>Gumming</label></td>
                      
                             <td  width="5">
                            <label>Bundling</label></td>
                        

                    </tr>

                    <tr>
                     

                        <td width="5">
                            <input class="input-small validate[custom[number]]" data-bind="value: data.PastingQty" type="text" placeholder="PQty" id="PQty" maxlength="5" />
                            
                            <input class="input-small validate[custom[number]]" data-bind="value: data.PastingWstQty" type="text" placeholder="WQty" id="WQty1" maxlength="5" />
                        
                        </td>

                         <td width="5">
                            <input class="input-small validate[custom[number]]" data-bind="value: data.RotaryQty" type="text" placeholder="Rotary" id="Rotary" maxlength="5" />
                               <input class="input-small validate[custom[number]]" data-bind="value: data.RotaryWstQty" type="text" placeholder="WQty" id="WQty2" maxlength="5" />
                        </td>
                            <td width="5">
                            <input class="input-small validate[custom[number]]" data-bind="value: data.PunchingQty" type="text" placeholder="Punching" id="Punching" maxlength="5" />
                                 <input class="input-small validate[custom[number]]" data-bind="value: data.PunchingWstQty" type="text" placeholder="WQty" id="WQty3" maxlength="5" />
                        </td>
                         <td width="5">
                            <input class="input-small validate[custom[number]]" data-bind="value: data.SlotingQty" type="text" placeholder="Slotting" id="Sloting" maxlength="5" />
                             <input class="input-small validate[custom[number]]" data-bind="value: data.SlotingWstQty" type="text" placeholder="WQty" id="WQty4" maxlength="5" />
                        </td>
                        <td  width="5">
                            <input class="input-small validate[custom[number]]" data-bind="value: data.ECCQty" type="text" placeholder="Ecc.Slotting" id="ECCQty" maxlength="5" />
                            <input class="input-small validate[custom[number]]" data-bind="value: data.EccWstQty" type="text" placeholder="WQty" id="EccWstQty" maxlength="5" />
                        </td>
                          <td  width="5">
                            <input class="input-small validate[custom[number]]" data-bind="value: data.PinningQty" type="text" placeholder="Pinning" id="Pinning" maxlength="5" />
                               <input class="input-small validate[custom[number]]" data-bind="value: data.PinningWstQty" type="text" placeholder="WQty" id="WQty6" maxlength="5" />
                        </td>
                        
                        <td  width="5">
                            <input class="input-small validate[custom[number]]" data-bind="value: data.GummingQty" type="text" placeholder="Gumming" id="Gumming" maxlength="5" />
                            <input class="input-small validate[custom[number]]" data-bind="value: data.GummingWstQty" type="text" placeholder="WQty" id="WQty7" maxlength="5" />
                        </td>
                         <td  width="5">
                            <input class="input-small validate[custom[number]]" data-bind="value: data.FinishingQty" type="text" placeholder="Bundling" id="Finishing" maxlength="5" />
                             <input class="input-small validate[custom[number]]" data-bind="value: data.FinishingWstQty" type="text" placeholder="WQty" id="WQty8" maxlength="5" />
                        </td>
                    </tr>





                    <tr>
                     
                        <td>
                            <label>Total Wastage</label></td>
                       
                        <td colspan="2">
                            <input class="input-small validate[custom[number]]" data-bind="value: data.TotalWstQty" type="text" placeholder="TWastage" id="TWastage" maxlength="5" />
                        </td>


                    </tr>


                    <tr>
                            <td width="1">&nbsp</td> 
                         <td width="5"></td>
                       <td width="1">&nbsp</td> 
                         <td width="5">

                            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
                    </tr>
                

                </table>
            </div>
        </td>





    </tr>


</table>



<div class="tab-pane" id="tab2">
</div>



