﻿<table cellspacing="0" cellpadding="0" border="0" width="40%">
    <br />
   
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Ink</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    
@* <tr>
        <td><label>Part No.</label></td>
        <td><input class="input-large modelControl " data-bind="value: data.PartNo" type="text" placeholder="PartNo" id="PartNo" readonly/> </td>
    </tr>*@
     <tr>
        <td>
            <label>
                 Name</label>
        </td>
        <td>
            <input  class="input-large modelControl validate[required]" readonly data-bind="value: data.Name"
                type="text" placeholder="Name" id="Name" maxlength="30" />
        </td>                
    </tr>
    
      
     <tr>
        <td>
            <label>
               Brand</label>
        </td>
        <td>
            <input  class="input-large modelControl validate[required],custom[onlyLetterSp]" data-bind="value: data.Brand"
                type="text" placeholder="Brand" id="Brand" maxlength ="20" />
        </td>
                
    </tr>
     <tr>
        <td><label>Color</label></td>
        <td><select  class="modelControl validate[required]" data-bind="options: Color,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_Color" id="Fk_Color"></select>
       </td>
    </tr>
     <tr>
        <td><label>Unit</label></td>
        <td><select  class="modelControl validate[required]" data-bind="options: Unit,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_UnitId" id="Fk_UnitId"></select>
       </td>
    </tr>
    
  @*   <tr>
        <td>
            <label>
               Size</label>
        </td>
        <td>
            <input  class="input-large modelControl validate[custom[number],required]" data-bind="value: data.Size"
                type="text" placeholder="Size" id="Size" />
        </td>
                
    </tr>*@

     <tr>
        <td>
            <label>
               Description</label>
        </td>
        <td>
            <textarea data-bind="value: data.Description"
                type="text" placeholder="Description" id="Description" maxlength ="100" />
        </td>
</tr>
           <tr>
        <td><label>Min.Qty</label></td>
        <td><input class="input-large modelControl validate[custom[number]]" data-bind="value: data.Min_Value" type="text" placeholder="Min.Qty" id="Min_Val"/></td>
    </tr>
      <tr>
        <td><label>Max.Qty</label></td>
        <td><input class="input-large modelControl validate[custom[number]]" data-bind="value: data.Max_Value" type="text" placeholder="Max.Qty" id="Max_Val"/></td>
    </tr>
    <tr>
        <td></td>
   
              <td ><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate" >Save</button></td>
    </tr>
</table>
