﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {

    <script src="~/Scripts/Application/ProcessPlan.js"></script>
}
@section MainSection{

    <table style="width: 72%;" align="Center">
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr class="formHeader">
            <td colspan='2'>
                <label class="formHeaderTag">&nbsp;&nbsp;Process Plan</label></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Order Details</h3>
                    </div>
                    <div class="box-body">
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 100px; text-align: right;">
                                    <label>Customer Name &nbsp;</label>
                                </td>

                                <td style="width: 100px;">

                                    <input class="form-control input-lg" placeholder="16A004" type="text"></td>
                                <td style="width: 100px;">
                                    <input class="form-control input-lg" placeholder="HAEIR AIR CONDITIONERS PVT LTD" type="text"></td>
                                <td style="width: 100px; text-align: right;">
                                    <label>Plan No&nbsp;</label>
                                </td>

                                <td style="width: 100px;">

                                    <input class="form-control input-lg" placeholder="00174" type="text"></td>
                                <td style="width: 100px; text-align: right;">
                                    <label>Plan Date&nbsp;</label>
                                </td>

                                <td style="width: 100px;">

                                    <input class="form-control input-lg" placeholder=".input-lg" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")"></td>
                            </tr>
                            <tr>
                                <td style="width: 100px; text-align: right;">
                                    <label>Item Name&nbsp;</label>
                                </td>
                                <td style="width: 100px;">
                                    <input class="form-control input-lg" placeholder="90050179" type="text"></td>
                                <td style="width: 200px;">
                                    <input class="form-control input-lg" placeholder="IDU SMART SIZE PLANE" type="text"></td>
                                <td style="width: 100px; text-align: right;">
                                    <label>Part No&nbsp;</label>
                                </td>

                                <td style="width: 100px;">

                                    <input class="form-control input-lg" placeholder="RPK15059" type="text"></td>
                                <td colspan="2"></td>

                            </tr>
                            <tr>
                                <td style="width: 100px; text-align: right;">
                                    <label>Parent Name&nbsp;</label>
                                </td>
                                <td style="width: 100px;">
                                    <input class="form-control input-lg" placeholder="-" type="text"></td>
                                <td style="width: 200px;">
                                    <input class="form-control input-lg" placeholder="VK 228 F" type="text"></td>
                                <td style="width: 100px; text-align: right;">
                                    <label>Part No&nbsp;</label>
                                </td>

                                <td style="width: 100px;">

                                    <input class="form-control input-lg" placeholder="-" type="text"></td>
                                <td style="width: 100px; text-align: right;">
                                    <label>Adm&nbsp;</label>
                                </td>

                                <td style="width: 100px;">

                                    <input class="form-control input-lg" placeholder="0" type="text"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Item Details</h3>
                    </div>
                    <div class="box-body">
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 100px; text-align: right;">
                                    <label>Die No.&nbsp;</label>
                                </td>
                                <td style="width: 100px;">
                                    <input class="form-control input-lg" placeholder=".input-lg" type="text"></td>
                                <td style="width: 200px;">
                                    <table>
                                        <tr>
                                            <td style="text-align: right;">
                                                <label>&nbsp;&nbsp;CTN Size OD&nbsp;</label></td>
                                            <td>
                                                <input class="form-control input-lg" placeholder=".input-lg" type="text"></td>
                                        </tr>
                                    </table>

                                </td>
                                <td style="width: 100px; text-align: right;">
                                    <label>Colors&nbsp;</label>
                                </td>

                                <td style="width: 100px;">
                                    <input class="form-control my-colorpicker1 colorpicker-element" type="text">
                                </td>
                                <td style="width: 100px; text-align: right;">
                                    <label>Pref Mech&nbsp;</label>
                                </td>

                                <td style="width: 100px;">

                                    <input class="form-control input-lg" placeholder=".input-lg" type="text"></td>
                            </tr>
                            <tr>
                                <td style="width: 100px; text-align: right;">
                                    <label>Type Box&nbsp;</label>
                                </td>
                                <td style="width: 100px;">
                                    <input class="form-control input-lg" placeholder=".input-lg" type="text"></td>
                                <td style="width: 200px;">
                                    <table>
                                        <tr>
                                            <td style="text-align: right;">
                                                <label>&nbsp;&nbsp;&nbsp;CTN Size ID &nbsp;</label></td>
                                            <td>
                                                <input class="form-control input-lg" placeholder=".input-lg" type="text"></td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width: 100px; text-align: right;">
                                    <label>Sheet L&nbsp;</label>
                                </td>

                                <td style="width: 100px;">

                                    <input class="form-control input-lg" placeholder=".input-lg" type="text"></td>
                                <td style="width: 100px; text-align: right;">
                                    <label>Std. Wstg % &nbsp;</label>
                                </td>

                                <td style="width: 100px;">

                                    <input class="form-control input-lg" placeholder="5" type="text"></td>
                            </tr>
                            <tr>
                                <td style="width: 100px; text-align: right;">
                                    <label>No Ups.&nbsp;</label>
                                </td>
                                <td style="width: 100px;">
                                    <input class="form-control input-lg" placeholder=".input-lg" type="text"></td>
                                <td style="width: 200px;">
                                    <table>
                                        <tr>
                                            <td style="text-align: right;">
                                                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Leafing&nbsp;&nbsp;&nbsp; </label>
                                            </td>
                                            <td>
                                                <input class="form-control input-lg" placeholder=".input-lg" type="text"></td>
                                        </tr>
                                    </table>
                                    <td style="width: 100px; text-align: right;">
                                        <label>Sheet W &nbsp; </label>
                                    </td>

                                <td style="width: 100px;">

                                    <input class="form-control input-lg" placeholder=".input-lg" type="text"></td>
                                <td style="width: 100px; text-align: right;"></td>

                                <td style="width: 100px;"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tbProcessPlan" data-toggle="tab">Process Plan</a></li>
                        <li><a href="#tbAmendment" data-toggle="tab">Amendment</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tbProcessPlan">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Process Plan Details</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example2_wrapper">
                                        <div class="row">
                                            <div class="col-sm-6"></div>
                                            <div class="col-sm-6"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table aria-describedby="example2_info" role="grid" id="example2" class="table table-bordered table-hover dataTable">
                                                    <thead>
                                                        <tr role="row">
                                                            <th aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" class="sorting_asc">S.No.</th>
                                                            <th aria-label="Browser: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" class="sorting">Process/Parameter</th>
                                                            <th aria-label="Platform(s): activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" class="sorting">Specifications</th>
                                                            <th aria-label="Engine version: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" class="sorting">Reqmt</th>
                                                            <th aria-label="CSS grade: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" class="sorting">Remarks</th>
                                                            <th aria-label="CSS grade: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" class="sorting">ERP Code</th>
                                                            <th aria-label="CSS grade: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" class="sorting">CBB Out</th>
                                                            <th aria-label="CSS grade: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" class="sorting">CBB In</th>
                                                            <th aria-label="CSS grade: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" class="sorting">Flute</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="odd" role="row">
                                                            <td class="sorting_1">1</td>
                                                            <td>Sheet Plant Spects</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr class="odd" role="row">
                                                            <td class="sorting_1">-</td>
                                                            <td>1-----------------</td>
                                                            <td>Vs Specs</td>
                                                            <td>10</td>
                                                            <td>-</td>
                                                            <td>ERP 01</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr class="odd" role="row">
                                                            <td class="sorting_1">-</td>
                                                            <td>2 WWWWWWWW </td>
                                                            <td>Vs Specs 1 </td>
                                                            <td>20</td>
                                                            <td>-</td>
                                                            <td>ERP 02</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr class="odd" role="row">
                                                            <td class="sorting_1">-</td>
                                                            <td>2 SSSSS</td>
                                                            <td>Vs Specs 2 </td>
                                                            <td>30</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr class="odd" role="row">
                                                            <td class="sorting_1">-</td>
                                                            <td>3 RRRRR</td>
                                                            <td>Vs Specs 3 </td>
                                                            <td>40</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                        </tr>

                                                        <tr class="odd" role="row">
                                                            <td class="sorting_1">2</td>
                                                            <td>Box Plant Space</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr class="odd" role="row">
                                                            <td class="sorting_1">3</td>
                                                            <td>FLEXO Printing</td>
                                                            <td>Vs Specs 4 </td>
                                                            <td>40</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                        </tr>
                                                    </tbody>
                                                    @*  <tfoot>
                                                        <tr>
                                                            <th colspan="1" rowspan="1">Rendering engine</th>
                                                            <th colspan="1" rowspan="1">Browser</th>
                                                            <th colspan="1" rowspan="1">Platform(s)</th>
                                                            <th colspan="1" rowspan="1">Engine version</th>
                                                            <th colspan="1" rowspan="1">CSS grade</th>
                                                        </tr>
                                                    </tfoot>*@
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <div id="tbAmendment" class="tab-pane">
                            <div class="box-header">
                                <h3 class="box-title">Amendment Details</h3>
                            </div>
                            <div class="box-body">
                                <table>
                                    <tr>
                                        <td>
                                            <label>PPC Remarks &nbsp;</label></td>
                                        <td style="width:1000px;">
                                            <input class="form-control input-lg" placeholder=".input-lg" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Remarks 2 &nbsp;</label></td>
                                        <td >
                                            <input class="form-control input-lg" placeholder=".input-lg" type="text" style="width:800px;"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Remarks 3&nbsp;</label></td>
                                        <td >
                                            <input class="form-control input-lg" placeholder=".input-lg" type="text" style="width:800px;" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Remarks 4 &nbsp;</label></td>
                                        <td >
                                            <input class="form-control input-lg" placeholder=".input-lg" type="text" style="width:800px;"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Amendment 1 &nbsp;</label></td>
                                        <td >
                                            <input class="form-control input-lg" placeholder=".input-lg" type="text"style="width:800px;"><input class="form-control input-lg" placeholder=".input-lg" type="text" style="width:200px;"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Amendment 2 &nbsp;</label></td>
                                        <td style="width:1000px;">
                                            <input class="form-control input-lg" placeholder=".input-lg" type="text"style="width:800px;"><input class="form-control input-lg" placeholder=".input-lg" type="text" style="width:200px;"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Amendment 3 &nbsp;</label></td>
                                        <td style="width:1000px;">
                                            <input class="form-control input-lg" placeholder=".input-lg" type="text"style="width:800px;"><input class="form-control input-lg" placeholder=".input-lg" type="text" style="width:200px;"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Amendment 4 &nbsp;</label></td>
                                        <td style="width:1000px;">
                                            <input class="form-control input-lg" placeholder=".input-lg" type="text"style="width:800px;"><input class="form-control input-lg" placeholder=".input-lg" type="text" style="width:200px;"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Amendment 5 &nbsp;</label></td>
                                        <td style="width:1000px;">
                                            <input class="form-control input-lg" placeholder=".input-lg" type="text"style="width:800px;"><input class="form-control input-lg" placeholder=".input-lg" type="text" style="width:200px;"></td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <label>Amendment 6 &nbsp;</label></td>
                                        <td style="width:1000px;">
                                            <input class="form-control input-lg" placeholder=".input-lg" type="text"style="width:800px;"><input class="form-control input-lg" placeholder=".input-lg" type="text" style="width:200px;"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td style="width: 100px; text-align: left;">
                            <label>Made By&nbsp;</label>
                            <input class="form-control input-lg" placeholder=".input-lg" type="text"></td>
                        <td style="width: 100px; text-align: left;">
                            <label>&nbsp;Made On&nbsp;</label>
                            <input class="form-control input-lg" placeholder=".input-lg" type="text"></td>
                        <td style="width: 100px; text-align: left;">
                            <label>&nbsp;Edit By&nbsp;</label>
                            <input class="form-control input-lg" placeholder=".input-lg" type="text"></td>
                        <td style="width: 100px; text-align: left;">
                            <label>&nbsp;Edit On&nbsp;</label>
                            <input class="form-control input-lg" placeholder=".input-lg" type="text"></td>
                        <td style="width: 100px; text-align: left;">
                            <label>&nbsp;Closed&nbsp;</label>
                            <input class="form-control input-lg" placeholder=".input-lg" type="text"></td>
                        <td style="width: 100px; text-align: left;">
                            <label>Approved By&nbsp;</label>
                            <input class="form-control input-lg" placeholder=".input-lg" type="text"></td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;
            </td>
        </tr>
        @*<tr>
            <td align="center">
                <button type="submit" class="btn" data-bind="click: save" id="cmdSave">Save</button></td>
        </tr>

         <tr>
            <td>&nbsp;
            </td>
        </tr>*@
        <tr>
            <td align="center">
                
                <a href="~/ConvertPDF/Corrugation.pdf">Download</a>
            </td>

            
        </tr>

    </table>

    <!-- /.box-body -->

}
