﻿<table cellspacing="0" cellpadding="0" border="0" width="50%">

    <br />
    <tr style="width: 10%" class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;Add Machine</label></td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

  
  
        <tr>
        <td>
            <label>Name</label></td>
        <td>
             <input class="input-large validate[required,funcCall[CheckMachineNameDuplicate]]" data-bind="value: data.Name" type="text" placeholder="Name" id="Name" /></td>
    </tr>

     @*  <tr>
       <td>
            <label>Location</label></td>
        <td>
            
          <input class="input-large validate[required,funcCall[CheckMachineLocationDuplicate]]" data-bind="value: data.Location" type="text" placeholder="Location" id="Location" /></td>
        </tr>

  
 *@
     <tr>
        <td>
            <label>Max.Deckle</label></td>
        <td>
            
          <input class="input-large validate[custom[onlyNumberSp]] " data-bind="value: data.Capacity_Length" type="text" placeholder="Deckle" id="Capacity_Length" /></td>
        </tr>

  

  @*  <tr>
        <td>
            <label>Capacity_Width</label></td>
        <td>
            
          <input class="input-large validate[custom[onlyNumberSp]]" data-bind="value: data.Capacity_Width" type="text" placeholder="Capacity_Width" id="Capacity_Width" /></td>
        </tr>*@

    <tr>
        <td>
            <label>Production Capacity</label></td>
        <td>
            
          <input class="input-large validate[custom[onlyNumberSp]] " data-bind="value: data.Capacity_Other" type="text" placeholder="Production Capacity" id="Capacity_Other" /></td>
        </tr>

   <tr>
        <td>
            <label>Maintenance Time</label></td>
        <td>
            
          <input class="input-large" data-bind="value: data.AdditionalInformation" type="text" placeholder="Maintenance Time" id="Additional_Information" /></td>
        </tr>





    <tr>
        <td>&nbsp;</td>
        <td >
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
