﻿<table width="55%" cellpadding="5" cellspacing="0" border="0">


    <br />
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>
                            <input type="text" id="TxtMachineID" placeholder="Machine ID" class="input-medium search-query" />
                            <input type="text" id="TxtName" placeholder="Name" class="input-medium search-query" />
                            <input type="text" id="TxtLocation" placeholder="Location" class="input-medium search-query" />


                            <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                            <button type="submit" class="btn" id="cmdNew">Add Machine</button>

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <div id="MainSearchContainer"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
