﻿
<table cellspacing="0" cellpadding="0" border="0" width="50%">
    <tr class="formHeader">
        <td colspan='2'>
            <label class="formHeaderTag">&nbsp;&nbsp;Add Material Issue</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>
            <div class="tabbable">
                <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Issue Details</a></li>
                    <li><a href="#tab2" data-toggle="tab">Material</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                    

                        <table>
                            <tr>
                                <td>
                                    <label>Material Issue Date</label></td>
                                <td>
                                    <input type="text" readonly id="dtIssueDate" data-bind="value: data.IssueDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[orderDateValidate]] span2 input-medium" data-provide="datepicker" />
                                </td>




                            </tr>

                             <tr>
                                    <td style:width="30%" valign="top">
                                        <label>Customer Order</label>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <input class="input-medium modelControl  " readonly data-bind="wgReferenceField: data.Fk_OrderNo" type="text" placeholder="Customer Order" id="txtCustomerOrder" />
                                                </td>
                                                <td valign="top">
                                                    <button class="btn btn-primary" id="cmdCustomerOrderSearch1">Search</button>
                                                </td>
                                            </tr>
                                        </table>
                                </tr>

                         
                              <tr>
                                    <td style:width="30%" valign="top">
                                        <label>Job Card No.</label>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <input class="input-medium modelControl"  data-bind="value: data.Fk_JobCardID" type="text" placeholder="JobCard" id="Fk_JobCardID" readonly/>
                                                </td>
                                                <td valign="top">
                                                    <button class="btn btn-primary" id="cmdJobCardSearch1">Search</button>
                                                </td>
                                            </tr>
                                        </table>
                                </tr>
                              <tr>
                                    <td style:width="30%" valign="top">
                                        <label>Work Order No.</label>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <input class="input-medium modelControl"  data-bind="value: data.Fk_WOrderNo" type="text" placeholder="JobCard" id="Fk_WOrderNo" readonly/>
                                                </td>
                                               @* <td valign="top">
                                                    <button class="btn btn-primary" id="cmdJobCardSearch1">Search</button>
                                                </td>*@
                                            </tr>
                                        </table>
                                </tr>
  @*                          ///////////////////////////////////////////////*@
                                    <tr>
                                    <td valign="top">
                                        <label>Material</label>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <input class="input-medium modelControl " readonly data-bind="wgReferenceField: data.Fk_Material" type="text" placeholder="Material" id="txtMaterial" />
                                                </td>
                                                <td valign="top">
                                                    <button class="btn btn-primary" id="cmdMaterialSearch">Search</button>
                                                </td>
                                            </tr>
                                        </table>
                                </tr>
                               <tr>
                                   <td valign="top">
                                        <label>Mill Name</label>
                                    </td>
                                       <td>
                                        <input class="input-medium "  data-bind="value: data.SName" type="text" readonly="" placeholder="Mill Name" id="SName" />
                                    </td>
                                   <td>
                                        <input class="input-medium "data-bind="value: data.Fk_Mill" type="hidden" placeholder="Mill" id="Fk_Mill" />
                                    </td>
                               </tr>
                                <tr>
                                    <td valign="top">
                                        <label>Quantity</label>
                                    </td>
                                    <td>
                                        <input class="input-medium [custom[onlyNumberSp]]  " onblur="QtyCheck()"  data-bind="value: data.Quantity" type="text" placeholder="Quantity" id="Quantity" />
                                    </td>
                                        <td>
                                        <input class="input-medium [custom[onlyNumberSp]]  "data-bind="value: data.Pk_StockID" type="hidden" placeholder="Quantity" id="Pk_StockID" />
                                    </td>
                                </tr>
                                  <tr>
                                    <td valign="top">
                                        <label>Roll No.</label>
                                    </td>
                                    <td>
                                        <input class="input-medium modelControl" data-bind="value: data.RollNo" type="text" placeholder="RollNo" id="RollNo" />
                                    </td>
                                   
                                </tr>
                            </table>
                        </div>

                        <table width="80%">
                            <tr>
                                <td align="center">
                                    <div id="divListContainer">
                                        <div style="padding-bottom: 5px">
                                            <button id="cmdMaterialIndent" type="submit">
                                                Save To List</button>
                                        </div>
                                        <div style="padding-bottom: 8px" id="divMaterialDetail">
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>&nbsp;</td>
    </tr>
                     @*       <tr>
                                <td>
                                    <label>Issue No.</label></td>
                                <td>
                                    <input class="input-medium" data-bind="value: data.DCNo" placeholder="Issue No." id="txtDcNo" maxlength="10" /></td>
                            </tr>*@

                        </table>
                    </div>



                    <div class="tab-pane" id="tab2">
                       
                        <div style="display: block;" id="divCreateMaterialIssue">
                            <table width="70%">
                                @*<tr class="formHeader">
                                    <td colspan="7">
                                        <label class="formHeaderTag">
                                            &nbsp;&nbsp;Add MaterialIndent</label>
                                    </td>
                                </tr>*@
                                <tr>
                                    <td>&nbsp;
                                    </td>
                                </tr>
                              @*  <tr>
                                    <td style:width="30%" valign="top">
                                        <label>Required Date</label>
                                    </td>
                                    <td>
                                        <input readonly type="text" id="dtRequiredDate" data-bind="value: data.RequiredDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[requiredDateValidate]] span2 datepicker input-medium" data-provide="datepicker" />
                                    </td>
                                </tr>
                        //////////////////////////////*@
    <tr>
        
        <td style="text-align:center">
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
