﻿<table width="75%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="100%" align="center">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td valign="top">
                                        <input type="text" id="IssueId" placeholder="Issue Id " class="input-medium search-query" /></td>
                                    <td valign="top">
                                        <input type="text" id="DCno" placeholder="DC Number" class="input-medium search-query" /></td>

                                    <td valign="top">
                                        <input type="text" id="TxtIssueDate" placeholder="Issue Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                                    </td>

                                    <td valign="top">
                                        <button type="submit" class="btn" id="LoadRecordsButton">
                                            Search</button></td>
                                    <td valign="top">
                                        <button type="submit" style="width: 100%" class="btn" id="cmdNew">
                                            Add Material Issue</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td >
                            <div id="MainSearchContainer">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
