﻿
<table width="80%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="50%" align="center">
                    <tr>
                        <td>
                        <input type="text" id="TxtPkId" placeholder="" class="input-medium search-query"/>
                        <input type="text" id="TxtVehicleNo" placeholder="VehicleNo" class="input-medium search-query"/>
                             <input type="text" id="TxtInvno" placeholder="Invno" class="input-medium search-query"/>
                           
                        <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                        <button type="submit" class="btn" id="cmdNew">Add</button>
                        </td>
                    </tr>
                    <tr><td></td></tr>
        <tr><td></td></tr>
                    <tr>
                        <td colspan="2"><div id="MainSearchContainer"></div></td>
                    </tr>
                </table>               
            </div>
            
        </td>
    </tr>
</table>