﻿@model CogitoStreamline.Models.TenantViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>

</div>
<div>
    <table id="tblTenants" class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Tenants != null && Model.Tenants.Count > 0)
            {
                int count = 1;
                foreach (var item in Model.Tenants)
                {
                    <tr>
                        <td>@count</td>
                        <td>@item.Name</td>
                        <td>@item.Active</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>