﻿.formHeader 
{
   /*background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #6469EF 100%);*/
   background-color:Blue;
}

.selector
{
   background-image : url("~/Images/fl.jpg");
   font-size :smaller;
}

.formHeaderTag
{
   color:White;
   font-size : x-large;
}
.roundedDiv
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid;
}

.contactDetail
{
    font-size: 12px;
}
.contactHolder
{
    background-color:Silver;
    height:200px;
    width: 200px;
    color:Black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}


.contactName
{
  background-color:Maroon;
  color:White;
  font-weight:bold;  
  font-size: 15px; 
}

.win-commandlayout .win-toolbar
{
    background: none repeat scroll 0 0 transparent; 
    line-height: 10px;
    padding: 8px 0;
    font-size:x-small;
    font-weight:normal;
}

.wgGradientBlock
{
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    padding-top:8px;
    color:White;
    font-size:20px;
    font-weight:bold;
    text-align:center;
}
.metro .wgIcon
{
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    padding-top:8px;
    height:30px;
    width:40px;
    font-size:20px;
    text-align:center;
}

.metro .wgLabel
{
    padding-top:15px;
    font-size:12px;
}

.metro .smalltile
{
    padding-top:8px;
    height:78px;
    width:85px;
    font-size:35px;
    text-align:center;
}

.metro .smalltile label
{
    font-size:12px;
}


.blueGrad
{
    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #00A3EF 100%);
}
/* Updated data  */

.WgHeader
{
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%) 0 50% repeat-x;
  border-bottom: 1px solid #777;
  font-weight: bold;
  font-size:x-large;
  font-family :Plantagenet Cherokee;
  color:White;
  text-align: center;
  padding  : 2px 0 4px;
  position : relative;
  overflow : hidden;
}

.wgDragList li
{
   background: #C2F2F4; margin: 3px; padding: 0.4em; font-size: .8em; height: 35px;
}

.wgDragList
{
    list-style-type: none; margin: 0; padding: 0; width: 450px; 
}

.wgDragList .ui-selecting
{
    background: #FECA40;
}

.wgDragList .ui-selected
{
    background: #F39814; color: white; font-size: 1em; height: 40px; margin: 3px; padding: 0.4em;
}

.wgDorpList
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
    height:60px;
    padding:3px;
}

.wgSingle
{
    width:210px;
}

.wgDorpList .wgDropElement 
{ margin: 3px 3px 3px 0; padding: 1px; float: left; 
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  border: 1px solid #77D5F7;
  color: #FFFFFF;
  font-weight: normal;
  font-size:0.8em;
  height: 40px; 
  text-align:left;
}


.tooltip {
    display:none;
    font-size:10px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    color:white;
  }
  
 .tooltip .tooltip-inner {
  color: Black;
  text-align: center;
  text-decoration: none;
  opacity:0.9;
  background: -moz-linear-gradient(top, rgba(252,255,244,1) 0%, rgba(223,229,215,1) 0%, rgba(179,190,173,1) 100%);
  /*background-color: #F39814;*/
  border-color:Black;
  border-bottom-style:solid;
  border-bottom-width:1px;
 
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}