﻿<div style="display: block" id="divCreateMaterial">
    <table cellspacing="0" cellpadding="5" border="0" width="100%">
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="formHeader">
            <td colspan="3">
                <label class="formHeaderTag">
                    &nbsp;&nbsp;Add Material</label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>
                    Material Name:</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required,funcCall[checkDuplicate]]" data-bind="wgReferenceField: data.Fk_Material"
                    type="text" placeholder="Item Name" id="txtFk_Material" style="width: 100%"
                    readonly />
            </td>
            <td valign="top" align="left">
                <button type="submit" class="btn cmdCreate" id="cmdSearchMaterialsdetails">
                    Search</button>
            </td>
            
        </tr>
          <tr>
            <td valign="top">
                <label>
                   Reel No</label>
            </td>
            <td valign="top">
                <input class="modelControl" data-bind="value: data.RollNo"
                    type="text" placeholder="RollNo" id="RollNo" style="width: 20%" readonly />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
         <tr>
            <td valign="top">
                <label>
                   Shade</label>
            </td>
            <td valign="top">
                <input class="modelControl" data-bind="value: data.Color"
                    type="text" placeholder="Shade" id="Color" style="width: 20%" readonly />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
         <tr>
            <td valign="top">
                <label>
                    Quantity</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" data-bind="value: data.RM_Consumed"
                    type="text" placeholder="Quantity" id="Quantity" style="width: 20%" maxlength="10"/>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
            <tr>
            @*<td valign="top">
                <label type="hidden">
                    Pk_PaperStock</label>
            </td>*@
            <td valign="top">
                <input class="modelControl" data-bind="value: data.Pk_PaperStock"
                    type="hidden" placeholder="Pk_PaperStock" id="Pk_PaperStock" style="width: 20%" maxlength="10" readonly />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
                   <td valign="top">
                <input class="modelControl" data-bind="value: data.Pk_PaperStock"
                    type="hidden" placeholder="Pk_Material" id="Pk_Material" style="width: 20%" maxlength="10" readonly />
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button type="submit" class="btn cmdCreate" id="cmdSaveMaterial">
                    Save</button>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
      
    
       
    </table>
</div>



<div style="display: none; width: 1000px; height: 600px;" id="divSearchMaterial">
    <table cellpadding="4" cellspacing="0" border="0" width="80%">
        <tr>
            <td>
               
            </td>
        </tr>
        <tr>
            <td colspan="10">
                <input type="text" id="txtMaterial" data-bind="value: data.MaterialName" placeholder="Material Name"
                    class="input-large search-query" style="width: 30%" />
               
                <button type="submit" class="btn" id="cmdMaterialSearch">
                    Search</button>
                <button type="submit" class="btn" id="cmdMaterialDone">
                    Done</button>

            </td>
        </tr>

                <table cellpadding="8" cellspacing="0" border="0" width=80%">
        <tr>
            <td colspan="1">
                <div id="dlgMaterialSearchFields">
                </div>
                @*<input type="text" id="txtEnquiry" data-bind="value: data.Customer" placeholder="Customer Name" class="input-large search-query"/>
            <input type="text" id="txtCommunicationType" data-bind="value: data.CommunicationType" placeholder="CommunicationType" class="input-large search-query"/>*@
                <br />
                       <div id="radiobtns">
                                <table width="50%">
                                    <tr>
                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Board"name="Status" value="Board" onchange="showOnlyBoard()" class="input-large search-query" /><span class="metro-radio">Board</span>
                                            </label>
                                           
                                        </td>
                                        
                                       @* <td style="width:50px" valign="top"">
                                            <label class="radio">
                                                <input type="radio" id="Gum" name="Status" value="Gum" onchange="showOnlyGum()" class="input-large search-query" /><span class="metro-radio">Gum</span>
                                            </label>
                                               
                                        </td>
                                        
                                         <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Ink" name="Status" value="Ink" onchange="showOnlyInk()" class="input-large search-query" /><span class="metro-radio">Ink</span>
                                            </label>
                                                
                                        </td>*@

                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Paper" name="Status" value="Paper" onchange="showOnlyPaper()" class="input-large search-query" /><span class="metro-radio">Paper</span>
                                            </label>
                                               
                                        </td>


                                       @* <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Honeycomb" name="Status" value="Honeycomb" onchange="showOnlyHoneycomb()" class="input-large search-query" /><span class="metro-radio">HoneyComb</span>
                                            </label>
                                               
                                        </td>*@
                                        
                             <tr>
            <td>
                 <input type="hidden" class="input-large"  placeholder="TYPE" id="SType" /></td>
            </td>
        </tr>
                                    </table>

                       </div>
                
  <tr>
            <td>
                <div id="MaterialSearchContainer">
                </div>
            </td>
        </tr>







