﻿<div style="display: block" id="divCreateMaterial">
    <table cellspacing="1" cellpadding="2" border="0" width="100%">
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="formHeader">
            <td colspan="3">
                <label class="formHeaderTag">
                    &nbsp;&nbsp;Add Process</label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
       
        <tr>
            <td valign="top">
                <label>
                    Process Name:</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[funcCall[checkDuplicate]]" data-bind="wgReferenceField: data.Fk_ProcessID"
                    type="text" placeholder="Process Name" id="txtFk_Process" style="width: 100%"
                    readonly />
                  <input class="modelControl " data-bind="value: data.ProcessName"
                    type="hidden" placeholder="Process Name" id="ProcessName" style="width: 50%"
                    readonly />
            </td>
            <td valign="top" align="left">
                <button type="submit" class="btn cmdCreate" id="cmdSearchProcess">
                    Search</button>
            </td>
            
        </tr>
         <tr>
            <td valign="top">
                <label>Process Date</label>
            </td>
            <td>
                @*<input readonly type="text" id="dtDeliveryDate" data-bind="value: data.DeliveryDate" data-date-format="dd/mm/yyyy" class="validate[required,funcCall[deliveryDateValidate]] span2 datepicker input-medium" data-provide="datepicker"/>*@
                 <input readonly type="text" id="dtDeliveryDate" data-bind="value: data.ProcessDate" data-date-format="dd/mm/yyyy" class="validate[required] span2 datepicker input-medium" data-provide="datepicker"/>
            </td>
        </tr>
         <tr>
            <td valign="top">
                <label>
                    Planned Qty</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" data-bind="value: data.Quantity"
                    type="text" placeholder="Quantity" id="Quantity" style="width: 20%" maxlength="10"/>
            </td>

              <td valign="top" style="visibility: hidden;" id="L1">
                <label>
                   Fluted Layer Wt</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" data-bind="value: data.LWt1"
                    type="hidden" placeholder="" id="LWt1" style="width: 20%" maxlength="10"/>
            </td>


            <td>
                &nbsp;
            </td>
        </tr>
            <tr>
            <td valign="top">
                <label>
                    Prdn.Qty</label>
            </td>
            <td valign="top">
                <input class="modelControl" data-bind="value: data.PQuantity"
                    type="text" placeholder="PQty" id="PQuantity" style="width: 20%" maxlength="10"/>
            </td>


                   <td valign="top" style="visibility: hidden;" id="L2">
                <label>
                 Liner Layer Wt</label>
            </td>
            <td valign="top">
                <input class="modelControl" data-bind="value: data.LWt2"
                    type="hidden" placeholder="" id="LWt2" style="width: 20%" maxlength="10"/>
            </td>



            <td>
                &nbsp;
            </td>
        </tr>
         <tr>
            <td valign="top">
                <label>
                    Wastage Qty</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" onblur="CalcWastage()" data-bind="value: data.WastageQty"
                    type="text" placeholder="WQty" id="WastageQty" style="width: 20%" maxlength="10"/>
            </td>

             
                   <td valign="top" style="visibility: hidden;"  id="wt">
                <label>
                    Tot.Wastage</label>
            </td>
            <td valign="top">
                <input class="modelControl" data-bind="value: data.WQty"
                    type="hidden" placeholder="" id="WQty" style="width: 20%" maxlength="10"/>
            </td>


            <td>
                &nbsp;
            </td>
        </tr>
        
            <tr>
            <td valign="top">
                <label>
                  Reason-Wastage</label>
            </td>
            <td valign="top">
                <input class="input-medium modelControl" data-bind="value: data.ReasonWastage"
                    type="text" placeholder="Reason" id="ReasonWastage" style="width: 80%" maxlength="250"/>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
         <tr>
            <td valign="top">
                <label>
                  Reason-Wastage</label>
            </td>
            <td valign="top">
                <input class="input-medium modelControl" data-bind="value: data.R1Wastage"
                    type="text" placeholder="Reason" id="R1Wastage" style="width: 80%" maxlength="250"/>
            </td>

             <td valign="top">
                <input class="input-medium modelControl" data-bind="value: data.R2Wastage"
                    type="text" placeholder="Reason" id="R2Wastage" style="width: 80%" maxlength="250"/>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
          <tr>
            <td valign="top">
                <label>
                  Reason-Wastage</label>
            </td>
            <td valign="top">
                <input class="input-medium modelControl" data-bind="value: data.R3Wastage"
                    type="text" placeholder="Reason" id="R3Wastage" style="width: 80%" maxlength="250"/>
            </td>

             <td valign="top">
                <input class="input-medium modelControl" data-bind="value: data.R4Wastage"
                    type="text" placeholder="Reason" id="R4Wastage" style="width: 80%" maxlength="250"/>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
           <tr>
            <td valign="top">
                <label>
                    Remaining Qty</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" data-bind="value: data.RemainingQty"
                    type="text" placeholder="Remaining" id="RemainingQty" style="width: 20%" maxlength="10"/>
            </td>
               <td valign="top">
                <label>
                    Balance Qty</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" data-bind="value: data.BalanceQty"
                    type="text" placeholder="Balance Qty" id="BalanceQty" style="width: 20%" maxlength="10"/>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            @*<td valign="top">
                <label>
                   Prd.StartTime</label>
            </td>*@
        
             
            <td valign="top">
                <label>Prd.StartTime</label>
            </td>
           
           
       <td valign="top">
                <input class="modelControl" data-bind="value: data.PSTime"
                    type="text" placeholder="StartTime" id="PSTime" style="width: 20%" maxlength="10"/>
            </td>
               
            <td>
                &nbsp;
            </td>
        </tr>
         <tr>
            <td valign="top">
                <label>
                   Prd.EndTime</label>
            </td>
            <td valign="top">
             <input class="modelControl" data-bind="value: data.PETime"
                    type="text" placeholder="EndTime" id="PETime" style="width: 20%" maxlength="10"/>
                 @*    <input readonly type="text" id="PEndTime" data-bind="value: data.PEndTime" data-date-format="dd/mm/yyyy" class="span2 datepicker input-medium" data-provide="datepicker"/>*@
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
      @*  <tr>
                   <td valign="top">
                <input class="modelControl" data-bind="value: data.Pk_PaperStock"
                    type="text" placeholder="Pk_Material" id="Pk_Material" style="width: 20%" maxlength="10" readonly />
            </td>
        </tr>*@
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button type="submit" class="btn cmdCreate" id="cmdSaveProcess">
                    Save</button>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
      
    
       
    </table>
</div>



<div style="display: none; width: 1000px; height: 600px;" id="divSearchMaterial">
    <table cellpadding="4" cellspacing="0" border="0" width="80%">
        <tr>
            <td>
               
            </td>
        </tr>
        <tr>
            <td colspan="10">
                <input type="text" id="txtProcess" data-bind="value: data.Name" placeholder="Name"
                    class="input-large search-query" style="width: 30%" />
                   @*<input type="text" id="txtGSM" data-bind="value: data.GSM" placeholder="GSM"
                    class="input-mini search-query" style="width: 30%" />
                 <input type="text" id="txtBF" data-bind="value: data.BF" placeholder="BF"
                    class="input-mini search-query" style="width: 30%" />
                 <input type="text" id="txtColor" data-bind="value: data.Color" placeholder="Color"
                    class="input-medium search-query" style="width: 30%" />*@
                <button type="submit" class="btn" id="cmdPSearch">
                    Search</button>
                <button type="submit" class="btn" id="cmdPDone">
                    Done</button>

            </td>
        </tr>

                <table cellpadding="8" cellspacing="0" border="0" width=80%">
        <tr>
           </tr>
                                    </table>

                      
               
  <tr>
            <td>
                <div id="MaterialSearchContainer1">
                </div>
            </td>
        </tr>







