﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
    <script src="~/Scripts/Application/GlueCertificate/GlueCertOperations.js"
        type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/Application/GlueCertificate/Materials.js"></script>
    <script src="~/Scripts/Frameworks/WebGare/Configuration/wgOne2ManyConfigurator.js"
        type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>
}

@section MainSection{
    
<div id="divMainSection" wgPageType="CRUD" wgTag="GlueCertificate">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
    <div id="divSearchArea" align="center"></div>
 </div>
    }

<div id="searchDialog" class="modal hide fade" tabindex="100" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 700px; height: 500px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader">Vendor Search</h3>
    </div>
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
                <table>
                    <tr>
                        <td valign="top">
                            <input type='text' id='txtdlgVendorName' placeholder='Name' class='input-large search-query' />
                        </td>
                       @* <td valign="top">
                            <input type='text' id='txtdlgIssueFromDate' placeholder='From Date' data-date-format='dd/mm/yyyy' class='span2 input-medium' data-provide='datepicker' />
                        </td>
                        <td valign="top">
                            <input type='text' id='txtdlgIssueToDate' placeholder='To Date' data-date-format='dd/mm/yyyy' class='span2 input-medium' data-provide='datepicker' />
                        </td>*@
                        <td valign="top">
                            <button type="submit" class="btn" id="cmdSearch">Search</button></td>
                        <td valign="top">
                            <button type="submit" class="btn" id="cmdDone">Done</button></td>
                    </tr>
                </table>


            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="MainSearhContainer">
                </div>
            </td>
        </tr>
    </table>
</div>

<div id="searchIndentDialog" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 800px; height: 500px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader1">Indent</h3>
    </div>


    <table cellpadding="8" cellspacing="0" border="0" width="85%">
        <tr>
            <td>
                <table>

                    <tr>
                     <td valign="top">
                            <input type="text" id="txtdlgIndent" placeholder="Mat.Name" class="input-medium" /></td>
                         @*  <td valign="top">
                            <input type="text" id="txtdlgVendor" placeholder="Vendor" class="input-medium" /></td>

                        <td valign="top">
                            <input type="text" id="txtdlgFromDate" placeholder="From Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" />
                        </td>
                        <td valign="top">
                            <input type="text" id="txtdlgToDate" placeholder="To Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" />*@
                        </td>
                        <td valign="top">
                            <button type="submit" class="btn" id="cmdIndentSearch">Search</button>
                            <button type="submit" class="btn" id="cmdIndentDone">Done</button>
                        </td>
                    </tr>
            </td>
        </tr>
    </table>
    <tr>
        @*  <td>
            <button type="submit" class="btn" id="cmdIndentSearch">Search</button>
            <button type="submit" class="btn" id="cmdIndentDone">Done</button>
        </td>*@

    </tr>
    <tr>
        <td>
            <div id="IndentSearhContainer">
            </div>
        </td>
    </tr>


    </table>
       

</div>