﻿<div style="display: block" id="divCreateMaterial">
    <table cellspacing="0" cellpadding="5" border="0" width="90%">
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="formHeader">
            <td colspan="3">
                <label class="formHeaderTag">
                    &nbsp;&nbsp;Add Material</label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>
                    Material Name:</label>
            </td>


            <td valign="top">
               

            
                <input class="modelControl"  data-bind="value: data.MaterialName"
                    type="text"  placeholder="MaterialName" id="MaterialName" style="width: 80%" maxlength="50" />
            </td>

          
                @*<input class="modelControl validate[required,funcCall[checkDuplicate]]" data-bind="wgReferenceField: data.Fk_Material"
                    type="text" placeholder="Name" id="txtFk_Material" style="width: 100%"
                    readonly />*@
         
            <td valign="top">
                <button type="submit" class="btn cmdCreate" id="cmdSearchMaterialsdetails">
                    Search</button>
            </td> 
          
        </tr>

           @*   <tr>
         <td valign="top">
                <label>
                    fkmat</label>
            </td>*@
        
          @*     
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>*@
            <td valign="top">
                <label>
                    Shade</label>
            </td>
              <td valign="top">
                <input class="modelControl"  data-bind="value: data.Shade"
                    type="text" readonly="" placeholder="Shade" id="Shade" style="width: 20%" maxlength="10" />
            </td>
                <td valign="top">
                <input class="modelControl"  data-bind="value: data.Fk_Material"
                    type="hidden" readonly="" placeholder="Fk_Material" id="txtFk_Material" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
           <tr>
            <td valign="top">
                <label>
                    Mill</label>
            </td>
            <td valign="top">
                <input class="modelControl" data-bind="value: data.Mill"
                    type="text" placeholder="Mill" id="Mill" style="width: 20%" maxlength="50" />
            </td>
                  <td valign="top">
                <input class="modelControl"  data-bind="value: data.Fk_IndentVal"
                    type="hidden" readonly="" placeholder="Indent" id="Fk_IndentVal" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
           <tr>
            <td valign="top">
                <label>
                    HSN Code</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" data-bind="value: data.HSNCode"
                    type="text" placeholder="HSNCode" id="HSNCode" style="width: 20%" maxlength="50" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
         <tr>
            <td valign="top">
                <label>
                    Quantity</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required,custom[number]]" onchange="CalcAmt()" data-bind="value: data.Quantity"
                    type="text" placeholder="Quantity" id="Quantity" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
            <tr>
            <td valign="top">
                <label>
                    Rate/Kg</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required,custom[number]]" onchange="CalcAmt()" data-bind="value: data.Rate"
                    type="text" placeholder="Rate" id="Rate" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
          <tr>
            <td valign="top">
                <label>
                    Amount</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" readonly data-bind="value: data.Amount"
                    type="text" placeholder="Amount" id="Amount" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button type="submit" class="btn cmdCreate" id="cmdSaveMaterial">
                    Save</button>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
      @*  <tr>
            <td valign="top">
                <label>
                     ReturnableQty:</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" data-bind="value: data.Quantity"
                    type="text" placeholder="Qty" id="Quantity" style="width: 30%" readonly />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>*@
       
    </table>
</div>
<div style="display: none; width: 550px; height: 600px;" id="divSearchMaterial">
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td>
               
            </td>
        </tr>
        <tr>
            <td colspan="1">
                 <input type="text" id="txtMaterial" data-bind="value: data.MaterialName" placeholder="GSM"
                    class="input-mini search-query" style="width: 15%" />
                 <input type="text" id="txtBF" data-bind="value: data.MaterialName" placeholder="BF"
                    class="input-mini search-query" style="width: 15%" />
                 <input type="text" id="txtDec" data-bind="value: data.MaterialName" placeholder="Deckel"
                    class="input-mini search-query" style="width: 15%" />
               
                <button type="submit" class="btn" id="cmdMaterialSearch">
                    Search</button>
                <button type="submit" class="btn" id="cmdMaterialDone">
                    Done</button>
            </td>
        </tr>


                     <table cellpadding="8" cellspacing="0" border="0" width=80%">
        <tr>
            <td colspan="1">
                <div id="dlgMaterialSearchFields">
                </div>
                @*<input type="text" id="txtEnquiry" data-bind="value: data.Customer" placeholder="Customer Name" class="input-large search-query"/>
            <input type="text" id="txtCommunicationType" data-bind="value: data.CommunicationType" placeholder="CommunicationType" class="input-large search-query"/>*@
                <br />
                   @*    <div id="radiobtns">
                                <table width="50%">
                                    <tr>
                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Board"name="Status" value="Board" onchange="showOnlyBoard()" class="input-large search-query" /><span class="metro-radio">Board</span>
                                            </label>
                                           
                                        </td>
                                        
                                        <td style="width:50px" valign="top"">
                                            <label class="radio">
                                                <input type="radio" id="Gum" name="Status" value="Gum" onchange="showOnlyGum()" class="input-large search-query" /><span class="metro-radio">Gum</span>
                                            </label>
                                               
                                        </td>
                                        
                                         <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Ink" name="Status" value="Ink" onchange="showOnlyInk()" class="input-large search-query" /><span class="metro-radio">Ink</span>
                                            </label>
                                                
                                        </td>

                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Paper" name="Status" value="Paper" onchange="showOnlyPaper()" class="input-large search-query" /><span class="metro-radio">Paper</span>
                                            </label>
                                               
                                        </td>


                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Honeycomb" name="Status" value="Honeycomb" onchange="showOnlyHoneycomb()" class="input-large search-query" /><span class="metro-radio">HoneyComb</span>
                                            </label>
                                               
                                        </td>
                                        
                             <tr>
            <td>
                 <input type="hidden" class="input-large"  placeholder="TYPE" id="SType" /></td>
            </td>
        </tr>
                                    </table>

                       </div>*@
                
                </td></tr>
                </table>



        <tr>
        </tr>
        <tr>
            <td>
                <div id="MaterialSearchContainer">
                </div>
            </td>
        </tr>

         <tr>
            <td>
                <div id="MaterialSearchContainerSec">
                </div>
            </td>
        </tr>
    </table>
</div>
