﻿<table cellspacing="0" cellpadding="0" border="0" style="width: 50%">
    <br />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;Edit Purchase Order</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
</table>
<tr></tr>
<table border="0" cellspacing="0" cellpadding="0" style="width: 50%">
    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <label>
                PO Date: &nbsp&nbsp&nbsp&nbsp</label>
        </td>
        <td align="left">
            <input type="text" readonly id="dtDate" data-bind="value: data.PODate" data-date-format="dd/mm/yyyy" class="validate[required] span2 input-medium" data-provide="datepicker" />
        </td>




        <td colspan="2" align="left" style="width: 20%">
            <label>Net Value</label></td>
        <td>

            <input class="input-medium modelControl" readonly data-bind="value: data.GrandTotal" type="text"  placeholder="NetValue" id="GrandTotal" /></td>


        <tr>
            <td>
                <label>Indent No</label></td>
            <td>
                <table>
                    <tr>
                        <td valign="top">
                            @*<input class="input-large modelControl"  readonly data-bind="wgReferenceField: data.Fk_Indent" type="text" placeholder="Indent No" id="Fk_Indent" />*@

                            <input class="input-large modelControl validate[required]" readonly data-bind="value: data.Fk_Indent" type="text" placeholder="Indent No." id="Fk_Indent" />
                        </td>
                        <td valign="top">
                            <button class="btn btn-primary" id="cmdMIndentSearch">Search</button>
                        </td>

                    </tr>
                </table>
            </td>
            <td colspan="2" align="left" style="width: 20%">
                <label>SGST@6%</label></td>

            <td>
                <input class="input-medium modelControl" readonly data-bind="value: data.SGST" type="text" placeholder="SGST" id="SGST" /></td>
        </tr>
    <tr>
        <td>
            <label>
                Vendor</label>
        </td>
        <td>

            <table>
                <tr>
                    <td valign="top">
                        <input class="input-large modelControl" readonly="" data-bind="wgReferenceField: data.Fk_Vendor" type="text" placeholder="Vendor" id="Fk_Vendor" />

                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdVendorMSearch">Search</button>
                    </td>
                </tr>
            </table>
        </td>
        <td colspan="2" align="left" style="width: 20%">
            <label id="fct3">
                CGST@6%
            </label>
        </td>
        <td>
             <input class="input-medium modelControl" readonly="" data-bind="value: data.CGST" type="text" placeholder="CGST" id="CGST" /></td>
        
    </tr>


   
    <tr>
<td>

</td>
     

    </tr>
    <tr>

        <td></td>
        <td></td>

        <td colspan="2" align="left" style="width: 20%">
            <label>Bill Amount</label></td>
        <td>

            <input class="input-medium modelControl" readonly data-bind="value: data.NETVALUE" type="text" placeholder="Bill Amount" id="NETVALUE" /></td>
        
     
    </tr>
 

    
        <tr>
 
                               <td>
                                    <label>
                                       Deliver To</label>
                                </td>
                                <td>
                                    <textarea class="input-large modelControl" type="text" data-bind="value: data.DeliveryAdd"
                                        placeholder="Delivery Address" id="DeliveryAdd" tabindex="2" />
                                </td> 

                  <td colspan="2" align="left" style="width: 20%">
            <label>
                Terms of Payment
            </label>
        </td>
        <td>
             <input class="input-medium modelControl"  data-bind="value: data.Two" type="text" placeholder="Terms of Payment" id="Two" maxlength="100" ></td>
          

    </tr>
     <tr>
 
                               <td>
                                    <label>
                                      Packing & Forwarding</label>
                                </td>
                                <td>   <input class="input-medium modelControl"  data-bind="value: data.Four" type="text" placeholder="Packing & Forwarding" id="Four" maxlength="100" ></td>
           <td colspan="2" align="left" style="width: 20%">
            <label>
                Mode of Transport
            </label>
        </td>
        <td>
             <input class="input-medium modelControl"  data-bind="value: data.Five" type="text" placeholder="Mode of Transport" id="Five" maxlength="100" ></td>
          

    </tr>
     <tr>
 
                               <td>
                                    <label>
                                     Insurance Charges</label>
                                </td>
                                <td>   <input class="input-medium modelControl"  data-bind="value: data.Six" type="text" placeholder="Insurance Charges" id="Six" maxlength="100" ></td>
           <td colspan="2" align="left" style="width: 20%">
            <label>
                Freight Charges
            </label>
        </td>
        <td>
             <input class="input-medium modelControl"  data-bind="value: data.Seven" type="text" placeholder="Freight Charges" id="Seven" maxlength="100" ></td>
          
         
    </tr>
    <tr>
            <td>
            <label>
                Comments
            </label>
        </td>
        <td>
             <textarea class="input-large modelControl" type="text" data-bind="value: data.Comments"
                                        placeholder="Comments" id="Comments" maxlength="500" /></td>
</tr>

</table>
<table cellspacing="0" cellpadding="0" border="0" style="width: 40%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddMaterial" type="submit">
                        Add Material</button>
                </div>
                <div style="padding-bottom: 8px" id="tlbMaterials">
                </div>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
