﻿
@*//Name          : Screen Design for Gum -- Edit Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Shantha
//Date 	        : 07/08/2015
//Crh Number    : SL0005
//Modifications : *@

<table cellspacing="0" cellpadding="0" border="0" width="30%">
    <br />
   
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Pin</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    @* <tr>
        <td><label>Part No.</label></td>
        <td><input class="input-large modelControl" data-bind="value: data.PartNo" type="text" placeholder="PartNo" id="PartNo" readonly/> </td>
    </tr>*@
    <tr>
        <td>
            <label>
                 Name</label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl validate[required,funcCall[CheckPinDuplicate]]" readonly data-bind="value: data.Name"
                type="text" placeholder="Name" id="Name" maxlength="30" />
        </td>                
    </tr>
    
      
     <tr>
        <td>
            <label>
               Brand</label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl validate[required],custom[onlyLetterSp]" data-bind="value: data.Brand"
                type="text" placeholder="Brand" id="Brand" maxlength ="20" />
        </td>
                
    </tr>
     <tr>
        <td>
            <label>
               Type</label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl validate[required],custom[onlyLetterSp]" data-bind="value: data.MaterialType"
                type="text" placeholder="MaterialType" id="MaterialType" maxlength ="20" />
        </td>
                
    </tr>
    @*  <tr>
        <td><label>Unit</label></td>
        <td><select style ="width:85%" class="modelControl validate[required]" data-bind="options: Unit,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_Unit" id="Fk_Unit"></select>
       </td>
    </tr>*@

    
     <tr>
        <td>
            <label>
               Size</label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.Size"
                type="text" placeholder="Size" id="Size" />
        </td>
                
    </tr>
       <tr>
        <td><label>Min.Qty</label></td>
        <td><input class="input-large modelControl validate[custom[number]]" data-bind="value: data.Min_Value" type="text" placeholder="Min.Qty" id="Min_Val"/></td>
    </tr>
      <tr>
        <td><label>Max.Qty</label></td>
        <td><input class="input-large modelControl validate[custom[number]]" data-bind="value: data.Max_Value" type="text" placeholder="Max.Qty" id="Max_Val"/></td>
    </tr>

    <tr>
        <td>
   
              <td ><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate" >Save</button></td>
    </tr>
</table>
