﻿
@*//Name          : Screen Design for Receipt -- Edit Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Nagesh
//Date 	        : 28/10/2015
//Crh Number    : 
//Modifications : *@


<table cellspacing="0" cellpadding="0" border="0" width="40%">

    <br />
    <tr  class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;Add Receipt</label></td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>


    <tr>
        <td>&nbsp;</td>
    </tr>


   
      <tr>
        <td>
            <label>Customer</label></td>
        <td>
             <table>
                <tr>
                    <td valign="top">
            <input class="input-large modelControl validate[required]" readonly data-bind="wgReferenceField: data.Fk_Customer" type="text" placeholder="Customer" id="Fk_Customer" />
            </td>
                    <td valign="top">
                         <button class="btn btn-primary" id="cmdCustomerSearch">Search</button>
        </td>
   </tr>
            </table>
    </tr>


    <tr>
        <td>
            <label>Amount</label></td>
        <td>
            
          <input class="input-large validate[custom[onlyNumberSp]]" data-bind="value: data.Amount" type="text" placeholder="Amount" id="Amount" /></td>
        </tr>

     <tr>
        <td>
            <label>
                Cheque No
            </label>
            <td>
           <input class="input-large validate custom[onlyNumberSp]," data-bind="value: data.ChequeNo" type="text" placeholder=" Cheque No" id="ChequeNo" maxlength="6" /></td>
    </tr>


    <tr>
        <td>
            <label>Cheque Date</label>
        </td>
        <td>

            <input type="text" readonly id="ChequeDate" data-bind="value: data.ChequeDate" data-date-format="dd/mm/yyyy" class=" span2 input-medium" data-provide="datepicker" />
        </td>
        </tr>

   <tr>
        <td>
            <label> Description</label></td>
        <td>
            <textarea class="input-large" data-bind="value: data.Description" type="Paper Description" placeholder=" Description" id="PaperDescription" maxlength="500" /></td>
    </tr>

    <tr>
        <td>
            <label>Bank Name</label></td>
        <td>
          
              <input style ="width:50%" class="input-large validate[required,custom[onlyLetterSp]]" data-bind="value: data.BankName" type="text" placeholder="Bank Name" id="BankName" maxlength="50" /></td>
    </tr>


    
    <tr>
        <td>&nbsp;</td>
        <td colspan="3">
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
