﻿@*//Name          : Screen Design for Receipt -- Search Mode(HTML)
//Description     : Search is done on the fields- Receipt Id,Customer Name,Cheque Number and Cheque Date
//Author          : Nagesh
//Date            : 28/10/2015
//CRH Number      :  
//Modifications : *@


<table width="75%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="90%" align="center">
                    <tr>
                        <td>
                            <table>
                                <tr>

                                    <td align="center" valign="top">
                                        <input type="text" id="TxtRecId" placeholder="Receipt Id" class="input-medium search-query" /></td>
                                    <td align="center" valign="top">
                                        <input type="text" id="TxtCustomer" placeholder="Customer Name" class="input-medium search-query" /></td>
                                    <td align="center" valign="top">
                                        <input type="text" id="TxtChNo" placeholder="Cheque No" class="input-medium search-query" /></td>
                                    <td align="center" valign="top">
                                        <input type="text" id="txtChDate" placeholder="Cheque Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                                    </td>
                                   @* <td align="center" valign="top">
                                        <input type="text" id="TxtToDate" placeholder="To Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                                    </td>*@
                                    <td align="center" valign="top">
                                        <button type="submit" class="btn" id="LoadRecordsButton">
                                            Search</button></td>
                                    <td align="center" valign="top">
                                        <button type="submit" style="width: 100%" class="btn" id="cmdNew">
                                            Add Receipt</button></td>


                                   @* <td align="center" valign="top">
                                        <button type="submit" style="width: 100%" class="btn" id="cmdPrint">
                                            Print</button></td>*@

                                </tr>
                            </table>
                        </td>
                    </tr>
                   @* <tr>
                        <td style="width: 40%" colspan="8">
                            <label class="checkbox" style="width: 250px">
                                <input type="checkbox" id="chkonlyPending" onchange="showOnlyPending()"><span class="metro-checkbox">Show
                                    Only Pending</span>
                            </label>
                        </td>
                    </tr>*@
                    <tr>
                        <td colspan="8">
                            <div id="MainSearchContainer">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
