﻿

<table cellspacing="0" cellpadding="0" border="0" width="30%">

    <br />

    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;Add Shape</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label>Shape Name</label></td>
        <td>
            <input class="input-large" data-bind="value: data.ShapeName" type="text" placeholder="Name " id="Name" maxlength="50" /></td>
    </tr>
   
   <h2>Import</h2>
@* @using (Html.BeginForm("Importexcel", "Stud", FormMethod.Post, new { enctype = "multipart/form-data" }))
 {
 <table>*@
 <tr><td colspan="2">Excel file</td><td><input  type="file"  id="FileUpload1" /></td></tr>
 <input  type="submit" id="fileupload" name="Submit" value="up"/><tr><td></td><td></td></tr>
 @*</table>
 }*@
    <tr><td colspan="2">Excel file</td><td><input  type="file"  id="FileUpload2" /></td></tr>
 <input  type="submit" id="Stockupload" name="Submit" value="up"/><tr><td></td><td></td></tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
        </tr>
</table>


