﻿

<table width="80%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="70%" align="center">
                    <tr>
                        <td>
                            <input type="text" id="TxtShapeID" placeholder="Shape ID" class="input-large search-query" />
                            <input type="text" id="TxtShapeName" placeholder="Name" class="input-large search-query" />
                            <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                            <button type="submit" class="btn" id="cmdNew">Add Shape </button>
                               <button type="submit" class="btn" id="cmdPrint">Print List</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="MainSearchContainer"></div>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
    </tr>
</table>
