﻿@*//Name          : Screen Design for Material Indent -- Edit Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Shantha
//Date 	        : 19/08/2015
//Crh Number    : SL0038-SL0040
//Modifications : *@

<!--Hidden fields used only for data storage -->
<!-- Pk_Order -->

@*<input type="hidden" id="hidPkOrder" data-bind="value: data.Pk_Order" />*@

<!--Done Hidden Fields -->

<table cellspacing="0" cellpadding="0" border="0" width="60%">
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;Edit Material Issue</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            <div id="wfButtons"></div>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td colspan="2">
            <div class="tabbable">
                <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Issue Details</a></li>
                    <li><a href="#tab2" data-toggle="tab">Material</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <table>
                            <tr>
                                <td>
                                    <label>Material Issue Date</label></td>
                                <td>
                                    <input type="text" readonly id="dtIssueDate" data-bind="value: data.IssueDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[orderDateValidate]] span2 input-medium" data-provide="datepicker" />
                                </td>




                            </tr>


                            <tr>
                                <td style:width="30%" valign="top">
                                    <label>Customer Order</label>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td valign="top">
                                                <input class="input-medium modelControl  " readonly data-bind="value: data.Fk_OrderNo" type="text" placeholder="Customer Order" id="Fk_OrderNo" />
                                            </td>
                                            <td valign="top">
                                                <button class="btn btn-primary" id="cmdCustomerOrderSearch">Search</button>
                                            </td>
                                        </tr>
                                    </table>
                            </tr>

                            <tr>
                                    <td style:width="30%" valign="top">
                                        <label>Job Card No.</label>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <input class="input-medium modelControl  " readonly data-bind="value: data.Fk_JobCardID" type="text" placeholder="JobCard" id="Fk_JobCardID" />
                                                </td>
                                                <td valign="top">
                                                    <button class="btn btn-primary" id="cmdJobCardSearch">Search</button>
                                                </td>
                                            </tr>
                                        </table>
                                </tr>

                            @*  <tr>
                                <td>
                                    <label>Branch</label></td>
                                <td>
                                    <select style="width: 35%" class="modelControl validate[required]" data-bind="options: Branch,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_Tanent"
                                        disabled id="Fk_Tanent">
                                    </select>
                                </td>
                            </tr>*@

                            @* <tr>
                                <td>
                                    <label>Vendor</label></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td valign="top">
                                                <input class="input-large modelControl validate[required]" readonly data-bind="wgReferenceField: data.Fk_VendorId" type="text" placeholder="Vendor" id="txtFk_VendorId" />
                                            </td>
                                            <td valign="top">
                                                <button class="btn btn-primary" disabled id="cmdVendorSearch">Search</button>
                                            </td>
                                        </tr>
                                    </table>
                            </tr>*@
                           @* <tr>
                                <td>
                                    <label>Issue No.</label></td>
                                <td>
                                   <input class="input-medium validate[custom[onlyNumberSp]] " data-bind="value: data.DCNo" placeholder="Issue No." id="txtDcNo" maxlength="10" /></td>
                            </tr>*@

                        </table>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div style="display: block;" id="divCreateMaterialIssue">
                            <table width="70%">
                                @*<tr class="formHeader">
                                    <td colspan="7">
                                        <label class="formHeaderTag">
                                            &nbsp;&nbsp;Add MaterialIndent</label>
                                    </td>
                                </tr>*@
                                <tr>
                                    <td>&nbsp;
                                    </td>
                                </tr>
                                @* <tr>
                                    <td style:width="30%" valign="top">
                                        <label>Required Date</label>
                                    </td>
                                    <td>
                                        <input readonly type="text" id="dtRequiredDate" data-bind="value: data.RequiredDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[requiredDateValidate]] span2 datepicker input-medium" data-provide="datepicker" />
                                    </td>
                                </tr>*@
                                <tr>
                                    <td valign="top">
                                        <label>Material</label>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <input class="input-medium modelControl  " readonly data-bind="wgReferenceField: data.Fk_Material" type="text" placeholder="Material" id="txtMaterial" />
                                                </td>
                                                <td valign="top">
                                                    <button class="btn btn-primary" id="cmdMaterialSearch">Search</button>
                                                </td>
                                            </tr>
                                        </table>
                                </tr>

                                <tr>
                                    <td valign="top">
                                        <label>Quantity</label>
                                    </td>
                                    <td>
                                        <input class="input-medium modelControl" data-bind="value: data.Quantity" type="text" placeholder="Quantity" id="Quantity" />
                                    </td>
                                    <td>
                                        <input class="input-medium [custom[onlyNumberSp]]  "data-bind="value: data.Pk_StockID" type="hidden" placeholder="Quantity" id="Pk_StockID" />
                                    </td>
                                </tr>
                                  <tr>
                                    <td valign="top">
                                        <label>Roll No.</label>
                                    </td>
                                    <td>
                                        <input class="input-medium modelControl" data-bind="value: data.RollNo" type="text" placeholder="RollNo" id="RollNo" />
                                    </td>
                                   
                                </tr>
                            </table>
                        </div>

                        <table width="80%">
                            <tr>
                                <td align="center">
                                    <div id="divListContainer">
                                        <div style="padding-bottom: 5px">
                                            <button id="cmdMaterialIndent" type="submit">
                                                Save To List</button>
                                        </div>
                                        <div style="padding-bottom: 8px" id="divMaterialDetail">
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </td>
    </tr>

    <tr>

        <td colspan="2" style="text-align: center">
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>

    <tr>
        <td colspan="2">
            <div id="wfTransDisplay">
            </div>
        </td>
    </tr>
</table>
