﻿<table cellspacing="0" cellpadding="0" border="0" width="40%">
    <br />
    <tr style="width: 10%" class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Tax</label></td>
        <td  align="right">

            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label>Tax Name</label></td>
        <td>
            <input class="input-large validate[required,custom[onlyLetterSp]]" data-bind="value: data.TaxName" readonly type="text" placeholder="Tax Name" id="TaxName" maxlength="50"/></td>
    </tr>

     <tr>
        <td>
            <label>Tax Value</label></td>
        <td>
            
          <input class="input-large validate[custom[number]] " data-bind="value: data.TaxValue" type="text" placeholder="Tax Value" id="TaxValue" /></td>
        </tr>
    <tr></tr>
    <tr></tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
