﻿<table width="60%" cellpadding="5" cellspacing="0" border="0">


<br />
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>
                        <input type="text" id="txtTaxId" placeholder="Tax Id " class="input-large search-query"/>
                             <input type="text" id="txtTaxValue" placeholder="Tax Value " class="input-large search-query"/>
                            <input type="text" id="txtTaxName" placeholder="Tax Name" class="input-large search-query"/>
                        <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                        <button type="submit" class="btn" id="cmdNew" >Add Tax</button>
                        </td>
                    </tr>
                    <tr><td></td></tr>
        <tr><td></td></tr>
                    <tr>
                        <td colspan="2"><div id="MainSearchContainer"></div></td>
                    </tr>
                </table>               
            </div>
            
        </td>
    </tr>
</table>