﻿<div style="display: block" id="divCreateMaterial">
    <table cellspacing="0" cellpadding="5" border="0" width="90%">
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="formHeader">
            <td colspan="3">
                <label class="formHeaderTag">
                    &nbsp;&nbsp;Add Punching Die</label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>
                    Material Name:</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" data-bind="wgReferenceField: data.Fk_Material"
                    type="text" placeholder="Item Name" id="txtFk_Material" style="width: 100%"
                    readonly />
            </td>
            <td valign="top" align="left">
                <button type="submit" class="btn cmdCreate" id="cmdSearchDiedetails">
                    Search</button>
            </td>
        </tr>
       @*  <tr>
            <td valign="top">
                <label>
                    Weight</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]"  data-bind="value: data.IssueWeight"
                    type="text" placeholder="IssueWeight" id="IssueWeight" style="width: 20%" maxlength="10" />
            </td>
           
            <td valign="top">
                <label>
                    Reel No</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]"  data-bind="value: data.ReelNo"
                    type="text" placeholder="ReelNo" id="ReelNo" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>*@

        @*  <tr>
            <td valign="top">
                <label>
                    Die Name</label>
            </td>
            <td valign="top">
                <input class="modelControl" data-bind="value: data.ReelNo"
                    type="text" placeholder="Name" id="ReelNo" style="width: 20%" maxlength="10" />
            </td>
              </tr>*@
             <tr>
            <td valign="top">
                <label>
                    Quantity(Nos.)</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" data-bind="value: data.IssueWeight"
                    type="text" placeholder="Nos" id="IssueWeight" style="width: 20%" maxlength="10" />
            </td>
          
           @* <td valign="top">
                <label>
                    Width</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" onblur="CalcLWt()" data-bind="value: data.Width"
                    type="text" placeholder="Width" id="Width" style="width: 20%" maxlength="10" />
            </td>
      *@
                @* <td>
                      <input class="modelControl validate[custom[number]]" " data-bind="value: data.GSM"
                    type="text" placeholder="GSM" id="GSM" style="width: 20%" maxlength="10" />
                 </td>*@
        @*    <td valign="top">
                <label>
                    Height</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" " data-bind="value: data.Height"
                    type="text" placeholder="Height" id="Height" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>*@
        </tr>
        
           @*    <tr>
            <td valign="top">
                <label>
                    Ply</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" " data-bind="value: data.Ply"
                    type="text" placeholder="Ply" id="Ply" style="width: 20%" maxlength="10" />
            </td>
           *@
          @*  <td valign="top">
                <label>
                   Exptd.Nos.</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]"  data-bind="value: data.AppNos"
                    type="text" placeholder="Exptd.Nos." id="AppNos" style="width: 20%" maxlength="10" />
            </td>*@
          
            @*<td valign="top">
                <label>
                    Board Wt</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" data-bind="value: data.LayerWt"
                    type="text" placeholder="LayerWeight" id="LayerWeight" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>*@

        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button type="submit" class="btn cmdCreate" id="cmdSaveMaterial">
                    Save</button>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>

    </table>
</div>
<div style="display: none; width: 550px; height: 600px;" id="divSearchMaterial">
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td>
               
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <input type="text" id="txtMaterial" data-bind="value: data.MaterialName" placeholder="Material Name"
                    class="input-large search-query" style="width: 70%" />
                <button type="submit" class="btn" id="cmdMaterialSearch">
                    Search</button>
                <button type="submit" class="btn" id="cmdMaterialDone">
                    Done</button>
            </td>
        </tr>


                     <table cellpadding="8" cellspacing="0" border="0" width=80%">
        <tr>
            <td colspan="1">
                <div id="dlgMaterialSearchFields">
                </div>
   
                <br />
                
                </td></tr>
                </table>



        <tr>
        </tr>
        <tr>
            <td>
                <div id="MaterialSearchContainer">
                </div>
            </td>
        </tr>
    </table>
</div>
