﻿@*//Name          : Screen Design for Contact person -- Search Mode(HTML)
//Description   : Search is done on the fields-ContactPersonName        
//Author        : shantha/Ravi
//Date 	        : 07/08/2015
//Crh Number    : SL0001
//Modifications : *@



<table width="80%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>
                        <input type="text" id="ContactPersonName1" placeholder="ContactPersonName" class="input-large search-query"/>
                        <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                        <button type="submit" class="btn" id="cmdNew" >New Contact Person Details</button>
                        </td>
                    </tr>
                    <tr><td></td></tr>
        <tr><td></td></tr>
                    <tr>
                        <td colspan="2"><div id="MainSearchContainer"></div></td>
                    </tr>
                </table>               
            </div>
            
        </td>
    </tr>
</table>