﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
  <script type="text/javascript" src="~/Scripts/Application/ContactPersonOperation.js"></script> 
}

@section MainSection{
<div id="divMainSection" wgPageType="CRUD" wgTag="ContactPerson">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
    <div id="divSearchArea" align="center"></div>
 </div>
}