﻿@*//Name          : Screen Design for Voucher -- Edit Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Nagesh
//Date 	        : 28/10/2015
//Crh Number    : 
//Modifications : *@


<table cellspacing="0" cellpadding="0" border="0" width="40%">

    <br />
    <tr  class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;Edit Voucher</label></td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>


    <tr>
        <td>&nbsp;</td>
    </tr>


   

      <tr>
        <td><label>Head</label></td>
        <td><select style ="width:50%" disabled class="modelControl validate[required]" data-bind="options: AccountHead,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_AccountHeadId" id="Fk_AccountHeadId"></select>
       </td>
    </tr>


    <tr>
        <td>
            <label>Amount</label></td>
        <td>
            
          <input class="input-large validate[custom[onlyNumberSp]]" data-bind="value: data.Amount" type="text" placeholder="Amount" id="Amount" /></td>
        </tr>

  <tr>
        <td>
            <label> Description</label></td>
        <td>
            <textarea class="input-large" data-bind="value: data.Description" type="Paper Description" placeholder=" Description" id="PaperDescription" maxlength="500" /></td>
    </tr>


    
    <tr>
        <td>&nbsp;</td>
        <td colspan="3">
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>