﻿@*//Name          : Screen Design for Voucher -- Search Mode(HTML)
//Description   : Search is done on the fields-City Id name and CityName         
//Author        : nagesh
//Date 	        : 07/08/2015
//Crh Number    : SL0012
//Modifications : *@


<table width="50%" cellpadding="5" cellspacing="0" border="0">
<br />
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>
                             <input type="text" id="TxtVoucherID" placeholder="Voucher ID" class="input-large search-query"/>
                        <input type="text" id="TxtDes" placeholder="Description" class="input-large search-query"/>
                           
                        <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                        <button type="submit" class="btn" id="cmdNew" >Add Voucher</button>
                           
                        </td>
                    </tr>
                    <tr><td></td></tr>
        <tr><td></td></tr>
                    <tr>
                        <td colspan="2"><div id="MainSearchContainer"></div></td>
                    </tr>
                </table>               
            </div>
            
        </td>
    </tr>
</table>