<div class="roundedDiv mainPartContainer" style="width: 1000px">
    <table width="100%" cellpadding="5">
    <tr>
        <td class="wgGradient"><label class="partHeader"></label></td>
    </tr>
    <tr>
    <td>
        <div class="selPly">
            <a class="tile app bg-color-purple smalltile" value="3"><i class="icon-stack"></i>
             <label>3 Ply</label>
            </a>
            <a class="tile app bg-color-purple smalltile" value="5"><i class="icon-stack"></i>
             <label>5 Ply</label>
            </a>
            <a class="tile app bg-color-purple smalltile" value="7"><i class="icon-stack"></i>
             <label>7 Ply</label>
            </a>
            <a class="tile app bg-color-purple smalltile" value="9"><i class="icon-stack"></i>
             <label>9 Ply</label>
            </a>
            <a class="tile app bg-color-purple smalltile" value="11"><i class="icon-stack"></i>
             <label>11 Ply</label>
            </a>
        </div>
        <div class="selElements" style="display:none">
            <table style="height:100px" border="0" cellpadding="5">
	            <tr class="commonFields">
                    <td align="center">
                        <label>
                            L</label>
                        <input class="input-mini OuterShell validate[funcCall[validateNumeric],required] "
                            data-bind="value: length" type="text" placeholder="Length" id="OLength"
                            tabindex="13" />
                    </td>
                    <td align="center">
                        <label>
                            W</label>
                        <input class="input-mini OuterShell validate[funcCall[validateNumeric],required] "
                            data-bind="value: width" type="text" placeholder="Width" id="OWidth" tabindex="14" />
                    </td>
                    <td>
                        <table>
                           <tr class="row"></tr>
                        </table>
                    </td>
                @*     <td  col width="80" align="left">
                    <label>
                        T.Up.Fact.</label>
                    <input class="input-mini UFields validate[funcCall[validateNumeric],required] "
                        data-bind="value: rate" type="text" placeholder="TakeUpFactor" id="ORate" tabindex="23" />
                </td>*@
                     <td>
                        <label style="visibility: hidden;">
                            Board Area</label>
                        <input class="input-mini validate[funcCall[validateNumeric],required]"
                            data-bind="value: boardArea" type="text" placeholder="Board Area" id="OBoardArea"
                            style="width: 70px;visibility: hidden;" readonly />
                    </td>
                     <td>
                        <label style="visibility: visible;">
                            Deckle</label>
                        <input class="input-mini validate[funcCall[validateNumeric],required]"
                            data-bind="value: deckle" type="text" placeholder="Deckle" id="ODeckle"
                            style="width: 70px; visibility: visible;" readonly />
                    </td>
                    <td>
                        <label style="visibility: visible;">
                            Cutting Size</label>
                        <input class="input-mini validate[funcCall[validateNumeric],required]" 
                            data-bind="value: cuttingSize" type="text" placeholder="CuttingSize" id="OCuttingSize"
                            style="width: 40px;visibility: visible;" readonly />
                    </td>
                     @*  <td>
                                <label style="visibility: visible;">
                                    No.Of Ups</label>
                                <input class="input-mini" style="visibility: visible;"
                                    data-bind="value: TakeUpfactor" type="text" placeholder="Ups" id="OTakeUpFactor"
                                    style="width: 40px" readonly="" />
                            </td>*@
                        </tr>
                         <div id="OuterShellContainer">

            <td width="10%">

                <div id="GSMContainer">
                    <!--Textboxes will be added here -->
                </div>
            </td>
                             </div>

                       
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
