<div class="roundedDiv mainPartContainer" style="width: 1200px">
    <table width="100%" cellpadding="5">
        <tr>
            <td class="wgGradient">
                <label class="partHeader"></label>
            </td>
        </tr>
        <tr>
            <td>
                <div class="selPly">
                    <a class="tile app bg-color-purple smalltile" value="3"><i class="icon-stack"></i>
                        <label>3 Ply</label>
                    </a>
                    <a class="tile app bg-color-purple smalltile" value="5"><i class="icon-stack"></i>
                        <label>5 Ply</label>
                    </a>
                    <a class="tile app bg-color-purple smalltile" value="7"><i class="icon-stack"></i>
                        <label>7 Ply</label>
                    </a>
                    <a class="tile app bg-color-purple smalltile" value="9"><i class="icon-stack"></i>
                        <label>9 Ply</label>
                    </a>
                    <a class="tile app bg-color-purple smalltile" value="11"><i class="icon-stack"></i>
                        <label>11 Ply</label>
                    </a>
                </div>
                <div class="selElements" style="display: none">
                    <table style="height: 100px" border="0" cellpadding="5">
                        <tr class="commonFields">
                            <td>
                                <label>
                                    OD Values</label></td>
                            <td align="center">
                                <label>
                                    L mm</label>
                                <input class="input-mini validate[funcCall[validateNumeric],required] " onchange="SetDefNoBoards()"
                                    data-bind="value: length" type="text" placeholder="Length" id="OLength"
                                    tabindex="1" />
                            </td>
                            <td align="center">
                                <label>
                                    W mm</label>
                                <input class="input-mini validate[funcCall[validateNumeric],required] " onchange="SetDefNoBoards()"
                                    data-bind="value: width" type="text" placeholder="Width" id="OWidth" tabindex="2" />
                            </td>
                            <td align="center">
                                <label>
                                    H mm</label>
                                <input class="input-mini validate[funcCall[validateNumeric],required] " onchange="SetDefNoBoards()"
                                    @*   <input class="input-mini validate[funcCall[validateNumeric],required] " onchange="SetDefNoBoards();DisplayODValues()"*@
                                    data-bind="value: height" type="text" placeholder="Height" id="OHeight"
                                    tabindex="3" />
                            </td>
                            <td>
                                <table>
                                    <tr class="row"></tr>
                                </table>
                            </td>
                      
                            

                            <td>
                                <label style="visibility: visible;">
                                    Board Area</label>
                                <input class="input-mini validate[funcCall[validateNumeric],required]" style="visibility: visible;"
                                    data-bind="value: boardArea" type="text" placeholder="Board Area" id="OBoardArea"
                                    style="width: 70px" readonly />
                            </td>
                            <td>
                                <label style="visibility: visible;">
                                    Deckle</label>
                                <input class="input-mini validate[funcCall[validateNumeric],required]" style="visibility: visible;"
                                    data-bind="value: deckle" type="text" placeholder="Deckle" id="ODeckle"
                                    style="width: 70px" readonly />
                            </td>
                            <td>
                                <label style="visibility: visible;">
                                    Cutting Size</label>
                                <input class="input-mini validate[funcCall[validateNumeric],required]" style="visibility: visible;"
                                    data-bind="value: cuttingSize" type="text" placeholder="CuttingSize" id="OCuttingSize"
                                    style="width: 40px" readonly="" />
                            </td>

                            <td>
                              @*  <label>
                                    FluteType</label>
                                <input class="input-mini" data-bind="value: FluteType" type="hidden" placeholder="FluteType" id="FluteType" readonly="" />*@
                               
                                @*<label>
                                    Ply</label>*@
                                        <input class="input-mini" data-bind="value: FluteType" type="hidden" placeholder="FluteType" id="FluteType" readonly="" />
                                <input class="input-mini" data-bind="value: PlyVal" placeholder="Ply"  type="hidden" id="Ply" readonly="" /></td>
                            
                               <td>
                                <label style="visibility: visible;">
                                    No.Of Ups</label>
                                <input class="input-mini" style="visibility: visible;"
                                    data-bind="value: TakeUpfactor" type="text" placeholder="Ups" id="OTakeUpFactor"
                                    style="width: 40px" readonly="" />
                            </td>
                            <td>
                                @*<label>*@
                                <label style="visibility: hidden;">
                                    No Boards</label>
                                @*<input class="input-mini validate[funcCall[validateNumeric],required]" *@
                                <input class="input-mini" readonly
                                    data-bind="value: noBoards" type="text" placeholder="No Boards" id="NBoards"
                                    style="width: 70px; visibility: hidden;" />
                            </td>
                            <td>
                                @*<label>
                                <label style="visibility: visible;">
                                    Parts</label>*@
                                @*<input class="input-mini validate[funcCall[validateNumeric],required]" *@
                                <input class="input-mini" readonly
                                    data-bind="value: PName" type="text" placeholder="Str" id="PartsStr"
                                    style="width: 70px; visibility: hidden;" />
                            </td>
                        </tr>
                         <div id="OuterShellContainer">

            <td width="10%">

                <div id="GSMContainer">
                    <!--Textboxes will be added here -->
                </div>
            </td>
                             </div>

                       
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
