﻿<table width="50%" cellpadding="5" cellspacing="0" border="0">
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                    <tr>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @*<input type="text" id="txtStockID" placeholder="Stock ID" class="input-large search-query" />*@
                        
                            <input type="text" id="txtMaterialName" placeholder="Box Name" class="input-large search-query" />
                           <input type="text" id="txtCustName" placeholder="Cust Name" class="input-large search-query" />
                            <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                             <button type="submit" class="btn" id="cmdPrint">Print</button>
                            
                              <button type="submit" class="btn" id="cmdInsert">Insert</button>
                             <button type="submit" class="btn" id="cmddelete">Delete</button>
                            <button type="submit" class="btn" id="cmdUpdate">Update</button>

                             <input type="text" id="txtBoxID" placeholder="BoxID" class="input-mini search-query" />
                             <input type="text" id="txtPkPStock" placeholder="StockID" class="input-mini search-query" />
                             <input type="text" id="txtstock" placeholder="stock" class="input-medium search-query" />
                                 <input type="text" id="txtPartId" placeholder="PartID" class="input-mini search-query" />
                    </tr>
                    
                    <tr>
                        <td>

                            
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div id="MainSearchContainer"></div>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
    </tr>
</table>
