﻿
<table cellspacing="0" cellpadding="0" border="0" width="30%">
    <br />
   
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Transporter</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
     <tr>
        <td>
            <label>Name</label></td>
        <td>
            <input  class="input-large validate[required,funcCall[CheckNameDuplicate]" data-bind="value: data.TransporterName" type="text" placeholder="Name" id="TransporterName" maxlength="100"/></td>
</tr>
      <tr>
        <td>
            <label>Address</label></td>
        <td>
            <input  class="input-large" data-bind="value: data.Address1" type="text" placeholder="Address" id="Address" maxlength="100"/></td>
</tr>
    <tr>
        <td>
            <label>Land Line No.</label></td>
        <td>
            <input  class="input-large" data-bind="value: data.LLine" type="text" placeholder="LandLine" id="LLine" maxlength="50"/></td>
</tr>
    <tr>
        <td>
            <label>Mobile No.</label></td>
        <td>
            <input  class="input-large" data-bind="value: data.MobileNo" type="text" placeholder="MobileNo" id="MobileNo" maxlength="50"/></td>
</tr>

    <tr>
        <td>
   
              <td ><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate" >Save</button></td>
    </tr>
</table>
