﻿<table cellspacing="0" cellpadding="0" border="0" width="80%">

     <br />
   
    <tr class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;Add Payment</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

     <tr>
        <td>
            <label>Transporter Name</label></td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                        <input class="input-large modelControl " readonly data-bind="wgReferenceField: data.Fk_Transporter" type="text" placeholder="Transporter" id="txtTransporter" />
                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdTransporterSearch">Search</button>
                    </td>

                </tr>
            </table>
            </td>
         <td>
             <div id="divPending">
             </div>
         </td>
    </tr>
    
     <tr>
        <td>
            <label>Invoice No.</label></td>
        <td>
            <input class="input-large" data-bind="value: data.Invno" type="text" placeholder="Invno" id="Invno" maxlength="50" /></td>
    </tr>
    <tr>
        <td>
            <label>Cheque No.</label></td>
        <td>
            <input  class="input-large" data-bind="value: data.ChequeNo" type="text" placeholder="Cheque No" id="ChequeNo" maxlength="100"/></td>
</tr>
   
    
   <tr>
        <td>
            <label>Cheque Date</label></td>
        <td>
            <input type="text" readonly class="span2 input-medium" id="dtChqDate" data-bind="value: data.ChequeDate" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>
     <tr>
        <td>
            <label>Amount</label></td>
        <td>
            <input class="input-medium validate[custom[onlyNumberSp]]" data-bind="value: data.AmtPaid" type="text" placeholder="Amount" id="AmtPaid" maxlength="10" /></td>
    </tr>
     <tr>
        <td>
            <label>Payment Date</label></td>
        <td>
            <input type="text" readonly class="span2 input-medium" id="dtPayDate" data-bind="value: data.Pay_Date" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td >
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
