﻿

<table cellspacing="0" cellpadding="0" border="0" width="30%">
    <br />
   
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context FluteType</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
        <tr>
        <td>
            <label >Name</label></td>
        <td>
            <input  class="input-large validate[required" data-bind="value: data.FluteName" type="text" placeholder="Type Name" id="Name" maxlength="50"/></td>
</tr>
    <tr>
        <td>
            <label >Take Up Factor</label></td>
        <td>
            <input  class="input-large validate[required,custom(number)]" data-bind="value: data.TKFactor" type="text" placeholder="TakeUpFactor" id="TKFactor" /></td>
</tr>


    <tr>
        <td>
   
              <td ><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate" >Save</button></td>
    </tr>
</table>
