﻿
<table width="80%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="50%" align="center">
                    <tr>
                        <td>
                        <input type="text" id="TxtPkFluteID" placeholder="Flute Type ID" class="input-large search-query"/>
                        <input type="text" id="TxtName" placeholder="Flute Type Name" class="input-large search-query"/>
                              <input type="text" id="TxtTake" placeholder="Take Up Factor" class="input-large search-query"/>
                        <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                        <button type="submit" class="btn" id="cmdNew" >Add Flute Type</button>
                        </td>
                    </tr>
                    <tr><td></td></tr>
        <tr><td></td></tr>
                    <tr>
                        <td colspan="2"><div id="MainSearchContainer"></div></td>
                    </tr>
                </table>               
            </div>
            
        </td>
    </tr>
</table>