﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
  <script type="text/javascript" src="~/Scripts/Application/JWRecdOperations.js"></script> 
 
}

@section MainSection{
<div id="divMainSection" wgPageType="CRUD" wgTag="JWRecd">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
    <div id="divSearchArea" align="center"></div>
 </div>
}
<div id="searchDialog" class="modal hide fade" tabindex="100" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 700px; height: 500px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader">Job Card Search</h3>
    </div>
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
                <table>
                    <tr>
                        <td valign="top">
                            <input type='text' id='txtdlgVendorName' placeholder='Vendor Name' class='input-large search-query' />
                        </td>
                            <td valign="top">
                            <input type='text' id='txtdlgBoxName' placeholder='Box Name' class='input-large search-query' />
                        </td>
                       @* <td valign="top">
                            <input type='text' id='txtdlgIssueFromDate' placeholder='From Date' data-date-format='dd/mm/yyyy' class='span2 input-medium' data-provide='datepicker' />
                        </td>
                        <td valign="top">
                            <input type='text' id='txtdlgIssueToDate' placeholder='To Date' data-date-format='dd/mm/yyyy' class='span2 input-medium' data-provide='datepicker' />
                        </td>*@
                        <td valign="top">
                            <button type="submit" class="btn" id="cmdSearch">Search</button></td>
                        <td valign="top">
                            <button type="submit" class="btn" id="cmdDone">Done</button></td>
                    </tr>
                </table>


            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="MainSearhContainer">
                </div>
            </td>
        </tr>
    </table>
</div>
