﻿<table cellspacing="0" cellpadding="0" border="0" style="width: 40%">
    <br />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;Add Box</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" style="width: 40%">
    <tr>
        <td>&nbsp;
        </td>
    </tr>


</table>

<table border="0">

    <tr>
        <td>
            
              <table  border="0">
                  <tr>
        <td>
            <label>Customer</label>
              </td>
       
          
              
                    <td valign="top">
                        <input class="input-large modelControl validate[required]" readonly data-bind="wgReferenceField: data.Customer" type="text" placeholder="Customer Name" id="Customer" />
                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdCustomerSearch">Search</button>
                    </td>


                  </tr>
            </table>
            </td>
    </tr>
    <tr>
        <td>
            <table border="0">
                <tr>
                    <td>
                        <label>Box Type</label></td>
                    <td>
                        <select style="width: 60%" class="modelControl validate[required]" data-bind="options: BoxType,
    optionsCaption: 'Select',
    optionsText: 'Name',
    optionsValue: 'Id',
    value: data.Fk_BoxType"
                            id="Fk_BoxType">
                        </select>
                    </td>
                       <td>&nbsp;
        </td>
                    <td>
                        <label>Flute Type</label></td>
                    <td>
                        <select style="width: 60%" class="modelControl validate[required]" data-bind="options: FluteType,
    optionsCaption: 'Select',
    optionsText: 'Name',
    optionsValue: 'Id',
    value: data.Fk_FluteType"
                            id="Fk_FluteType">
                        </select>
                    </td>
                       <td>&nbsp;
        </td>
                    <td>
                        <label>Box Name</label></td>
                    <td>
                        <input class="input-large modelControl validate[required,funcCall[CheckBNameDuplicate]]" data-bind="value: data.Name" type="text" placeholder="Box Name " id="Name" maxlength="500" /></td>
                </tr>
            </table>
        </td>
    </tr>


    <tr>
        <td>
            <table>

                <tr>
                    <td>
                        <label>Description</label></td>
                    <td>
                        <textarea class="input-large" data-bind="value: data.Description" type=" Description" placeholder=" Description" id="Description" maxlength="500" /></td>
                     <td>&nbsp;
        </td>

                    <td>
                        <label>Part No.</label></td>
                    <td>
                        <input class="input-medium" data-bind="value: data.PartNo" type="text" placeholder="PartNo " id="PartNo" maxlength="50" /></td>
                </tr>

            </table>
        </td>
    </tr>


    <tr>
        <td>
            <table>
                       <h3>Box Dimension</h3>
                <tr>
                    <td>
                        <label>
                            Length (in mm)</label>
                    </td>
                    <td>
                        <input class="input-medium validate[custom[number],required]" data-bind="value: data.Length"
                            type="text" placeholder="Length" id="Length" />
                    </td>


                    <td>
                        <label>
                            Width (in mm)</label>
                    </td>
                    <td>
                        <input class="input-medium validate[custom[number],required]" data-bind="value: data.Width"
                            type="text" placeholder="Width" id="Width" />
                    </td>


                    <td>
                        <label>
                            Height (in mm)</label>
                    </td>
                    <td>
                        <input class="input-medium validate[custom[number],required]" data-bind="value: data.Height"
                            type="text" placeholder="Height" id="Height" />
                    </td>
                         <td>
                        <label>
                            Ply</label>
                    </td>
                    <td>
                        <input class="input-medium validate[custom[number],required]" data-bind="value: data.PPly"
                            type="text" placeholder="PPly" id="PPly" />
                    </td>
                </tr>
            </table>


        </td>
    </tr>

 

  

    <tr>
        <td>

            <table border="0">
                  <h3>Paper for Box</h3>
                <tr>
        <td>
            <label>
                GSM</label>
      </td>
                    <td>
            <input class="input-medium validate[custom[number],required]" data-bind="value: data.GSM"
                type="text" placeholder="GSM" id="GSM" />
        </td>
        <td>
            <label>
                BF</label>
        </td>
        <td>
            <input class="input-medium validate[custom[number],required]" data-bind="value: data.BF"
                type="text" placeholder="BF" id="BF" />
        </td>
        <td>
            <label>
                Shade</label>
        </td>
        <td>
            <input class="input-medium validate[custom[number],required]" data-bind="value: data.Shade"
                type="text" placeholder="Shade" id="Shade" />
        </td>
        <td>
            <input class="button" type="button" value=" Add " onclick="AddData()"></td>
    </tr>
         
                
         
</table>
 </td>
              </tr>

<tr>
    <td>
        <table border="1" cellpadding="30px">
            <h3>Papers List</h3>
            <div id="data">
            </div>

            <div id="tab">
                <table id="list" border="0" cellspacing="0px" cellpadding="2px" text-align="left">
                    <thead>
                        <tr>
                            <td>GSM</td>
                            <td>BF</td>
                            <td>Shade</td>

                             <td>TakeUpFactor</td>
                        </tr>

                    </thead>
                    <tbody>
                    </tbody>

                </table>

            </div>

        </table>
    </td>

</tr>




    
    <tr>
        <td valign="left">
            <table border ="1">
                       <h3>Plate Dimension</h3>
                <tr>
                    <td>
                        <label>
                            Length (in mm)</label>
                    </td>
                    <td>
                        <input class="input-medium validate[custom[number],required]" data-bind="value: data.Length"
                            type="text" placeholder="Length" id="PLength" />
                    </td>


                    <td>
                        <label>
                            Width (in mm)</label>
                    </td>
                    <td>
                        <input class="input-medium validate[custom[number],required]" data-bind="value: data.Width"
                            type="text" placeholder="Width" id="PWidth" />
                    </td>


                   <td>
                        <label>
                            Quantity</label>
                       </td>
                    <td>
                        <input class="input-mini validate[funcCall[validateNumeric],required]"
                            data-bind="value: Quantity" type="text" placeholder="" id="PQuantity" 
                            style="width: 70px" />
                    </td>
                         <td>
                        <label>
                            Ply</label>
                    </td>
                    <td>
                        <input class="input-medium validate[custom[number],required]" data-bind="value: data.PPly"
                            type="text" placeholder="PPly" id="PlatePly" />
                    </td>
                </tr>
            </table>


        </td>
    </tr>

 



    <tr>
        <td>

            <table border="0">
                  <h3>Paper for Box</h3>
                <tr>
        <td>
            <label>
                GSM</label>
      </td>
                    <td>
            <input class="input-medium validate[custom[number],required]" data-bind="value: data.GSM"
                type="text" placeholder="GSM" id="GSM" />
        </td>
        <td>
            <label>
                BF</label>
        </td>
        <td>
            <input class="input-medium validate[custom[number],required]" data-bind="value: data.BF"
                type="text" placeholder="BF" id="BF" />
        </td>
        <td>
            <label>
                Shade</label>
        </td>
        <td>
            <input class="input-medium validate[custom[number],required]" data-bind="value: data.Shade"
                type="text" placeholder="Shade" id="Shade" />
        </td>
        <td>
            <input class="button" type="button" value=" Add " onclick="AddData()"></td>
    </tr>
         
                
         
</table>
 </td>
              </tr>

<tr>
    <td>
        <table border="1" cellpadding="30px">
            <h3>Papers List</h3>
            <div id="data">
            </div>

            <div id="tab">
                <table id="list" border="0" cellspacing="0px" cellpadding="2px" text-align="left">
                    <thead>
                        <tr>
                            <td>GSM</td>
                            <td>BF</td>
                            <td>Shade</td>

                             <td>TakeUpFactor</td>
                        </tr>

                    </thead>
                    <tbody>
                    </tbody>

                </table>

            </div>

        </table>
    </td>

</tr>

<table cellspacing="0" cellpadding="0" border="0" style="width: 40%">
    @*   <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddMaterial" type="submit">
                        Add Paper</button>
                </div>
                <div style="padding-bottom: 8px" id="tlbMaterials">
                </div>
            </div>
        </td>
    </tr>*@
    <tr>
        <td></td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
