﻿
  <form id="myform"  action="/Order/SaveOrder" method="post">
<table cellspacing="5" cellpadding="0" border="0" width="70%">
    <tr class="formHeader">
        <td colspan='2'>
            <label class="formHeaderTag">&nbsp;&nbsp;Add Order</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
 
    <tr>
        <td>
            <label>Order Recvd.Date</label></td>
        <td>
            <input type="text" readonly id="dtPOrderDate" data-bind="value: data.OrderDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[orderDateValidate]] span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>
     
    <tr>
        <td>
            <label>Enquiry No</label></td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                        <input class="input-large modelControl" readonly onchange="fillEnquiry()" data-bind="value: data.Fk_Enquiry" type="text" placeholder="Enquiry" id="fk_Enquiry" />
                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdEnquerySearch">Search</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
  
    <tr>
        <td>
            <label>Customer</label></td>
        <td>
        <table>
            <tr>
        <td valign="top">
            <input class="input-large modelControl validate[required]" readonly data-bind="wgReferenceField: data.Fk_Customer" type="text" placeholder="Customer" id="txtfk_Customer" />  </td>
            @*<input class="input-large modelControl" data-bind="value: data.fk_Customer" type="text" placeholder="" id="CustID" /></td>*@
                <td valign="top"> 
             <button class="btn btn-primary" id="cmdCustomerSearch">Search</button>
                    </td>
                </tr>
            </table>
            </td>
    </tr>

     <tr>
        <td>
            <label>Customer PO No.</label></td>
        <td>
            <input class="input-large modelControl validate[required]" data-bind="value: data.Cust_PO" type="text" placeholder="PO" id="PO" /></td>
    </tr>
     <tr>
        <td>
            <label>Cust.Order Date</label></td>
        <td>
            <input type="text" readonly id="dtOrderDate" data-bind="value: data.CustOrdDate" data-date-format="dd/mm/yyyy" class="validate[required] span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>

    <tr>
  <tr>

        <td>
            <label>Order For Sales/JW</label></td>
        <td>

            <select style="width: 40%" class="modelControl validate[required]" data-bind=" value: data.Product" id="Product" onchange="ProductChange(this);">
                <option value="0">Select</option>
                <option value="1">Sales</option>
                <option value="2">Job Work</option>
                
            </select> 
        </td>
       <input class="input-medium modelControl" data-bind="value: data.Product" type="hidden" placeholder="Product" id="ProductVal" />

</tr>
  
       <tr>
        <td>
            <label>Job Work No</label></td>
        <td>
        <table>
            <tr>
        <td valign="top">
            <input class="input-large modelControl" readonly data-bind="wgReferenceField: data.Fk_BoxID" type="text" placeholder="Job Work No" id="txtFk_BoxID" />  </td>
                <td valign="top"> 
             <button class="btn btn-primary" id="cmdJWSearch">Search</button>
                    </td>
                </tr>
            </table>
            </td>
           
        <td  align="left">
            <label>Net Value</label></td>
        <td>

            <input class="input-medium modelControl" readonly data-bind="value: data.GrandTotal" type="text"  placeholder="NetValue" id="GrandTotal" /></td>

    </tr>
      <tr>
         <td>
            <label>Tax Type</label></td>
        <td>

            <select style="width: 40%" class="modelControl validate[required]" data-bind=" value: data.Tax" id="Tax" onchange="TaxChange(this);">
                <option value="0">Select</option>
                <option value="1">6%</option>
                <option value="2">IGST</option>
                <option value="3">9%</option>
                <option value="4">2.5%</option>
                
            </select> 
        </td>
      <td> <input class="input-medium modelControl" data-bind="value: data.TaxType" type="hidden" placeholder="Tax" id="TaxVal" />
          </td>
    </tr>
    <tr>
         <td align="left" style="width: 20%">
                <label>SGST</label></td>

            <td>
                <input class="input-medium modelControl" readonly data-bind="value: data.SGST" type="text" placeholder="SGST" id="SGST" /></td>
         <td  align="left">
            <label id="fct3">
                CGST
            </label>
        </td>
        <td>
             <input class="input-medium modelControl" readonly="" data-bind="value: data.CGST" type="text" placeholder="CGST" id="CGST" /></td>
        
    </tr>
     <tr>
 

        <td align="left" style="width: 20%">
            <label>Tax Amount</label></td>
        <td>

            <input class="input-medium modelControl  validate[required]" readonly data-bind="value: data.ED" type="text" placeholder="Tax Amount" id="TaxAmount" /></td>
        
       <td  align="left" style="width: 20%">
            <label>Bill Amount</label></td>
        <td>

            <input class="input-medium modelControl" readonly data-bind="value: data.NETVALUE" type="text" placeholder="Bill Amount" id="NETVALUE" /></td>
        
    </tr>
    <tr>
            <td align="left" style="width: 20%">
            <label>Diff.Amount</label></td>
        <td>

            <input class="input-medium modelControl"  data-bind="value: data.Diff" type="text" placeholder="Diff" id="DiffAmount" /></td>
      


    @*    
        <td>
            <label>Accepted</label></td>
        <td>

            <select style="width: 40%" class="modelControl validate[required]" data-bind=" value: data.Quantity" id="Qty" onchange="AcceptChange(this);">
                <option value="0">Select</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
                
            </select> 
        </td>
       <input class="input-medium modelControl" data-bind="value: data.Quantity" type="text" placeholder="Product" id="Quantity" />
*@




    </tr>
  
</table>
<table cellspacing="0" cellpadding="0" border="0" style="width: 30%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddSchedule" type="submit">
                        Add Box</button>
                </div>
                <div style="padding-bottom: 8px" id="divDeliveryschedule">
                </div>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
      </form>