﻿<table width="90%" cellspacing="0" border="0">
    <tr>
        <table cellspacing="0" border="0" width="50%">
            <tr>
                <td colspan="2">
                    <div id="MainSearchContainer"></div>
                    <td>&nbsp;
                    </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>

                <td>
                    <div id="divPaperStock"></div>

                </td>
            </tr>




        </table>
        <td>&nbsp;
        </td>
        <td>&nbsp;
        </td>





    </tr>

</table>


<table>
    <tr>
        <td>
            <table border="0" width="90%" align="Left">

                <tr>
                    <td colspan="20">
                        <table border="0">
                            <h3>Box Wt.Calculator</h3>
                            <tr>

                                <td colspan="4"></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Length</label>
                                </td>
                                <td>&nbsp;
                                </td>
                                <td>&nbsp;
                                </td>
                                <td>
                                    <input class="input-mini modelControl validate[custom[number]]" data-bind="value: data.Length"
                                        type="text" placeholder="Length" id="Length" />
                                </td>
                                <td>&nbsp;
                                </td>
                                <td>&nbsp;
                                </td>
                                <td>&nbsp;
                                </td>
                                <td>
                                    <label>
                                        Width</label>
                                </td>
                                <td>&nbsp;
                                </td>
                                <td>&nbsp;
                                </td>
                                <td>
                                    <input class="input-mini modelControl" data-bind="value: data.Width"
                                        type="text" placeholder="Width" id="Width" />
                                </td>
                                <td>&nbsp;
                                </td>
                                <td>&nbsp;
                                </td>
                                <td>&nbsp;
                                </td>
                                <td>
                                    <label>
                                        Height</label>
                                </td>
                                <td>&nbsp;
                                </td>
                                <td>&nbsp;
                                </td>
                                <td>
                                    <input class="input-mini modelControl" data-bind="value: data.Height"
                                        type="text" placeholder="Height" id="Height" />
                                </td>

                                <td>&nbsp;
                                </td>
                                <td>&nbsp;
                                </td>
                                <td>&nbsp;
                                </td>

                            </tr>

                        </table>


                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>


                        <tr>

                            <td colspan="20">
                                <span style="font-weight: bold">Paper Details</span>
                            </td>

                        </tr>
                        <td colspan="20">
                            <table>
                            <td>
                                <label>
                                    GSM</label>
                            </td>
                        <td>&nbsp;
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>
                            <input class="input-mini modelControl" data-bind="value: data.GSM"
                                type="text" placeholder="GSM" id="GSM" />
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>&nbsp;
                        </td>

                        <td>
                            <label>
                                BF</label>
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>
                            <input class="input-mini modelControl" data-bind="value: data.BF"
                                type="text" placeholder="BF" id="BF" />
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>&nbsp;
                        </td>


                        <td>
                            <label>
                                Tk.Up Fact.</label>
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>
                            <input class="input-mini modelControl" onchange="CalcWeight()" data-bind="value: data.TKF"
                                type="text" placeholder="TKF" id="TKF" />
                        </td>

                          <td>
                            <label>
                                BS</label>
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>
                            <input class="input-mini modelControl" readonly="" data-bind="value: data.BS"
                                type="text" placeholder="BS" id="BS" />
                        </td>

                        <td>&nbsp;
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>
                            <label>
                                Weight</label>
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>
                            <input class="input-mini modelControl" data-bind="value: data.Weight"
                                type="text" readonly="" placeholder="Weight" id="Weight" />
                        </td>

                        <td>
                            <input type="hidden" id="txtBoxid" placeholder="Box" class="input-medium search-query" /></td>

                        <td col width="80">
                            <label>
                                Box Qty</label>
                        </td>
                        <td>
                            <input class="input-mini modelControl" data-bind="value: data.qty"
                                type="text" onchange="CalcPReq()" placeholder="Qty" id="Qty" />
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>&nbsp;
                        </td>
                        <td col width="100">
                            <label>
                                Paper Req</label>
                        </td>
                        <td>
                            <input class="input-mini modelControl" data-bind="value: data.PReq"
                                type="text" readonly="" placeholder="Paper Req" id="PReq" />
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>&nbsp;
                        </td>
                        <td col width="80">
                            <label>
                                Rate</label>
                        </td>
                        <td>
                            <input class="input-mini modelControl" data-bind="value: data.Rate"
                                type="text" onchange="Calc1()" placeholder="Rate of Paper" id="Rate" />
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>&nbsp;
                        </td>
                        <td col width="80">
                            <label>
                                Cost</label>
                        </td>
                        <td>
                            <input class="input-medium modelControl" data-bind="value: data.Cost"
                                type="text" readonly="" placeholder="Cost" id="Cost" />
                        </td>
                        <td>
                            <input class="button" type="button" value=" Add " onclick="AddData()"></td>



                </tr>
            </table>

        </td>
    </tr>



</table>
</td>
    </tr>
    <tr>
        <td colspan="20">
            <table border="1" cellpadding="30px">
                <h3>Paper Costing</h3>
                <div id="data">
                </div>

                <div id="tab">
                    <table id="list" border="1" cellspacing="0px" cellpadding="2px" text-align="left">
                        <thead>
                            <tr>
                                <td>GSM</td>
                                 <td>BF</td>
                                <td>TKF</td>
                                <td>P.Req</td>
                                <td>L.Wt</td>      
                                 <td>BS</td>  
                                <td>Rate</td>
                                <td>Cost</td>


                            </tr>

                        </thead>
                        <tbody>
                        </tbody>

                    </table>

                </div>

            </table>
        </td>

    </tr>



<table border="0">
    <tr>
        <td>&nbsp;
        </td>
        <td>&nbsp;
        </td>
    </tr>
</table>


<table>
    <tr>
        <td>
            <table border="0" width="90%" align="Left">
                <tr>

                    <td colspan="20" col width="100">
                        <label>
                            Box Wt.
                        </label>
                        <input class="input-mini modelControl" data-bind="value: data.WtVal"
                            type="text" readonly="" placeholder="BoxWt" id="txtBoxWt" /></td>

                    <td>&nbsp;
                    </td>
                    <td>&nbsp;
                    </td>
                    <td>&nbsp;
                    </td>
                    <td>&nbsp;
                    </td>


                      <td colspan="20" col width="100">
                        <label>
                           Board BS
                        </label>
                        <input class="input-mini modelControl" data-bind="value: data.BSVal"
                            type="text" readonly="" placeholder="BSVal" id="txtBS" /></td>

                    <td>&nbsp;
                    </td>
                    <td>&nbsp;
                    </td>
                    <td>&nbsp;
                    </td>
                    <td>&nbsp;
                    </td>




                    <td col width="100">
                        <label>
                            Wastage %
                        </label>


                        <input class="input-mini modelControl" data-bind="value: data.Wastage"
                            type="text" placeholder="Wastage %" onchange=" FunCalc()" id="Wastage" tabindex="84" /></td>

                    <td col width="200">
                        <label>
                            Total Paper Cost
                        </label>


                        <input class="input-medium modelControl" data-bind="value: data.Total"
                            type="text" readonly="" placeholder="Total" id="SumVal"  /></td>
                </tr>
                <tr>
                    <td>&nbsp;
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table border="0">
    <tr>

        <td>
            <span style="font-weight: bold">Addl.Cost Details</span>
        </td>


    </tr>
    <tr>

        <td>
            <label>
                Conv.Rate Rs.</label></td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: convRate" type="text" onchange="CalcConvRate()" placeholder="Rs Per Kg" id="Conv" tabindex="85" /></td>

        <td>
            <input class="input-medium modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: convValue" type="text" readonly="" placeholder="ConvRate" id="ConvRate" /></td>


        @*  <td col width="100">
            <label>
                Conv.Value</label></td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: convValue" type="text" readonly="" placeholder="ConvRate" id="ConvRate" /></td>*@

        <td>&nbsp;
        </td>
        <td>&nbsp;
        </td>
        <td>
            <label>
                Printing</label></td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: PrintingPer" type="text" placeholder="Printing" id="PrintingPer" onchange="CalcPrint()" tabindex="86" />

            <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: Printing"
                type="text" readonly="" placeholder="Printing" id="Printing" />
        </td>
        @*<td col width="130">
            <label>
                Rej.Value</label></td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: rejectionValue"
                type="text" readonly="" placeholder="Rejection" id="Rejection" />
        </td>*@
        <td>&nbsp;
        </td>
        <td>&nbsp;
        </td>

        <td>
            <label>
                Deve.Chgs</label></td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: DevelopmentPer" type="text" placeholder="DevelopmentPer" id="DevelopmentPer" onchange="CalcDev()" tabindex="86" />

            <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: Development"
                type="text" readonly="" placeholder="Development" id="Development" />
        </td>
        <td>
            <label>
                Trans./Box
            </label>
        </td>
        <td>&nbsp;
        </td>
        <td>&nbsp;
        </td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: TransportPercentage"
                type="text" onchange="CalcTransValue()" placeholder="Tran/Box" id="Transport" tabindex="87" />

            <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: transportValue"
                type="text" readonly="" placeholder="Trans Amt" id="TransportValue" /></td>


        <td>
            <label>
                Inv.</label>
        </td>
        <td>&nbsp;
        </td>
        <td>&nbsp;
        </td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: Inventory" type="text" onchange="CalcInv()" placeholder="Inv %" id="InvPer" tabindex="88" />
        </td>

        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: Inventory" readonly="" type="text" placeholder="Inventory" id="Inventory" tabindex="89" />
        </td>
        @* <td>
            <input class="input-medium modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: gMarginValue" readonly="" type="text" placeholder="M.Val" id="MargV" />
        </td>*@


        @*  <td col width="100">
            <label>
                GM Value</label>
        </td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: gMarginValue" readonly="" type="text" placeholder="M.Val" id="MargV" />
        </td>*@
    </tr>
    <tr>
        <td>&nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <label>
                GMargin(%)</label>
        </td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: gMarginPercentage" type="text" onchange="CalcGMarginValue()" placeholder="Margin" id="Marg" tabindex="89" />
        </td>
        <td>
            <input class="input-medium modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: gMarginValue" readonly="" type="text" placeholder="M.Val" id="MargV" />
        </td>
        <td>&nbsp;
        </td>
        <td>&nbsp;
        </td>
        <td>
            <label>
                CGST(%)</label></td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: taxesPercntage" type="text" onchange="CalcEDValue()" placeholder="CGST" id="Tax" tabindex="91" />


            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: taxesValue" readonly="" type="text" placeholder="CGST" id="Taxes" />

        @*  <td>
            <label>
                CGST Value</label></td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: taxesValue" readonly="" type="text" placeholder="CGST" id="Taxes" />
        </td>*@
        <td>&nbsp;
        </td>
        <td>&nbsp;
        </td>
        <td>
            <label>
                SGST(%)</label></td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: VATPercentage" type="text" onchange="CalcVATValue()" readonly="" placeholder="SGST" id="VAT" tabindex="92" />

            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: VATValue" readonly="" type="text" placeholder="SGST" id="VATV" />
        </td>
        @*  <td>
            <label>
                SGST Value</label>
        </td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: VATValue" readonly="" type="text" placeholder="SGST" id="VATV" />
        </td>*@


        <td>
            <label>
                IGST(%)</label>
        </td>
        <td>&nbsp;
        </td>
        <td>&nbsp;
        </td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: CSTPercentage" type="text" onchange="CalcCSTValue()" placeholder="IGST" id="CST" tabindex="93" />

            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: CSTValue" readonly="" type="text" placeholder="IGST" id="CSTV" />
        </td>
        @*   <td>
            <label>
                IGST Value</label>
        </td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric],required] "
                data-bind="value: CSTValue" readonly="" type="text" placeholder="IGST" id="CSTV" />
        </td>*@

    </tr>
    <tr>
        <td>&nbsp;
        </td>
    </tr>
    <tr>
        @*   <td>
            <label>
                Trans.%</label></td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: TransportPercentage"
                type="text" onchange="CalcTransValue()" placeholder="Tran/Box" id="Transport" tabindex="91" /></td>
        <td>
            <input class="input-medium modelControl validate[funcCall[validateNumeric]] " data-bind="value: transportValue"
                type="text" placeholder="Trans Amt" id="TransportValue" tabindex="92" /></td>

        <td>
            <label>
                Trans.Value</label></td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: transportValue"
                type="text" placeholder="Trans Amt" id="TransportValue" tabindex="92" /></td>
        <td>&nbsp;
        </td>

        <td>
            <label>
                Others</label></td>
        <td>
            <input class="input-mini modelControl validate[funcCall[validateNumeric]] " data-bind="value: weightHValue"
                type="text" onchange="CalcNet()" placeholder="Others" id="WeightH" tabindex="93" /></td>*@
        <td>&nbsp;
        </td>


        <td>
            <label>
                Tot.Cost</label></td>
        <td>
            <input class="input-medium modelControl" data-bind="value: Total"
                type="text" readonly="" placeholder="Total" id="Total" tabindex="94" /></td>

        <td>&nbsp;
        </td>
        <td>&nbsp;
        </td>
        <td>
            <label>
                Net Amt.</label></td>
        <td>
            <input class="input-medium modelControl" data-bind="value: Total"
                type="text" readonly="" placeholder="NetAmt" id="NetAmt" tabindex="95" /></td>
        <td>&nbsp;
        </td>

        <td>
        <td>
            <label>
                Gross Amt.</label></td>
        <td>
            <input class="input-medium modelControl" data-bind="value: Total"
                type="text" readonly="" placeholder="Amount" id="NetTotal" tabindex="96" /></td>

        <td>
            <label>
                Rate/Box</label></td>

        <td>&nbsp;
        </td>
        <td>&nbsp;
        </td>
        <td>
            <input class="input-mini modelControl" data-bind="value: RPerBox"
                type="text" readonly="" placeholder="Rate/Box" id="RPB" tabindex="96" /></td>
    </tr>
</table>








