﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {

    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/Application/BillingNew/BillingOperations.js"></script>
    <script type="text/javascript" src="~/Scripts/Application/BillingNew/InvBill.js"></script>
 
      <script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyfrmConfigurator.js"
        type="text/javascript"></script>

}

@section MainSection{
    <div id="divMainSection" wgpagetype="CRUD" wgtag="BillingNew">
        <div id="divDataArea" align="center" style="padding-top: 5px"></div>
        <div id="divSearchArea" align="center"></div>
    </div>
}



<div id="searchCustomerDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 500px; height: 700px">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
             <h3 id="srcHeader">Customer</h3>
         @*<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="srchHeader">Customer</h3>
        </div>*@
        <table cellpadding="8" cellspacing="0" border="0" width="100%">
            <tr>
                <td colspan="1">
                    <div id="dlgSearchFields">
                    </div>
                    @*<input type="text" id="txtEnquiry" data-bind="value: data.Customer" placeholder="Customer Name" class="input-large search-query"/>
            <input type="text" id="txtCommunicationType" data-bind="value: data.CommunicationType" placeholder="CommunicationType" class="input-large search-query"/>*@
                    <br />
                    <button type="submit" class="btn" id="cmdSearch">Search</button>
                    <button type="submit" class="btn" id="cmdDone">Done</button>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td>
                    <div id="SearchContainer">
                    </div>
                </td>
            </tr>
        </table>
    </div>
