﻿<table cellspacing="0" cellpadding="0" border="0" width="30%">
   <br />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;@ViewBag.Context Quotation</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>
            <label>Date</label>
        </td>
        <td>

            <input type="text" readonly id="QuotationDate" data-bind="value: data.QuotationDate" data-date-format="dd/mm/yyyy" class="validate[required] span2 input-medium" data-provide="datepicker" />
        </td>

    <tr>
        <td>
            <label>Enquiry Number</label></td>
        <td>
             <table>
                <tr>
                    <td valign="top">
            <input class="input-large modelControl" readonly data-bind="value: data.Fk_Enquiry" type="text" placeholder="Enquiry Number" id="Fk_Enquiry" />
             </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdEnquirySearch">Search</button>
        </td>
                       </tr>
            </table>

    </tr>

    <tr>
        <td>
            <label>
                Description
            </label>
            <td>
                <textarea class="input-large" data-bind="value: data.Description" type="text" placeholder=" Description" id="Description" /></td>
    </tr>
     <tr>
        <td>
            <label>
                Terms & Conditions
            </label>
            <td>
                <textarea class="input-large" data-bind="value: data.Terms" type="text" placeholder="Terms & Conditions" id="Terms" /></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr></tr>
    <tr></tr>
   @* <tr>
        <td>&nbsp;</td>
        <td colspan="2">
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>*@
</table>
<table cellspacing="0" cellpadding="0" border="0" style="width: 30%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddSchedule" type="submit">
                        Add Estimation</button>
                </div>
                <div style="padding-bottom: 8px" id="divDeliveryschedule">
                </div>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>