﻿<table width="80%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="75%" align="center">
                    <tr>
                        <td>
                            <table>
                            <td align="center" valign="top">
                                <input type="hidden" id="txtID" onchange="Click()" placeholder="ID" class="input-large search-query" />
                                <input type="text" id="txtSearchID" onchange="Click()" placeholder="Customer" class="input-large search-query" />
                            </td>
                        <td align="center" valign="top">
                            <input type="text" id="TxtFromDate" placeholder="From Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                        </td>
                        <td align="center" valign="top">
                            <input type="text" id="TxtToDate" placeholder="To Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                        </td>
                        <td valign="top">
                            <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                        </td>
                                    <td align="center" valign="top">
                                        <button type="submit" class="btn" id="cmdNew">
                                            Add Quote</button>
                                    </td>
                        </table>
                            </td>

                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="MainSearchContainer"></div>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
    </tr>
</table>
