﻿
@*//Name          : Screen Design for Country -- New Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Nagesh V Rao
//Date 	        : 07/08/2015
//Crh Number    : SL0010
//Modifications : *@

<table cellspacing="0" cellpadding="0" border="0" width="50%">
    <br />
    <tr style="width: 10%" class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;Edit Complaint</label></td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
      <tr>
        <td colspan="2" align="right"><div id="wfButtons"></div></td>
    </tr>
   
    <tr><td>&nbsp;</td></tr>


     <tr>
        <td>
            <label>Complaint Date</label>
        </td>
        <td>

            <input type="text" readonly id="ComplaintDate" data-bind="value: data.ComplaintDate" data-date-format="dd/mm/yyyy" class="validate[required] span2 input-medium" data-provide="datepicker" />
        </td>
  
    <tr>
        <td>
            <label>Customer</label></td>
        <td>
             <table>
                <tr>
                    <td valign="top">
            <input class="input-large modelControl validate[required]" readonly data-bind="wgReferenceField: data.Fk_CustomerID" type="text" placeholder="Customer" id="Fk_CustomerID" />
            </td>
                   @* <td valign="top">
                         <button class="btn btn-primary" id="cmdCustomerSearch">Search</button>
        </td>*@
   </tr>
            </table>
    </tr>




    <tr>
        <td>
            <label>Order Number</label></td>
        <td>
            <table>
                <tr>
                    <td valign="top">
            <input class="input-large modelControl" readonly data-bind="value:data.Fk_OrderNo" type="text" placeholder="Order Number" id="Fk_OrderNo" />
             </td>
                    @*<td valign="top">
                        <button class="btn btn-primary" id="cmdOrderSearch">Search</button>
        </td>*@
                    </tr>
            </table>
    </tr>



    <tr>
        <td>
            <label>Enquiry Number</label></td>
        <td>
             <table>
                <tr>
                    <td valign="top">
            <input class="input-large modelControl" readonly data-bind="value:data.Fk_EnquiryNo" type="text" placeholder="Enquiry Number" id="Fk_EnquiryNo" />
             </td>
                    @*<td valign="top">
                        <button class="btn btn-primary" id="cmdEnquirySearch">Search</button>
        </td>*@
                       </tr>
            </table>

    </tr>

    <tr>
        <td>
            <label>
                Description
            </label>
            <td>
                <textarea class="input-large" data-bind="value: data.Description" type="Description" placeholder=" Description" id="Description" /></td>
    </tr>




    <tr></tr>
    <tr></tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="3">
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    
     <tr>
        <td colspan="2">
            <div id="wfTransDisplay">
            </div>
        </td>
    </tr>
</table>
