﻿<table width="50%" cellpadding="5" cellspacing="0" border="0">
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                    <tr>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                        <td colspan="2" valign="top">
                            <input type="text" id="txtStockID" placeholder="Stock ID" class="input-large search-query" />
                            @*</td>
                        <td colspan="3">*@
                            <input type="text" id="txtMaterialName" placeholder="Material Name" class="input-large search-query" />
                          
                            
                             
                                 @*<input type="text" id="txtPartId" placeholder="PartID" class="input-mini search-query" />*@
                                               
                            <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                              <button type="submit" class="btn" id="cmdShow">Print</button>
                        @*<button type="submit" class="btn" id="cmdNew" >Add State</button>*@


                     
                        @*</td>*@
                    </tr>
                    <tr>
                             

                    </tr>
                    <tr>
                        <td>

                               <input type="text" id="txtMatID" placeholder="Mat-ID" class="input-medium search-query" />
                             <input type="text" readonly="" id="txtPkPStock" placeholder="StockID" class="input-mini search-query" />
                             <input type="text" id="txtstock" placeholder="stock" class="input-medium search-query" />


                               <button type="submit" class="btn" id="cmdInsert">Insert</button>
                             <button type="submit" class="btn" id="cmddelete">Delete</button>
                            <button type="submit" class="btn" id="cmdUpdate">Update</button>

                          

                        </td>
                    </tr>
                   

                    <tr>
                        <td colspan="2">
                            <div id="MainSearchContainer"></div>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
    </tr>
</table>
