﻿

<table cellspacing="0" cellpadding="0" border="0" width="30%">
    <br />

    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Board</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    
 @*<tr>
        <td><label>Part No.</label></td>
        <td><input class="input-large modelControl " data-bind="value: data.PartNo" type="text" placeholder="PartNo" id="PartNo" readonly/> </td>
    </tr>*@
     <tr>
        <td>
            <label>
              Item Name</label>
        </td>
        <td>
            <input style="width: 85%" class="input-large modelControl" readonly="" data-bind="value: data.ItemName"
                type="text" placeholder="Item Name" id="Name" maxlength="30" />
        </td>
    </tr>

    <tr>
        <td>
            <label>
              Cust. Name</label>
        </td>
        <td>
            <input style="width: 85%" class="input-large modelControl validate[required]"  data-bind="value: data.Name"
                type="text" placeholder="Cust.Name" id="CustName" maxlength="30" />
        </td>
    </tr>

   @* <tr>
        <td>
            <label>Mill Name</label></td>
        <td>
            <select style="width: 85%" class="modelControl validate[required]" data-bind="options: Mill,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_Mill"
                id="Fk_Mill">
            </select>
        </td>
    </tr>*@
    <tr>
        <td>
            <label>
                Cut Length</label>
        </td>
        <td>
            <input style="width: 85%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.Length"
                type="text" placeholder="Length" id="Length" />
        </td>

    </tr>
    <tr>
        <td>
            <label>
                Deckle</label>
        </td>
        <td>
            <input style="width: 85%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.Width"
                type="text" placeholder="Width" id="Width" />
        </td>

    </tr>
    <tr>
        <td>
            <label>Ply</label></td>
        <td>
            <input class="input-medium validate[required,custom[number]]" data-bind="value: data.PPly" type="text" placeholder="Ply " id="Ply" /></td>

    </tr>
    <tr>
        <td>
            <label>
                Weight</label>
        </td>
        <td>
            <input style="width: 85%" class="input-large modelControl" readonly data-bind="value: data.Weight"
                type="text" placeholder="Weight" id="Weight" />
        </td>

    </tr>

  @*  <tr>
        <td>
            <label>Unit</label></td>
        <td>
            <select style="width: 85%" class="modelControl validate[required]" data-bind="options: Unit,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_UnitId"
                id="Fk_UnitId">
            </select>
        </td>
    </tr>*@
     @*   <tr>
        <td><label>Min.Value</label></td>
        <td><input class="input-large modelControl validate[custom[number]]" data-bind="value: data.Min_Value" type="text" placeholder="Min.Value" id="Min_Val"/></td>
    </tr>
      <tr>
        <td><label>Max.Value</label></td>
        <td><input class="input-large modelControl validate[custom[number]]" data-bind="value: data.Max_Value" type="text" placeholder="Max.Value" id="Max_Val"/></td>
    </tr>*@
    <tr>
        <td>

        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
