﻿
<table cellspacing="0" cellpadding="0" border="0" style="width: 30%">
    
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;Add Board</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
</table>
<br />

<table cellspacing="0" cellpadding="0" border="0" width="30%">
    
 
   @* <tr>
        <td><label>Part No.</label></td>
        <td><input class="input-large modelControl validate[required]" data-bind="value: data.PartNo" type="text" placeholder="PartNo" id="PartNo" maxlength="50"/> </td>
    </tr>*@

    <tr>
        <td>
            <label>
              Item Name</label>
        </td>
        <td>
            <input style="width: 85%" class="input-large modelControl validate[required,funcCall[CheckItemDuplicate]"  data-bind="value: data.ItemName"
                type="text" placeholder="Item Name" id="Name" maxlength="30" />
        </td>
    </tr>

    <tr>
        <td>
            <label>
              Cust. Name</label>
        </td>
        <td>
            <input style="width: 85%" class="input-large modelControl validate[required]"  data-bind="value: data.Name"
                type="text" placeholder="Cust.Name" id="CustName" maxlength="30" />
        </td>
    </tr>
  @*  <tr>
        <td><label>Mill Name</label></td>
        <td><select style ="width:75%" class="modelControl validate[required]" data-bind="options: Mill,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_Mill" id="Fk_Mill"></select>
       </td>
    </tr>*@
    <tr>
        <td>
            <label>
                Cut Length (in mm)</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.Length"
                type="text" placeholder="Length" id="Length" />
        </td>
                </tr>
    <tr>
  
        <td>
            <label>
               Deckle (in mm)</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.Width"
                type="text" placeholder="Width" id="Width" />
        </td>
                
    </tr>
  

@* 
     <tr>
        <td>
            <label>
              Top Layer GSM</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.GSM"
                type="text" placeholder="GSM" id="GSM" />
        </td>
                    <td  align="left">
            <label>
             Top Layer BF</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.BF"
                type="text" placeholder="BF" id="BF" />
        </td>
    
        <td>
            <label>
               GSM2</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.GSM2"
                type="text" placeholder="GSM2" id="GSM2" />
        </td>
                    <td  align="left">
            <label>
               BF2</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.BF2"
                type="text" placeholder="BF2" id="BF2" />
        </td>
    </tr>
     <tr>
        <td>
            <label>
               GSM3</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.GSM3"
                type="text" placeholder="GSM3" id="GSM3" />
        </td>
                    <td  align="left">
            <label>
               BF3</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.BF3"
                type="text" placeholder="BF3" id="BF3" />
        </td>
         
      
            <td>
            <label>
               GSM4</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.GSM4"
                type="text" placeholder="GSM4" id="GSM4" />
        </td>
                    <td  align="left">
            <label>
               BF4</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.BF4"
                type="text" placeholder="BF4" id="BF4" />
        </td>
    </tr>
    <tr>
        <td>
            <label>
               GSM5</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.GSM5"
                type="text" placeholder="GSM5" id="GSM5" />
        </td>
                    <td  align="left">
            <label>
               BF5</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.BF5"
                type="text" placeholder="BF5" id="BF5" />
        </td>


           <td>
            <label>
               GSM6</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.GSM6"
                type="text" placeholder="GSM6" id="GSM6" />
        </td>
                    <td  align="left">
            <label>
               BF6</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.BF6"
                type="text" placeholder="BF6" id="BF6" />
        </td>
    </tr>




       <tr>
        <td>
            <label>
               GSM7</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.GSM7"
                type="text" placeholder="GSM7" id="GSM7" />
        </td>
                    <td  align="left">
            <label>
               BF7</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.BF7"
                type="text" placeholder="BF7" id="BF7" />
        </td>


           <td>
            <label>
               GSM8</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.GSM8"
                type="text" placeholder="GSM8" id="GSM8" />
        </td>
                    <td  align="left">
            <label>
               BF8</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.BF8"
                type="text" placeholder="BF8" id="BF8" />
        </td>
    </tr>



    
       <tr>
        <td>
            <label>
               GSM9</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.GSM9"
                type="text" placeholder="GSM9" id="GSM9" />
        </td>
                    <td  align="left">
            <label>
               BF9</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.BF9"
                type="text" placeholder="BF9" id="BF9" />
        </td>


           <td>
            <label>
               GSM10</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.GSM10"
                type="text" placeholder="GSM10" id="GSM10" />
        </td>
                    <td  align="left">
            <label>
               BF10</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.BF10"
                type="text" placeholder="BF10" id="BF10" />
        </td>
    </tr>
    <tr>
      <td>
            <label>
               GSM11</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.GSM11"
                type="text" placeholder="GSM11" id="GSM11" />
        </td>
                    <td  align="left">
            <label>
               BF11</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.BF11"
                type="text" placeholder="BF11" id="BF11" />
        </td>
        </tr>
     <tr>
        <td>
            <label>
               PPLY (in mm)</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.PPly"
                type="text" placeholder="PPly" id="PPly" />
        </td>
                
   
        <td>
            <label>
               FPLY (in mm)</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.FPly"
                type="text" placeholder="FPly" id="FPly" />
        </td>
                
    </tr>*@
    

     
      
     
@*    <tr>
        <td><label>Color</label></td>
        <td><select style ="width:75%" class="modelControl validate[required]" data-bind="options: Color,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_Color" id="Fk_Color"></select>
       </td>
   </tr>*@
  @*  <tr>
        <td><label>Unit</label></td>
        <td><select style ="width:75%" class="modelControl validate[required]" data-bind="options: Unit,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_UnitID" id="Fk_UnitID"></select>
       </td>
    </tr>*@
        <tr>
        <td>
            <label>Ply</label></td>
        <td>
            <input class="input-medium validate[required,custom[number]]" data-bind="value: data.PPly" type="text" placeholder="Ply " id="Ply" /></td>

    </tr>

    <tr>
        <td>
            <label>
               Weight</label>
        </td>
        <td>
            <input style ="width:75%" class="input-large modelControl validate[custom[number]]"  data-bind="value: data.Weight"
                type="text" placeholder="Weight" id="Weight" />
        </td>
                
    </tr>
       <tr>
        <td><label>Unit</label></td>
        <td> <select class="modelControl validate[required]" data-bind="options: Unit,
    optionsCaption: 'Select',
    optionsText: 'Name',
    optionsValue: 'Id',
    value: data.Fk_UnitId"
                id="Fk_UnitId">
            </select></td>
    </tr>

     @*   <tr>
        <td><label>Min.Value</label></td>
        <td><input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.Min_Value" type="text" placeholder="Min.Value" id="Min_Val"/></td>
    </tr>
    <tr>
        <td><label>Max.Value</label></td>
        <td><input style ="width:75%" class="input-large modelControl validate[custom[number]]" data-bind="value: data.Max_Value" type="text" placeholder="Max.Value" id="Max_Val"/></td>
    </tr>*@

    <tr>
        <td>
            &nbsp;
        </td>
        <td align="center">
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button></td>
       
         @* <button class="btn btn-primary" type="submit" id="cmdPublish" style="float:right">Next</button>  
                       <a style="float:right">&nbsp;</a> </td>*@
    </tr>
</table>
