﻿
<table cellspacing="0" cellpadding="0" border="0" style="width:40%">
    <br />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                     <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Purchase Order</label></td>
                
       
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" style="width:40%">
    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>
    <tr align="center">
        <td style="width: 50%" align="left">
            <label>
                PO Date: &nbsp&nbsp&nbsp&nbsp</label>
        </td>
        <td colspan="2" align="left" style="width: 50%">
            <input type="text" readonly id="dtDate" data-bind="value: data.PODate" data-date-format="dd/mm/yyyy" class="validate[required] span2 input-medium" data-provide="datepicker" />
        </td> 
    </tr>
     <tr>
                                <td>
                                    <label>Indent No</label></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td valign="top">
                                                  <input class="input-large modelControl validate[required]" readonly data-bind="value: data.Fk_Indent" type="text" placeholder="Indent No." id="Fk_Indent" />
                                                @*<input class="input-large modelControl"  readonly data-bind="wgReferenceField: data.Fk_Indent" type="text" placeholder="Indent No" id="Fk_Indent" />*@
                                            </td>
                                          @*  <td valign="top">
                                                <button class="btn btn-primary" id="cmdMIndentSearch">Search</button>
                                            </td>*@
                                        </tr>
                                    </table>
                                </td>
                            </tr>
    <tr>
        <td>
            <label>
                Vendor</label>
        </td>
        <td>

            <table>
                <tr>
                    <td valign="top">
                       <input class="input-large modelControl" readonly data-bind="wgReferenceField: data.Fk_Vendor" type="text" placeholder="Vendor" id="Fk_Vendor" />

                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdVendorMSearch">Search</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
 <tr>
        <td>
            <label>Net Value</label></td>
        <td>

            <input class="input-medium modelControl" readonly data-bind="value:data.GrandTotal" type="text" placeholder="GrandTotal" id="GrandTotal" /></td>
    </tr>
     <tr>
          <td>
            <label>Excise Duty@6%</label></td>
    
     <td>   <input class="input-medium modelControl" readonly data-bind="value:data.ED" type="text" placeholder="ED" id="ED" /></td>
        </tr>
    <tr>
             <td>
            <label id="fct3">
                Form CT3
            </label>
        </td>
        <td>
            <input class="modelControl checkbox" type="checkbox" data-bind="checked: data.FORM_CT3" id="FORM_CT3" />
        </td>
    </tr>
    

     <tr>
        <td>
            <label class="radio">
                <input type="radio" id="VAT" name="TaxMode" value="VAT" onclick="radioClass1(1)" /><span class="metro-radio">VAT</span>

            </label>
        </td>
        <td>
            <label class="radio">
                <input type="radio" id="CST" name="TaxMode" align="left" value="CST" onclick="radioClass1(2)" /><span class="metro-radio">CST</span>
            </label>
        </td>
         <td> <input type="hidden" class="input-large " data-bind="value:data.TaxType" placeholder="PaymentMode" id="TaxType" /></td>

                        
                 </tr>


      <tr>

          

        <td>
            <label>Bill Amount</label></td>
        <td>

            <input class="input-medium modelControl" readonly data-bind="value: data.NETVALUE" type="text" placeholder="Bill Amount" id="NETVALUE" /></td>
    </tr>

    <tr>
          <td colspan="2" align="left" style="width: 20%">
            <label id="fh" style="visibility: hidden">
               Form H
            </label>
        </td>
        <td>
              <input class="modelControl checkbox" type="checkbox" style="visibility: hidden" data-bind="checked: data.FORM_H" id="FORM_H" />
        </td>


        </tr>

  <tr>
                                <td>
                                    <label>Close PO</label></td>
                                <td>
                                    <label>
                                        <input class="modelControl checkbox"  type="checkbox" id="chkCloseJC" data-bind="checked:data.Fk_Status" />
                                        Close PO </label>
                                   <td> <input   class="input-large modelControl" data-bind="value: data.Fk_Status" type="true" placeholder="Status" id="txtClose" /></td>

                            </tr>

</table>
<table cellspacing="0" cellpadding="0" border="0" style="width:40%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddMaterial" type="submit">
                        Add Material</button>
                </div>
                <div style="padding-bottom: 8px" id="tlbMaterials">
                </div>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
