﻿<table cellspacing="0" cellpadding="0" border="0" style="width: 50%">
    <br />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;Add Material Issue</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
</table>
<tr></tr>
<table border="0" cellspacing="0" cellpadding="0" style="width: 50%">
    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <label>
                Issue Date: &nbsp&nbsp&nbsp&nbsp</label>
        </td>
        <td align="left">
            <input type="text" readonly id="dtDate" data-bind="value: data.IssueDate" data-date-format="dd/mm/yyyy" class="validate[required] span2 input-medium" data-provide="datepicker" />
        </td>




    @*    <td colspan="2" align="left" style="width: 20%">
            <label>Net Value</label></td>
        <td>

            <input class="input-medium modelControl" readonly data-bind="value:data.GrandTotal" type="text"  placeholder="NetValue" id="GrandTotal" /></td>


        <tr>
            <td>
                <label>Indent No</label></td>
            <td>
                <table>
                    <tr>
                        <td valign="top">
                            <input class="input-large modelControl validate[required]" readonly data-bind="value: data.Fk_Indent" type="text" placeholder="Indent No." id="Fk_Indent" />
                        </td>
                        <td valign="top">
                            <button class="btn btn-primary" id="cmdMIndentSearch">Search</button>
                        </td>

                    </tr>
                </table>
            </td>
            <td colspan="2" align="left" style="width: 20%">
                <label>SGST@6%</label></td>

            <td>
                <input class="input-medium modelControl" readonly data-bind="value:data.SGST" type="text" placeholder="SGST" id="SGST" /></td>
        </tr>*@
   @* <tr>
        <td>
            <label>
                Converter</label>
        </td>
        <td>

            <table>
                <tr>
                    <td valign="top">
                        <input class="input-large modelControl" readonly="" data-bind="wgReferenceField: data.Fk_Vendor" type="text" placeholder="Converter" id="Fk_Vendor" />

                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdVendorMSearch">Search</button>
                    </td>
                </tr>
            </table>
        </td>
  

        </tr>*@
   <tr>
        <td>
            <label>
                Job Card Ref.No.</label>
        </td>
        <td>

            <table>
                <tr>
                    <td valign="top">
                        <input class="input-medium modelControl" readonly="" data-bind="wgReferenceField: data.Fk_JobCardID" type="text" placeholder="JobCard" id="txtJobCardID" />

                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdJCSearch">Search</button>
                    </td>
                </tr>
            </table>
        </td>
  </tr>
        <tr>
       <td>
            <label>Converter</label></td>
        <td>

            <input class="input-medium modelControl" readonly="" data-bind="value: data.Fk_Vendor" type="text" placeholder="" id="Fk_Vendor" /></td>
              <td>

            <input class="input-medium modelControl"  data-bind="value: data.VendorID" type="hidden" placeholder="" id="VendorID" /></td>
         <td>
            <label>Box Name</label></td>
        <td>

            <input class="input-medium modelControl" readonly data-bind="value: data.BName" type="text" placeholder="" id="BName" /></td>
        </tr>
    <tr>
 
                               <td>
                                    <label>
                                     Spl.Instructions</label>
                                </td>
                                <td>
                                    <textarea class="input-large modelControl" type="text" data-bind="value: data.Description"
                                        placeholder="Spl.Instructions" id="Description" tabindex="2" maxlength="520" />
                                </td> 
     

    </tr>
    <tr>

        <td></td>
        <td></td>

       @* <td colspan="2" align="left" style="width: 20%">
            <label>Bill Amount</label></td>
        <td>

            <input class="input-medium modelControl" readonly data-bind="value: data.NETVALUE" type="text" placeholder="Bill Amount" id="NETVALUE" /></td>
        
     *@
    </tr>
 



</table>
<table cellspacing="0" cellpadding="0" border="0" style="width: 40%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddMaterial" type="submit">
                        Add Paper</button>
                       <button id="cmdAddBoard" type="submit">
                        Add Board</button>
                       <button id="cmdAddInk" type="submit">
                        Add Ink</button>
                       <button id="cmdAddDie" type="submit">
                        Add Punching Die</button>
                          <button id="cmdAddStereo" type="submit">
                        Add Stereo</button>
                </div>
                <div style="padding-bottom: 8px" id="tlbMaterials">
                </div>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
