﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
    
   @* <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>*@

    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>



   @* <script type="text/javascript" src="~/Scripts/Application/MaterialIndent/MaterialIndentOperations.js"></script> *@

    <script src="~/Scripts/Application/MaterialIssue/MaterialIssueOperations.js" type="text/javascript"></script>



   @* <script type="text/javascript" src="~/Scripts/Application/MaterialIndent/MaterialIndent.js"></script> *@
    <script src="~/Scripts/Application/MaterialIssue/MaterialIssue.js" type="text/javascript"></script>


    @*<script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyConfigurator.js"*@
     @*<script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyfrmConfigurator.js"
        type="text/javascript"></script>*@



    <script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyfrmConfigurator.js" type="text/javascript"></script>


    @*<script src="~/Scripts/Frameworks/WebGare/Controls/WgWorkFlowButtons.js" type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgWorkFlowDisplay.js" type="text/javascript"></script>*@
}

@section MainSection{
<div id="divMainSection" wgPageType="CRUD" wgTag="MatIssue">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
    <div id="divSearchArea" align="center"></div>
 </div>
}

<div id="searchCustomerDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 1500px; height: 800px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader">Customer Order List</h3>
    </div>
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
                <div id="dlgCustomerSearchFields">
                </div>
            
                <br />
                <button type="submit" class="btn" id="cmdCustSearch">Search</button>
                <button type="submit" class="btn" id="cmdCustDone">Done</button>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="CustSearchContainer">
                </div>
            </td>
        </tr>
    </table>
</div>



<div id="searchJobCardDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 1000px; height: 500px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader1">JobCard List</h3>
    </div>
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
                <div id="dlgJobCardSearchFields">
                </div>
            
                <br />
                <button type="submit" class="btn" id="cmdJobCardSearch">Search</button>
                <button type="submit" class="btn" id="cmdJobCardDone">Done</button>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="JobCardSearchContainer">
                </div>
            </td>
        </tr>
    </table>
</div>