﻿
@*//Name          : Screen Design for Account Type -- Edit Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Shantha
//Date 	        : 26/10/2015
//Crh Number    : SL0002
//Modifications : *@


<table cellspacing="0" cellpadding="0" border="0" width="30%">
    <br />
   
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Account Type</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
      <tr>
        <td>
            <label>Name</label></td>
        <td>
            <input class="input-large validate[required,custom[onlyLetterSp],funcCall[CheckAccountDuplicate]" data-bind="value: data.AccTypeName" type="text" placeholder="Account Name" id="AccTypeName" maxlength="50" /></td>
    </tr>
    <tr>
        <td>
            <label>Description</label></td>
        <td>
            <textarea style="width: 75%" class="input-large modelControl " data-bind="value: data.Description" type="text" placeholder="Description" id="Description" maxlength="500" /></td>
    </tr>


    <tr>
        <td>
   
              <td ><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate" >Save</button></td>
    </tr>
</table>
