﻿@*//Name          : Screen Design for AccountType -- Search Mode(HTML)
//Description   : Search is done on the fields-Account name and Account id         
//Author        : shantha
//Date 	        : 26/10/2015
//Crh Number    : SL0002
//Modifications : *@


<table width="80%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="70%" align="center">
                    <tr>
                        <td>
                            <input type="text" id="TxtPkAccID" placeholder="Account ID" class="input-large search-query" />
                            <input type="text" id="TxtAccName" placeholder="Account Name" class="input-large search-query" />
                            <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                            <button type="submit" class="btn" id="cmdNew">Add Account Type</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="MainSearchContainer"></div>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
    </tr>
</table>
