﻿<div style="display: block" id="divCreateMaterial">
    <table cellspacing="0" cellpadding="5" border="0" width="90%">
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="formHeader">
            <td colspan="3">
                <label class="formHeaderTag">
                    &nbsp;&nbsp;Add Material</label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>
                    Material Name:</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required,funcCall[checkDuplicate]]" data-bind="wgReferenceField: data.Fk_Material"
                    type="text" placeholder="Item Name" id="txtFk_Material" style="width: 100%"
                    readonly />
            </td>
            <td valign="top" align="left">
                <button type="submit" class="btn cmdCreate" id="cmdSearchMaterialsdetails">
                    Search</button>
            </td>
        </tr>
            <tr>
            <td valign="top">
                <label>
                  Shade</label>
            </td>
            <td valign="top">
                <input class="modelControl" data-bind="value: data.Shade" readonly=""
                    type="text" placeholder="Shade" id="Shade" style="width: 100%" maxlength="50" />
            </td>
                </tr>
           <tr>
            <td valign="top">
                <label>
                   Mill Name</label>
            </td>
            <td valign="top">
                <input class="modelControl" data-bind="value: data.SName" readonly=""
                    type="text" placeholder="Mill" id="SName" style="width: 100%" maxlength="50" />
            </td>
             <td valign="top">
                <input class="modelControl" data-bind="value: data.Fk_Mill" readonly=""
                    type="hidden" placeholder="Mill" id="Fk_Mill" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
         <tr>
            <td valign="top">
                <label>
                    Inwd Qty</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required,custom[number],funcCall[checkValue]]" data-bind="value: data.Quantity"
                    type="text" placeholder="Quantity" id="Quantity" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
      
         <tr>
            <td valign="top">
                <label>
                   Reel No.</label>
            </td>
            <td valign="top">
                <input class="modelControl" data-bind="value: data.RollNo"
                    type="text" placeholder="ReelNo." id="RollNo" style="width: 20%"/>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        @*    <tr>
            <td valign="top">
                <label>
                   Tax</label>
            </td>
            <td valign="top">
                <input class="modelControl" data-bind="value: data.TaxVal"
                    type="text" placeholder="Tax" id="TaxVal" style="width: 20%"/>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
         <tr>
            <td valign="top">
                <label>
                   HSN Code</label>
            </td>
            <td valign="top">
                <input class="modelControl" data-bind="value: data.HSNCode"
                    type="text" placeholder="HSN" id="HSNCode" style="width: 20%"/>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
          <tr>
            <td valign="top">
                <label>
                  Remarks</label>
            </td>
            <td valign="top">
                            <textarea rows="3" class="input-large modelControl" type="text" data-bind="value: data.Remarks" placeholder="Remarks" id="Remarks" maxlength="500"/></textarea></td>
                       
            <td>
                &nbsp;
            </td>
        </tr>
         *@
            <tr>
            @*<td valign="top">
                <label>
                    Rate</label>
            </td>*@
            <td valign="top">
                <input class="modelControl validate[required,custom[number]]" data-bind="value: data.Price"
                    type="hidden" placeholder="Price" id="Price" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        @*  <tr>
            <td valign="top">
                <label>
                    Amount</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" readonly data-bind="value: data.Amount"
                    type="text" placeholder="Amount" id="Amount" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>*@
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button type="submit" class="btn cmdCreate" id="cmdSaveMaterial">
                    Save</button>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
      @*  <tr>
            <td valign="top">
                <label>
                     ReturnableQty:</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" data-bind="value: data.Quantity"
                    type="text" placeholder="Qty" id="Quantity" style="width: 30%" readonly />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>*@
       
    </table>
</div>
<div style="display: none; width: 550px; height: 600px;" id="divSearchMaterial">
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td>
               
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <input type="text" id="txtMaterial" data-bind="value: data.MaterialName" placeholder="GSM"
                    class="input-mini search-query" style="width: 15%" />
                 <input type="text" id="txtBF" data-bind="value: data.MaterialName" placeholder="BF"
                    class="input-mini search-query" style="width: 15%" />
                 <input type="text" id="txtDec" data-bind="value: data.MaterialName" placeholder="Deckel"
                    class="input-mini search-query" style="width: 15%" />
                <button type="submit" class="btn" id="cmdMaterialSearch">
                    Search</button>
                <button type="submit" class="btn" id="cmdMaterialDone">
                    Done</button>
            </td>
        </tr>
      
                <table cellpadding="8" cellspacing="0" border="0" width=80%">
        <tr>
            <td colspan="1">
                <div id="dlgMaterialSearchFields">
                </div>
                @*<input type="text" id="txtEnquiry" data-bind="value: data.Customer" placeholder="Customer Name" class="input-large search-query"/>
            <input type="text" id="txtCommunicationType" data-bind="value: data.CommunicationType" placeholder="CommunicationType" class="input-large search-query"/>*@
                <br />
                       <div id="radiobtns">
                                <table width="50%">
                                     @*  <tr>
                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Board"name="Status" value="Board" onchange="showOnlyBoard()" class="input-large search-query" /><span class="metro-radio">Board</span>
                                            </label>
                                           
                                        </td>
                                        
                                     <td style="width:50px" valign="top"">
                                            <label class="radio">
                                                <input type="radio" id="Gum" name="Status" value="Gum" onchange="showOnlyGum()" class="input-large search-query" /><span class="metro-radio">Gum</span>
                                            </label>
                                               
                                        </td>
                                        
                                         <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Ink" name="Status" value="Ink" onchange="showOnlyInk()" class="input-large search-query" /><span class="metro-radio">Ink</span>
                                            </label>
                                                
                                        </td>

                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Paper" name="Status" value="Paper" onchange="showOnlyPaper()" class="input-large search-query" /><span class="metro-radio">Paper</span>
                                            </label>
                                               
                                        </td>*@


                                       @* <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Honeycomb" name="Status" value="Honeycomb" onchange="showOnlyHoneycomb()" class="input-large search-query" /><span class="metro-radio">HoneyComb</span>
                                            </label>
                                               
                                        </td>*@
                                        
                             <tr>
            <td>
                 <input type="hidden" class="input-large"  placeholder="TYPE" id="SType" /></td>
            </td>
        </tr>
                                    </table>

        <tr>
            <td>
                <div id="MaterialSearchContainer">
                </div>
            </td>
        </tr>
    </table>
</div>
