﻿<div style="display: block; width:500px; height: 600px;" id="divCreateMaterial"  >
    <table cellspacing="0" cellpadding="1" border="0" width: 900px>
        <tr>
            <td>&nbsp;
            </td>
        </tr>
        <tr class="formHeader">
            <td colspan="10">
                <label class="formHeaderTag">
                    &nbsp;&nbsp;Add Characteristic</label>
            </td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="10" valign="top">
                <label>
                    Characteristic Name:</label>
            
                <input class="input-large modelControl validate[required]" data-bind="value: data.Fk_Material"
                    type="text" placeholder="Char Name" id="txtFk_Material" 
                    readonly />
           
            
                <button type="submit" class="btn cmdCreate" id="cmdSearchMaterialsdetails"  valign="top">
                    Search</button>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" data-bind="value: data.Pk_CharID"
                    type="hidden" placeholder="Pk_CharID" id="Pk_CharID" style="width: 100%"
                    readonly />
            </td>
        </tr>
        <tr>
                <td valign="top">
                <label>
                    Paper </label>
            
                <td><input class="input-large" data-bind="value: data.Fk_Material1" placeholder="Material" id="txtMName1" maxlength="10" type="text"  />
            </td>
            </tr>
        <tr>
              <td valign="top">
                <label>
                    Reel No</label>
            </td>
            <td valign="top">
                    @*   <input class="input-mini validate[funcCall[validateNumeric],required] " onchange="SetDefNoBoards();DisplayODValues()"*@
                                    

                <input class="modelControl validate[funcCall[ValDup]]" onblur="ReelSave()"  data-bind="value: data.ReelNo"
                    type="text" placeholder="Reel No" id="ReelNo" style="width: 80%" tabindex="3" />
            </td>
              <td valign="top">
                <label>
                    Enter BS</label>
            </td>
             <td valign="top">
                    @*   <input class="input-mini validate[funcCall[validateNumeric],required] " onchange="SetDefNoBoards();DisplayODValues()"*@
                                    

                <input class="modelControl" onblur="CalcBF()"  data-bind="value: data.BS"
                    type="text" placeholder="BS" id="BS" style="width: 80%" tabindex="3" />
            </td>

               <td valign="top">
                <label>
                    BF</label>
            </td>
             <td valign="top">
                    @*   <input class="input-mini validate[funcCall[validateNumeric],required] " onchange="SetDefNoBoards();DisplayODValues()"*@
                                    

                <input class="modelControl"  data-bind="value: data.BF"
                    type="text" readonly="" placeholder="BF Val." id="BF" style="width: 80%"  />
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>
                    Test Method</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" data-bind="value: data.TestMethod"
                    type="text" placeholder="Test Method" id="TestMethod" style="width: 80%" maxlength="150" />
            </td>
            <td valign="top">
                <label>
                    Target</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" data-bind="value: data.Target"
                    type="text" placeholder="Target" id="Target" style="width: 80%" maxlength="150" />
            </td>
            <td>&nbsp;
            </td>
        </tr>
        
        <tr>
            <td valign="top">
                <label>
                    Accept.Criteria</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" data-bind="value: data.Acceptance"
                    type="text" placeholder="Acceptance" id="Acceptance" style="width: 80%" maxlength="150" />
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" readonly="" data-bind="value: data.Min"
                    type="text" placeholder="Min" id="Min" style="width: 80%" />
            </td>

            <td valign="top">
                <input class="modelControl validate[required]" readonly="" data-bind="value: data.Max"
                    type="text" placeholder="Max" id="Max" style="width: 80%" />
            </td>

            <td>&nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>
                    Res-1</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" onblur="CheckAccept()" data-bind="value: data.Result1"
                    type="text" placeholder="Result 1" id="Result1" style="width: 30%" maxlength="10" tabindex="4" />
            </td>

            <td valign="top">
                <label>
                    Res-2</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" onblur="CheckAccept()" data-bind="value: data.Result2"
                    type="text" placeholder="Result 2" id="Result2" style="width: 30%" maxlength="10" tabindex="5"/>
            </td>

            <td valign="top">
                <label>
                    Res-3</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" onblur="CheckAccept()" data-bind="value: data.Result3"
                    type="text" placeholder="Result 3" id="Result3" style="width: 30%" maxlength="10" tabindex="6"/>
            </td>

        </tr>

        <tr>
            <td valign="top">
                <label>
                    Res-4</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" onblur="CheckAccept()" data-bind="value: data.Result4"
                    type="text" placeholder="Result 4" id="Result4" style="width: 30%" maxlength="10" tabindex="7" />
            </td>

            <td valign="top">
                <label>
                    Res-5</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" onblur="CheckAccept()" data-bind="value: data.Result5"
                    type="text" placeholder="Result 5" id="Result5" style="width: 30%" maxlength="10" tabindex="8" />
            </td>
            <td valign="top">
                <label>
                    Res-6</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[custom[number]]" onblur="CheckAccept()" data-bind="value: data.Result6"
                    type="text" placeholder="Result 6" id="Result6" style="width: 30%" maxlength="10" tabindex="9" />
            </td>

        </tr>

        <tr>
        </tr>

        <tr>
            <td valign="top">
                <label>
                    Min.Val</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" data-bind="value: data.MinVal"
                    type="text" placeholder="Min.Val" id="MinVal" style="width: 30%" maxlength="10" />
            </td>
              <td valign="top">
                <label>
                    Max.Val</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" data-bind="value: data.MaxVal"
                    type="text" placeholder="Max.Val" id="MaxVal" style="width: 80%" maxlength="10" />
            </td>

               <td valign="top">
                <label>
                    Avg.Val</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" data-bind="value: data.AvgVal"
                    type="text" placeholder="Avg.Val" id="AvgVal" style="width: 80%" maxlength="10" />
            </td>
            <td>&nbsp;
            </td>
        </tr>
          <tr>
        <td>
            <label>Status</label></td>


        <td>
            <div id="radiobtns">
                <table>
                    <tr>
                        <td>
                            <label class="radio">
                                <input type="radio" id="Fk_Yes" name="Status" data-bind="checked: data.Fk_Yes" value="Yes"  class="input-large search-query" checked onclick="radioClass('Yes')"/><span class="metro-radio">Accepted</span>
                            </label>
                        </td>
                        <td>
                            <label class="radio">
                                <input type="radio" id="Fk_No" name="Status" value="No"  data-bind="checked: data.Fk_No" onclick="radioClass('No')"/><span class="metro-radio">Rejected</span>
                            </label>
                        </td>
                    
                    </tr>
                    <tr>
                          <td valign="top">
                <input class="modelControl validate[required]" data-bind="value: data.Status" readonly="" 
                    type="text" placeholder="Status" id="Status" style="width: 30%" maxlength="50" />
            </td>
                    </tr>
                </table>
            </div>
         
        </td>
    </tr>
        <tr>
         
            </tr>
        <tr>
            <td valign="top">
                <label>
                    Remarks</label>
            </td>
            <td valign="top">
                <input class="modelControl" data-bind="value: data.Remarks"
                    type="text" placeholder="Remarks" id="Remarks" style="width: 100%" maxlength="150" />
            </td>
            <td>&nbsp;
            </td>
        </tr>
        <tr>
            <td>&nbsp;
            </td>
            <td>
                <button type="submit" class="btn cmdCreate" id="cmdSaveMaterial" tabindex="10">
                    Save</button>
            </td>
             <td>
                <input class="button" type="button" value=" Clear " onclick="Clear()"></td>
            
            <td>&nbsp;
            </td>
        </tr>


    </table>
</div>
<div style="display: none; width: 550px; height: 600px;" id="divSearchMaterial">
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td></td>
        </tr>
        <tr>
            <td colspan="1">
                <input type="text" id="txtSMaterial" data-bind="value: data.MaterialName" placeholder="Characteristic Name"
                    class="input-large search-query" style="width: 70%" />
                <button type="submit" class="btn" id="cmdMaterialSearch">
                    Search</button>
                <button type="submit" class="btn" id="cmdMaterialDone">
                    Done</button>
            </td>
        </tr>


        <table cellpadding="8" cellspacing="0" border="0" width="80%">
            <tr>
                <td colspan="1">
                    <div id="dlgMaterialSearchFields">
                    </div>
                    @*<input type="text" id="txtEnquiry" data-bind="value: data.Customer" placeholder="Customer Name" class="input-large search-query"/>
            <input type="text" id="txtCommunicationType" data-bind="value: data.CommunicationType" placeholder="CommunicationType" class="input-large search-query"/>*@
                    <br />
                    @*    <div id="radiobtns">
                                <table width="50%">
                                    <tr>
                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Board"name="Status" value="Board" onchange="showOnlyBoard()" class="input-large search-query" /><span class="metro-radio">Board</span>
                                            </label>
                                           
                                        </td>
                                        
                                        <td style="width:50px" valign="top"">
                                            <label class="radio">
                                                <input type="radio" id="Gum" name="Status" value="Gum" onchange="showOnlyGum()" class="input-large search-query" /><span class="metro-radio">Gum</span>
                                            </label>
                                               
                                        </td>
                                        
                                         <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Ink" name="Status" value="Ink" onchange="showOnlyInk()" class="input-large search-query" /><span class="metro-radio">Ink</span>
                                            </label>
                                                
                                        </td>

                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Paper" name="Status" value="Paper" onchange="showOnlyPaper()" class="input-large search-query" /><span class="metro-radio">Paper</span>
                                            </label>
                                               
                                        </td>


                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Honeycomb" name="Status" value="Honeycomb" onchange="showOnlyHoneycomb()" class="input-large search-query" /><span class="metro-radio">HoneyComb</span>
                                            </label>
                                               
                                        </td>
                                        
                             <tr>
            <td>
                 <input type="hidden" class="input-large"  placeholder="TYPE" id="SType" /></td>
            </td>
        </tr>
                                    </table>

                       </div>*@

                </td>
            </tr>
        </table>



        <tr>
        </tr>
        <tr>
            <td>
                <div id="MaterialSearchContainer">
                </div>
            </td>
        </tr>
    </table>
</div>
