﻿
<table width="80%" cellpadding="5" cellspacing="0" border="0">


@*<br/>*@
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="80%"  align="center">
                    <tr>
                        <td>
                        <input type="text" id="txtCust" placeholder="Cert.ID" class="input-mini search-query"/>
                        <input type="text" id="txtName" placeholder="Mat.Name" class="input-mini search-query"/>
                             <input type="text" id="txtVendorName" placeholder="Vend.Name" class="input-mini search-query"/>
                        <input type="text" id="txtPONo" placeholder="PONO" class="input-mini search-query"/>

                           @*    <input type="text" id="txtBoxid" placeholder="Box" class="input-medium search-query"/>*@
                        <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                        <button type="submit" class="btn" id="cmdNew" >Add Paper Cert.</button>
                           
                        </td>
                    </tr>
                    <tr><td></td></tr>
        <tr><td></td></tr>
                    <tr>
                        <td colspan="2"><div id="MainSearchContainer"></div></td>
                    </tr>
                </table>               
            </div>            
        </td>
    </tr>
</table>