﻿<div style="display: block" id="divCreateProduct">
    <table cellspacing="0" cellpadding="5" border="0" width="120%">
    <br />
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="formHeader">
            <td colspan="3">
                <label class="formHeaderTag">
                    &nbsp;&nbsp;Add Material</label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>

       <tr>
        <td>
            <label>Material</label></td>
        <td>
             <table>
                <tr>
                    <td valign="top">
            <input class="input-large modelControl validate[required]" readonly data-bind="wgReferenceField: data.Fk_Material" type="text" placeholder="Material" id="txtFk_Material" />
            </td>
                    <td valign="top">
                         <button class="btn btn-primary" id="cmdMaterialSearch">Search</button>
        </td>
   </tr>
            </table>
    </tr>

        <tr>
        <td>
            <label>Quantity</label></td>
        <td>
            <input class="input-large validate" data-bind="value: data.Quantity" type="text" placeholder="Quantity " id="Quantity" maxlength="50"/></td>
    </tr>

          <tr>
        <td>
            <label> Special Information</label></td>
        <td>
            <textarea class="input-large" data-bind="value: data.SpecialInformation" type="Special Information" placeholder=" Special Information" id="SpecialInformation" maxlength="500" /></td>
    </tr>

        

    

        
        
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button type="submit" class="btn cmdCreate" id="cmdSaveProduct">
                    Save</button>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </table>
</div>

 <div id="searchMaterial" style="display: none; width: 550px; height: 600px;">
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h3 id="srcHeader">Material</h3>
         @*<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="srchHeader">Customer</h3>
        </div>*@
        <table cellpadding="8" cellspacing="0" border="0" width="100%">
            <tr>
                <td colspan="1">
                    <div id="dlgSearchFieldsMaterial">
                    </div>
                    @*<input type="text" id="txtEnquiry" data-bind="value: data.Customer" placeholder="Customer Name" class="input-large search-query"/>
            <input type="text" id="txtCommunicationType" data-bind="value: data.CommunicationType" placeholder="CommunicationType" class="input-large search-query"/>*@
                    <br />
                    <button type="submit" class="btn" id="cmdMatSearch">Search</button>
                    <button type="submit" class="btn" id="cmdMatDone">Done</button>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td>
                    <div id="SearchMaterialContainer">
                    </div>
                </td>
            </tr>
        </table>
    </div>