﻿ 
<table cellspacing="0" cellpadding="0" border="0" width="40%">
    <br />
    <tr style="width: 10%" class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;Edit Material Quotation </label></td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>


    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label>Request Date</label>
        </td>
        <td>

            <input type="text" class="input-large modelControl " readonly id="RequestDate" data-bind="value: data.RequestDate" data-date-format="dd/mm/yyyy" class="validate[required] span2 input-medium" data-provide="datepicker" />
        </td>


@*          <tr>
        <td>
            <label>Quotation Request</label></td>
        <td>
          
              <input style ="width:50%" class="input-large validate" data-bind="value: data.Pk_QuotationRequest" type="text" placeholder="Quotation Request" id="QuotationRequest" maxlength="50" /></td>
    </tr>*@


    <tr>
        <td>
            <label>Vendor</label></td>
        <td>
             <table>
                <tr>
                    <td valign="top">
            <input class="input-large modelControl validate[required]" readonly data-bind="wgReferenceField: data.Fk_Vendor" type="text" placeholder="Vendor" id="txtFk_Vendor" />
            </td>
                   @* <td valign="top">
                         <button class="btn btn-primary" id="cmdCustomerSearch">Search</button>
        </td>*@
   </tr>
            </table>
    </tr>



     <tr>
        <td>
            <label> Requests</label></td>
        <td>
            <textarea class="input-large" data-bind="value: data.Requests" type="Requests" placeholder=" Requests" id="Requests" maxlength="500" /></td>
    </tr>




    @*<tr>
        <td>
            <label>Order Number</label></td>
        <td>
            <table>
                <tr>
                    <td valign="top">
            <input class="input-large modelControl" readonly data-bind="value:data.Fk_OrderNo" type="text" placeholder="Order Number" id="Fk_OrderNo" />
             </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdOrderSearch">Search</button>
        </td>
                    </tr>
            </table>
    </tr>



    <tr>
        <td>
            <label>Enquiry Number</label></td>
        <td>
             <table>
                <tr>
                    <td valign="top">
            <input class="input-large modelControl" readonly data-bind="value:data.Fk_EnquiryNo" type="text" placeholder="Enquiry Number" id="Fk_EnquiryNo" />
             </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdEnquirySearch">Search</button>
        </td>
                       </tr>
            </table>

    </tr>*@

  @*  <tr>
        <td>
            <label>
                Description
            </label>
            <td>
                <textarea class="input-large" data-bind="value: data.Description" type="Description" placeholder=" Description" id="Description" /></td>
    </tr>*@


    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr></tr>
    <tr></tr>


    <table cellspacing="0" cellpadding="0" border="0" width="40%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddProduct" type="submit">
                        Add Material</button></div>
                <div style="padding-bottom: 8px" id="tlbProducts">
                </div>
            </div>
        </td>
    </tr>
  




<tr align="center">
        <td colspan="2">
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div id="wfTransDisplay">
            </div>
        </td>
    </tr>
</table>
