﻿<table width="70%" cellpadding="5" cellspacing="0" border="0">
    <tr >
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="90%" align="center">
                    <tr>

                        <td>
                            <table>
                                <tr>
                                    <td valign="top" align="center">
                                        <input type="text" id="txtQuotationRequest" placeholder="Request Id" class="input-medium search-query" /></td>
                                    <td valign="top" align="center">
                                        <input type="text" id="txtVendorName" placeholder="Vendor Name" class="input-medium search-query" /></td>

                                    <td valign="top" align="center">
                                        <input type="text" id="TxtFromRequestDate" placeholder="From Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker"  />
                                    </td>
                                    <td valign="top" align="center">
                                        <input type="text" id="TxtToRequestDate" placeholder="To Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker"  />
                                    </td>
                                    <td valign="top" align="center">
                                        <button type="submit" class="btn" id="LoadRecordsButton">
                                            Search</button></td>
                                    <td valign="top" align="center">
                                        <button type="submit" style="width: 100%" class="btn" id="cmdNew">
                                            Add Material Quotation</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div id="MainSearchContainer">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
