﻿@*//Name          : Screen Design for HoneyComb -- New Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : shantha
//Date 	        : 07/08/2015
//Crh Number    : SL0005
//Modifications : *@


<table cellspacing="0" cellpadding="0" border="0" width="50%">
    <tr class="formHeader">
        <td colspan='2'>
            <label class="formHeaderTag">&nbsp;&nbsp;Add Stock Transfer</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <label>Transfer Date</label></td>
        <td>
            <input type="text" readonly id="TransferDate" data-bind="value: data.TransferDate" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>

       <tr>
        <td><label>From Branch</label></td>
        <td><select style ="width:50%" class="modelControl validate[required]" data-bind="options: Branches,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_FromBranchID" id="Fk_FromBranchID"></select>
       </td>
    </tr>

     <tr>
        <td><label>To Branch</label></td>
        <td><select style ="width:50%" class="modelControl validate[required]" data-bind="options: Branches,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_ToBranchID" id="Fk_ToBranchID"></select>
       </td>
    </tr>



     <tr>
        <td>
            <label>
                Material </label>
        </td>
        <td>
            <table>
                <tr>
                    <td  &nbsp valign="top">
                        <input  class="input-large modelControl validate[required]" readonly data-bind="wgReferenceField: data.Fk_Material" type="text" placeholder="Material" id="txtFk_Material" />
                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdMaterialSearch">Search</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>


     <tr>
        <td>
            <label>
                Quantity Available</label>
        </td>
        <td>
            <input style="width: 55%" class="input-large modelControl " 
                type="text" placeholder="Quantity" id="TxtQuantity" readonly />
        </td>

    </tr>


      <tr>
        <td>
            <label>
               Transfer Quantity</label>
        </td>
        <td>
            <input style="width: 55%" class="input-large modelControl validate[required,custom[onlyNumberSp],funcCall[checkstock]]" data-bind="value: data.TransferQty"
                type="text" placeholder="Quantity" id="TransferQty"  />
        </td>

    </tr>

    
   
     
    
     
    <tr>
        <td>&nbsp;
        </td>
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
