﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section JavascriptImport {
  
    
    
    <script src="~/Scripts/Application/STransferOperations.js" type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyfrmConfigurator.js"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>
}


@section MainSection{
<div id="divMainSection" wgPageType="CRUD" wgTag="STransfer">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
  <div id="divSearchArea" align="center"></div>
    </div>
    }
<h2>Index</h2>



<div id="searchMaterialDialog" class="modal hide fade" tabindex="100" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:700px; height:500px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader">Material</h3>
    </div>
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
            <div id="dlgSearchMaterialFields">
            </div>
            @*<input type="text" id="txtEnquiry" data-bind="value: data.Customer" placeholder="Customer Name" class="input-large search-query"/>
            <input type="text" id="txtCommunicationType" data-bind="value: data.CommunicationType" placeholder="CommunicationType" class="input-large search-query"/>*@
            <br />
            <button type="submit" class="btn" id="cmdMatSearch">Search</button>
            <button type="submit" class="btn" id="cmdMaterialDone">Done</button>
            </td>
        </tr>
        <tr>
        </tr>                    
        <tr>
            <td>
                <div id="MaterialSearhContainer">
                </div>
            </td>
        </tr>
    </table>
</div>

