﻿


<table cellspacing="0" cellpadding="0" border="0" width="30%">
     <tr>
       @* <td><label>Paper Name</label></td>*@
        <td><input class="input-large modelControl" style="visibility:hidden" type="text" data-bind="value: data.Name" placeholder="Paper Name" id="PaperName" maxlength="150"/></td>
    </tr>
    <tr class="formHeader">
        <td><label class="formHeaderTag">&nbsp;&nbsp;Conversion</label></td>
        <td align="right"><button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
   
      <tr>

          <td><label>ECT-- Assumed to be 32</label></td>
            <td><label>BCT Calculation Formula -- 5.87 * ECT * SquareRoot of product of caliper of board and box perimeter(L+W)</label></td>

          </tr>
    <tr>
        <td><label>ECT</label></td>
        <td><input class="input-large modelControl" data-bind="value: data.PartNo" type="text" readonly="" placeholder="ECT" id="ECT" maxlength="5"/> </td>
    </tr>

    @* <tr>
        <td><label>Mill</label></td>
        <td> <select class="modelControl",onchange="C()" data-bind="options: Mill,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_Mill"
                id="MILL">
            </select></td>
    </tr>
    <tr>
        <td><label>Paper Type</label></td>
        <td> <select class="modelControl validate[required]" data-bind="options: PaperType,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_PaperType"
                id="PaperType">
            </select></td>
    </tr>
    <tr>
        <td><label>Color</label></td>
        <td>
           <select class="modelControl" data-bind="options: Color,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_Color"
                id="CommunicationType">
            </select></td>
    </tr>*@
     <tr>
        <td><label>Caliper of Corr.Board</label></td>
        <td><input class="input-large modelControl validate[custom[number]]" data-bind="value: data.Deckle" type="text"  placeholder="Caliper" id="Caliper"/></td>
    </tr>
     <tr>
        <td><label>Length</label></td>
        <td><input class="input-large modelControl validate[required,custom[number]]" data-bind="value: data.GSM" type="text"  placeholder="Length" id="Length"/></td>
    </tr>
     <tr>
        <td><label>Width</label></td>
        <td><input class="input-large modelControl validate[required,custom[number]]" data-bind="value: data.BF" type="text" onchange="Calc()" placeholder="Width" id="Width"/></td>
    </tr>
   @* <tr>
        <td><label>Description</label></td>
            <td><textarea rows="3" class="input-large modelControl" type="text" data-bind="value: data.Description" placeholder="Description" id="Description" maxlength="250"/></textarea></td>
    </tr>
    <tr>
        <td><label>Unit</label></td>
        <td> <select class="modelControl validate[required]" data-bind="options: Unit,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_UnitId"
                id="Fk_UnitId">
            </select></td>
    </tr>*@



      <tr>
        <td><label>BCT</label></td>
        <td><input class="input-large modelControl validate[custom[number]]" data-bind="value: data.Moisture" type="text" readonly="" placeholder="BCT" id="BCT"/></td>
    </tr>
   @* <tr>
        <td><label>Min.Value</label></td>
        <td><input class="input-large modelControl validate[custom[number]]" data-bind="value: data.Min_Value" type="text" placeholder="Min.Value" id="Min_Val"/></td>
    </tr>
      <tr>
        <td><label>Max.Value</label></td>
        <td><input class="input-large modelControl validate[custom[number]]" data-bind="value: data.Max_Value" type="text" placeholder="Max.Value" id="Max_Val"/></td>
    </tr>

     <tr>
        <td>&nbsp;</td>
        <td><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate" >Save</button></td>
    </tr>*@
</table>