﻿
@*//Name          : index--Account Head Screen
//Description   : Shows the Names Of the Layout,Javascript used.
                :wg tag refers to the Controller name    
//Author        : Nagesh V Rao
//Date 	        : 22/10/2015
//Crh Number    : 
//Modifications : *@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
    
    <script src="~/Scripts/Application/AccountHeadOperations.js" type="text/javascript"></script>
}
@section MainSection{
<div id="divMainSection" wgPageType="CRUD" wgTag="AccountHead">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
  <div id="divSearchArea" align="center"></div>
    </div>
    }
<h2>Index</h2>
