﻿html {
    background-color: white;
    margin: 0;
    padding: 0;
}

.chkOff
{
    height:20px;
    width:20px;
   
}

.chkOn
{
    height:20px;
    width:20px;
}

.chkNone
{
    visibility:hidden;
}

/* Updated data  */

.btn-group
{
  padding-left:5px;   
}

.circle {
	border-radius: 50%;
	padding:2px;
	width: 30px;
	height: 30px; 
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
	color:White;
	/* width and height can be anything, as long as they're equal */
}

.pivot > .pivot-headers > a
{
    text-transform:none;
}

label.checkbox input[type="checkbox"] ~ span.metro-checkbox
{
    padding-top:0;
    padding-left:30px;   
}

.dropdown-toggle
{
    padding-left:5px;   
}
.metro .commandbar
{
    background: -moz-linear-gradient(top, rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%);
    height:100%;
    width:100%;
}

.ui-accordion
{
    font-size:small;
}

.ui-accordion label
{
    font-size:small;
}


.ui-accordion .ui-accordion-content 
{
    padding-left:0;
    padding-top:0;
    font-size:smaller;
    
}



.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
    background-image: -moz-linear-gradient(top left, #EDEDED 0%, #00AEFF 100%);
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}

