﻿
<table cellspacing="0" cellpadding="0" border="0" style="width:40%">
    <br />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;Add  Material Inward</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" style="width:40%">
    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>
  

@*    <tr align="center">
        <td style="width: 50%" align="left">
            <label>Inward Date</label></td>
        <td colspan="2" align="left" style="width: 50%">
            <input type="text" readonly id="dtPInwardDate" data-bind="value: data.Inward_Date" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>*@

  @*    <tr>
        <td>
            <label>
                QualityCheck No.</label>
        </td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                        <input class="input-large modelControl validate[required]" readonly data-bind="value: data.Fk_QC" type="text" placeholder="QualityCheck" id="txtQualityCheck" />
                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdQualitySearch">Search</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
                    <td>
                        <label>
                            PO No.</label>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                        <input style="width: 55%" class="input-large modelControl" 
                            type="text" placeholder="PO" id="TxtPO" readonly />
                    </td>
                      <td valign="top">
                                    <button class="btn btn-primary" id="cmdQualitySearch">Search</button>
                                </td>
                    
                   </tr>
                </table>

                    </td>
    </tr>
    <tr>
         <td>
            <label>
                Indent No.</label>
        </td>
        <td>
            <input style="width: 55%" class="input-large modelControl" 
                type="text" placeholder="Indent" id="Indent" readonly />
        </td>
    </tr>
       <tr>
     
 <td>
            <label>Vendor</label></td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                       <input class="input-large modelControl" readonly data-bind="wgReferenceField: data.Fk_Vendor" type="text" placeholder="Vendor Name" id="Fk_Vendor" />
                    </td>
                    
                    <td><input class="input-large" data-bind="value: data.Fk_QC" placeholder="Vendor" id="txtVName" maxlength="10" type="text"  /></td>
                     <td>     <input class="input-medium" data-bind="value: data.Fk_QC" placeholder="Vendor ID" id="Fk_QC" maxlength="10" type="hidden" /></td>
                  
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdVendorSearch">Search</button>
                    </td>







                </tr>
            </table>
*@



     <tr>
         <td>
            <label>
                Inward No.</label>
        </td>
        <td>
            <input style="width: 55%" class="input-large modelControl"  data-bind="value: data.Fk_Inward" type="text" placeholder="Inward No" id="Fk_Inward"  />
        </td>
         </tr>
    <tr>
          <td style="width: 50%" align="left">
            <label>GRN Date </label></td>
        <td colspan="2" align="left" style="width: 50%">
            <input type="text" readonly id="dtGRNDate" data-bind="value: data.GRNDate" data-date-format="dd/mm/yyyy" class="validate[required] span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>


     <tr>
 
                               <td>
                                    <label>
                                        Remarks</label>
                                </td>
                                <td>
                                    <textarea class="input-large modelControl" type="text" data-bind="value: data.Remarks"
                                        placeholder="Remarks" id="Remarks" tabindex="2" />
                                </td> 
     

    </tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" style="width:40%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddMaterial" type="submit">
                        Add Material</button>
                </div>
                <div style="padding-bottom: 8px" id="tlbMaterials">
                </div>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
