﻿<table cellspacing="0" cellpadding="0" border="0" width="30%">
   <br />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;@ViewBag.Context Spares</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><label>Name</label></td>
        <td><input class="input-large modelControl validate[required]" data-bind="value: data.Name" type="text" placeholder="Name" id="Name" maxlength="200"/> </td>
    </tr>

    
     <tr>
        <td><label>PartNo/Details</label></td>
        <td><input class="input-large modelControl" data-bind="value: data.Description" type="text" placeholder="PartNo/Details" id="Description"/></td>
    </tr>
     <tr>
        <td><label>Make</label></td>
        <td><input class="input-large modelControl" data-bind="value: data.Company" type="text" placeholder="Make" id="Company"/></td>
    </tr>
     <tr>
        <td><label>Qty. in Machine</label></td>
        <td><input class="input-large modelControl" data-bind="value: data.Brand" type="text" placeholder="Qty" id="Brand"/></td>
    </tr>
   


      <tr>
        <td><label>Location</label></td>
        <td><input class="input-large modelControl" data-bind="value: data.MaterialType" type="text" placeholder="Location" id="MaterialType"/></td>
    </tr>
      

    <tr>
        <td>&nbsp;</td>
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
