﻿
@*//Name          : Screen Design for Country -- Search Mode(HTML)
//Description   : Search is done on the fields- id(CountryID,CName)            
//Author        : Nagesh V Rao
//Date 	        : 07/08/2015
//Crh Number    : SL0010
//Modifications : *@

<table width="50%" cellpadding="5" cellspacing="0" border="0">


<br />
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>
                        
                             <input type="text" id="txtBranchID" placeholder="Branch ID " class="input-large search-query"/>
                            <input type="text" id="txtBranchName" placeholder="Branch Name" class="input-large search-query"/>
                        <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                        <button type="submit" class="btn" id="cmdNew" >Add Branch</button>
                        </td>
                    </tr>
                    <tr><td></td></tr>
        <tr><td></td></tr>
                    <tr>
                        <td colspan="2"><div id="MainSearchContainer"></div></td>
                    </tr>
                </table>               
            </div>
            
        </td>
    </tr>
</table>