﻿@model CogitoStreamline.Models.SearchParameterModel
@{
    ViewBag.Title = "Custom Report Viewer";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
<script type="text/javascript">
</script>
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="ReportViewer">
    <h4>Overall Summary Report.</h4>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <fieldset>
            <legend>Report 1</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.Territory)
                    @Html.TextBoxFor(m => m.Territory)
                    @Html.ValidationMessageFor(m => m.Territory)
                </li>
            </ol>
            <input type="submit" class id="btnSubmit" value="View Report" />
        </fieldset>
    }
</section>
@if (Model != null)
{
    <section class="social" id="ReportDisplayPanel">
        <h4>Report Viewer Section.</h4>
        @Html.ActionLink("View Report in PDF Format", "GenerateAndDisplayReport", new { territory = Model.Territory, format = "pdf" })
        @Html.ActionLink("Download Report in PDF Format", "DownloadReport", new { territory = Model.Territory, format = "pdf" })
        <img src="@Url.Action("GenerateAndDisplayReport", "Report", new { territory = Model.Territory, format = Model.Format })"   />

    </section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

