﻿<table cellspacing="0" cellpadding="5" border="0" width="90%">
    <tr class="formHeader">
        <td colspan="2"><label class="formHeaderTag">&nbsp;&nbsp;Change Password</label></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><label>Current Password</label></td>
        <td><input class="input-large modelControl validate[required]" type="password" placeholder="Current Password" id="txtCurrentPassword"/></td>
    </tr>
    <tr>
        <td><label>New Password</label></td>
        <td><input class="input-large modelControl validate[required]" type="password" placeholder="New Password" id="txtNewPassword"/></td>
    </tr>
    <tr>
        <td><label>Confirm Password</label></td>
        <td><input class="input-large modelControl validate[required,equals[txtNewPassword]]" type="password" placeholder="Confirm Password" id="txtConfirmPassword"/></td>
    </tr>
    <tr>
       <td colspan="2" align="center"><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdChangePwd" >Save</button></td>
   
  
     <td colspan="2" align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>

</table>
