﻿<table cellspacing="0" cellpadding="0" border="0" width="80%">
    <tr class="formHeader">
        <td colspan='2'><label class="formHeaderTag">&nbsp;&nbsp;Create Tenant</label></td>
        <td align="right"><button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td></td>
        <td></td>
        <td rowspan="8" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
            </table>
         </td>
    </tr>


       <tr>
        <td><label>Name</label></td>
        <td>
            <input class="input-large modelControl validate[required]" data-bind="value:data.TanentName" type="text" placeholder="Tanent Name" id="txtTanent" />
          </td>

    </tr>
       <tr>
        <td><label>Creation Channel</label></td>
        <td>
            <input class="input-large modelControl " data-bind="value:data.CreationChannel" type="text" placeholder="Channel" id="txtChannel" />
          </td>
    </tr>
       
       <tr>
        <td><label>IsActive</label></td>
        <td>
            <input class="input-large modelControl " data-bind="value:data.IsActive" type="text" placeholder="Active" id="txtActive" />
          </td>
    </tr>
    <tr>
        <td><label>Created Date</label></td>
        <td>
            <input type="text" readonly  id="CreationDate" data-bind="value: data.CreationDate" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker"/>
        </td>
    </tr>   
    <tr>
        <td>&nbsp;</td>
        <td><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate" >Save</button></td>
    </tr>
</table>