﻿<table width="90%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="90%">
                    <tr>
                        <td style="width: 60%">
                            <input type="text" id="TxtTenantName" placeholder="Tenant Name" class="input-large search-query" />
                           @* <input type="text" id="TxtOrderNo" placeholder="Order No." style="width: 300px"/>
                            <input type="text" id="TxtFromDate" placeholder="From Date"  class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" /> 
                            <input type="text" id="TxtToDate" placeholder="To Date"class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" /> *@

                                
                            <button type="submit" class="btn" id="LoadRecordsButton">
                                Search</button>
                            <button type="submit" class="btn" id="cmdNew">
                                New Tenant</button>
                        </td>
                    </tr>
                    @*<tr>
                        <td style="width: 40%">
                            <label class="checkbox" style="width: 250px">
                                <input type="checkbox" id="chkonlyPending" onchange="showOnlyPending()"><span class="metro-checkbox">Show
                                    Only Pending</span>
                            </label>
                        </td>
                    </tr>*@
                    <tr>
                        <td colspan="2">
                            <div id="MainSearchContainer">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
