﻿@*//Name          : index--Unit Screen
//Description   : Shows the Names Of the Layout,Javascript used.
                : wg tag refers to the Controller name    
//Author        : shantha
//Date 	        : 07/08/2015
//Crh Number    : SL0003
//Modifications : *@


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
  <script type="text/javascript" src="~/Scripts/Application/TanentOperations.js"></script> 
 
}

@section MainSection{
<div id="divMainSection" wgPageType="CRUD" wgTag="WTenant">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
    <div id="divSearchArea" align="center"></div>
 </div>
}