﻿   

<table cellspacing="0" cellpadding="0" border="0" width="30%">
  
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Stock</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>


      <tr>
        <td><label>Material ID</label></td>
        <td><input class="input-large modelControl" data-bind="value: data.Pk_Material" type="text" placeholder="Material ID" id="Pk_Material" readonly/> </td>
    </tr>
    <tr>
        <td>
            <label>
                 Name</label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl" readonly data-bind="value: data.Name"
                type="text" placeholder="Name" id="Name" maxlength="30" />
        </td>                
    </tr>
    
 <tr>
        <td><label>Min.Value</label></td>
        <td><input class="input-large modelControl validate[custom[number]]" data-bind="value: data.Min_Value" type="text" placeholder="Min.Value" id="Min_Val"/></td>
    </tr>
      <tr>
        <td><label>Max.Value</label></td>
        <td><input class="input-large modelControl validate[custom[number]]" data-bind="value: data.Max_Value" type="text" placeholder="Max.Value" id="Max_Val"/></td>
    </tr>


       <tr>
         <td></td>
              <td ><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate" >Save</button></td>
    </tr>
</table>