﻿@*//Name          : Screen Design for Board -- Edit Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Shantha
//Date 	        : 07/08/2015
//Crh Number    : SL0005
//Modifications : *@

<table cellspacing="0" cellpadding="0" border="0" width="30%">
    <br />

    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context OuterShell</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    
    <tr>
        <td><label>Part No.</label></td>
        <td><input class="input-large modelControl validate[required]" data-bind="value: data.PartNo" type="text" placeholder="PartNo" id="PartNo" maxlength="50"/> </td>
    </tr>

    <tr>
        <td>
            <label>
                 Name</label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl  validate[required]" data-bind="value: data.Name"
                type="text" placeholder="Name" id="Name" maxlength="30" readonly />
        </td>                
    </tr>
    
      
     <tr>
        <td>
            <label>
               Length (in mm)</label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.Length"
                type="text" placeholder="Length" id="Length" />
        </td>
                
    </tr>
     <tr>
        <td>
            <label>
               Width (in mm)</label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.Width"
                type="text" placeholder="Width" id="Width" />
        </td>
                
    </tr>
     <tr>
        <td>
            <label>
               Height (in mm)</label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.Height"
                type="text" placeholder="Height" id="Height" />
        </td>
                
    </tr>


       <tr>
        <td>
            <label>
               Weight</label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl"  readonly data-bind="value: data.Weight"
                type="text" placeholder="Weight" id="Weight" />
        </td>
                
    </tr>
     <tr>
        <td>
            <label>
              Top Paper GSM</label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.GSM"
                type="text" placeholder="GSM" id="GSM" />
        </td>
                
    </tr>
     
     <tr>
        <td>
            <label>
               BF</label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.BF"
                type="text" placeholder="BF" id="BF" />
        </td>
                
    </tr>


     <tr>
        <td>
            <label>
               PPLY (in mm)</label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.PPly"
                type="text" placeholder="PPly" id="PPly" />
        </td>
                
    </tr>
  
    
    <tr>
        <td>

        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
