﻿
<table cellspacing="0" cellpadding="0" border="0" width="40%">
    <br />
    <tr style="width: 10%" class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context State</label></td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label>Country</label></td>
        <td>
            <select style="width: 50%" disabled class="modelControl validate[required]" data-bind="options: Country,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Country"
                id="Country">
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label>State Name</label></td>
        <td>
            <input class="input-large  validate[required,funcCall[CheckStateDuplicate]]" data-bind="value: data.StateName" type="text" placeholder="State Name" id="StateName" /></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
