﻿
@*//Name          : index--State Screen
//Description   : Shows the Names Of the Layout,Javascript used.
                :wg tag refers to the Controller name    
//Author        : Nagesh V Rao
//Date 	        : 07/08/2015
//Crh Number    : SL0011
//Modifications : 
*@


@*@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>*@


    


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section JavascriptImport {
  
    
    <script src="~/Scripts/Application/StateOperations.js" type="text/javascript"></script>
}

@section MainSection{
<div id="divMainSection" wgPageType="CRUD" wgTag="State">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
  <div id="divSearchArea" align="center"></div>
    </div>
    }
<h2>Index</h2>
