﻿<div style="display: block" id="divCreateMaterial">
    <table cellspacing="0" cellpadding="5" border="0" width="90%">
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="formHeader">
            <td colspan="3">
                <label class="formHeaderTag">
                    &nbsp;&nbsp;Add Item</label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>
                    Item Name:</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required,funcCall[checkDuplicate]]" data-bind="wgReferenceField: data.Fk_Material"
                    type="text" placeholder="Item Name" id="txtFk_Material" style="width: 100%"
                    readonly />
            </td>
            <td valign="top" align="left">
                <button type="submit" class="btn cmdCreate" id="cmdSearchMaterialsdetails">
                    Search</button>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>
                    Category</label>
            </td>
            <td valign="top">
                <input class="modelControl" data-bind="value: data.Category"
                    type="text" placeholder="Category" id="Category" style="width: 100%" maxlength="50"  readonly=""/>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
         <tr>
            <td valign="top">
                <label>
                    Issue Qty</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required,custom[number],funcCall[checkValue]]" data-bind="value: data.Quantity"
                    type="text" placeholder="Issue" id="Quantity" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
      
     <tr>

        <td>
            <label>Returns</label></td>
        <td>

            <select style="width: 45%" class="modelControl validate[required]" data-bind=" value: data.Returned" id="Returned" onchange="ProductChange(this);">
                <option value="0">Select</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
                
            </select> 
        </td>
      <td><input class="input-medium modelControl" data-bind="value: data.Returned" type="hidden" placeholder="" id="ReturnVal" /></td> 


          <tr>
 
                               <td>
                                    <label>
                                        Remarks</label>
                                </td>
                                <td>
                                    <textarea class="input-large modelControl" type="text" data-bind="value: data.Remarks"
                                        placeholder="Remarks" id="Remarks" />
                                </td> 
     

    </tr>

</tr>
        
          <tr>
            <td valign="top">
                <input class="modelControl" data-bind="value: data.Pk_Stock"
                    type="hidden" placeholder="Pk_Stock" id="Pk_Stock" style="width: 20%" maxlength="10" />
            </td>
           
        </tr>
         
            <tr>
            @*<td valign="top">
                <label>
                    Rate</label>
            </td>*@
           
            <td>
                &nbsp;
            </td>
        </tr>
        @*  <tr>
            <td valign="top">
                <label>
                    Amount</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" readonly data-bind="value: data.Amount"
                    type="text" placeholder="Amount" id="Amount" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>*@
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button type="submit" class="btn cmdCreate" id="cmdSaveMaterial">
                    Save</button>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
      @*  <tr>
            <td valign="top">
                <label>
                     ReturnableQty:</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" data-bind="value: data.Quantity"
                    type="text" placeholder="Qty" id="Quantity" style="width: 30%" readonly />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>*@
       
    </table>
</div>
<div style="display: none; width: 550px; height: 600px;" id="divSearchMaterial">
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td>
               
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <input type="text" id="txtMaterial" data-bind="value: data.MaterialName" placeholder="Material Name"
                    class="input-mini search-query" style="width: 15%" />
              
                <button type="submit" class="btn" id="cmdMaterialSearch">
                    Search</button>
                <button type="submit" class="btn" id="cmdMaterialDone">
                    Done</button>
            </td>
        </tr>
      
                <table cellpadding="8" cellspacing="0" border="0" width=80%">
        <tr>
            <td colspan="1">
                <div id="dlgMaterialSearchFields">
                </div>
                @*<input type="text" id="txtEnquiry" data-bind="value: data.Customer" placeholder="Customer Name" class="input-large search-query"/>
            <input type="text" id="txtCommunicationType" data-bind="value: data.CommunicationType" placeholder="CommunicationType" class="input-large search-query"/>*@
                <br />
                       <div id="radiobtns">
                                <table width="50%">
                                     @*  <tr>
                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Board"name="Status" value="Board" onchange="showOnlyBoard()" class="input-large search-query" /><span class="metro-radio">Board</span>
                                            </label>
                                           
                                        </td>
                                        
                                     <td style="width:50px" valign="top"">
                                            <label class="radio">
                                                <input type="radio" id="Gum" name="Status" value="Gum" onchange="showOnlyGum()" class="input-large search-query" /><span class="metro-radio">Gum</span>
                                            </label>
                                               
                                        </td>
                                        
                                         <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Ink" name="Status" value="Ink" onchange="showOnlyInk()" class="input-large search-query" /><span class="metro-radio">Ink</span>
                                            </label>
                                                
                                        </td>

                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Paper" name="Status" value="Paper" onchange="showOnlyPaper()" class="input-large search-query" /><span class="metro-radio">Paper</span>
                                            </label>
                                               
                                        </td>*@


                                       @* <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Honeycomb" name="Status" value="Honeycomb" onchange="showOnlyHoneycomb()" class="input-large search-query" /><span class="metro-radio">HoneyComb</span>
                                            </label>
                                               
                                        </td>*@
                                        
                             <tr>
         @*   <td>
                 <input type="hidden" class="input-large"  placeholder="TYPE" id="SType" /></td>
            </td>*@
        </tr>
                                    </table>

        <tr>
            <td>
                <div id="MaterialSearchContainer">
                </div>
            </td>
        </tr>
    </table>
</div>
