﻿@{
    ViewBag.Title = "Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section JavascriptImport {
       
    <script type="text/javascript" src="~/Scripts/Application/ConsIssue/ConsIssueOperations.js"></script>
  <script type="text/javascript" src="~/Scripts/Application/ConsIssue/Materials.js"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>
        <script src="~/Scripts/Frameworks/WebGare/Configuration/wgOne2ManyConfigurator.js" type="text/javascript"></script>
       
  
}

@section MainSection{
    <div id="divMainSection" wgpagetype="CRUD" wgtag="ConsumablesIssue">
        <div id="divDataArea" align="center" style="padding-top: 5px"></div>
        <div id="divSearchArea" align="center"></div>
    </div>
}


<div id="searchQualityDialog" class="modal hide fade" tabindex="100" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:900px; height:900px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader">PO Search</h3>
    </div>
        
          <table cellpadding="5" cellspacing="0" border="0" width="95%">
        
        <tr >
            @*<td valign="top">
                <input type="text" id="txtdlgMaterialName" placeholder="MaterialName" class="input-medium" /></td>*@
            <td valign="top">
                <input type="text" id="txtdlgInvoice" placeholder="PO No." class="input-medium" /></td>
              <td valign="top">
                <input type="text" id="txtOthers" placeholder="Others-Name" class="input-medium" /></td>
            @*<td valign="top">
                <input type="text" id="txtdlgQDate" placeholder="Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" />
            </td>*@
         
        </tr>
                <div id="radiobtns">
                                <table width="50%">
                                    <tr>
                                    
                                           <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Paper" name="Status" value="Paper" onchange="showOnlyPaper()" class="input-large search-query" /><span class="metro-radio">Paper</span>
                                            </label>
                                               
                                        </td>
                                       
                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Others" name="Others" value="Others" onchange="showOthers()" class="input-large search-query" /><span class="metro-radio">Others</span>
                                            </label>
                                               
                                        </td>

                                        </tr>
                                    <tr>
                                        <td>
                                            <input type="hidden" id="Selected" data-bind="value: data.Opt" placeholder="Selection" class="input-mini search-query"/>
                                            </td>
                                    </tr>
                 <tr>
              <td colspan="4">
                <button type="submit" class="btn" id="cmdQCheckSearch">Search</button>
                <button type="submit" class="btn" id="cmdQCheckDone">Done</button>
            </td>
             
        </tr>
        <tr>
            <td colspan="4">
                <div id="QualitySearhContainer">
                </div>
            </td>
        </tr>


        
    </table>

    </div>