﻿<div style="display: block;" id="searchMaterialDialog" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader">Material List</h3>
    </div>
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
                <div id="dlgMaterialSearchFields">
         @*           <tr>
            <td valign="top">
                <label>
                    Material Name:</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required,funcCall[checkDuplicate]]" data-bind="wgReferenceField: data.Fk_Material"
                    type="text" placeholder="Item Name" id="txtdlgMaterialName" style="width: 100%"
                    readonly />
            </td>
            <td valign="top" align="left">
                <button type="submit" class="btn cmdCreate" id="cmdSearchMaterialsdetails">
                    Search</button>
            </td>
        </tr>*@
                </div>
                @*<input type="text" id="txtEnquiry" data-bind="value: data.Customer" placeholder="Customer Name" class="input-large search-query"/>
            <input type="text" id="txtCommunicationType" data-bind="value: data.CommunicationType" placeholder="CommunicationType" class="input-large search-query"/>*@
                <br />
                   @*    <div id="radiobtns">
                                <table width="50%">
                                    <tr>
                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Board"name="Status" value="Board" onchange="showOnlyBoard()" class="input-large search-query" /><span class="metro-radio">Board</span>
                                            </label>
                                           
                                        </td>
                                        
                                        <td style="width:50px" valign="top"">
                                            <label class="radio">
                                                <input type="radio" id="Gum" name="Status" value="Gum" onchange="showOnlyGum()" class="input-large search-query" /><span class="metro-radio">Gum</span>
                                            </label>
                                               
                                        </td>
                                        
                                         <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Ink" name="Status" value="Ink" onchange="showOnlyInk()" class="input-large search-query" /><span class="metro-radio">Ink</span>
                                            </label>
                                                
                                        </td>

                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Paper" name="Status" value="Paper" onchange="showOnlyPaper()" class="input-large search-query" /><span class="metro-radio">Paper</span>
                                            </label>
                                               
                                        </td>


                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Honeycomb" name="Status" value="Honeycomb" onchange="showOnlyHoneycomb()" class="input-large search-query" /><span class="metro-radio">HoneyComb</span>
                                            </label>
                                               
                                        </td>


                                        </tr>

                                    </table>
                       </div>*@
                <button type="submit" class="btn" id="cmdMatSearch">Search</button>
                <button type="submit" class="btn" id="cmdMatDone">Done</button>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="MaterialSearchContainer">
                </div>
            </td>
        </tr>
    </table>
</div>


