﻿
<table cellspacing="0" cellpadding="0" border="0" width="70%">
    <tr class="formHeader">
        <td colspan='2'>
            <label class="formHeaderTag">&nbsp;&nbsp;Add Quality Check</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>
            <div class="tabbable">
                <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs" id="MyTab">
                    <li class="active"><a href="#tab1" data-toggle="tab">QualityCheck Details</a></li>
                    <li><a href="#tab2" data-toggle="tab">Materials</a></li>
                    <li><a href="#tbDocument" data-toggle="tab">Add Document</a></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                       <table cellspacing="0" cellpadding="0" border="0" style="width: 60%">
    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>
    <tr align="center">
        <td style="width: 50%" align="left">
            <label>
                Quality Check Date: &nbsp&nbsp&nbsp&nbsp</label>
        </td>
        <td colspan="2" align="left" style="width: 50%">
            <input type="text" readonly id="dtDate" data-bind="value: data.CheckDate" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Invoice Number</label>
        </td>
        <td>
            <input class="input-medium modelControl" data-bind="value: data.InvoiceNumber" type="text" placeholder="InvoiceNumber" id="InvoiceNumber" />
        </td>
    </tr>

    <tr>
        <td>
            <label>Cert. Number</label>
        </td>
        <td>
            <input class="input-medium modelControl" data-bind="value: data.DCNo" type="text" placeholder="Cert.No" id="DCNumber" />
        </td>
    </tr>
    <tr>
        <td>
            <label>PO No</label></td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                        @*<input class="input-large modelControl"  readonly data-bind="wgReferenceField: data.Fk_Indent" type="text" placeholder="Indent No" id="Fk_Indent" />*@

                        <input class="input-large modelControl validate[required]" readonly data-bind="value: data.Fk_PONo" type="text" placeholder="PO" id="Fk_PO" />
                          


                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdMPOSearch">Search</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <label>Vendor</label></td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                        @*<input class="input-large modelControl " readonly data-bind="wgReferenceField: data.Fk_Vendor" type="text" placeholder="Vendor" id="txtFk_Vendor" />*@
                        <input class="input-large modelControl" type="text" placeholder="Vendor" id="txtFk_Vendor" readonly />
                    </td>

                </tr>
            </table>
        </td>
    </tr>


</table>


                    </div>
                    <div class="tab-pane" id="tab2">
                        <div id="divCreateMaterialIndent">
                            <table width="100%">
                                @*<tr class="formHeader">
                                    <td colspan="7">
                                        <label class="formHeaderTag">
                                            &nbsp;&nbsp;Add MaterialIndent</label>
                                    </td>
                                </tr>*@
                                <tr>
                                    <td>&nbsp;
                                                 

                                    </td>
                                </tr>
                             

                              @*  <tr>
                                    <td style:width="30%" valign="top">
                                        <label>Customer Order</label>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <input class="input-medium modelControl " readonly data-bind="wgReferenceField: data.Fk_CustomerOrder" type="text" placeholder="Customer Order" id="txtCustomerOrder" />
                                                </td>
                                                <td valign="top">
                                                    <button class="btn btn-primary" id="cmdCustomerOrderSearch">Search</button>
                                                </td>
                                            </tr>
                                        </table>
                                </tr>*@
                                <tr>
                                    <td valign="top">
                                        <label>Material</label>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <input class="modelControl" readonly data-bind="wgReferenceField: data.Fk_Material" type="text"   placeholder="Material" id="txtMaterial" />
                                               <input class="input-small" data-bind="value: data.Fk_Material" readonly="" type="hidden" placeholder="Mat" id="Fk_Material" />
                                                
                                                </td>
                                                <td valign="top">
                                                    <button class="btn btn-primary" id="cmdSearchMaterialsdetails">Search</button>
                                                </td>
                                            </tr>
                                        </table>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <label>Shade</label>
                                    </td>
                                    <td>
                                        <input class="input-small" data-bind="value: data.Shade" readonly="" type="text" placeholder="Shade" id="Shade" />

                                    </td>
                                </tr>
                                 <tr>
                                    <td valign="top">
                                        <label>Mill</label>
                                    </td>
                                    <td>
                                        <input class="input-small" data-bind="value: data.Mill" readonly="" type="text" placeholder="Mill" id="Mill" />

                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <label>PO Qty</label>
                                    </td>
                                    <td>
                                        <input class="input-small" data-bind="value: data.POQty" readonly="" type="text" placeholder="POQty" id="POQty" />

                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <label>Reel No.</label>
                                    </td>
                                    <td>
                                        <input class="input-small" data-bind="value: data.ReelNo"  type="text" placeholder="Reel No" id="ReelNo" />

                                    </td>
                                  @*   <td valign="top">
                                        <label>PO Pending Qty.</label>
                                    </td>
                                    <td>
                                        <input class="input-small" data-bind="value: data.POQty" readonly="" type="text" placeholder="PO Qty" id="POQty" />

                                    </td>*@
                                </tr>
                                  <tr>
                                    <td valign="top">
                                        <label>Passed Qty</label>
                                    </td>
                                    <td>
                                        <input class="input-small validate[custom[number],funcCall[checkValue]]" data-bind="value: data.AccQty"  type="text" placeholder="AccQty" id="AccQuantity" />

                                    </td>
                               
                                </tr>

                          @*      <tr>
                                    <td valign="top">
                                        <label>Indent Qty.</label>
                                    </td>

                                    <td align="top">
                                        <table>
                                            <tr>
                                                <td>
                                                    <input class="input-medium modelControl" data-bind="value: data.Quantity" type="text" placeholder="Quantity" id="Quantity" />

                                                </td>
                                                <td>

                                                    <input class="input-small" readonly data-bind="value: data.Unit" type="text" placeholder="Unit" id="Unit" /></td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>*@
                            </table>
                        </div>

                        <table width="80%">
                            <tr>
                                <td align="center">
                                    <div id="divListContainer">
                                        <div style="padding-bottom: 5px">
                                            <button id="cmdMaterialIndent" type="submit">
                                                Save To List</button>
                                        </div>
                                        <div style="padding-bottom: 8px" id="divMaterialDetail">
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
               
                     <div class="tab-pane" id="tbDocument" style="height: 500px">
                        <div id="dropzone">
                            <div id="file" class="dropzone dz-clickable">
                            </div>
                        </div>
                    </div>
                    
                    
                     </div>
            </div>
        </td>
    </tr>

    @*    <tr>
        <td>&nbsp;</td>
    </tr>*@
    <tr>
        @* / <td>&nbsp;</td>*@
        <td colspan="2" style="text-align: center">
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
