﻿<table width="90%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="90%" align="center">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td  align="center" valign="top">
                                        <input type="text" id="txtIndentNumber" placeholder="QC Number" class="input-medium search-query" /></td>
                                    <td  align="center" valign="top">
                                        <input type="text" id="TxtDate" placeholder="Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                                    </td>
                                   @* <td  align="center" valign="top">
                                        <input type="text" id="TxtVendorName" placeholder="Vendor Name" class="input-medium search-query" /></td>*@
                                    <td  align="center" valign="top">
                                        <input type="text" id="Txtinward" placeholder="InvoiceNo" class="input-medium search-query" /></td>

                                    <td   align="center" valign="top">
                                        <button type="submit" class="btn" id="LoadRecordsButton">
                                            Search</button></td>
                                    <td  align="center" valign="top">
                                        <button type="submit" style="width: 100%" class="btn" id="cmdNew">
                                            Add QualityCheck</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    @*<tr>
                        <td style="width: 40%" colspan="8">
                            <label class="checkbox" style="width: 250px">
                                <input type="checkbox" id="chkonlyPending" onchange="showOnlyPending()"><span class="metro-checkbox">Show
                                    Only Pending</span>
                            </label>
                        </td>
                    </tr>*@
                    <tr>
                        <td colspan="8">
                            <div id="MainSearchContainer">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
