﻿
  <form id="myform"  action="/Order/SaveOrder" method="post">
<table cellspacing="0" cellpadding="0" border="0" width="50%">
    <tr class="formHeader">
        <td colspan='2'>
            <label class="formHeaderTag">&nbsp;&nbsp;Add Order</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
 
    <tr>
        <td>
            <label>OrderDate</label></td>
        <td>
            <input type="text" readonly id="dtPOrderDate" data-bind="value: data.OrderDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[orderDateValidate]] span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>
     
    <tr>
        <td>
            <label>EnquiryNo</label></td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                        <input class="input-large modelControl" readonly onchange="fillEnquiry()" data-bind="value: data.Fk_Enquiry" type="text" placeholder="Enquiry" id="fk_Enquiry" />
                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdEnquerySearch">Search</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
  
    <tr>
        <td>
            <label>Customer</label></td>
        <td>
        <table>
            <tr>
        <td valign="top">
            <input class="input-large modelControl validate[required]" readonly data-bind="wgReferenceField: data.Fk_Customer" type="text" placeholder="Customer" id="txtfk_Customer" />  </td>
            @*<input class="input-large modelControl" data-bind="value: data.fk_Customer" type="text" placeholder="" id="CustID" /></td>*@
                <td valign="top"> 
             <button class="btn btn-primary" id="cmdCustomerSearch">Search</button>
                    </td>
                </tr>
            </table>
            </td>
    </tr>

     <tr>
        <td>
            <label>Customer PO No.</label></td>
        <td>
            <input class="input-large modelControl" data-bind="value: data.Cust_PO" type="text" placeholder="PO" id="PO" /></td>
    </tr>
    <tr>
  <tr>

        <td>
            <label>Order For Sales/JW</label></td>
        <td>

            <select style="width: 45%" class="modelControl validate[required]" data-bind=" value: data.Product" id="Product" onchange="ProductChange(this);">
                <option value="0">Select</option>
                <option value="1">Sales</option>
                <option value="2">Job Work</option>
                
            </select> 
        </td>
       <input class="input-medium modelControl" data-bind="value: data.Product" type="hidden" placeholder="Product" id="ProductVal" />

</tr>
    <tr>
         <td>&nbsp;</td>
    </tr>

</table>
<table cellspacing="0" cellpadding="0" border="0" style="width: 30%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddSchedule" type="submit">
                        Add Item</button>
                </div>
                <div style="padding-bottom: 8px" id="divDeliveryschedule">
                </div>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
      </form>