﻿
<table cellspacing="0" cellpadding="0" border="0" width="50%">
    <tr class="formHeader">
        <td colspan='2'>
            <label class="formHeaderTag">&nbsp;&nbsp;Edit Schedule</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

  @*  <tr>
        <td>
            <label>Deliv.ID</label></td>
        <td>
            <input class="input-large modelControl" readonly data-bind="value: data.Pk_DeliverySchedule" type="text" placeholder="Pk_DeliverySechedule" id="Pk_DeliverySechedule" />
        </td>

    </tr>*@
    <tr>
             <td valign="top">
                <label>Delivery Date</label>
            </td>
            <td>
                <input  type="text" id="dtDeliveryDate" data-bind="value: data.DeliveryDate" data-date-format="dd/mm/yyyy" class="validate[required], span2 datepicker input-medium" data-provide="datepicker"/>
            </td>
    </tr>
    <tr>
        <td valign="top">
            <label>Order No.</label></td>
        <td>
            @*<table>
                <tr>
                    <td valign="top">
                        <input class="input-large modelControl" readonly data-bind="value: data.Fk_Order" type="text" placeholder="Order" id="Fk_Order" />
                    </td>
                 
                </tr>
              @*  <tr>
                     <td valign="top">
            <label>Order Date</label></td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                       <input readonly type="text" id="dtPOrderDate" data-bind="value: data.OrderDate" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker"/>
                    </td>
                  

                </tr>
            </table>*@
        </td>
    </tr>
    <tr>
        <td valign="top">
            <label>Enquiry No.</label></td>
       
        <td valign="top">
            <input class="input-large modelControl" readonly data-bind="value: data.Fk_Enquiry" type="text" placeholder="Enquiry" id="Fk_Enquiry" />
        </td>
    </tr>


   


     <tr>
       
        </tr>
         <tr>
            <td valign="top">
                <label>
                    Box Name:</label>
            </td>
            <td valign="top">
                   <input visibility: type="text" readonly class="input-medium modelControl" data-bind="value: data.Name" placeholder="Name" id="Name"/>
            </td>
         @*   <td valign="top" align="left">
                <button type="submit" class="btn cmdCreate" id="cmdSearchMaterialsdetails">
                    Search</button>
            </td>*@
        </tr>
           <tr>
      
                <td>
                <input visibility: type="hidden" class="input-medium modelControl validate[required] " data-bind="value: data.Fk_EnquiryChild" placeholder="Fk_EnquiryChild" id="Fk_EnquiryChild"/>
            </td>
        </tr>
          <tr>
            <td valign="top">
                <label>Ord.Qty</label>
            </td>
            <td>
                <input class="input-small validate[required,custom[onlyNumberSp]] " readonly  data-bind="value: data.OrdQty" type="text" placeholder="Ord.Qty" id="OrdQty"/>
            </td>
               </tr>
          <tr>

                <td valign="top">
                <label>T.Sch.Qty</label>
            </td>
            <td>
                <input class="input-small"   type="text"  data-bind="value: data.Quantity" placeholder="Quantity" id="Quantity"/>
            </td>

        </tr>


    <tr>
           
                    <tr>
                        <td valign="top">
                            <label>Delivery Completed</label>
                        </td>
                        <td>
                            <input type="checkbox" id="chkDeliveryCompleted" data-bind="checked: data.DeliveryCompleted"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <label>Delivered Date</label>
                        </td>
                        <td>
                            <input readonly type="text" id="dtDeliveredDate" data-bind="value: data.DeliveredDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[deliveryDateValidate]] span2 datepicker input-medium" data-provide="datepicker"/>
                        </td>
                     </tr>
                
        </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

</table>
<table cellspacing="0" cellpadding="0" border="0" style="width: 30%">
    <tr>
      @*  <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddSchedule" type="submit">
                        Add Box</button>
                </div>
                <div style="padding-bottom: 8px" id="divDeliveryschedule">
                </div>
            </div>
        </td>*@
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
