﻿

<table width="90%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="90%">
                    <tr>
                        <td style="width: 60%">
                            <table>
                                <tr>
                                    <td valign="top">
                                        <input type="text" id="TxtCustomerName" placeholder="Box Name" class="input-mini search-query" /></td>
                                     <td valign="top">
                                        <input type="text" id="TxtCust" placeholder="Cust." class="input-mini search-query" /></td>
                                    <td valign="top">
                                        <input type="text" id="TxtOrderNo" placeholder="Sch.No." class="input-mini search-query" /></td>
                                     <td valign="top">
                                        <input type="text" id="TxtOrdNo" placeholder="Ord.No." class="input-mini search-query" /></td>
                                    <td valign="top">
                                        <input type="text" id="TxtFromDate" placeholder="From Date" class="span2 input-mini" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                                    </td>
                                    <td valign="top">
                                        <input type="text" id="TxtToDate" placeholder="To Date" class="span2 input-mini" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                                    </td>

                                    <td valign="top">
                                        <button type="submit" class="btn" id="LoadRecordsButton">
                                            Search</button></td>
                                    <td valign="top">
                                        <button type="submit" class="btn" id="cmdNew">
                                            Add Schedule</button></td>
                                     <td valign="top">
                                        <button type="submit" class="btn" id="cmdJC">
                                            Raise JC</button></td>
                                      <td valign="top">
                                        <button type="submit" class="btn" id="cmdPPC">
                                            Check PPC</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
               @*     <tr>
                        <td>
                            <div id="radiobtns">
                                <table width="30%">
                                    <tr>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="open" name="Status" value="New" onchange="showOnlyOpen()" class="input-large search-query" /><span class="metro-radio">New</span>
                                            </label>

                                        </td>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="InProgress" name="Status" value="InProgress" onchange="showOnlyInProgress()" class="input-large search-query" /><span class="metro-radio">InProgress</span>
                                            </label>

                                        </td>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="Completed" name="Status" value="Completed" onchange="showOnlyCompleted()" class="input-large search-query" /><span class="metro-radio">Completed</span>
                                            </label>

                                        </td>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="Cancelled" name="Status" value="Cancelled" onchange="showOnlyCancelled()" class="input-large search-query" /><span class="metro-radio">Cancelled</span>
                                            </label>

                                        </td>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="closed" name="Status" value="Close" onchange="showOnlyClosed()" /><span class="metro-radio">Closed</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="all" name="Status" value=" " onchange="showAll()" checked /><span class="metro-radio">All</span>
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 40%">
                            <label class="checkbox" style="width: 250px">
                                <input type="checkbox" id="chkonlyPending" onchange="showOnlyPending()"><span class="metro-checkbox">Show
                                    Only Pending</span>
                            </label>
                        </td>
                    </tr>*@
                    <tr>
                        <td colspan="2">
                            <div id="MainSearchContainer">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
