﻿<div style="display: block;" id="searchJobDialog" tabindex="100" style="width: 700px; height: 500px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader">JobCard List</h3>
    </div>
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
             <div id="dlgJobCardSearchFields">
                </div>
                @*<input type="text" id="txtEnquiry" data-bind="value: data.Customer" placeholder="Customer Name" class="input-large search-query"/>
            <input type="text" id="txtCommunicationType" data-bind="value: data.CommunicationType" placeholder="CommunicationType" class="input-large search-query"/>*@
                <br />
                 <button type="submit" class="btn" id="cmdJobCardSearch">Search</button>
                <button type="submit" class="btn" id="cmdJobCardDone">Done</button>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="JobCardSearchContainer">
                </div>
            </td>
        </tr>
    </table>
</div>

