﻿<table cellspacing="0" cellpadding="0" border="0" width="80%">
    <tr class="formHeader">
        <td colspan='2'>
            <label class="formHeaderTag">&nbsp;&nbsp;Add Bill</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>
            <div class="tabbable">
                <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs" id="MyTab">
                    <li class="active"><a href="#tab1" data-toggle="tab">Invoice Details</a></li>
                    <li><a href="#tab2" data-toggle="tab">Box</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <table>
                             <tr>
                              <td>
                                    <label>Invoice Date</label></td>
                                <td>
                                    <input type="text" readonly class="span2 input-medium" id="dtDate" data-bind="value: data.InvDate" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
                                </td>
      
                            </tr>
                            
                            <tr>
                                <td>
                                    <label>Customer</label></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td valign="top">
                                                <input class="input-large modelControl" readonly data-bind="wgReferenceField: data.Fk_Customer" type="text" placeholder="Customer" id="txtCustomer" />
                                            </td>
                                            <td valign="top">
                                                <button class="btn btn-primary" id="cmdCustomerSearch">Search</button>
                                            </td>
                                           @*   <td valign="top" style="width: 100%">
                                    <button class="btn btn-primary" id="cmdNewCustomer">Others</button>
                                </td>
                  *@
                                        </tr>
                                   
                                    </table>
                            </tr>
                               <tr>
                                   <td>
                                    <label>Order No</label></td>
                                 <td>
                        <input type="text" class="input-medium "readonly="" data-bind="checked: data.Fk_OrderNo" placeholder="OrderNo" id="Fk_OrderNo" /></td>
                                   <td>
                                    <label>Order Dt</label></td>
                                <td>
                                    <input type="text" readonly class ="span2 input-medium" id="dtOrdDate" width 35% data-bind="value: data.BOrderDated1" data-date-format="dd/mm/yyyy"  data-provide="datepicker" />
                                </td>
                               </tr>
                            <tr>
        <td>
            <label>Payment Mode</label></td>
        <td>
            <table>
                <tr>
                    <td>
                        <label class="radio">
                            <input type="radio" id="Cash" name="PayMtMode" value="Cash" onclick="radioClass('Cash')" /><span class="metro-radio">Cash</span>

                        </label>
                    </td>
                 @*   <td>
                        <label class="radio">
                            <input type="radio" id="Card" name="PayMtMode" align="left" value="Card" onclick="radioClass('Card')" /><span class="metro-radio">Card</span>
                        </label>
                    </td>*@
                <td>
                        <label class="radio">
                            <input type="radio" id="Cheque" name="PayMtMode" value="Cheque" onclick="radioClass('Cheque')" /><span class="metro-radio">Cheque</span>
                        </label>
                    </td>
               <td>
                        <label class="radio">
                            <input type="radio" id="NetBanking" name="PayMtMode" value="NetBanking" onclick="radioClass('NetBanking')" /><span class="metro-radio">NetBanking</span>
                        </label>
                    </td>
                    <td>
                        <input type="hidden" class="input-large " data-bind="checked: data.PayMt" placeholder="PaymentMode" id="PayMt" /></td>
                </tr>

            </table>

        </td>

    </tr>
        
            
        <td>
<label>Tax Type</label></td>
        <td>
            <select style="width: 15%" class="modelControl validate[required]" data-bind=" value: data.TaxM" id="Tax"  onchange="TaxChange(this);">
                <option value="0">Select</option>
                <option value="1">SGST</option>
                <option value="2">IGST</option>
                <option value="3">9%</option>
                 <option value="4">2.5%</option>
                 <option value="5">5%</option>
                
            </select> 
        </td> <td>
                        <input type="hidden" class="input-mini modelControl" data-bind="checked: data.TaxM" placeholder="PaymentMode" id="TaxType" /></td>

            <td>
      <td> <input class="input-medium modelControl" data-bind="value: data.TaxM" type="hidden" placeholder="Tax" id="TaxVal" />
          
                 </tr>
      <tr>
          <td>
            <label>SGST</label></td>
    
     <td>   <input class="input-medium modelControl" readonly data-bind="value: data.ED" type="text" placeholder="SGST" id="ED" /></td>
          <td>
            <label>CGST</label></td>
    
     <td>   <input class="input-medium modelControl" readonly data-bind="value: data.CGST" type="text" placeholder="CGST" id="CGST" /></td>

       
        </tr>
     <tr>

          

        <td>
            <label>Tot. Amount</label></td>
        <td>
            <input class="input-medium modelControl" readonly data-bind="value: data.NETVALUE" type="text" placeholder="Bill Amount" id="NETVALUE" /></td>

          <td>
            <label>Buyer's Order No.</label></td>
        <td>
            <input class="input-medium modelControl"  data-bind="value: data.Buyers_OrderNo" type="text" placeholder="Buyers OrderNo" id="Buyers_OrderNo" /></td>
           <td>
                                    <label>Cust.Ord.Dt</label></td>
                                <td>
                                    <input type="text" readonly class ="span2 input-medium" id="dtCustOrdDate" width 35% data-bind="value: data.BOrderDated" data-date-format="dd/mm/yyyy"  data-provide="datepicker" />
                                </td>
    </tr>
   
  
     @* <tr>

       <td>
            <label>Buyer's Order No.</label></td>
        <td>
            <input class="input-medium modelControl"  data-bind="value: data.Buyers_OrderNo" type="text" placeholder="Buyers_OrderNo" id="Buyers_OrderNo"  maxlength="50"/></td>
  
   

      
    </tr>*@
                            <tr>
                                 <td>
            <label>State Code</label></td>
        <td>
            <input class="input-medium modelControl"  data-bind="value: data.StateCode" type="text" placeholder="State Code" id="StateCode" /></td>
                                <td>
            <label>Motor Vehicle No.</label></td>
        <td>
            <input class="input-medium modelControl"  data-bind="value: data.MVehicleNo" type="text" placeholder="VehicleNo" id="MVehicleNo"  maxlength="50"/></td>
           </tr>



    <tr>
                <td>
            <label>Despatched Through</label></td>
        <td>
            <input class="input-medium modelControl"  data-bind="value: data.Despatched" type="text" placeholder="Despatched" id="Despatched" maxlength="150"/></td>
                                <td>
            <label>Destination</label></td>
        <td>
            <input class="input-medium modelControl"  data-bind="value: data.Destination" type="text" placeholder="Destination" id="Destination"  maxlength="150"/></td>
    </tr>
    <tr>
        <td>
            <label>Deliver To</label></td>
        <td>
            <input class="input-medium modelControl"  data-bind="value: data.DeliveryName" type="text" placeholder="Name" id="DeliveryName" /></td>
              <td>
                                    <label>Dt.& Time of Inv.</label></td>
                                <td>
                                    <input type="text" readonly class ="span2 input-medium" id="dtInvDate" width 35% data-bind="value: data.DNTimeofInv" data-date-format="dd/mm/yyyy"  data-provide="datepicker" />
                                </td>
    </tr>
                   
    <tr>

        
      
                                    <td>
                                        <label>Delivery Address</label></td>
                                    <td>
                                        <textarea data-bind="value: data.DeliveryAdd1" placeholder="Address" id="DeliveryAdd1" maxlength="150" /></td>
                                </tr>
                               <tr>
                                   <td>&nbsp;</td>
                                                                                                 <td>
                                <table border="0">
                                    <tr>
                                        <td>
                                     <div style="padding-bottom: 8px" id="tlbCustShipping">
                </div>
                                            </td>
                                        </tr>
                                </table>
                            </td>
                                        </tr>           
   @* <tr>

        
      
                                    <td>
                                        <label>Delivery Address</label></td>
                                    <td>
                                        <textarea data-bind="value: data.DeliveryAdd2" placeholder="Address" id="DeliveryAdd2" maxlength="150" /></td>
                                </tr>*@
   

                        </table>
                    </div>



                    <div class="tab-pane" id="tab2">
                        <div id="divCreateMaterialIndent">
                            <table width="100%">
                                @*<tr class="formHeader">
                                    <td colspan="7">
                                        <label class="formHeaderTag">
                                            &nbsp;&nbsp;Add MaterialIndent</label>
                                    </td>
                                </tr>*@
                <tr>
                                    <td>&nbsp;
                                                 

                                    </td>
                                </tr>
                               
                                <tr>
                                    <td style:width="30%" valign="top">
                                        <label>Box</label>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <input class="input-medium modelControl " readonly="" data-bind="wgReferenceField: data.Fk_BoxID" type="text" placeholder="Box Name" id="Fk_BoxID" />
                                                     <input class="input-mini modelControl"  data-bind="value: data.Fk_BoxID" type="hidden" placeholder="BoxID" id="BoxID" /></td>
                                           
                                                <td valign="top">
                                                    <button class="btn btn-primary" id="cmdBoxSearch">Search</button>
                                                      <button class="btn btn-primary" id="cmdItemSearch">Item Search</button>
                                                </td>
                                                <td><input class="input-mini modelControl"  data-bind="value: data.BName" type="hidden" placeholder="BName" id="BName" /> </td>
                                                  <td><input class="input-mini modelControl"  data-bind="value: data.PName" type="hidden" placeholder="PName" id="PName" /> </td>
                                            </tr>
                                        </table>
                               </td>
                                    </tr>
                                <tr>
                                     <td>
                                        <label>Stock Qty</label></td>
                                    <td>
                                        <input class="input-medium modelControl" readonly="" data-bind="value: data.StkQty" type="text" placeholder="StkQty" id="StkQty" /></td>
                                    <td> <input class="input-medium modelControl" data-bind="value: data.StkID" type="hidden" placeholder="StkID" id="StkID" /></td>
                                   <td><input class="input-medium modelControl" data-bind="value: data.Fk_PartID" type="hidden" placeholder="PartID" id="Fk_PartID" /></td>
                                     <td><input class="input-medium modelControl" data-bind="value: data.TaxValue" type="hidden" placeholder="TaxValue" id="TaxValue" /></td>
                                       <td><input class="input-medium modelControl" data-bind="value: data.Product" type="hidden" placeholder="Product" id="Product" /></td>
                                       <td><input class="input-medium modelControl" data-bind="value: data.Weight" type="hidden" placeholder="Weight" id="Weight" /></td>
                                </tr>
                                 @* <tr>
                                    <td style:width="30%" valign="top">
                                        <label>Job Card No.</label>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <input class="input-medium modelControl"  data-bind="value: data.Fk_JobCardID" type="text" placeholder="JobCard" id="Fk_JobCardID" readonly=""/>
                                                    <input class="input-medium modelControl"  data-bind="value: data.Fk_OrderNo" type="hidden" placeholder="Fk_Order" id="Fk_OrderNo" readonly=""/>
                                                </td>
                                                <td valign="top">
                                                    <button class="btn btn-primary" id="cmdJobSearch">Search</button>
                                                </td>
                                            </tr>
                                        </table>
                                </tr>
                                       *@
                            <tr>
                                    <td>
                                        <label>Description</label></td>
                                    <td>
                                        <textarea data-bind="value: data.Description" placeholder="Description" id="txtDescription" maxlength="500" /></td>
                                </tr>
                                 <tr>
                                    <td>
                                        <label>Box Wt.</label></td>
                                    <td>
                                        <input class="input-medium modelControl" data-bind="value: data.BWt" type="text" placeholder="BWt" id="BWt" /></td>
                                       <td>
                                        <label>Box in Nos</label></td>
                                    <td>
                                        <input class="input-medium modelControl" data-bind="value: data.KgVal"  onchange="CalcAmt()" type="text" placeholder="In Nos" id="KgVal" /></td>
                                </tr>
                                 <tr>
                                    <td>
                                        <label>HSN Code</label></td>
                                    <td>
                                        <input class="input-medium modelControl" data-bind="value: data.HsnCode" type="text" placeholder="HsnCode" id="TxtHsnCode" /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Quantity</label></td>
                                    <td>
                                        <input class="input-medium modelControl validate[custom[onlyNumberSp]] " onchange="CalcAmt()" data-bind="value: data.Quantity" type="text" placeholder="Quantity" id="TxtQuantity" /></td>
                                </tr>

                                <tr>
                                    <td>
                                        <label>Unit</label></td>
                                    <td>
                                        <input class="input-medium modelControl" data-bind="value: data.Unit" type="text" placeholder="Unit" id="Unit" /></td>
                                </tr>
                                 <tr>
                                    <td>
                                        <label>Bundles</label></td>
                                    <td>
                                        <input class="input-medium modelControl" data-bind="value: data.Bundles" type="text" placeholder="Bundles" id="Bundles" /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Price</label></td>

                                    <td>
                                        <input class="input-medium modelControl validate[custom[number]] " onchange="CalcAmt()" data-bind="value: data.Price" type="text" placeholder="Price" id="Price" />
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        <label>Total Amount</label></td>
                                    <td>
                                        <input class="input-medium modelControl" readonly data-bind="value: data.TotalAmount" type="text" placeholder="TotalAmount" id="TxtTotal" /></td>
                                </tr>
                                <tr>
                                  
                                    <td>
                                        <input class="hidden input-medium modelControl validate[custom[onlyNumberSp]]" onchange="CalcAmt()" data-bind="value: data.Discount" type="text" placeholder="Discount" id="Discount" />
                                    </td>

                                </tr>

                            

                                <tr>
                                   
                                    <td>
                                        <input class="hidden input-medium modelControl" readonly data-bind="value: data.NetAmount" type="text" placeholder="NetAmount" id="TxtNetTotal" /></td>
                                </tr>


                            </table>          
                                    </div>
                      

                        <table width="80%">
                            <tr>
                                <td align="center">
                                    <div id="divListContainer">
                                        <div style="padding-bottom: 5px">
                                            <button id="cmdMaterialIndent" type="submit">
                                                Save To List</button>
                                        </div>
                                        <div style="padding-bottom: 8px" id="divMaterialDetail">
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>
            </div>



            </div>
            </div>
        </td>
    </tr>

    @*    <tr>
        <td>&nbsp;</td>
    </tr>*@
    <tr>
        @* / <td>&nbsp;</td>*@
        <td colspan="2" style="text-align: center">
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
