﻿<table width="90%" cellpadding="7" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="5" cellspacing="0" border="0" width="90%" align="center">
                    <tr>
                        <td>
                            <table>
                                <tr>

                                    <td align="center" valign="top">
                                        <input type="text" id="InvoiceNumber" placeholder="Invoice Number" class="input-medium search-query" /></td>
                                    <td align="center" valign="top">
                                        <input type="text" id="Customer" placeholder="Customer Name" class="input-medium search-query" /></td>
                                    <td align="center" valign="top">
                                       
                                    <td align="center" valign="top">
                                        <input type="text" id="TxtFromDate" placeholder="From Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                                    </td>
                                    <td align="center" valign="top">
                                        <input type="text" id="TxtToDate" placeholder="To Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                                    </td>
                                    <td align="center" valign="top">
                                        <button type="submit" class="btn" id="LoadRecordsButton">
                                            Search</button></td>
                                    <td align="center" valign="top">
                                        <button type="submit" style="width: 100%" class="btn" id="cmdNew">
                                            Add Bill</button></td>

                                </tr>
                            </table>
                        </td>
                    </tr>
             
                    <tr>
                        <td colspan="8">
                            <div id="MainSearchContainer">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
