﻿@*//Name          : Screen Design for Billing -- New Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : shantha
//Date 	        : 09/09/2015
//Crh Number    : SL0049
//Modifications : *@



<table cellspacing="0" cellpadding="0" border="0" width="60%">


    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;Edit Job Card Parts</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
     <tr>
        <td></td>
        <td></td>
        <td rowspan="8" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="right"></td>
                </tr>
                <tr>
                    <td>
                        <div id="divShippingDetails"></div>
                    </td>
                </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                 @*   <td align="right">
                        <button type="submit" class="btn" id="cmdAddSchedule">Add Schedule</button></td>*@
                </tr>
                <tr>
                    <td>
                        <div id="divPaperStock"></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="tabbable">
                <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs" id="MyTab">
                    <li class="active"><a href="#tab1" data-toggle="tab">Details Page 1</a></li>
                    <li><a href="#tab2" data-toggle="tab">Details Page 2</a></li>

                </ul>
                <div class="tab-content">

                    <div class="tab-pane active" id="tab1">

                        <table border="0" style="width: 100%">
                            <colgroup>
                                <col style="width: 50%" />
                                <col style="width: 50%" />
                            </colgroup>
                           
                            <tr>
                                <td>
                                    <table border="0">
                                        <colgroup>
                                            <col style="width: 35%" />
                                            <col style="width: 65%" />
                                        </colgroup>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Card Date</label></td>
                                            <td>
                                                <input type="text" readonly id="dtJCDate" data-bind="value: data.JDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[orderDateValidate]] span2 input-medium" data-provide="datepicker" />
                                            </td>

                                        </tr>

                                        <tr>
                                            <td>
                                                <label>Order No</label></td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td valign="top">
                                                            <input class="input-large modelControl" readonly data-bind="value: data.Fk_Order" type="text" placeholder="Order No" id="Fk_Order" />
                                                        </td>
@*                                                        <td valign="top">
                                                            <input class="input-large modelControl" readonly data-bind="value: data.Fk_Enquiry"   placeholder="Fk_Enquiry" id="Fk_Enquiry" />
                                                        </td>*@
                                                        <td valign="top">
                                                            @*<button class="btn btn-primary" id="cmdOrderMSearch">Search</button>*@
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Part Name</label></td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td valign="top">
                                                            <input class="input-large modelControl validate[required]" readonly data-bind="wgReferenceField: data.Fk_PartID" type="text" placeholder="Part Name" id="Fk_PartID" />
                                                        </td>
@*                                                        <td valign="top">
                                                            <button class="btn btn-primary" id="cmdPartsSearch">Search</button>
                                                        </td>*@
@*                                                        <td valign="top">
                                                            <button class="btn btn-primary" id="cmdShowBoxDetails">Box Details</button>
                                                        </td>*@

                                                    </tr>

                                                </table>
                                            </td>
                                        </tr>
@*                                        <tr>
                                            <td>
                                                <label>L/W/H/Ply</label></td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td valign="top">
                                                            <input class="input-small" readonly data-bind="value: data.Length" type="text" placeholder="Length" id="Length" />
                                                        </td>
                                                        <td valign="top">
                                                            <input class="input-small" readonly data-bind="value: data.Width" type="text" placeholder="Width" id="Width" />
                                                        </td>
                                                        <td valign="top">
                                                            <input class="input-small" readonly data-bind="value: data.Height" type="text" placeholder="Height" id="Height" />
                                                        </td>
                                                        <td valign="top">
                                                            <input class="input-small" readonly data-bind="value: data.Ply" type="text" placeholder="Ply" id="Ply" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>*@
@*                                        <tr>
                                            <td>
                                                <label>Deckel</label></td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td valign="top">
                                                            <input class="input-small" readonly data-bind="value: data.Deckel" type="text" placeholder="Deckel" id="Deckel1" />
                                                        </td>
                                                        <td valign="top">
                                                            <input class="input-small" readonly data-bind="value: data.Deckel" type="text" placeholder="Deckel" id="Deckel2" />
                                                        </td>
                                                        <td valign="top">
                                                            <input class="input-small" readonly data-bind="value: data.Deckel" type="text" placeholder="Deckel" id="Deckel3" />
                                                        </td>

                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>*@

@*                                        <tr>
                                            <td>
                                                <label>Cutting Size</label></td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td valign="top">
                                                            <input class="input-small" readonly data-bind="value: data.CuttingSize" type="text" placeholder="CuttingSize" id="CuttingSize1" />
                                                        </td>
                                                        <td valign="top">
                                                            <input class="input-small" readonly data-bind="value: data.CuttingSize" type="text" placeholder="CuttingSize" id="CuttingSize2" />
                                                        </td>
                                                        <td valign="top">
                                                            <input class="input-small" readonly data-bind="value: data.CuttingSize" type="text" placeholder="CuttingSize" id="CuttingSize3" />
                                                        </td>

                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>*@
@*                                        <tr>
                                            <td>
                                                <label>GSM</label></td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td valign="top">
                                                            <input class="input-small" readonly data-bind="value: data.GSM" type="text" placeholder="GSM" id="GSM1" />
                                                        </td>
                                                        <td valign="top">
                                                            <input class="input-small" readonly data-bind="value: data.GSM" type="text" placeholder="GSM" id="GSM2" />
                                                        </td>
                                                        <td valign="top">
                                                            <input class="input-small" readonly data-bind="value: data.GSM" type="text" placeholder="GSM" id="GSM3" />
                                                        </td>

                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>*@

@*                                        <tr>
                                            <td>
                                                <label>BF</label></td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td valign="top">
                                                            <input class="input-small" readonly data-bind="value: data.BF" type="text" placeholder="BF" id="BF1" />
                                                        </td>
                                                        <td valign="top">
                                                            <input class="input-small" readonly data-bind="value: data.BF" type="text" placeholder="BF" id="BF2" />
                                                        </td>
                                                        <td valign="top">
                                                            <input class="input-small" readonly data-bind="value: data.BF" type="text" placeholder="BF" id="BF3" />
                                                        </td>

                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>*@


@*                                        <tr>
                                            <td>
                                                <label>Customer</label></td>
                                            <td>
                                                <input class="input-large modelControl" readonly data-bind="wgReferenceField: data.fk_Customer" type="text" placeholder="Customer" id="txtfk_Customer" />
                                                @*       <button class="btn btn-primary" id="cmdCustomerSearch">Search</button> *@
@*                                            </td>

                                        </tr>*@

 @*                                       <tr>
                                            <td>
                                                <label>Customer PO No.</label></td>
                                            <td>
                                                <input class="input-large modelControl" readonly data-bind="value: data.Cust_PO" type="text" placeholder="PO" id="PO" /></td>
                                        </tr>*@
                                        @*<tr>*@
@*                                        <tr>
                                            <td>
                                                <label>Quantity</label></td>
                                            <td>
                                                <input class="input-large modelControl validate[custom[number]]" readonly data-bind="value: data.Quantity" type="text" placeholder="Quantity" id="POQuantity" /></td>
                                        </tr>*@
                                        @*<tr>
                                            <td>
                                                <label>Price</label></td>
                                            <td>

                                                <input class="input-large modelControl" readonly data-bind="value: data.Price" type="text" placeholder="Price" id="Price" />

                                            </td>
                                        </tr>*@
                                        <tr>
                                            <td>
                                                <label>Printing</label></td>
                                            <td>

                                                    <label><input type="checkbox" id="chkPrinting" data-bind="checked: data.Printing" /> Printing </label>
@*                                                <input class="input-large modelControl" data-bind="value: data.Printing" type="text" placeholder="Printing" id="Printing" /></td>*@

                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Calico/Sting</label></td>
                                            <td>
                                                <label><input type="checkbox" id="chkCalico" data-bind="checked: data.Calico" /> Calico </label>
                                                @*<input class="input-large modelControl" data-bind="value: data.Calico" type="text" placeholder="Calico" id="Calico" />*@</td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Others</label></td>
                                            <td>

                                                <input class="input-large modelControl" data-bind="value: data.Others" type="text" placeholder="Others" id="Others" /></td>


                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Close JobCard</label></td>
                                            <td>
                                                <label><input type="checkbox" id="chkCloseJC" data-bind="value: data.Fk_Status"  /> Close JobCard </label>
                                                @*<input hidden class="input-large modelControl" data-bind="value: data.Fk_Status" type="text" placeholder="Calico" id="txtCloseJC" />*@</td>

                                        </tr>

                                    </table>
                                </td>
        
                                </tr>
                            </table>
                    </div>



                    <div class="tab-pane" id="tab2">
                        <table style="width: 100%">
                            <tr>
                                <td>
                                    <div style="display: block;" id="divCreateMaterialIndent">
                                        <table style="width: 60%">
                                            <colgroup>
                                                <col style="width: 20%" />
                                                <col style="width: 20%" />
                                                <col style="width: 20%" />
                                                <col style="width: 20%" />
                                                <col style="width: 20%" />
                                            </colgroup>

                                            <tr>
                                                <td>&nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                @*                                                <td colspan ="2">*@
                                                <td>
                                                    <label>Invoice No</label></td>
                                                <td>
                                                    <input class="input-small" data-bind="value: data.Invno" type="text" placeholder="Invoice" id="Invoice" readonly />
                                                </td>
                                            </tr>
                                            <tr>
                                                @*                                                <td colspan="2">*@
                                                <td>
                                                    <label>Corrugation</label></td>
                                                <td>
                                                    <input class="input-small" data-bind="value: data.Corrugation" type="text" placeholder="Corrugation" id="Corrugation" />
                                                </td>
                                                <td>
                                                @*<td colspan="4">*@
                                                <td>
                                                    <label>T.Paper Qty.</label></td>
                                                @*<td colspan="2" >*@
                                                <td>
                                                    <input class="input-small validate[custom[number]]" data-bind="value: data.TopPaperQty" type="text" placeholder="TPaperQty" id="TPaperQty" maxlength="10" />
                                                </td>
                                            </tr>


                                            <tr>
                                                @*                                                <td colspan="2" >*@
                                                <td>
                                                    <label>2 Ply Qty</label></td>
                                                <td>
                                                    <input class="input-small validate[custom[number]]" data-bind="value: data.TwoPlyQty" type="text" placeholder="PlyQty" id="PlyQty" maxlength="10" />
                                                </td>

                                                <td>
                                                <td>
                                                    <label>2 Ply Wt.</label></td>
                                                <td>
                                                    <input class="input-small validate[custom[number]]" data-bind="value: data.TwoPlyWt" type="text" placeholder="PlyWt" id="PlyWt" maxlength="10" />
                                                </td>

                                            </tr>

@*                                            <tr>
                                                <td>
                                                    <label>Reel Used</label></td>
                                                <td>
                                                    <input class="input-small" data-bind="value: data.ReelUsed1" type="text" placeholder="ReelUsed" id="ReelUsed1" />
                                                </td>


                                                <td>
                                                    <input class="input-small" data-bind="value: data.ReelUsed2" type="text" placeholder="ReelUsed" id="ReelUsed2" />
                                                </td>

                                                <td>
                                                    <input class="input-small" data-bind="value: data.ReelUsed3" type="text" placeholder="ReelUsed" id="ReelUsed3" />
                                                </td>

                                                <td>
                                                    <input class="input-small" data-bind="value: data.ReelUsed4" type="text" placeholder="ReelUsed" id="ReelUsed4" />
                                                </td>

                                            </tr>*@

                                            <tr>
                                                <td>
                                                    <label>Pasting Qty</label></td>
                                                @*<td>*@
                                                <td colspan="2">
                                                    <input class="input-small validate[custom[number]]" data-bind="value: data.PastingQty" type="text" placeholder="PQty" id="PQty" maxlength="10" />
                                                </td>
                                                <td>
                                                    <label>Wastage Qty</label></td>
                                                @*<td>*@
                                                <td colspan="2">
                                                    <input class="input-small validate[custom[number]]" data-bind="value: data.PastingWstQty" type="text" placeholder="WQty" id="WQty1" maxlength="10" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Rotary</label></td>
                                                @*<td>*@
                                                <td colspan="2">
                                                    <input class="input-small validate[custom[number]]" data-bind="value: data.RotaryQty" type="text" placeholder="Rotary" id="Rotary" maxlength="10" />
                                                </td>
                                                <td>
                                                    <label>Wastage Qty</label></td>
                                                @*<td>*@
                                                <td colspan="2">
                                                    <input class="input-small validate[custom[number]]" data-bind="value: data.RotaryWstQty" type="text" placeholder="WQty" id="WQty2" maxlength="10" />
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <label>Punching</label></td>
                                                @*<td>*@
                                                <td colspan="2">
                                                    <input class="input-small validate[custom[number]]" data-bind="value: data.PunchingQty" type="text" placeholder="Punching" id="Punching" maxlength="10" />
                                                </td>
                                                <td>
                                                    <label>Wastage Qty</label></td>
                                                @*<td>*@
                                                <td colspan="2">
                                                    <input class="input-small validate[custom[number]]" data-bind="value: data.PunchingWstQty" type="text" placeholder="WQty" id="WQty3" maxlength="10" />
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <label>Sloting Qty</label></td>
                                                @*<td>*@
                                                <td colspan="2">
                                                    <input class="input-small validate[custom[number]]" data-bind="value: data.SlotingQty" type="text" placeholder="Sloting" id="Sloting" maxlength="10" />
                                                </td>
                                                <td>
                                                    <label>Wastage Qty</label></td>
                                                @*<td>*@
                                                <td colspan="2">
                                                    <input class="input-small validate[custom[number]]" data-bind="value: data.SlotingWstQty" type="text" placeholder="WQty" id="WQty4" maxlength="10" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Pinning Qty</label></td>
                                                @*<td>*@
                                                <td colspan="2">
                                                    <input class="input-small validate[custom[number]]" data-bind="value: data.PinningQty" type="text" placeholder="Pinning" id="Pinning" maxlength="10" />
                                                </td>
                                                <td>
                                                    <label>Wastage Qty</label></td>
                                                @*<td>*@
                                                <td colspan="2">
                                                    <input class="input-small validate[custom[number]]" data-bind="value: data.PinningWstQty" type="text" placeholder="WQty" id="WQty5" maxlength="10" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Finishing Qty</label></td>
                                                @*<td>*@
                                                <td colspan="2">
                                                    <input class="input-small validate[custom[number]]" data-bind="value: data.FinishingQty" type="text" placeholder="Finishing" id="Finishing" maxlength="10" />
                                                </td>
                                                <td>
                                                    <label>Wastage Qty</label></td>
                                                @*<td>*@
                                                <td colspan="2">
                                                    <input class="input-small validate[custom[number]]" data-bind="value: data.FinishingWstQty" type="text" placeholder="WQty" id="WQty6" maxlength="10" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Total Qty</label></td>
                                                @*<td>*@
                                                <td colspan="2">
                                                    <input class="input-small validate[custom[number]],validate[required]" data-bind="value: data.TotalQty" type="text" placeholder="TQty" id="TQty" maxlength="10" />
                                                </td>
                                                <td>
                                                    <label>Total Wastage</label></td>
                                                @*<td>*@
                                                <td colspan="2">
                                                    <input class="input-small validate[custom[number]]" data-bind="value: data.TotalWstQty" type="text" placeholder="TWastage" id="TWastage" maxlength="10" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan ="5">
                                                    <div id="divListContainer">
                                                        <div style="padding-bottom: 5px">
                                                            <button id="cmdAddMaterial" type="submit">
                                                                Add Paper</button>
                                                        </div>
                                                        <div style="padding-bottom: 8px" id="tlbMaterials">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </td>


                            </tr>
                        </table>





                    </div>


   

                </div>

            </div>


        </td>
    </tr>

</table>

<table>

    <tr>
        <td>&nbsp;</td>
        <td>
            <button type="submit" class="btn cmdSave" data-bind="click: save" id="cmdSave">Save</button></td>
    </tr>
</table>
