﻿
@*//Name          : Screen Design for City -- Edit Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Nagesh
//Date 	        : 07/08/2015
//Crh Number    : SL0012
//Modifications : *@


<table cellspacing="0" cellpadding="0" border="0" width="40%">

    <br />
    <tr  class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context City</label></td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>


    <tr>
        <td>&nbsp;</td>
    </tr>

 <tr>
        <td><label>Country</label></td>
        <td><select style ="width:50%"  disabled class="modelControl validate[required]" data-bind="options: Countrys,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Country" id="Country"></select>
       </td>
    </tr>

       <tr>
        <td><label>State</label></td>
        <td><select style ="width:50%" disabled class="modelControl validate[required]" data-bind="options: State,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_StateID" id="Fk_StateID"></select>
       </td>
    </tr>

    <tr>

        <td>
            <label>City Name</label></td>
        <td>
            <input class="input-large  validate[required,funcCall[CheckCityDuplicate]]" data-bind="value: data.CityName" type="text" placeholder="City Name" id="CityName" /></td>
    </tr>

    
    <tr>
        <td>&nbsp;</td>
        @*<td colspan="3">*@
            @*<button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Create</button></td>*@

        <td ><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate" >Edit</button></td>
    </tr>
</table>
