﻿
@*//Name          : Screen Design for City -- New Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Nagesh
//Date 	        : 07/08/2015
//Crh Number    : SL0012
//Modifications : *@


<table cellspacing="0" cellpadding="0" border="0" width="40%">

    <br />
    <tr  class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;Add City</label></td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>


    <tr>
        <td>&nbsp;</td>
    </tr>


    @*<tr>
        <td>
            <label>Pk_StateID</label></td>
        <td>
            <input class="input-large" data-bind="value: data.Pk_StateID" type="text" placeholder="Pk_StateID" id="Pk_StateID" /></td>
        </tr>*@


    <tr>
        <td><label>Country</label></td>
        <td><select style ="width:50%" class="modelControl validate[required]" data-bind="options: Countrys,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Country" id="Country"></select>
       </td>
    </tr>

      <tr>
        <td><label>State</label></td>
        <td><select style ="width:50%" class="modelControl validate[required]" data-bind="options: State,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_StateID" id="Fk_StateID"></select>
       </td>
    </tr>


    <tr>
        <td>
            <label>City Name</label></td>
        <td>
          
              <input style ="width:50%" class="input-large validate[required,funcCall[CheckCityDuplicate]]" data-bind="value: data.CityName" type="text" placeholder="City Name" id="CityName" maxlength="50" /></td>
    </tr>

  


    
    <tr>
        <td>&nbsp;</td>
        <td colspan="3">
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
