﻿<table width="60%" cellpadding="5" cellspacing="0" border="0">
    <br />
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0"  style="width:80%">
                    <tr>
                        <td>
                            <input type="text" id="txtSearchPkEmployeeDesignationId" placeholder="Id" class="input-large search-query" />
                            <input type="text" id="txtSearchDesignationName" placeholder="Designation Name" class="input-large search-query" />
                            <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                            <button type="submit" class="btn" id="cmdNew">Add Employee Designation</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="MainSearchContainer"></div>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
    </tr>
</table>
