﻿@{
    ViewBag.Title = "Inward";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section JavascriptImport {
       
    <script type="text/javascript" src="~/Scripts/Application/JWInwd/JW_InwdOperations.js"></script>
  <script type="text/javascript" src="~/Scripts/Application/JWInwd/Materials.js"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>
        <script src="~/Scripts/Frameworks/WebGare/Configuration/wgOne2ManyConfigurator.js" type="text/javascript"></script>
       
  
}
@*@section CssImport {
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/basic.css" rel="stylesheet"
        type="text/css" />
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/dropzone.css" rel="stylesheet"
        type="text/css" />
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/general.css" rel="stylesheet"
        type="text/css" />
}*@
@section MainSection{
    <div id="divMainSection" wgpagetype="CRUD" wgtag="JW_Inwd">
        <div id="divDataArea" align="center" style="padding-top: 5px"></div>
        <div id="divSearchArea" align="center"></div>
    </div>
}


<div id="searchQualityDialog" class="modal hide fade" tabindex="100" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:700px; height:500px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader">JW Search</h3>
    </div>
        
          <table cellpadding="5" cellspacing="0" border="0" width="95%">
        
        <tr >
            @*<td valign="top">
                <input type="text" id="txtdlgMaterialName" placeholder="MaterialName" class="input-medium" /></td>*@
            <td valign="top">
                <input type="text" id="txtdlgInvoice" placeholder="JW No." class="input-medium" /></td>
            @*<td valign="top">
                <input type="text" id="txtdlgQDate" placeholder="Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" />
            </td>*@
         
        </tr>
                 <tr>
              <td colspan="4">
                <button type="submit" class="btn" id="cmdQCheckSearch">Search</button>
                <button type="submit" class="btn" id="cmdQCheckDone">Done</button>
            </td>
             
        </tr>
        <tr>
            <td colspan="4">
                <div id="QualitySearhContainer">
                </div>
            </td>
        </tr>


        
    </table>

    </div>

<div id="searchCustomerDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 500px; height: 800px">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3 id="srcHeader">Vendor</h3>
    @*<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="srchHeader">Customer</h3>
        </div>*@
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
                <div id="dlgSearchFields">
                </div>
                @*<input type="text" id="txtEnquiry" data-bind="value: data.Customer" placeholder="Customer Name" class="input-large search-query"/>
            <input type="text" id="txtCommunicationType" data-bind="value: data.CommunicationType" placeholder="CommunicationType" class="input-large search-query"/>*@
                <br />
                <button type="submit" class="btn" id="cmdSearch">Search</button>
                <button type="submit" class="btn" id="cmdDone">Done</button>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="SearchContainer">
                </div>
            </td>
        </tr>
    </table>
</div>

