﻿@*//Name          : Screen Design for Country -- New Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Nagesh V Rao
//Date 	        : 07/08/2015
//Crh Number    : SL0010
//Modifications : *@

<table cellspacing="0" cellpadding="0" border="0" width="40%">
    <br />
    <tr style="width: 10%" class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;Add Payment Track</label></td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>


    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label>Payment Date</label>
        </td>
        <td>

            <input type="text" readonly id="PaymentDate" data-bind="value: data.Paymt_Date" data-date-format="dd/mm/yyyy" class=" span2 input-medium" data-provide="datepicker" />
        </td>


        <tr>
            <td>
                <label>Invoice Number</label></td>
            <td>
                <table>
                    <tr>
                        <td valign="top">
                            <input class="input-large modelControl " readonly data-bind="wgReferenceField: data.Fk_Invno" type="text" placeholder="Invoice No" id="Fk_Invno" />
                        </td>
                        <td valign="top">
                            <button class="btn btn-primary" id="cmdInvoiceSearch">Search</button>
                        </td>
                    </tr>
                </table>
        </tr>


    <tr>
        <td>
            <label>
                Bill Amount
            </label>
            <td>
                <input class="input-large" readonly data-bind="value: data.BillAmt" type="text" placeholder="BillAmt" id="BillAmt" /></td>
    </tr>
    <tr>
        <td>
            <label>
                Cheque No
            </label>
            <td>
               @* <input class="input-large validate custom[number]," data-bind="value: data.ChequeNo" type="text" placeholder=" Cheque No" id="ChequeNo" /></td>*@
                    <input class="input-large validate[custom[onlyNumberSp]]" data-bind="value: data.ChequeNo" type="text" placeholder=" Cheque No" id="ChequeNo" maxlength="6" /></td>
    </tr>

    <tr>
        <td>
            <label>
                Bank Name
            </label>
            <td>
                <input class="input-large validate custom[onlyLetterSp]" data-bind="value: data.BankName" type="text" placeholder=" Bank Name " id="BankName" /></td>
    </tr>

    <tr>
        <td>
            <label>
                Transaction ID
            </label>
            <td>
                <input class="input-large validate custom[onlyLetterSp] " data-bind="value: data.TransactionID" type="text" placeholder="Transaction ID" id="TransactionID" /></td>
    </tr>


    <tr>
        <td>
            <label>
                Paid Amount 
            </label>
            <td>
                <input class="input-large validate[required],custom[number],funcCall[CheckAmt],funcCall[BalanceAmt],[custom[onlyNumberSp]]" data-bind="value: data.PaidAmt" type="text" placeholder="PaidAmt" id="PaidAmt" /></td>
    </tr>


    <tr>
        <td>
            <label>
                Balance Amount
            </label>
            <td>
                <input class="input-large" readonly data-bind="value: data.BalanceAmt" type="text" placeholder="Balance Amt" id="BalanceAmt" /></td>
    </tr>





    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="3">
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
